Repository DiamondLightSource/mx-bluesky: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, type-checking, import-contracts, uv-sync, local-install-dodal

ruff:
  name: lint with ruff
  language: system
  entry: ruff check --force-exclude --fix
  require_serial: true

ruff-format:
  name: format with ruff
  language: system
  entry: ruff format --force-exclude
  require_serial: true

type-checking:
  name: type-checking with pyright
  language: system
  entry: tox -e type-checking
  require_serial: true

import-contracts:
  name: Ensure import directionality
  pass_filenames: false
  language: system
  entry: lint-imports
  require_serial: false

uv-sync:
  name: update uv.lock and venv
  pass_filenames: false
  language: system
  entry: uv sync

local-install-dodal:
  name: editable install of dodal
  language: system
  pass_filenames: false
  entry: uv pip install -e ../dodal

make codecov happy
  src/mx_bluesky/common/parameters/gridscan.py
  tests/unit_tests/common/parameters/test_gridscan.py
Due: ruff, ruff-format, type-checking, import-contracts

improve tests
  tests/unit_tests/beamlines/i02_1/test_i02_1_gridscan_plan.py
  tests/unit_tests/common/parameters/test_gridscan.py
Due: ruff, ruff-format, type-checking, import-contracts

Fixes and tests
  src/mx_bluesky/beamlines/i02_1/device_setup_plans/setup_zebra.py
  src/mx_bluesky/beamlines/i02_1/i02_1_gridscan_plan.py
  src/mx_bluesky/beamlines/i02_1/parameters/gridscan.py
  src/mx_bluesky/common/parameters/constants.py
  src/mx_bluesky/common/parameters/gridscan.py
  tests/unit_tests/beamlines/i02_1/__init__.py
  tests/unit_tests/beamlines/i02_1/test_i02_1_gridscan_plan.py
  tests/unit_tests/beamlines/i02_1/test_setup_zebra.py
Due: ruff, ruff-format, type-checking, import-contracts

wip
  src/mx_bluesky/beamlines/i02_1/i02_1_gridscan_plan.py
  src/mx_bluesky/common/external_interaction/callbacks/common/ispyb_callback_base.py
Due: ruff, ruff-format, type-checking, import-contracts

Remove comment
  tests/unit_tests/beamlines/i02_1/test_i02_1_gridscan_plan.py
Due: ruff, ruff-format, type-checking, import-contracts

Fixes
  pyproject.toml
  src/mx_bluesky/beamlines/i02_1/i02_1_gridscan_plan.py
  src/mx_bluesky/beamlines/i04/experiment_plans/i04_grid_detect_then_xray_centre_plan.py
  src/mx_bluesky/common/external_interaction/callbacks/grid/grid_detect_and_scan/ispyb_callback.py
  src/mx_bluesky/common/external_interaction/callbacks/grid/gridscan/ispyb_callback.py
  src/mx_bluesky/common/external_interaction/callbacks/grid/utils.py
  tests/unit_tests/common/external_interaction/xray_centre/test_ispyb_handler.py
  tests/unit_tests/conftest.py
Due: ruff, ruff-format, type-checking, import-contracts, uv-sync, local-install-dodal

Add test stubs
  src/mx_bluesky/beamlines/i02_1/i02_1_gridscan_plan.py
  src/mx_bluesky/beamlines/i04/experiment_plans/i04_grid_detect_then_xray_centre_plan.py
  src/mx_bluesky/common/external_interaction/callbacks/grid/grid_detect_and_scan/ispyb_callback.py
  src/mx_bluesky/common/external_interaction/callbacks/grid/gridscan/ispyb_callback.py
  src/mx_bluesky/common/external_interaction/callbacks/grid/utils.py
  tests/unit_tests/beamlines/i02_1/test_gridscan_ispyb_callback.py
  tests/unit_tests/beamlines/i02_1/test_i02_1_gridscan_plan.py
  tests/unit_tests/common/external_interaction/callbacks/common/test_ispyb_callback_base.py
  tests/unit_tests/common/external_interaction/callbacks/grid/__init__.py
  tests/unit_tests/common/external_interaction/callbacks/grid/test_ispyb_gridscan_callback.py
  tests/unit_tests/common/external_interaction/callbacks/grid/test_utils.py
Due: ruff, ruff-format, type-checking, import-contracts

Add fixes and tests
  src/mx_bluesky/beamlines/i02_1/external_interaction/callbacks/gridscan/ispyb_callback.py
  src/mx_bluesky/beamlines/i02_1/i02_1_gridscan_plan.py
  src/mx_bluesky/common/experiment_plans/inner_plans/do_fgs.py
  src/mx_bluesky/common/external_interaction/callbacks/grid/gridscan/ispyb_callback.py
  src/mx_bluesky/common/external_interaction/callbacks/grid/utils.py
  src/mx_bluesky/common/parameters/components.py
  tests/unit_tests/beamlines/i02_1/conftest.py
  tests/unit_tests/beamlines/i02_1/test_gridscan_ispyb_callback.py
  tests/unit_tests/beamlines/i02_1/test_i02_1_gridscan_plan.py
  tests/unit_tests/common/external_interaction/callbacks/common/test_ispyb_callback_base.py
  tests/unit_tests/common/external_interaction/callbacks/grid/test_ispyb_gridscan_callback.py
  tests/unit_tests/common/external_interaction/callbacks/grid/test_utils.py
  tests/unit_tests/common/parameters/test_gridscan.py
Due: ruff, ruff-format, type-checking, import-contracts

wip
  src/mx_bluesky/beamlines/i02_1/external_interaction/__init__.py
  src/mx_bluesky/beamlines/i02_1/external_interaction/callbacks/__init__.py
  src/mx_bluesky/beamlines/i02_1/external_interaction/callbacks/gridscan/__init__.py
  src/mx_bluesky/beamlines/i02_1/external_interaction/callbacks/gridscan/ispyb_callback.py
  src/mx_bluesky/beamlines/i02_1/i02_1_gridscan_plan.py
  src/mx_bluesky/common/external_interaction/callbacks/common/ispyb_callback_base.py
Due: ruff, ruff-format, type-checking, import-contracts

wip
  src/mx_bluesky/beamlines/i02_1/composites.py
  src/mx_bluesky/beamlines/i02_1/i02_1_gridscan_plan.py
  src/mx_bluesky/beamlines/i04/experiment_plans/i04_grid_detect_then_xray_centre_plan.py
  src/mx_bluesky/common/experiment_plans/common_grid_detect_then_xray_centre_plan.py
  src/mx_bluesky/common/external_interaction/callbacks/__init__.py
  src/mx_bluesky/common/external_interaction/callbacks/common/ispyb_callback_base.py
  src/mx_bluesky/common/external_interaction/callbacks/common/ispyb_mapping.py
  src/mx_bluesky/common/external_interaction/callbacks/grid/__init__.py
  src/mx_bluesky/common/external_interaction/callbacks/grid/grid_detect_and_scan/__init__.py
  src/mx_bluesky/common/external_interaction/callbacks/grid/grid_detect_and_scan/ispyb_callback.py
  src/mx_bluesky/common/external_interaction/callbacks/grid/grid_detect_and_scan/ispyb_mapping.py
  src/mx_bluesky/common/external_interaction/callbacks/grid/grid_detect_and_scan/nexus_callback.py
  src/mx_bluesky/common/external_interaction/callbacks/grid/gridscan/__init__.py
  src/mx_bluesky/common/external_interaction/callbacks/grid/gridscan/ispyb_callback.py
  src/mx_bluesky/hyperion/experiment_plans/pin_centre_then_gridscan_plan.py
  src/mx_bluesky/hyperion/external_interaction/callbacks/__main__.py
  tests/conftest.py
  tests/system_tests/hyperion/external_interaction/callbacks/test_external_callbacks.py
  tests/system_tests/hyperion/external_interaction/test_ispyb_dev_connection.py
  tests/system_tests/hyperion/external_interaction/test_load_centre_collect_full_plan.py
  tests/system_tests/hyperion/external_interaction/test_zocalo_system.py
  tests/unit_tests/common/experiment_plans/inner_plans/test_do_fgs.py
  tests/unit_tests/common/experiment_plans/test_common_flyscan_xray_centre_plan.py
  tests/unit_tests/common/experiment_plans/test_common_grid_detect_then_xray_centre_plan.py
  tests/unit_tests/common/experiment_plans/test_grid_detection_plan.py
  tests/unit_tests/common/external_interaction/callbacks/test_zocalo_handler.py
  tests/unit_tests/common/external_interaction/xray_centre/test_ispyb_callback.py
  tests/unit_tests/common/external_interaction/xray_centre/test_ispyb_handler.py
  tests/unit_tests/common/external_interaction/xray_centre/test_ispyb_mapping.py
  tests/unit_tests/common/external_interaction/xray_centre/test_nexus_handler.py
  tests/unit_tests/conftest.py
  tests/unit_tests/hyperion/experiment_plans/conftest.py
  tests/unit_tests/hyperion/experiment_plans/test_hyperion_flyscan_xray_centre_plan.py
  tests/unit_tests/hyperion/experiment_plans/test_pin_centre_then_xray_centre_plan.py
  tests/unit_tests/hyperion/external_interaction/nexus/test_write_nexus.py
Due: ruff, ruff-format, type-checking, import-contracts

Make common ispyb callback for gridscans with no grid detect
  src/mx_bluesky/beamlines/i02_1/external_interaction/callbacks/gridscan/ispyb_callback.py
  src/mx_bluesky/beamlines/i02_1/i02_1_gridscan_plan.py
  src/mx_bluesky/beamlines/i04/experiment_plans/i04_grid_detect_then_xray_centre_plan.py
  src/mx_bluesky/common/external_interaction/callbacks/common/ispyb_callback_base.py
  src/mx_bluesky/common/external_interaction/callbacks/grid/grid_detect_and_scan/ispyb_callback.py
  src/mx_bluesky/common/external_interaction/callbacks/grid/gridscan/ispyb_callback.py
  src/mx_bluesky/common/external_interaction/callbacks/grid/utils.py
  src/mx_bluesky/common/parameters/components.py
  src/mx_bluesky/common/parameters/constants.py
  src/mx_bluesky/common/parameters/gridscan.py
  src/mx_bluesky/hyperion/external_interaction/callbacks/__main__.py
Due: ruff, ruff-format, type-checking, import-contracts

Pin config server and dodal
  pyproject.toml
  uv.lock
Due: uv-sync, local-install-dodal

Fix tests
  tests/unit_tests/beamlines/i02_1/test_i02_1_gridscan_plan.py
  tests/unit_tests/common/external_interaction/callbacks/grid/test_ispyb_gridscan_callback.py
  uv.lock
Due: ruff, ruff-format, type-checking, import-contracts, uv-sync, local-install-dodal

Pin blueAPI
  pyproject.toml
Due: uv-sync, local-install-dodal

Update lockfile
  uv.lock
Due: uv-sync, local-install-dodal

Use the python defined by module load python
  utility_scripts/dls_dev_env.sh
Due: none

PR comments
  src/mx_bluesky/Getting started.ipynb
  src/mx_bluesky/common/experiment_plans/change_aperture_then_move_plan.py
  tests/unit_tests/beamlines/i04/test_i04_grid_detect_then_xray_centre_plan.py
  uv.lock
Due: ruff, ruff-format, type-checking, import-contracts, uv-sync, local-install-dodal

Reformat test data
  tests/test_data/test_daq_configuration/lookup/test_det_dist_converter.txt
  tests/test_data/test_det_dist_converter.txt
  tests/test_data/test_lookup_table.txt
Due: none

Read detector lookup table through config server
  src/mx_bluesky/beamlines/i24/serial/setup_beamline/setup_beamline.py
Due: ruff, ruff-format, type-checking, import-contracts

Pin dodal
  pyproject.toml
Due: uv-sync, local-install-dodal

Use DetectorXY lut config model
  src/mx_bluesky/beamlines/i24/serial/setup_beamline/setup_beamline.py
  tests/test_data/test_lookup_table.txt
Due: ruff, ruff-format, type-checking, import-contracts

Fix for columns becoming a property
  src/mx_bluesky/beamlines/i24/serial/setup_beamline/setup_beamline.py
Due: ruff, ruff-format, type-checking, import-contracts

Remove lockfile from CI
  .github/workflows/_container.yml
  .github/workflows/_docs.yml
  .github/workflows/_test.yml
  .github/workflows/_tox.yml
  .gitignore
  .pre-commit-config.yaml
  Dockerfile.blueapi
  pyproject.toml
  src/mx_bluesky/beamlines/i24/serial/fixed_target/ft_utils.py
  tests/unit_tests/beamlines/i04/callbacks/test_murko_callback.py
  uv.lock
Due: ruff, ruff-format, type-checking, import-contracts, uv-sync, local-install-dodal

Added new move on click plan
  src/mx_bluesky/beamlines/i24/web_gui_plans/oav_plans.py
Due: ruff, ruff-format, type-checking, import-contracts

Inject oav to calculate coordinates with microns per pixel
  src/mx_bluesky/beamlines/i24/web_gui_plans/oav_plans.py
Due: ruff, ruff-format, type-checking, import-contracts

Convert um to mm
  src/mx_bluesky/beamlines/i24/web_gui_plans/oav_plans.py
  uv.lock
Due: ruff, ruff-format, type-checking, import-contracts, uv-sync, local-install-dodal

Update uv.lock
  uv.lock
Due: uv-sync, local-install-dodal

Use the python defined by module load python (#1659)
  utility_scripts/dls_dev_env.sh
  uv.lock
Due: uv-sync, local-install-dodal

Hotfix: Start Hyperion with the correct port for UDC mode
  src/mx_bluesky/hyperion/__main__.py
Due: ruff, ruff-format, type-checking, import-contracts

Update unit test to check the port
  tests/unit_tests/hyperion/test_main_system.py
Due: ruff, ruff-format, type-checking, import-contracts

Added test
  tests/unit_tests/beamlines/i24/web_gui/test_oav_plans.py
  uv.lock
Due: ruff, ruff-format, type-checking, import-contracts, uv-sync, local-install-dodal

Fix device types and params
  src/mx_bluesky/beamlines/i02_1/i02_1_gridscan_plan.py
  tests/unit_tests/beamlines/i02_1/test_i02_1_gridscan_plan.py
  uv.lock
Due: ruff, ruff-format, type-checking, import-contracts, uv-sync, local-install-dodal

Additional test for set_panda_directory
  src/mx_bluesky/hyperion/device_setup_plans/setup_panda.py
  tests/unit_tests/hyperion/device_setup_plans/test_setup_panda.py
Due: ruff, ruff-format, type-checking, import-contracts

Hotfix for initialising commissioning mode and path provider
  src/mx_bluesky/hyperion/device_setup_plans/setup_panda.py
  src/mx_bluesky/hyperion/external_interaction/callbacks/robot_actions/ispyb_callback.py
Due: ruff, ruff-format, type-checking, import-contracts

Refactor mock call assertions in test_baton_handler
  tests/unit_tests/hyperion/test_baton_handler.py
Due: ruff, ruff-format, type-checking, import-contracts

WIP
  src/mx_bluesky/hyperion/external_interaction/callbacks/robot_actions/ispyb_callback.py
  tests/unit_tests/hyperion/external_interaction/callbacks/robot_load/test_robot_load_ispyb_callback.py
Due: ruff, ruff-format, type-checking, import-contracts

Update unit tests
  tests/conftest.py
  tests/unit_tests/hyperion/external_interaction/callbacks/robot_load/test_robot_load_ispyb_callback.py
Due: ruff, ruff-format, type-checking, import-contracts

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  type-checking: any of: \.py$
  import-contracts: any of: \.py$
  uv-sync: any of: ^(uv\.lock|pyproject\.toml)$
  local-install-dodal: any of: ^(uv\.lock|pyproject\.toml)$
