Repository DiamondLightSource/mx-bluesky: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, type-checking, import-contracts, uv-sync, local-install-dodal

ruff:
  name: lint with ruff
  language: system
  entry: ruff check --force-exclude --fix
  require_serial: true

ruff-format:
  name: format with ruff
  language: system
  entry: ruff format --force-exclude
  require_serial: true

type-checking:
  name: type-checking with pyright
  language: system
  entry: tox -e type-checking
  require_serial: true

import-contracts:
  name: Ensure import directionality
  pass_filenames: false
  language: system
  entry: lint-imports
  require_serial: false

uv-sync:
  name: update uv.lock and venv
  pass_filenames: false
  language: system
  entry: uv sync

local-install-dodal:
  name: editable install of dodal
  language: system
  pass_filenames: false
  entry: uv pip install -e ../dodal

Use i03 config client
  src/mx_bluesky/hyperion/device_setup_plans/dcm_pitch_roll_mirror_adjuster.py
  uv.lock
Due: ruff, ruff-format, type-checking, import-contracts, uv-sync, local-install-dodal

Initial version of pin-tip-centre-and-xray-centre
  src/mx_bluesky/common/parameters/constants.py
  src/mx_bluesky/hyperion/blueapi/parameters.py
  src/mx_bluesky/hyperion/blueapi/plans.py
  src/mx_bluesky/hyperion/experiment_plans/load_centre_collect_full_plan.py
  src/mx_bluesky/hyperion/experiment_plans/pin_centre_then_gridscan_plan.py
  src/mx_bluesky/hyperion/experiment_plans/pin_centre_then_xray_centre.py
  src/mx_bluesky/hyperion/external_interaction/agamemnon.py
  src/mx_bluesky/hyperion/external_interaction/pin_type.py
  src/mx_bluesky/hyperion/parameters/constants.py
  src/mx_bluesky/hyperion/utils/centre_selection.py
  tests/system_tests/hyperion/external_interaction/test_agamemnon.py
  tests/unit_tests/hyperion/external_interaction/test_agamemnon.py
Due: ruff, ruff-format, type-checking, import-contracts

Unpin config server from main
  pyproject.toml
  uv.lock
Due: uv-sync, local-install-dodal

Fix lockfile
  uv.lock
Due: uv-sync, local-install-dodal

Remove mx config client (#1673)
  pyproject.toml
  src/mx_bluesky/beamlines/i04/experiment_plans/i04_grid_detect_then_xray_centre_plan.py
  src/mx_bluesky/beamlines/i04/external_interaction/config_server.py
  src/mx_bluesky/beamlines/i04/parameters/constants.py
  src/mx_bluesky/common/external_interaction/config_server.py
  src/mx_bluesky/hyperion/device_setup_plans/dcm_pitch_roll_mirror_adjuster.py
  src/mx_bluesky/hyperion/experiment_plans/hyperion_flyscan_xray_centre_plan.py
  src/mx_bluesky/hyperion/experiment_plans/load_centre_collect_full_plan.py
  src/mx_bluesky/hyperion/experiment_plans/udc_default_state.py
  src/mx_bluesky/hyperion/external_interaction/config_server.py
  src/mx_bluesky/hyperion/parameters/constants.py
  src/mx_bluesky/hyperion/parameters/gridscan.py
  src/mx_bluesky/hyperion/utils/context.py
  tests/conftest.py
  tests/test_data/test_domain_properties
  tests/test_data/test_domain_properties_with_no_gpu
  tests/test_data/test_domain_properties_with_panda
  tests/unit_tests/beamlines/i04/conftest.py
  tests/unit_tests/common/external_interaction/test_config_server.py
  tests/unit_tests/conftest.py
  tests/unit_tests/hyperion/conftest.py
  tests/unit_tests/hyperion/experiment_plans/test_udc_default_state.py
  tests/unit_tests/hyperion/parameters/test_parameter_model.py
  uv.lock
Due: ruff, ruff-format, type-checking, import-contracts, uv-sync, local-install-dodal

Use beamline config client constants
  src/mx_bluesky/beamlines/i04/external_interaction/config_server.py
  src/mx_bluesky/hyperion/external_interaction/config_server.py
  src/mx_bluesky/hyperion/utils/context.py
Due: ruff, ruff-format, type-checking, import-contracts

Update lockfile
  uv.lock
Due: uv-sync, local-install-dodal

Updated with fixed unit tests
  tests/conftest.py
  tests/system_tests/hyperion/external_interaction/conftest.py
  tests/unit_tests/beamlines/i04/test_thawing.py
  tests/unit_tests/common/device_setup_plans/test_robot_load_unload.py
  tests/unit_tests/common/experiment_plans/test_grid_detection_plan.py
  tests/unit_tests/common/experiment_plans/test_pin_tip_centring.py
  tests/unit_tests/hyperion/experiment_plans/conftest.py
  tests/unit_tests/hyperion/experiment_plans/test_rotation_scan_plan.py
Due: ruff, ruff-format, type-checking, import-contracts

Update pyproject.toml to refer to branch
  pyproject.toml
Due: uv-sync, local-install-dodal

Fix unit tests, additional tests
  src/mx_bluesky/beamlines/i24/jungfrau_commissioning/experiment_plans/rotation_scan_plan.py
  src/mx_bluesky/common/experiment_plans/oav_grid_detection_plan.py
  src/mx_bluesky/common/experiment_plans/rotation/rotation_utils.py
  src/mx_bluesky/common/external_interaction/callbacks/common/grid_detection_callback.py
  src/mx_bluesky/hyperion/experiment_plans/rotation_scan_plan.py
  tests/conftest.py
  tests/unit_tests/beamlines/i04/test_thawing.py
  tests/unit_tests/beamlines/i24/jungfrau_commissioning/test_rotation_scan.py
  tests/unit_tests/common/experiment_plans/test_grid_detection_plan.py
  tests/unit_tests/common/experiment_plans/test_pin_tip_centring.py
  tests/unit_tests/hyperion/experiment_plans/test_rotation_scan_plan.py
Due: ruff, ruff-format, type-checking, import-contracts

Remove obsolete tests for wrapped smargon
  tests/unit_tests/common/experiment_plans/test_grid_detection_plan.py
Due: ruff, ruff-format, type-checking, import-contracts

Make motion profile use the nearest omega
  src/mx_bluesky/common/experiment_plans/rotation/rotation_utils.py
  tests/unit_tests/hyperion/experiment_plans/test_rotation_scan_plan.py
Due: ruff, ruff-format, type-checking, import-contracts

Remove redundant test
  tests/unit_tests/hyperion/experiment_plans/test_rotation_scan_plan.py
Due: ruff, ruff-format, type-checking, import-contracts

Change from implicit phase usage via ModMotor to explicit usage with RotationalAxis
  src/mx_bluesky/common/experiment_plans/oav_grid_detection_plan.py
  src/mx_bluesky/common/experiment_plans/oav_snapshot_plan.py
  src/mx_bluesky/common/experiment_plans/pin_tip_centring_plan.py
  src/mx_bluesky/common/external_interaction/callbacks/common/grid_detection_callback.py
  src/mx_bluesky/common/external_interaction/callbacks/xray_centre/ispyb_callback.py
  src/mx_bluesky/hyperion/external_interaction/callbacks/snapshot_callback.py
  tests/conftest.py
  tests/system_tests/hyperion/external_interaction/conftest.py
  tests/system_tests/hyperion/external_interaction/test_load_centre_collect_full_plan.py
  tests/unit_tests/common/device_setup_plans/test_robot_load_unload.py
  tests/unit_tests/common/experiment_plans/test_grid_detection_plan.py
  tests/unit_tests/common/experiment_plans/test_oav_snapshot_plan.py
  tests/unit_tests/common/experiment_plans/test_pin_tip_centring.py
  tests/unit_tests/hyperion/experiment_plans/conftest.py
  tests/unit_tests/hyperion/experiment_plans/test_rotation_scan_plan.py
Due: ruff, ruff-format, type-checking, import-contracts

1672 `hyperion-blueapi` always closes the detector shutter (#1675)
  src/mx_bluesky/hyperion/_plan_runner_params.py
  src/mx_bluesky/hyperion/baton_handler.py
  src/mx_bluesky/hyperion/blueapi/in_process.py
  src/mx_bluesky/hyperion/in_process_runner.py
  src/mx_bluesky/hyperion/supervisor/_supervisor.py
  tests/system_tests/hyperion/supervisor/dummy_plans.py
  tests/system_tests/hyperion/supervisor/test_supervisor.py
  tests/unit_tests/hyperion/supervisor/test_supervisor.py
  tests/unit_tests/hyperion/test_baton_handler.py
  tests/unit_tests/t01.py
Due: ruff, ruff-format, type-checking, import-contracts

Pin dodal before release
  pyproject.toml
Due: uv-sync, local-install-dodal

Update lock file
  uv.lock
Due: uv-sync, local-install-dodal

Revise release process steps in create-a-release.rst
  docs/developer/general/how-to/create-a-release.rst
Due: none

Remove unneeded patch
  tests/conftest.py
Due: ruff, ruff-format, type-checking, import-contracts

Add system tests
  conftest.py
  src/mx_bluesky/beamlines/i04/external_interaction/config_server.py
  src/mx_bluesky/hyperion/device_setup_plans/dcm_pitch_roll_mirror_adjuster.py
  src/mx_bluesky/hyperion/external_interaction/config_server.py
  src/mx_bluesky/hyperion/utils/context.py
  tests/conftest.py
  tests/system_tests/common/__init__.py
  tests/system_tests/common/daq_config_server/__init__.py
  tests/system_tests/common/daq_config_server/test_daq_config_server.py
  tests/system_tests/conftest.py
  tests/system_tests/hyperion/supervisor/dummy_devices.py
  tests/unit_tests/conftest.py
  tests/unit_tests/hyperion/test_main_system.py
  uv.lock
Due: ruff, ruff-format, type-checking, import-contracts, uv-sync, local-install-dodal

Fix lint
  tests/system_tests/common/device_setup_plans/test_robot_load_unload.py
Due: ruff, ruff-format, type-checking, import-contracts

Use new get_config_client and remove where possible
  src/mx_bluesky/beamlines/i04/external_interaction/config_server.py
  src/mx_bluesky/hyperion/device_setup_plans/dcm_pitch_roll_mirror_adjuster.py
  src/mx_bluesky/hyperion/external_interaction/config_server.py
  src/mx_bluesky/hyperion/utils/context.py
  tests/conftest.py
  tests/system_tests/common/daq_config_server/test_daq_config_server.py
Due: ruff, ruff-format, type-checking, import-contracts

Fix tests
  tests/conftest.py
  uv.lock
Due: ruff, ruff-format, type-checking, import-contracts, uv-sync, local-install-dodal

Fix tests
  pyproject.toml
  tests/conftest.py
  tests/test_data/test_daq_configuration/json/mirrorFocus.json
  uv.lock
Due: ruff, ruff-format, type-checking, import-contracts, uv-sync, local-install-dodal

Use daq config server for UndulatorDCM config (#1497)
  conftest.py
  src/mx_bluesky/beamlines/i04/external_interaction/config_server.py
  src/mx_bluesky/hyperion/device_setup_plans/dcm_pitch_roll_mirror_adjuster.py
  src/mx_bluesky/hyperion/external_interaction/config_server.py
  src/mx_bluesky/hyperion/utils/context.py
  tests/conftest.py
  tests/system_tests/common/__init__.py
  tests/system_tests/common/daq_config_server/__init__.py
  tests/system_tests/common/daq_config_server/test_daq_config_server.py
  tests/system_tests/common/device_setup_plans/test_robot_load_unload.py
  tests/system_tests/conftest.py
  tests/system_tests/hyperion/supervisor/dummy_devices.py
  tests/test_data/test_daq_configuration/json/mirrorFocus.json
  tests/test_data/test_daq_configuration/lookup/BeamLineEnergy_DCM_Pitch_converter.txt
  tests/test_data/test_daq_configuration/lookup/BeamLineEnergy_DCM_Roll_converter.txt
  tests/test_data/test_daq_configuration/lookup/BeamLine_Undulator_toGap.txt
  tests/unit_tests/beamlines/i04/conftest.py
  tests/unit_tests/beamlines/i24/conftest.py
  tests/unit_tests/conftest.py
  tests/unit_tests/hyperion/conftest.py
  tests/unit_tests/hyperion/test_main_system.py
  uv.lock
Due: ruff, ruff-format, type-checking, import-contracts, uv-sync, local-install-dodal

Fix
  src/mx_bluesky/beamlines/i24/serial/setup_beamline/setup_beamline.py
  uv.lock
Due: ruff, ruff-format, type-checking, import-contracts, uv-sync, local-install-dodal

Small change
  src/mx_bluesky/beamlines/i24/serial/setup_beamline/setup_beamline.py
  uv.lock
Due: ruff, ruff-format, type-checking, import-contracts, uv-sync, local-install-dodal

Unpin dodal
  pyproject.toml
  uv.lock
Due: uv-sync, local-install-dodal

Migrate detector LUT to use config server (#1510)
  src/mx_bluesky/beamlines/i24/serial/setup_beamline/setup_beamline.py
  tests/test_data/test_daq_configuration/lookup/test_det_dist_converter.txt
  tests/test_data/test_det_dist_converter.txt
  tests/test_data/test_lookup_table.txt
  uv.lock
Due: ruff, ruff-format, type-checking, import-contracts, uv-sync, local-install-dodal

Fix most system tests
  tests/system_tests/conftest.py
  tests/system_tests/hyperion/external_interaction/conftest.py
  uv.lock
Due: ruff, ruff-format, type-checking, import-contracts, uv-sync, local-install-dodal

Added move on click plan to oav
  src/mx_bluesky/beamlines/i24/web_gui_plans/oav_plans.py
Due: ruff, ruff-format, type-checking, import-contracts

Added Test
  tests/unit_tests/beamlines/i24/web_gui/test_oav_plans.py
Due: ruff, ruff-format, type-checking, import-contracts

Fix linting
  uv.lock
Due: uv-sync, local-install-dodal

Fix some more
  src/mx_bluesky/common/parameters/constants.py
  tests/system_tests/hyperion/external_interaction/conftest.py
  tests/system_tests/hyperion/external_interaction/test_load_centre_collect_full_plan.py
  tests/system_tests/hyperion/external_interaction/test_nexgen.py
Due: ruff, ruff-format, type-checking, import-contracts

Inject config client into OAVConfig and OAVConfigBeamCentre
  tests/conftest.py
  tests/system_tests/conftest.py
  tests/unit_tests/beamlines/i04/test_thawing.py
  tests/unit_tests/common/experiment_plans/test_grid_detection_plan.py
Due: ruff, ruff-format, type-checking, import-contracts

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  type-checking: any of: \.py$
  import-contracts: any of: \.py$
  uv-sync: any of: ^(uv\.lock|pyproject\.toml)$
  local-install-dodal: any of: ^(uv\.lock|pyproject\.toml)$
