Repository DiamondLightSource/mx-bluesky: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, type-checking, import-contracts, uv-sync, local-install-dodal

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=500"]
        exclude: ^uv.lock
      - id: check-yaml
        args: ["--allow-multiple-documents"]
        exclude: ^helm/
      - id: check-merge-conflict
      - id: end-of-file-fixer

  - repo: local
    hooks:
      - id: ruff
        name: lint with ruff
        language: system
        entry: ruff check --force-exclude --fix
        types: [python]
        require_serial: true

      - id: ruff-format
        name: format with ruff
        language: system
        entry: ruff format --force-exclude
        types: [python]
        require_serial: true
      
      - id: type-checking
        name: type-checking with pyright
        language: system
        entry: tox -e type-checking
        types: [python]
        require_serial: true

      - id: import-contracts
        name: Ensure import directionality
        pass_filenames: false
        language: system
        entry: lint-imports
        types: [python]
        require_serial: false

      - id: lock dodal
        name: keep dodal up to date in lockfile
        pass_filenames: false
        language: system
        entry: uv lock --upgrade-package dls-dodal

      - id: uv-sync
        name: update uv.lock and venv
        pass_filenames: false
        language: system
        entry: uv sync
        files: ^(uv\.lock|pyproject\.toml)$

      - id: local-install-dodal
        name: editable install of dodal
        language: system
        pass_filenames: false
        entry: uv pip install -e ../dodal
        files: ^(uv\.lock|pyproject\.toml)$

  # Type checking
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.19.1
    hooks:
      - id: mypy
        files: 'src/.*\.py$'
        additional_dependencies: [types-requests, types-redis, pydantic]
        args: ["--ignore-missing-imports", "--no-strict-optional"]

  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.28.0
    hooks:
      - id: gitleaks

Add CONFIG_SERVER_URL to the launcher script
  run_hyperion.sh
Due: none

pin dodal
  pyproject.toml
  uv.lock
Due: uv-sync, local-install-dodal

Fix broken docs link
  docs/user/hyperion/configuration.rst
Due: none

Fix broken doc links
  docs/user/hyperion/configuration.rst
  docs/user/hyperion/troubleshooting.rst
Due: none

fix typo in test_external_callbacks.py
  tests/unit_tests/hyperion/external_interaction/callbacks/test_external_callbacks.py
Due: ruff, ruff-format, type-checking, import-contracts

Pin to old blueapi version in Dockerifle
  Dockerfile.blueapi
Due: none

Update lockfile
  uv.lock
Due: uv-sync, local-install-dodal

Remove insertion_prefix from WithVisit parameter model
  src/mx_bluesky/common/parameters/components.py
  tests/test_data/hyperion_blueapi/test_load_centre_collect.json
  tests/test_data/parameter_json_files/good_test_grid_with_edge_detect_parameters.json
  tests/test_data/parameter_json_files/good_test_load_centre_collect_params.json
  tests/test_data/parameter_json_files/good_test_load_centre_collect_params_multi_rotation.json
  tests/test_data/parameter_json_files/good_test_multi_rotation_scan_parameters.json
  tests/test_data/parameter_json_files/good_test_one_multi_rotation_scan_parameters.json
  tests/test_data/parameter_json_files/good_test_one_multi_rotation_scan_parameters_nomove.json
  tests/test_data/parameter_json_files/good_test_parameters.json
  tests/test_data/parameter_json_files/good_test_pin_centre_then_xray_centre_parameters.json
  tests/test_data/parameter_json_files/good_test_robot_load_and_centre_params.json
  tests/test_data/parameter_json_files/good_test_robot_load_params.json
  tests/test_data/parameter_json_files/good_test_rotation_scan_parameters.json
  tests/test_data/parameter_json_files/ispyb_gridscan_system_test_parameters.json
  tests/test_data/parameter_json_files/test_gridscan_param_defaults.json
  tests/unit_tests/hyperion/experiment_plans/test_load_centre_collect_full_plan.py
Due: ruff, ruff-format, type-checking, import-contracts

remove GDA_DOMAIN_PROPERTIES_PATH from constants.py
  src/mx_bluesky/common/parameters/constants.py
  tests/unit_tests/hyperion/parameters/test_parameter_model.py
Due: ruff, ruff-format, type-checking, import-contracts

remove load_panda_yaml in favour of the copy in dodal
  src/mx_bluesky/common/device_setup_plans/setup_panda.py
  src/mx_bluesky/hyperion/device_setup_plans/setup_panda.py
  tests/unit_tests/common/device_setup_plans/test_setup_panda.py
Due: ruff, ruff-format, type-checking, import-contracts

Remove unused constants TEST_MODE, BEAMLINE, INSERTION_PREFIX from constants.py
  conftest.py
  src/mx_bluesky/hyperion/parameters/constants.py
Due: ruff, ruff-format, type-checking, import-contracts

remove det_dist_to_beam_converter_path from parameter model, fix unit tests, system tests still broken
  src/mx_bluesky/common/parameters/components.py
  src/mx_bluesky/common/parameters/constants.py
  src/mx_bluesky/common/parameters/gridscan.py
  src/mx_bluesky/common/parameters/rotation.py
  tests/test_data/hyperion_blueapi/test_load_centre_collect.json
  tests/test_data/parameter_json_files/good_test_grid_with_edge_detect_parameters.json
  tests/test_data/parameter_json_files/good_test_load_centre_collect_params.json
  tests/test_data/parameter_json_files/good_test_load_centre_collect_params_multi_rotation.json
  tests/test_data/parameter_json_files/good_test_multi_rotation_scan_parameters.json
  tests/test_data/parameter_json_files/good_test_one_multi_rotation_scan_parameters.json
  tests/test_data/parameter_json_files/good_test_one_multi_rotation_scan_parameters_nomove.json
  tests/test_data/parameter_json_files/good_test_parameters.json
  tests/test_data/parameter_json_files/good_test_pin_centre_then_xray_centre_parameters.json
  tests/test_data/parameter_json_files/good_test_robot_load_and_centre_params.json
  tests/test_data/parameter_json_files/good_test_rotation_scan_parameters.json
  tests/test_data/parameter_json_files/ispyb_gridscan_system_test_parameters.json
  tests/test_data/parameter_json_files/test_gridscan_param_defaults.json
  tests/unit_tests/conftest.py
  tests/unit_tests/hyperion/experiment_plans/test_load_centre_collect_full_plan.py
Due: ruff, ruff-format, type-checking, import-contracts

Make ruff happy
  conftest.py
  src/mx_bluesky/common/parameters/components.py
  src/mx_bluesky/hyperion/parameters/constants.py
  tests/unit_tests/conftest.py
Due: ruff, ruff-format, type-checking, import-contracts

Update uv.lock
  uv.lock
Due: uv-sync, local-install-dodal

Pin blueapi
  pyproject.toml
  uv.lock
Due: uv-sync, local-install-dodal

Make pre-commit more verbose
  pyproject.toml
Due: uv-sync, local-install-dodal

Make lock update more verbose
  .pre-commit-config.yaml
Due: none

Make pre-commit happy
  uv.lock
Due: uv-sync, local-install-dodal

Fix some more
  src/mx_bluesky/common/parameters/constants.py
  tests/system_tests/hyperion/external_interaction/conftest.py
  tests/system_tests/hyperion/external_interaction/test_load_centre_collect_full_plan.py
  tests/system_tests/hyperion/external_interaction/test_nexgen.py
Due: ruff, ruff-format, type-checking, import-contracts

mock panda_fast_grid_scan trigger
  tests/conftest.py
Due: ruff, ruff-format, type-checking, import-contracts

Use different OAV fixture in system tests
  tests/conftest.py
  tests/system_tests/conftest.py
  tests/system_tests/hyperion/external_interaction/test_nexgen.py
  tests/unit_tests/conftest.py
Due: ruff, ruff-format, type-checking, import-contracts

Fix oav system tests
  tests/conftest.py
  tests/system_tests/conftest.py
  tests/system_tests/hyperion/external_interaction/test_load_centre_collect_full_plan.py
  tests/unit_tests/conftest.py
Due: ruff, ruff-format, type-checking, import-contracts

Extend the timeout in murko callback tests due to random failures
  tests/unit_tests/beamlines/i04/callbacks/test_murko_callback.py
Due: ruff, ruff-format, type-checking, import-contracts

Additional patch of load_panda_yaml.retrieve_settings for unit tests
  tests/conftest.py
Due: ruff, ruff-format, type-checking, import-contracts

Disable soak tests until ophyd-async has the caching bug fixed in a release
  tests/system_tests/hyperion/external_interaction/test_baton_handler_soak.py
Due: ruff, ruff-format, type-checking, import-contracts

Simplify external callbacks fixtures for system tests, system test config server fixture now sets the URL env var
  tests/system_tests/conftest.py
  tests/system_tests/hyperion/external_interaction/conftest.py
Due: ruff, ruff-format, type-checking, import-contracts

Config file-related system test failures now fixed
  pyproject.toml
  tests/conftest.py
  tests/system_tests/common/daq_config_server/test_daq_config_server.py
  tests/system_tests/conftest.py
  tests/system_tests/hyperion/external_interaction/conftest.py
  tests/system_tests/hyperion/external_interaction/test_load_centre_collect_full_plan.py
  tests/system_tests/hyperion/external_interaction/test_nexgen.py
Due: ruff, ruff-format, type-checking, import-contracts, uv-sync, local-install-dodal

Fix most system tests
  tests/system_tests/conftest.py
  tests/system_tests/hyperion/external_interaction/conftest.py
Due: ruff, ruff-format, type-checking, import-contracts

Remove commented out code
  tests/conftest.py
Due: ruff, ruff-format, type-checking, import-contracts

Fix to plans, tests following change of AngleWithPhase to dataclass
  src/mx_bluesky/common/experiment_plans/oav_grid_detection_plan.py
  src/mx_bluesky/hyperion/experiment_plans/rotation_scan_plan.py
  tests/unit_tests/common/experiment_plans/test_grid_detection_plan.py
Due: ruff, ruff-format, type-checking, import-contracts

Revise release process steps in create-a-release.rst
  docs/developer/general/how-to/create-a-release.rst
Due: none

Update with PR comments
  src/mx_bluesky/hyperion/blueapi/parameters.py
  src/mx_bluesky/hyperion/experiment_plans/pin_centre_then_xray_centre.py
Due: ruff, ruff-format, type-checking, import-contracts

Revise release process steps in create-a-release.rst (#1680)
  docs/developer/general/how-to/create-a-release.rst
  uv.lock
Due: uv-sync, local-install-dodal
