Repository DiamondLightSource/mx-bluesky: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, type-checking, import-contracts, uv-sync, local-install-dodal

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=500"]
        exclude: ^uv.lock
      - id: check-yaml
        args: ["--allow-multiple-documents"]
        exclude: ^helm/
      - id: check-merge-conflict
      - id: end-of-file-fixer

  - repo: local
    hooks:
      - id: ruff
        name: lint with ruff
        language: system
        entry: ruff check --force-exclude --fix
        types: [python]
        require_serial: true

      - id: ruff-format
        name: format with ruff
        language: system
        entry: ruff format --force-exclude
        types: [python]
        require_serial: true
      
      - id: type-checking
        name: type-checking with pyright
        language: system
        entry: tox -e type-checking
        types: [python]
        require_serial: true

      - id: import-contracts
        name: Ensure import directionality
        pass_filenames: false
        language: system
        entry: lint-imports
        types: [python]
        require_serial: false

      - id: lock dodal
        name: keep dodal up to date in lockfile
        pass_filenames: false
        language: system
        entry: uv lock --upgrade-package dls-dodal

      - id: uv-sync
        name: update uv.lock and venv
        pass_filenames: false
        language: system
        entry: uv sync
        files: ^(uv\.lock|pyproject\.toml)$

      - id: local-install-dodal
        name: editable install of dodal
        language: system
        pass_filenames: false
        entry: uv pip install -e ../dodal
        files: ^(uv\.lock|pyproject\.toml)$

  # Type checking
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.19.1
    hooks:
      - id: mypy
        files: 'src/.*\.py$'
        additional_dependencies: [types-requests, types-redis, pydantic]
        args: ["--ignore-missing-imports", "--no-strict-optional"]

  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.28.0
    hooks:
      - id: gitleaks

Bump ophyd-async dependency
  pyproject.toml
Due: uv-sync, local-install-dodal

Update uv.lock
  uv.lock
Due: uv-sync, local-install-dodal

Repin dodal
  pyproject.toml
Due: uv-sync, local-install-dodal

Pin against dodal branch
  pyproject.toml
Due: uv-sync, local-install-dodal

Fix system test breakage due to merge conflicts (#1751)
  tests/system_tests/hyperion/external_interaction/conftest.py
  tests/test_data/parameter_json_files/example_load_centre_collect_params.json
Due: ruff, ruff-format, type-checking, import-contracts

Update tests, fix flaky baton test
  tests/unit_tests/hyperion/blueapi_plans/test_parameters.py
  tests/unit_tests/hyperion/test_baton_handler.py
Due: ruff, ruff-format, type-checking, import-contracts

Beamline hotfixes for 500Hz gridscan, multipin snapshots, mod-360 robot load
  src/mx_bluesky/hyperion/blueapi/parameters.py
Due: ruff, ruff-format, type-checking, import-contracts

Unpin dodal branch
  pyproject.toml
Due: uv-sync, local-install-dodal

Update mx bluesky for ophyd async 0.17 (#1752)
  pyproject.toml
  src/mx_bluesky/beamlines/i24/jungfrau_commissioning/callbacks/metadata_writer.py
  src/mx_bluesky/beamlines/i24/jungfrau_commissioning/composites.py
  src/mx_bluesky/beamlines/i24/jungfrau_commissioning/experiment_plans/do_darks.py
  src/mx_bluesky/beamlines/i24/jungfrau_commissioning/experiment_plans/rotation_scan_plan.py
  src/mx_bluesky/beamlines/i24/jungfrau_commissioning/plan_stubs/do_external_acquisition.py
  src/mx_bluesky/beamlines/i24/jungfrau_commissioning/plan_stubs/do_internal_acquisition.py
  src/mx_bluesky/beamlines/i24/jungfrau_commissioning/plan_stubs/plan_utils.py
  tests/unit_tests/beamlines/i24/jungfrau_commissioning/callbacks/test_metadata_writer.py
  tests/unit_tests/beamlines/i24/jungfrau_commissioning/conftest.py
  tests/unit_tests/beamlines/i24/jungfrau_commissioning/experiment_plans/test_do_darks.py
  tests/unit_tests/beamlines/i24/jungfrau_commissioning/plan_stubs/test_do_external_acquisition.py
  tests/unit_tests/beamlines/i24/jungfrau_commissioning/plan_stubs/test_do_internal_acquisition.py
  tests/unit_tests/beamlines/i24/jungfrau_commissioning/plan_stubs/test_plan_utils.py
  tests/unit_tests/beamlines/i24/jungfrau_commissioning/test_do_darks.py
  tests/unit_tests/beamlines/i24/jungfrau_commissioning/test_rotation_scan.py
  tests/unit_tests/beamlines/i24/web_gui/test_jungfrau_plans.py
  tests/unit_tests/conftest.py
  uv.lock
Due: ruff, ruff-format, type-checking, import-contracts, uv-sync, local-install-dodal

Pin to latest dodal
  pyproject.toml
Due: uv-sync, local-install-dodal

Update uv lockfile
  uv.lock
Due: uv-sync, local-install-dodal

Added log dir and debug log dir paths
  utility_scripts/procserv_ioc_start.sh
  uv.lock
Due: uv-sync, local-install-dodal

unpin dodal
  pyproject.toml
Due: uv-sync, local-install-dodal

Fix for shutter renaming (#1742)
  src/mx_bluesky/beamlines/i04/experiment_plans/i04_grid_detect_then_xray_centre_plan.py
  src/mx_bluesky/beamlines/i04/oav_centering_plans/oav_imaging.py
  src/mx_bluesky/beamlines/i24/jungfrau_commissioning/composites.py
  src/mx_bluesky/beamlines/i24/jungfrau_commissioning/experiment_plans/rotation_scan_plan.py
  src/mx_bluesky/common/device_setup_plans/setup_zebra_and_shutter.py
  src/mx_bluesky/common/experiment_plans/beamstop_check.py
  src/mx_bluesky/common/parameters/device_composites.py
  src/mx_bluesky/hyperion/device_setup_plans/setup_zebra.py
  src/mx_bluesky/hyperion/experiment_plans/optimise_attenuation_plan.py
  src/mx_bluesky/hyperion/experiment_plans/robot_load_then_centre_plan.py
  src/mx_bluesky/hyperion/experiment_plans/rotation_scan_plan.py
  src/mx_bluesky/hyperion/parameters/device_composites.py
  tests/conftest.py
  tests/system_tests/conftest.py
  tests/system_tests/hyperion/external_interaction/conftest.py
  tests/unit_tests/beamlines/i04/test_i04_grid_detect_then_xray_centre_plan.py
  tests/unit_tests/beamlines/i04/test_oav_imaging.py
  tests/unit_tests/beamlines/i24/jungfrau_commissioning/conftest.py
  tests/unit_tests/beamlines/i24/web_gui/test_jungfrau_plans.py
  tests/unit_tests/common/device_setup_plans/test_setup_zebra_and_shutter.py
  tests/unit_tests/conftest.py
  tests/unit_tests/hyperion/device_setup_plans/test_zebra_setup.py
  uv.lock
Due: ruff, ruff-format, type-checking, import-contracts, uv-sync, local-install-dodal

Pin starlette to >=1.1.0 to avoid CVE-2026-48710
  pyproject.toml
Due: uv-sync, local-install-dodal

Update starlette dependency to avoid CVE-2026-48710 (#1757)
  pyproject.toml
  uv.lock
Due: uv-sync, local-install-dodal

Fix scratch initialisation
  utility_scripts/docker/initialise_scratch.sh
Due: none

Hyperion supervisor starts, revert statefulset back to deployment
  helm/hyperion-supervisor/templates/configmap.yaml
  helm/hyperion-supervisor/templates/deployment.yaml
Due: none

More tweaks for callbacks, remove entrypoint script
  Dockerfile.hyperion
  helm/hyperion/templates/deployment.yaml
  utility_scripts/deploy/deploy_mx_bluesky_app_to_k8s.sh
  utility_scripts/docker/entrypoint.sh
Due: none

Update initialise_scratch to pip install mx-bluesky
  helm/hyperion-supervisor/templates/deployment.yaml
  utility_scripts/deploy/deploy_mx_bluesky_app_to_k8s.sh
  utility_scripts/docker/initialise_scratch.sh
Due: none

Fixes/more debugging of entrypoint script
  helm/hyperion-supervisor/templates/deployment.yaml
  helm/hyperion-supervisor/values.yaml
  utility_scripts/deploy/deploy_mx_bluesky_app_to_k8s.sh
  utility_scripts/docker/entrypoint.sh
Due: none

Fix PYTHONPATH to import mx-bluesky, dodal
  helm/hyperion-supervisor/templates/deployment.yaml
Due: none

Add dodal to the dockerfile
  Dockerfile.hyperion
Due: none

Remove temporary scripts that we don't need
  utility_scripts/deploy/deploy_hyperion_supervisor.sh
  utility_scripts/extract_version.sh
Due: none

Update image, initialisation to check out dodal
  helm/hyperion-supervisor/templates/deployment.yaml
  helm/hyperion-supervisor/values.yaml
  utility_scripts/docker/initialise_scratch.sh
Due: none

Change ownership of image directories
  Dockerfile.hyperion
  helm/hyperion-supervisor/templates/deployment.yaml
Due: none

Mostly working: * Hyperion supervisor/callback dockerfile * Hyperion supervisor helm chart * dev rabbitmq helm chart * updated development k8s deployment script
  Dockerfile.hyperion
  helm/hyperion-supervisor/templates/configmap.yaml
  helm/hyperion-supervisor/templates/deployment.yaml
  helm/hyperion-supervisor/templates/volumes.yaml
  helm/hyperion-supervisor/values.yaml
  helm/rabbitmq/Chart.yaml
  helm/rabbitmq/README.md
  helm/rabbitmq/values.yaml
  utility_scripts/build_docker_image.sh
  utility_scripts/deploy/deploy_hyperion_supervisor.sh
  utility_scripts/deploy/deploy_mx_bluesky_app_to_k8s.sh
  utility_scripts/docker/entrypoint.sh
Due: none

Changes to build docker image
  .dockerignore
  Dockerfile.hyperion
  utility_scripts/build_docker_image.sh
  utility_scripts/docker/initialise_scratch.sh
  utility_scripts/extract_version.sh
Due: none

More debuggablility
  utility_scripts/docker/entrypoint.sh
  utility_scripts/docker/initialise_scratch.sh
Due: none

fix git dir
  helm/hyperion-supervisor/templates/deployment.yaml
  utility_scripts/docker/initialise_scratch.sh
Due: none

Update entrypoint
  utility_scripts/docker/entrypoint.sh
Due: none
