Repository DiamondLightSource/mx-bluesky: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, type-checking, import-contracts, uv-sync, local-install-dodal

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=500"]
        exclude: ^uv.lock
      - id: check-yaml
        args: ["--allow-multiple-documents"]
        exclude: ^helm/
      - id: check-merge-conflict
      - id: end-of-file-fixer

  - repo: local
    hooks:
      - id: ruff
        name: lint with ruff
        language: system
        entry: ruff check --force-exclude --fix
        types: [python]
        require_serial: true

      - id: ruff-format
        name: format with ruff
        language: system
        entry: ruff format --force-exclude
        types: [python]
        require_serial: true
      
      - id: type-checking
        name: type-checking with pyright
        language: system
        entry: tox -e type-checking
        types: [python]
        require_serial: true

      - id: import-contracts
        name: Ensure import directionality
        pass_filenames: false
        language: system
        entry: lint-imports
        types: [python]
        require_serial: false

      - id: lock dodal
        name: keep dodal up to date in lockfile
        pass_filenames: false
        language: system
        entry: uv lock --upgrade-package dls-dodal

      - id: uv-sync
        name: update uv.lock and venv
        pass_filenames: false
        language: system
        entry: uv sync
        files: ^(uv\.lock|pyproject\.toml)$

      - id: local-install-dodal
        name: editable install of dodal
        language: system
        pass_filenames: false
        entry: uv pip install -e ../dodal
        files: ^(uv\.lock|pyproject\.toml)$

  # Type checking
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.19.1
    hooks:
      - id: mypy
        files: 'src/.*\.py$'
        additional_dependencies: [types-requests, types-redis, pydantic]
        args: ["--ignore-missing-imports", "--no-strict-optional"]

  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.28.0
    hooks:
      - id: gitleaks

JF Rotation: Look up the detector reading under its real name
  src/mx_bluesky/beamlines/i24/jungfrau_commissioning/callbacks/metadata_writer.py
  tests/unit_tests/beamlines/i24/jungfrau_commissioning/experiment_plans/test_do_darks.py
  tests/unit_tests/beamlines/i24/jungfrau_commissioning/test_do_darks.py
  tests/unit_tests/conftest.py
Due: ruff, ruff-format, type-checking, import-contracts

Update uv.lock
  uv.lock
Due: uv-sync, local-install-dodal

Update blueapi
  uv.lock
Due: uv-sync, local-install-dodal

1756 nexus generates wrong omega multipin (#1784)
  src/mx_bluesky/common/parameters/rotation.py
  tests/system_tests/hyperion/external_interaction/test_baton_handler_soak.py
  tests/system_tests/hyperion/external_interaction/test_nexgen.py
  tests/test_data/parameter_json_files/good_test_rotation_scan_parameters.json
  tests/unit_tests/common/parameters/test_rotation.py
  tests/unit_tests/hyperion/experiment_plans/test_rotation_scan_plan.py
  tests/unit_tests/hyperion/external_interaction/test_write_rotation_nexus.py
  uv.lock
Due: ruff, ruff-format, type-checking, import-contracts, uv-sync, local-install-dodal

Add GridScanParams, initial fixups
  src/mx_bluesky/beamlines/i02_1/i02_1_gridscan_plan.py
  src/mx_bluesky/common/experiment_plans/common_flyscan_xray_centre_plan.py
  src/mx_bluesky/common/experiment_plans/common_grid_detect_then_xray_centre_plan.py
  src/mx_bluesky/common/experiment_plans/oav_grid_detection_plan.py
  src/mx_bluesky/common/external_interaction/callbacks/common/grid_detection_callback.py
  src/mx_bluesky/common/parameters/gridscan.py
  src/mx_bluesky/hyperion/experiment_plans/hyperion_flyscan_xray_centre_plan.py
  src/mx_bluesky/hyperion/parameters/gridscan.py
  tests/unit_tests/common/experiment_plans/test_grid_detection_plan.py
Due: ruff, ruff-format, type-checking, import-contracts

Refactor grid scan params - separate grid scan and grid detect params
  src/mx_bluesky/beamlines/i04/experiment_plans/i04_grid_detect_then_xray_centre_plan.py
  src/mx_bluesky/common/experiment_plans/change_aperture_then_move_plan.py
  src/mx_bluesky/common/experiment_plans/common_grid_detect_then_xray_centre_plan.py
  src/mx_bluesky/common/experiment_plans/inner_plans/xrc_results_utils.py
  src/mx_bluesky/common/parameters/gridscan.py
  src/mx_bluesky/hyperion/experiment_plans/pin_centre_then_gridscan_plan.py
  tests/conftest.py
  tests/system_tests/hyperion/external_interaction/callbacks/test_external_callbacks.py
  tests/unit_tests/beamlines/i02_1/test_i02_1_gridscan_plan.py
  tests/unit_tests/beamlines/i04/test_i04_grid_detect_then_xray_centre_plan.py
  tests/unit_tests/common/experiment_plans/test_change_aperture_then_move_plan.py
  tests/unit_tests/common/experiment_plans/test_common_flyscan_xray_centre_plan.py
  tests/unit_tests/common/experiment_plans/test_common_grid_detect_then_xray_centre_plan.py
  tests/unit_tests/common/utils/test_xrc_result.py
  tests/unit_tests/hyperion/experiment_plans/conftest.py
  tests/unit_tests/hyperion/experiment_plans/test_hyperion_flyscan_xray_centre_plan.py
  tests/unit_tests/hyperion/experiment_plans/test_pin_centre_then_xray_centre_plan.py
  tests/unit_tests/hyperion/external_interaction/nexus/test_write_nexus.py
  tests/unit_tests/hyperion/parameters/test_parameter_model.py
Due: ruff, ruff-format, type-checking, import-contracts

Additional docs for GridScanParams Minor fix to grid_position_to_motor_position Remove assertions in grid_position_to_motor_position More clearly define semantics of omega_starts_deg
  src/mx_bluesky/common/experiment_plans/common_grid_detect_then_xray_centre_plan.py
  src/mx_bluesky/common/experiment_plans/inner_plans/xrc_results_utils.py
  src/mx_bluesky/common/parameters/gridscan.py
  tests/unit_tests/common/utils/test_xrc_result.py
Due: ruff, ruff-format, type-checking, import-contracts

Fixup axis bounds checking on xrc results
  src/mx_bluesky/common/experiment_plans/inner_plans/xrc_results_utils.py
  tests/system_tests/hyperion/external_interaction/test_load_centre_collect_full_plan.py
Due: ruff, ruff-format, type-checking, import-contracts

Remove unneeded full parameters from run_gridscan
  src/mx_bluesky/common/experiment_plans/common_flyscan_xray_centre_plan.py
  tests/unit_tests/common/experiment_plans/test_common_flyscan_xray_centre_plan.py
Due: ruff, ruff-format, type-checking, import-contracts

WIP - src is refactored, tests still all broken
  src/mx_bluesky/beamlines/i02_1/external_interaction/callbacks/gridscan/ispyb_callback.py
  src/mx_bluesky/beamlines/i02_1/i02_1_gridscan_plan.py
  src/mx_bluesky/beamlines/i02_1/parameters/gridscan.py
  src/mx_bluesky/beamlines/i04/experiment_plans/i04_grid_detect_then_xray_centre_plan.py
  src/mx_bluesky/common/experiment_plans/common_flyscan_xray_centre_plan.py
  src/mx_bluesky/common/experiment_plans/common_grid_detect_then_xray_centre_plan.py
  src/mx_bluesky/common/parameters/components.py
  src/mx_bluesky/common/parameters/device_composites.py
  src/mx_bluesky/common/parameters/gridscan.py
  src/mx_bluesky/hyperion/device_setup_plans/utils.py
  src/mx_bluesky/hyperion/experiment_plans/hyperion_flyscan_xray_centre_plan.py
  src/mx_bluesky/hyperion/experiment_plans/pin_centre_then_gridscan_plan.py
  src/mx_bluesky/hyperion/experiment_plans/pin_centre_then_xray_centre.py
  src/mx_bluesky/hyperion/experiment_plans/robot_load_then_centre_plan.py
  src/mx_bluesky/hyperion/parameters/device_composites.py
  src/mx_bluesky/hyperion/parameters/gridscan.py
  src/mx_bluesky/hyperion/parameters/robot_load.py
Due: ruff, ruff-format, type-checking, import-contracts

WIP external callbacks refactored, tests still broken
  src/mx_bluesky/beamlines/i02_1/composites.py
  src/mx_bluesky/beamlines/i02_1/external_interaction/callbacks/gridscan/ispyb_callback.py
  src/mx_bluesky/beamlines/i02_1/i02_1_gridscan_plan.py
  src/mx_bluesky/beamlines/i02_1/parameters/gridscan.py
  src/mx_bluesky/common/experiment_plans/common_flyscan_xray_centre_plan.py
  src/mx_bluesky/common/experiment_plans/common_grid_detect_then_xray_centre_plan.py
  src/mx_bluesky/common/external_interaction/callbacks/common/ispyb_callback_base.py
  src/mx_bluesky/common/external_interaction/callbacks/common/ispyb_mapping.py
  src/mx_bluesky/common/external_interaction/callbacks/grid/grid_detect_and_scan/ispyb_callback.py
  src/mx_bluesky/common/external_interaction/callbacks/grid/grid_detect_and_scan/nexus_callback.py
  src/mx_bluesky/common/external_interaction/callbacks/grid/gridscan/ispyb_callback.py
  src/mx_bluesky/common/external_interaction/callbacks/grid/utils.py
  src/mx_bluesky/common/external_interaction/nexus/write_nexus.py
  src/mx_bluesky/common/parameters/gridscan.py
  src/mx_bluesky/hyperion/experiment_plans/pin_centre_then_gridscan_plan.py
  src/mx_bluesky/hyperion/experiment_plans/pin_centre_then_xray_centre.py
  src/mx_bluesky/hyperion/experiment_plans/robot_load_then_centre_plan.py
  src/mx_bluesky/hyperion/external_interaction/callbacks/__main__.py
  src/mx_bluesky/hyperion/external_interaction/callbacks/rotation/ispyb_callback.py
  src/mx_bluesky/hyperion/external_interaction/callbacks/rotation/nexus_callback.py
  tests/system_tests/hyperion/external_interaction/callbacks/test_external_callbacks.py
  tests/unit_tests/hyperion/experiment_plans/test_pin_centre_then_xray_centre_plan.py
Due: ruff, ruff-format, type-checking, import-contracts

WIP some unit tests refactored
  src/mx_bluesky/beamlines/i02_1/external_interaction/callbacks/gridscan/ispyb_callback.py
  src/mx_bluesky/common/experiment_plans/common_grid_detect_then_xray_centre_plan.py
  src/mx_bluesky/common/parameters/device_composites.py
  src/mx_bluesky/hyperion/parameters/device_composites.py
  tests/test_data/parameter_json_files/internal/grid_detect_params.json
  tests/test_data/parameter_json_files/internal/grid_scan_params_3d.json
  tests/test_data/parameter_json_files/internal/minimal_diffraction_expt_with_sample.json
  tests/unit_tests/beamlines/i02_1/conftest.py
  tests/unit_tests/beamlines/i02_1/test_gridscan_ispyb_callback.py
  tests/unit_tests/beamlines/i02_1/test_i02_1_gridscan_plan.py
  tests/unit_tests/common/experiment_plans/test_common_flyscan_xray_centre_plan.py
  tests/unit_tests/common/experiment_plans/test_common_grid_detect_then_xray_centre_plan.py
  tests/unit_tests/common/parameters/test_gridscan.py
  tests/unit_tests/conftest.py
Due: ruff, ruff-format, type-checking, import-contracts

WIP DetectorParams changes
  src/mx_bluesky/beamlines/i02_1/external_interaction/callbacks/gridscan/ispyb_callback.py
  src/mx_bluesky/beamlines/i02_1/i02_1_gridscan_plan.py
  src/mx_bluesky/beamlines/i04/experiment_plans/i04_grid_detect_then_xray_centre_plan.py
  src/mx_bluesky/common/experiment_plans/common_grid_detect_then_xray_centre_plan.py
  src/mx_bluesky/common/external_interaction/callbacks/common/ispyb_callback_base.py
  src/mx_bluesky/common/external_interaction/callbacks/grid/grid_detect_and_scan/ispyb_callback.py
  src/mx_bluesky/common/external_interaction/callbacks/grid/gridscan/ispyb_callback.py
  src/mx_bluesky/common/parameters/components.py
  src/mx_bluesky/common/parameters/gridscan.py
  src/mx_bluesky/common/parameters/rotation.py
  src/mx_bluesky/hyperion/experiment_plans/pin_centre_then_gridscan_plan.py
  src/mx_bluesky/hyperion/experiment_plans/pin_centre_then_xray_centre.py
  src/mx_bluesky/hyperion/experiment_plans/robot_load_then_centre_plan.py
  src/mx_bluesky/hyperion/external_interaction/callbacks/rotation/ispyb_callback.py
  src/mx_bluesky/hyperion/parameters/gridscan.py
  tests/conftest.py
  tests/system_tests/hyperion/external_interaction/callbacks/test_external_callbacks.py
  tests/system_tests/hyperion/external_interaction/test_ispyb_dev_connection.py
  tests/test_data/parameter_json_files/internal/minimal_diffraction_expt_with_sample.json
  tests/unit_tests/beamlines/i02_1/test_gridscan_ispyb_callback.py
  tests/unit_tests/beamlines/i02_1/test_i02_1_gridscan_plan.py
  tests/unit_tests/beamlines/i04/test_i04_grid_detect_then_xray_centre_plan.py
  tests/unit_tests/common/experiment_plans/test_common_flyscan_xray_centre_plan.py
  tests/unit_tests/common/experiment_plans/test_common_grid_detect_then_xray_centre_plan.py
  tests/unit_tests/common/experiment_plans/test_grid_detection_plan.py
  tests/unit_tests/common/external_interaction/callbacks/grid/test_ispyb_gridscan_callback.py
  tests/unit_tests/common/parameters/test_gridscan.py
  tests/unit_tests/conftest.py
  tests/unit_tests/hyperion/device_setup_plans/test_utils.py
  tests/unit_tests/hyperion/experiment_plans/test_hyperion_flyscan_xray_centre_plan.py
  tests/unit_tests/hyperion/experiment_plans/test_pin_centre_then_xray_centre_plan.py
  tests/unit_tests/hyperion/external_interaction/nexus/test_write_nexus.py
  tests/unit_tests/hyperion/parameters/test_parameter_model.py
Due: ruff, ruff-format, type-checking, import-contracts

WIP more unit tests working
  src/mx_bluesky/beamlines/i02_1/external_interaction/callbacks/gridscan/ispyb_callback.py
  src/mx_bluesky/beamlines/i02_1/i02_1_gridscan_plan.py
  src/mx_bluesky/common/experiment_plans/common_flyscan_xray_centre_plan.py
  src/mx_bluesky/common/experiment_plans/common_grid_detect_then_xray_centre_plan.py
  src/mx_bluesky/common/external_interaction/callbacks/common/ispyb_callback_base.py
  src/mx_bluesky/common/external_interaction/callbacks/grid/grid_detect_and_scan/ispyb_callback.py
  src/mx_bluesky/common/external_interaction/callbacks/grid/grid_detect_and_scan/nexus_callback.py
  src/mx_bluesky/common/external_interaction/callbacks/grid/gridscan/ispyb_callback.py
  src/mx_bluesky/common/external_interaction/nexus/write_nexus.py
  src/mx_bluesky/common/parameters/gridscan.py
  src/mx_bluesky/common/parameters/rotation.py
  src/mx_bluesky/hyperion/experiment_plans/pin_centre_then_gridscan_plan.py
  src/mx_bluesky/hyperion/experiment_plans/robot_load_then_centre_plan.py
  src/mx_bluesky/hyperion/external_interaction/callbacks/rotation/ispyb_callback.py
  src/mx_bluesky/hyperion/parameters/gridscan.py
  tests/conftest.py
  tests/system_tests/hyperion/external_interaction/callbacks/test_external_callbacks.py
  tests/system_tests/hyperion/external_interaction/test_ispyb_dev_connection.py
  tests/test_data/parameter_json_files/internal/gridscan_callback_test_main_params.json
  tests/test_data/parameter_json_files/internal/minimal_diffraction_expt_with_sample.json
  tests/test_data/parameter_json_files/internal/nexus_test_gridscan_params.json
  tests/unit_tests/beamlines/i02_1/test_gridscan_ispyb_callback.py
  tests/unit_tests/common/conftest.py
  tests/unit_tests/common/experiment_plans/test_common_flyscan_xray_centre_plan.py
  tests/unit_tests/common/experiment_plans/test_common_grid_detect_then_xray_centre_plan.py
  tests/unit_tests/common/experiment_plans/test_grid_detection_plan.py
  tests/unit_tests/common/external_interaction/callbacks/common/test_ispyb_callback_base.py
  tests/unit_tests/common/external_interaction/callbacks/grid/test_ispyb_gridscan_callback.py
  tests/unit_tests/common/external_interaction/callbacks/grid/test_utils.py
  tests/unit_tests/common/parameters/test_gridscan.py
  tests/unit_tests/conftest.py
  tests/unit_tests/hyperion/conftest.py
  tests/unit_tests/hyperion/device_setup_plans/test_utils.py
  tests/unit_tests/hyperion/experiment_plans/test_hyperion_flyscan_xray_centre_plan.py
  tests/unit_tests/hyperion/experiment_plans/test_pin_centre_then_xray_centre_plan.py
  tests/unit_tests/hyperion/external_interaction/nexus/test_write_nexus.py
Due: ruff, ruff-format, type-checking, import-contracts

Removed redundant grid classes, test files
  src/mx_bluesky/common/external_interaction/nexus/write_nexus.py
  src/mx_bluesky/common/parameters/gridscan.py
  src/mx_bluesky/hyperion/parameters/robot_load.py
  tests/conftest.py
  tests/system_tests/hyperion/external_interaction/conftest.py
  tests/test_data/parameter_json_files/good_test_grid_with_edge_detect_parameters.json
  tests/test_data/parameter_json_files/good_test_specified_three_d_grid_params.json
  tests/unit_tests/beamlines/i04/test_i04_grid_detect_then_xray_centre_plan.py
  tests/unit_tests/common/experiment_plans/test_grid_detection_plan.py
  tests/unit_tests/common/parameters/test_gridscan.py
  tests/unit_tests/conftest.py
Due: ruff, ruff-format, type-checking, import-contracts

Remove a couple of minor unused things
  src/mx_bluesky/common/parameters/components.py
  src/mx_bluesky/common/parameters/gridscan.py
Due: ruff, ruff-format, type-checking, import-contracts

Prevent directory reads in CI
  tests/unit_tests/hyperion/external_interaction/test_agamemnon.py
Due: ruff, ruff-format, type-checking, import-contracts

Unit tests passing
  tests/unit_tests/beamlines/i04/test_i04_grid_detect_then_xray_centre_plan.py
  tests/unit_tests/common/external_interaction/xray_centre/test_ispyb_mapping.py
  tests/unit_tests/hyperion/parameters/test_parameter_model.py
Due: ruff, ruff-format, type-checking, import-contracts

Fix nexus tests for full_num_of_images
  tests/unit_tests/hyperion/external_interaction/nexus/test_compare_nexus_to_gda_exhaustively.py
  tests/unit_tests/hyperion/external_interaction/test_write_rotation_nexus.py
Due: ruff, ruff-format, type-checking, import-contracts

System tests fixed for type correctness
  src/mx_bluesky/common/external_interaction/callbacks/grid/grid_detect_and_scan/ispyb_callback.py
  src/mx_bluesky/common/external_interaction/callbacks/grid/grid_detect_and_scan/nexus_callback.py
  src/mx_bluesky/common/external_interaction/callbacks/grid/gridscan/ispyb_callback.py
  src/mx_bluesky/hyperion/external_interaction/callbacks/__main__.py
  src/mx_bluesky/hyperion/parameters/robot_load.py
  tests/system_tests/hyperion/external_interaction/callbacks/test_external_callbacks.py
  tests/system_tests/hyperion/external_interaction/conftest.py
  tests/system_tests/hyperion/external_interaction/test_ispyb_dev_connection.py
  tests/system_tests/hyperion/external_interaction/test_load_centre_collect_full_plan.py
  tests/system_tests/hyperion/external_interaction/test_zocalo_system.py
Due: ruff, ruff-format, type-checking, import-contracts

WIP only 3 unit tests failing
  src/mx_bluesky/common/parameters/gridscan.py
  src/mx_bluesky/common/parameters/rotation.py
  src/mx_bluesky/hyperion/parameters/gridscan.py
  tests/unit_tests/common/parameters/test_gridscan.py
  tests/unit_tests/hyperion/experiment_plans/conftest.py
  tests/unit_tests/hyperion/experiment_plans/test_hyperion_flyscan_xray_centre_plan.py
  tests/unit_tests/hyperion/experiment_plans/test_pin_centre_then_xray_centre_plan.py
  tests/unit_tests/hyperion/experiment_plans/test_robot_load_then_centre.py
  tests/unit_tests/hyperion/external_interaction/conftest.py
  tests/unit_tests/hyperion/external_interaction/nexus/test_write_nexus.py
  tests/unit_tests/hyperion/parameters/test_parameter_model.py
Due: ruff, ruff-format, type-checking, import-contracts

All system tests passing Rationalise beamline specific composites
  src/mx_bluesky/beamlines/i04/experiment_plans/i04_grid_detect_then_xray_centre_plan.py
  src/mx_bluesky/common/experiment_plans/change_aperture_then_move_plan.py
  src/mx_bluesky/common/parameters/device_composites.py
  src/mx_bluesky/hyperion/experiment_plans/hyperion_flyscan_xray_centre_plan.py
  src/mx_bluesky/hyperion/parameters/device_composites.py
  tests/conftest.py
  tests/system_tests/hyperion/external_interaction/callbacks/test_external_callbacks.py
  tests/system_tests/hyperion/external_interaction/conftest.py
  tests/system_tests/hyperion/external_interaction/test_nexgen.py
  tests/unit_tests/common/experiment_plans/test_change_aperture_then_move_plan.py
  tests/unit_tests/common/experiment_plans/test_common_grid_detect_then_xray_centre_plan.py
  tests/unit_tests/conftest.py
Due: ruff, ruff-format, type-checking, import-contracts

Fixup unit tests
  src/mx_bluesky/common/parameters/device_composites.py
  tests/conftest.py
  tests/system_tests/hyperion/external_interaction/conftest.py
  tests/unit_tests/beamlines/i02_1/test_i02_1_gridscan_plan.py
  tests/unit_tests/common/experiment_plans/test_common_flyscan_xray_centre_plan.py
  tests/unit_tests/conftest.py
  tests/unit_tests/hyperion/experiment_plans/test_hyperion_flyscan_xray_centre_plan.py
Due: ruff, ruff-format, type-checking, import-contracts

Remove generate_plantuml script
  utility_scripts/generate_plantuml.py
Due: ruff, ruff-format, type-checking, import-contracts

Tidy up various TODOs Remove obsolete plantUML diagram
  docs/developer/hyperion/reference/gridscan.puml
  src/mx_bluesky/common/experiment_plans/common_grid_detect_then_xray_centre_plan.py
  src/mx_bluesky/hyperion/experiment_plans/robot_load_then_centre_plan.py
  tests/unit_tests/hyperion/experiment_plans/test_pin_centre_then_xray_centre_plan.py
Due: ruff, ruff-format, type-checking, import-contracts

Remove call to generate plantuml
  docs/developer/hyperion/reference/param-hierarchy.rst
  pyproject.toml
Due: uv-sync, local-install-dodal

Fixup images
  docs/developer/hyperion/reference/param-hierarchy.rst
  docs/images/internal_params_gridscan.png
  docs/images/internal_params_rotation.png
Due: none

Add some package-related TODOs Move I02_1FgsParams
  src/mx_bluesky/beamlines/i02_1/external_interaction/callbacks/gridscan/ispyb_callback.py
  src/mx_bluesky/beamlines/i02_1/i02_1_gridscan_plan.py
  src/mx_bluesky/beamlines/i02_1/parameters.py
  src/mx_bluesky/beamlines/i02_1/parameters/__init__.py
  src/mx_bluesky/beamlines/i02_1/parameters/gridscan.py
  src/mx_bluesky/hyperion/parameters/cli.py
  src/mx_bluesky/hyperion/parameters/device_composites.py
  src/mx_bluesky/hyperion/parameters/gridscan.py
  tests/unit_tests/beamlines/i02_1/conftest.py
  tests/unit_tests/beamlines/i02_1/test_gridscan_ispyb_callback.py
  tests/unit_tests/beamlines/i02_1/test_i02_1_gridscan_plan.py
Due: ruff, ruff-format, type-checking, import-contracts

Make pyright happy
  src/mx_bluesky/beamlines/i04/experiment_plans/i04_grid_detect_then_xray_centre_plan.py
  src/mx_bluesky/common/experiment_plans/change_aperture_then_move_plan.py
  src/mx_bluesky/hyperion/external_interaction/callbacks/rotation/nexus_callback.py
  tests/unit_tests/beamlines/i04/test_i04_grid_detect_then_xray_centre_plan.py
Due: ruff, ruff-format, type-checking, import-contracts

Fixup system tests to find the correct oav
  tests/system_tests/conftest.py
  tests/system_tests/hyperion/external_interaction/conftest.py
Due: ruff, ruff-format, type-checking, import-contracts

Add new parameter plantUML drawings
  docs/developer/hyperion/reference/common_params.puml
  docs/developer/hyperion/reference/internal_params_gridscan.puml
  docs/developer/hyperion/reference/internal_params_rotation.puml
Due: none

Complete the migration of grid_position_to_motor_position()
  src/mx_bluesky/common/experiment_plans/inner_plans/xrc_results_utils.py
  tests/unit_tests/common/experiment_plans/test_common_flyscan_xray_centre_plan.py
Due: ruff, ruff-format, type-checking, import-contracts

Make ruff happy
  tests/conftest.py
Due: ruff, ruff-format, type-checking, import-contracts

Set aperture according to XRC results (#1705)
  src/mx_bluesky/beamlines/i04/experiment_plans/i04_grid_detect_then_xray_centre_plan.py
  src/mx_bluesky/common/device_setup_plans/manipulate_sample.py
  src/mx_bluesky/common/experiment_plans/change_aperture_then_move_plan.py
  src/mx_bluesky/common/experiment_plans/common_grid_detect_then_xray_centre_plan.py
  src/mx_bluesky/common/parameters/components.py
  src/mx_bluesky/common/parameters/gridscan.py
  src/mx_bluesky/common/parameters/rotation.py
  src/mx_bluesky/common/utils/aperture_selection.py
  src/mx_bluesky/hyperion/blueapi/in_process.py
  src/mx_bluesky/hyperion/blueapi/parameters.py
  src/mx_bluesky/hyperion/experiment_plans/load_centre_collect_full_plan.py
  src/mx_bluesky/hyperion/experiment_plans/pin_centre_then_xray_centre.py
  src/mx_bluesky/hyperion/experiment_plans/rotation_scan_plan.py
  src/mx_bluesky/hyperion/external_interaction/agamemnon.py
  src/mx_bluesky/hyperion/parameters/constants.py
  src/mx_bluesky/hyperion/utils/centre_selection.py
  tests/test_data/parameter_json_files/external_load_centre_collect_params.json
  tests/test_data/parameter_json_files/external_load_centre_collect_params_multipin.json
  tests/unit_tests/common/experiment_plans/test_change_aperture_then_move_plan.py
  tests/unit_tests/common/experiment_plans/test_common_grid_detect_then_xray_centre_plan.py
  tests/unit_tests/hyperion/blueapi_plans/test_parameters.py
  tests/unit_tests/hyperion/experiment_plans/test_load_centre_collect_full_plan.py
  tests/unit_tests/hyperion/experiment_plans/test_rotation_scan_plan.py
  tests/unit_tests/hyperion/external_interaction/test_agamemnon.py
  tests/unit_tests/hyperion/parameters/test_parameter_model.py
Due: ruff, ruff-format, type-checking, import-contracts

Made plans visible for blueapi
  src/mx_bluesky/beamlines/i24/serial/blueapi_config.yaml
  src/mx_bluesky/beamlines/i24/web_gui_plans/oav_plans.py
  uv.lock
Due: ruff, ruff-format, type-checking, import-contracts, uv-sync, local-install-dodal
