Repository DiamondLightSource/mx-bluesky: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, type-checking, import-contracts, uv-sync, local-install-dodal

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=500"]
        exclude: ^uv.lock
      - id: check-yaml
        args: ["--allow-multiple-documents"]
        exclude: ^helm/
      - id: check-merge-conflict
      - id: end-of-file-fixer

  - repo: local
    hooks:
      - id: ruff
        name: lint with ruff
        language: system
        entry: ruff check --force-exclude --fix
        types: [python]
        require_serial: true

      - id: ruff-format
        name: format with ruff
        language: system
        entry: ruff format --force-exclude
        types: [python]
        require_serial: true
      
      - id: type-checking
        name: type-checking with pyright
        language: system
        entry: tox -e type-checking
        types: [python]
        require_serial: true

      - id: import-contracts
        name: Ensure import directionality
        pass_filenames: false
        language: system
        entry: lint-imports
        types: [python]
        require_serial: false

      - id: lock dodal
        name: keep dodal up to date in lockfile
        pass_filenames: false
        language: system
        entry: uv lock --upgrade-package dls-dodal

      - id: uv-sync
        name: update uv.lock and venv
        pass_filenames: false
        language: system
        entry: uv sync
        files: ^(uv\.lock|pyproject\.toml)$

      - id: local-install-dodal
        name: editable install of dodal
        language: system
        pass_filenames: false
        entry: uv pip install -e ../dodal
        files: ^(uv\.lock|pyproject\.toml)$

  # Type checking
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.19.1
    hooks:
      - id: mypy
        files: 'src/.*\.py$'
        additional_dependencies: [types-requests, types-redis, pydantic]
        args: ["--ignore-missing-imports", "--no-strict-optional"]

  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.28.0
    hooks:
      - id: gitleaks

Fix one more trigger patch
  tests/system_tests/hyperion/external_interaction/conftest.py
Due: ruff, ruff-format, type-checking, import-contracts

Update uv.lock
  uv.lock
Due: uv-sync, local-install-dodal

Fix system tests for reserved attributes (#1813)
  tests/system_tests/hyperion/external_interaction/conftest.py
  tests/system_tests/hyperion/external_interaction/test_load_centre_collect_full_plan.py
  uv.lock
Due: ruff, ruff-format, type-checking, import-contracts, uv-sync, local-install-dodal

Apply the snapshot directory to pin_centre_then_gridscan_plan call
  src/mx_bluesky/hyperion/experiment_plans/pin_centre_then_xray_centre.py
  tests/unit_tests/hyperion/experiment_plans/test_pin_centre_then_xray_centre_plan.py
Due: ruff, ruff-format, type-checking, import-contracts

Unpin dodal
  pyproject.toml
Due: uv-sync, local-install-dodal

Pin to dodal branch
  pyproject.toml
Due: uv-sync, local-install-dodal

Remove S4SlitGaps in favour of MinimalSlits
  src/mx_bluesky/beamlines/i04/experiment_plans/i04_grid_detect_then_xray_centre_plan.py
  src/mx_bluesky/common/experiment_plans/inner_plans/read_hardware.py
  src/mx_bluesky/common/external_interaction/callbacks/common/ispyb_callback_base.py
  src/mx_bluesky/common/parameters/device_composites.py
  src/mx_bluesky/hyperion/experiment_plans/robot_load_then_centre_plan.py
  src/mx_bluesky/hyperion/experiment_plans/rotation_scan_plan.py
  src/mx_bluesky/hyperion/parameters/device_composites.py
  tests/conftest.py
  tests/system_tests/conftest.py
  tests/system_tests/hyperion/external_interaction/conftest.py
  tests/system_tests/hyperion/external_interaction/test_ispyb_dev_connection.py
  tests/unit_tests/beamlines/i04/test_i04_grid_detect_then_xray_centre_plan.py
  tests/unit_tests/common/experiment_plans/inner_plans/test_read_hardware.py
  tests/unit_tests/conftest.py
Due: ruff, ruff-format, type-checking, import-contracts

1555 convert i03, i04 to use common slits (#1814)
  src/mx_bluesky/beamlines/i04/experiment_plans/i04_grid_detect_then_xray_centre_plan.py
  src/mx_bluesky/common/experiment_plans/inner_plans/read_hardware.py
  src/mx_bluesky/common/external_interaction/callbacks/common/ispyb_callback_base.py
  src/mx_bluesky/common/parameters/device_composites.py
  src/mx_bluesky/hyperion/experiment_plans/robot_load_then_centre_plan.py
  src/mx_bluesky/hyperion/experiment_plans/rotation_scan_plan.py
  src/mx_bluesky/hyperion/parameters/device_composites.py
  tests/conftest.py
  tests/system_tests/conftest.py
  tests/system_tests/hyperion/external_interaction/conftest.py
  tests/system_tests/hyperion/external_interaction/test_ispyb_dev_connection.py
  tests/unit_tests/beamlines/i04/test_i04_grid_detect_then_xray_centre_plan.py
  tests/unit_tests/common/experiment_plans/inner_plans/test_read_hardware.py
  tests/unit_tests/conftest.py
  uv.lock
Due: ruff, ruff-format, type-checking, import-contracts, uv-sync, local-install-dodal

Fix system tests
  tests/system_tests/hyperion/external_interaction/test_baton_handler_soak.py
  tests/system_tests/hyperion/external_interaction/test_nexgen.py
Due: ruff, ruff-format, type-checking, import-contracts

WIP add system test, issues with imginfo
  tests/system_tests/hyperion/external_interaction/test_nexgen.py
Due: ruff, ruff-format, type-checking, import-contracts

Fix unit tests
  tests/unit_tests/hyperion/experiment_plans/test_rotation_scan_plan.py
Due: ruff, ruff-format, type-checking, import-contracts

Initial fix for rotation scanspec direction
  src/mx_bluesky/common/parameters/rotation.py
  tests/test_data/parameter_json_files/good_test_rotation_scan_parameters.json
  tests/unit_tests/common/parameters/test_rotation.py
Due: ruff, ruff-format, type-checking, import-contracts

Fixup nexus file tests
  tests/unit_tests/hyperion/external_interaction/test_write_rotation_nexus.py
Due: ruff, ruff-format, type-checking, import-contracts

Make test code slightly clearer as per PR comments
  tests/unit_tests/hyperion/experiment_plans/test_rotation_scan_plan.py
Due: ruff, ruff-format, type-checking, import-contracts

Prepare for 1.6.16 release
  pyproject.toml
  uv.lock
Due: uv-sync, local-install-dodal

Updated dodal version
  pyproject.toml
  uv.lock
Due: uv-sync, local-install-dodal

Pump probe number change
  src/mx_bluesky/beamlines/i24/serial/fixed_target/i24ssx_chip_manager_py3v1.py
  uv.lock
Due: ruff, ruff-format, type-checking, import-contracts, uv-sync, local-install-dodal

Updated test to account for new numbers
  tests/unit_tests/beamlines/i24/serial/fixed_target/test_chip_manager.py
  uv.lock
Due: ruff, ruff-format, type-checking, import-contracts, uv-sync, local-install-dodal

Update movetime in pumpprobe_calc function
  src/mx_bluesky/beamlines/i24/serial/fixed_target/i24ssx_chip_manager_py3v1.py
Due: ruff, ruff-format, type-checking, import-contracts

Request automatic sample registration from DCID server
  src/mx_bluesky/beamlines/i24/serial/dcid.py
  uv.lock
Due: ruff, ruff-format, type-checking, import-contracts, uv-sync, local-install-dodal

Pump probe time change and DCID sample registration request (#1818)
  src/mx_bluesky/beamlines/i24/serial/dcid.py
  src/mx_bluesky/beamlines/i24/serial/fixed_target/i24ssx_chip_manager_py3v1.py
  tests/unit_tests/beamlines/i24/serial/fixed_target/test_chip_manager.py
  uv.lock
Due: ruff, ruff-format, type-checking, import-contracts, uv-sync, local-install-dodal

Pump probe time change and DCID sample registration request (#1818)
  src/mx_bluesky/beamlines/i24/serial/dcid.py
  src/mx_bluesky/beamlines/i24/serial/fixed_target/i24ssx_chip_manager_py3v1.py
  tests/unit_tests/beamlines/i24/serial/fixed_target/test_chip_manager.py
Due: ruff, ruff-format, type-checking, import-contracts

DCID: Report the checkerboard apo exposures to ISPyB
  src/mx_bluesky/beamlines/i24/serial/dcid.py
  tests/unit_tests/beamlines/i24/serial/test_dcid.py
Due: ruff, ruff-format, type-checking, import-contracts

Checker only does anything in pump/probe mode
  src/mx_bluesky/beamlines/i24/serial/dcid.py
  tests/unit_tests/beamlines/i24/serial/test_dcid.py
Due: ruff, ruff-format, type-checking, import-contracts

Serve both the web UI and serial edm plans from blueapi
  src/mx_bluesky/beamlines/i24/serial/blueapi_config.yaml
  src/mx_bluesky/beamlines/i24/web_gui_plans/general_plans.py
  src/mx_bluesky/beamlines/i24/web_gui_plans/jungfrau_plans.py
  src/mx_bluesky/beamlines/i24/web_gui_plans/oav_plans.py
Due: ruff, ruff-format, type-checking, import-contracts

JF Rotation: Trigger the zebra output the jungfrau is wired to
  src/mx_bluesky/beamlines/i24/jungfrau_commissioning/experiment_plans/rotation_scan_plan.py
  tests/unit_tests/beamlines/i24/jungfrau_commissioning/conftest.py
  tests/unit_tests/beamlines/i24/jungfrau_commissioning/test_rotation_scan.py
Due: ruff, ruff-format, type-checking, import-contracts

Rename rotation composite devices
  src/mx_bluesky/beamlines/i24/jungfrau_commissioning/composites.py
  src/mx_bluesky/beamlines/i24/jungfrau_commissioning/experiment_plans/rotation_scan_plan.py
  tests/unit_tests/beamlines/i24/jungfrau_commissioning/callbacks/test_metadata_writer.py
  tests/unit_tests/beamlines/i24/jungfrau_commissioning/conftest.py
  tests/unit_tests/beamlines/i24/jungfrau_commissioning/test_rotation_scan.py
  tests/unit_tests/beamlines/i24/web_gui/test_jungfrau_plans.py
Due: ruff, ruff-format, type-checking, import-contracts

JF Rotation: Do not discard user distance
  src/mx_bluesky/beamlines/i24/jungfrau_commissioning/experiment_plans/rotation_scan_plan.py
Due: ruff, ruff-format, type-checking, import-contracts

Write collection_info into a directory this client has cached as absent
  src/mx_bluesky/beamlines/i24/jungfrau_commissioning/callbacks/metadata_writer.py
  tests/unit_tests/beamlines/i24/jungfrau_commissioning/callbacks/test_metadata_writer.py
Due: ruff, ruff-format, type-checking, import-contracts

Do not lose an image to floating point when counting a sweep
  src/mx_bluesky/common/parameters/rotation.py
  tests/unit_tests/common/parameters/test_rotation.py
Due: ruff, ruff-format, type-checking, import-contracts

Collect the JF rotation sweep that was actually asked for
  src/mx_bluesky/beamlines/i24/jungfrau_commissioning/experiment_plans/rotation_scan_plan.py
  src/mx_bluesky/beamlines/i24/web_gui_plans/jungfrau_plans.py
  tests/unit_tests/beamlines/i24/jungfrau_commissioning/test_rotation_scan.py
  tests/unit_tests/beamlines/i24/web_gui/test_jungfrau_plans.py
Due: ruff, ruff-format, type-checking, import-contracts

Do not create a directory called "from numtracker"
  src/mx_bluesky/beamlines/i24/jungfrau_commissioning/experiment_plans/rotation_scan_plan.py
  src/mx_bluesky/common/parameters/rotation.py
  tests/unit_tests/common/parameters/test_rotation.py
Due: ruff, ruff-format, type-checking, import-contracts
