Repository DiamondLightSource/mx-bluesky: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, type-checking, import-contracts, uv-sync, local-install-dodal

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=500"]
        exclude: ^uv.lock
      - id: check-yaml
        args: ["--allow-multiple-documents"]
        exclude: ^helm/
      - id: check-merge-conflict
      - id: end-of-file-fixer

  - repo: local
    hooks:
      - id: ruff
        name: lint with ruff
        language: system
        entry: ruff check --force-exclude --fix
        types: [python]
        require_serial: true

      - id: ruff-format
        name: format with ruff
        language: system
        entry: ruff format --force-exclude
        types: [python]
        require_serial: true
      
      - id: type-checking
        name: type-checking with pyright
        language: system
        entry: tox -e type-checking
        types: [python]
        require_serial: true

      - id: import-contracts
        name: Ensure import directionality
        pass_filenames: false
        language: system
        entry: lint-imports
        types: [python]
        require_serial: false

      - id: lock dodal
        name: keep dodal up to date in lockfile
        pass_filenames: false
        language: system
        entry: uv lock --upgrade-package dls-dodal

      - id: uv-sync
        name: update uv.lock and venv
        pass_filenames: false
        language: system
        entry: uv sync
        files: ^(uv\.lock|pyproject\.toml)$

      - id: local-install-dodal
        name: editable install of dodal
        language: system
        pass_filenames: false
        entry: uv pip install -e ../dodal
        files: ^(uv\.lock|pyproject\.toml)$

  # Type checking
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.19.1
    hooks:
      - id: mypy
        files: 'src/.*\.py$'
        additional_dependencies: [types-requests, types-redis, pydantic]
        args: ["--ignore-missing-imports", "--no-strict-optional"]

  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.28.0
    hooks:
      - id: gitleaks

Updated with fixed unit tests
  tests/conftest.py
  tests/system_tests/hyperion/external_interaction/conftest.py
  tests/unit_tests/beamlines/i04/test_thawing.py
  tests/unit_tests/common/device_setup_plans/test_robot_load_unload.py
  tests/unit_tests/common/experiment_plans/test_grid_detection_plan.py
  tests/unit_tests/common/experiment_plans/test_pin_tip_centring.py
  tests/unit_tests/hyperion/experiment_plans/conftest.py
  tests/unit_tests/hyperion/experiment_plans/test_rotation_scan_plan.py
Due: ruff, ruff-format, type-checking, import-contracts

Update pyproject.toml to refer to branch
  pyproject.toml
Due: uv-sync, local-install-dodal

wip
  docs/developer/hyperion/reference/gridscan.puml
  src/mx_bluesky/beamlines/i02_1/parameters/gridscan.py
  src/mx_bluesky/beamlines/i04/experiment_plans/i04_grid_detect_then_xray_centre_plan.py
  src/mx_bluesky/common/experiment_plans/common_flyscan_xray_centre_plan.py
  src/mx_bluesky/common/experiment_plans/common_grid_detect_then_xray_centre_plan.py
  src/mx_bluesky/common/experiment_plans/inner_plans/do_fgs.py
  src/mx_bluesky/common/external_interaction/callbacks/common/grid_detection_callback.py
  src/mx_bluesky/common/external_interaction/callbacks/xray_centre/ispyb_callback.py
  src/mx_bluesky/common/external_interaction/callbacks/xray_centre/nexus_callback.py
  src/mx_bluesky/common/parameters/components.py
  src/mx_bluesky/common/parameters/gridscan.py
  src/mx_bluesky/common/parameters/rotation.py
  src/mx_bluesky/hyperion/experiment_plans/load_centre_collect_full_plan.py
  src/mx_bluesky/hyperion/external_interaction/callbacks/__main__.py
  src/mx_bluesky/hyperion/external_interaction/callbacks/rotation/nexus_callback.py
  src/mx_bluesky/hyperion/parameters/gridscan.py
  src/mx_bluesky/hyperion/parameters/robot_load.py
  tests/conftest.py
  tests/system_tests/hyperion/external_interaction/test_ispyb_dev_connection.py
  tests/system_tests/hyperion/external_interaction/test_load_centre_collect_full_plan.py
  tests/test_data/parameter_json_files/good_test_specified_three_d_grid_params.json
  tests/test_data/parameter_json_files/test_gridscan_param_defaults.json
  tests/unit_tests/beamlines/i04/test_i04_grid_detect_then_xray_centre_plan.py
  tests/unit_tests/common/experiment_plans/inner_plans/test_do_fgs.py
  tests/unit_tests/common/experiment_plans/inner_plans/test_read_hardware.py
  tests/unit_tests/common/experiment_plans/test_common_flyscan_xray_centre_plan.py
  tests/unit_tests/common/experiment_plans/test_grid_detection_plan.py
  tests/unit_tests/common/external_interaction/callbacks/common/test_ispyb_callback_base.py
  tests/unit_tests/common/external_interaction/xray_centre/test_ispyb_callback.py
  tests/unit_tests/common/external_interaction/xray_centre/test_ispyb_handler.py
  tests/unit_tests/common/utils/test_xrc_result.py
  tests/unit_tests/conftest.py
  tests/unit_tests/hyperion/conftest.py
  tests/unit_tests/hyperion/experiment_plans/test_load_centre_collect_full_plan.py
  tests/unit_tests/hyperion/experiment_plans/test_pin_centre_then_xray_centre_plan.py
  tests/unit_tests/hyperion/experiment_plans/test_robot_load_then_centre.py
  tests/unit_tests/hyperion/external_interaction/conftest.py
  tests/unit_tests/hyperion/external_interaction/nexus/test_write_nexus.py
  tests/unit_tests/hyperion/test_main_system.py
Due: ruff, ruff-format, type-checking, import-contracts

wip
  src/mx_bluesky/common/experiment_plans/inner_plans/do_fgs.py
  src/mx_bluesky/common/external_interaction/callbacks/common/grid_detection_callback.py
  src/mx_bluesky/common/parameters/components.py
  src/mx_bluesky/common/parameters/gridscan.py
  src/mx_bluesky/hyperion/external_interaction/agamemnon.py
  tests/test_data/parameter_json_files/good_test_grid_with_edge_detect_parameters.json
  tests/test_data/parameter_json_files/good_test_load_centre_collect_params.json
  tests/test_data/parameter_json_files/good_test_load_centre_collect_params_multi_rotation.json
  tests/test_data/parameter_json_files/good_test_multi_rotation_scan_parameters.json
  tests/test_data/parameter_json_files/good_test_one_multi_rotation_scan_parameters.json
  tests/test_data/parameter_json_files/good_test_one_multi_rotation_scan_parameters_nomove.json
  tests/test_data/parameter_json_files/good_test_pin_centre_then_xray_centre_parameters.json
  tests/test_data/parameter_json_files/good_test_robot_load_and_centre_params.json
  tests/test_data/parameter_json_files/good_test_robot_load_params.json
  tests/test_data/parameter_json_files/good_test_rotation_scan_parameters.json
  tests/test_data/parameter_json_files/good_test_specified_three_d_grid_params.json
  tests/test_data/parameter_json_files/ispyb_gridscan_system_test_parameters.json
  tests/test_data/parameter_json_files/load_centre_collect_params_top_n_by_max_count.json
  tests/test_data/parameter_json_files/test_gridscan_param_defaults.json
  tests/test_data/parameter_json_files/test_oav_snapshot_params.json
  tests/unit_tests/common/experiment_plans/test_grid_detection_plan.py
  tests/unit_tests/hyperion/external_interaction/test_agamemnon.py
  tests/unit_tests/hyperion/parameters/test_parameter_model.py
Due: ruff, ruff-format, type-checking, import-contracts

wip
  src/mx_bluesky/common/parameters/gridscan.py
  tests/test_data/parameter_json_files/good_test_specified_three_d_grid_params.json
  tests/unit_tests/beamlines/i24/jungfrau_commissioning/test_data/test_good_rotation_params.json
  tests/unit_tests/common/experiment_plans/test_grid_detection_plan.py
  tests/unit_tests/common/external_interaction/xray_centre/test_nexus_handler.py
  tests/unit_tests/hyperion/external_interaction/conftest.py
  uv.lock
Due: ruff, ruff-format, type-checking, import-contracts, uv-sync, local-install-dodal

Factor out some common lines in main
  src/mx_bluesky/hyperion/__main__.py
Due: ruff, ruff-format, type-checking, import-contracts

Revert tox plantuml command
  pyproject.toml
Due: uv-sync, local-install-dodal

Remove experiment registry
  src/mx_bluesky/hyperion/experiment_plans/experiment_registry.py
  tests/unit_tests/hyperion/experiment_plans/test_experiment_registry.py
Due: ruff, ruff-format, type-checking, import-contracts

Remove GDARunner and associated bits
  docs/developer/hyperion/reference/readme.md
  docs/user/hyperion/configuration.rst
  docs/user/hyperion/index.rst
  pyproject.toml
  run_hyperion.sh
  src/mx_bluesky/hyperion/__main__.py
  src/mx_bluesky/hyperion/parameters/cli.py
  src/mx_bluesky/hyperion/runner.py
  tests/unit_tests/hyperion/test_main_system.py
  tests/unit_tests/hyperion/test_runner.py
Due: ruff, ruff-format, type-checking, import-contracts, uv-sync, local-install-dodal

rename variable
  src/mx_bluesky/common/experiment_plans/common_flyscan_xray_centre_plan.py
  src/mx_bluesky/common/parameters/device_composites.py
Due: ruff, ruff-format, type-checking, import-contracts

Remove pin_centre_then_xray_centre and hyperion_grid_detect_then_xray_centre plans
  conftest.py
  docs/developer/code-map/grid_detect_xrc.rst
  src/mx_bluesky/hyperion/experiment_plans/__init__.py
  src/mx_bluesky/hyperion/experiment_plans/hyperion_grid_detect_then_xray_centre_plan.py
  src/mx_bluesky/hyperion/experiment_plans/pin_centre_then_xray_centre_plan.py
  src/mx_bluesky/hyperion/plan_runner.py
  src/mx_bluesky/hyperion/runner.py
  src/mx_bluesky/hyperion/utils/context.py
  tests/system_tests/hyperion/external_interaction/test_ispyb_dev_connection.py
  tests/unit_tests/hyperion/conftest.py
  tests/unit_tests/hyperion/experiment_plans/test_hyperion_grid_detect_then_xray_centre_plan.py
  tests/unit_tests/hyperion/experiment_plans/test_pin_centre_then_xray_centre_plan.py
  tests/unit_tests/hyperion/experiment_plans/test_robot_load_then_centre.py
  tests/unit_tests/hyperion/test_main_system.py
Due: ruff, ruff-format, type-checking, import-contracts

Remove rotation_scan plan
  src/mx_bluesky/hyperion/experiment_plans/__init__.py
  src/mx_bluesky/hyperion/experiment_plans/rotation_scan_plan.py
  tests/system_tests/hyperion/external_interaction/callbacks/test_external_callbacks.py
  tests/system_tests/hyperion/external_interaction/test_ispyb_dev_connection.py
  tests/unit_tests/hyperion/experiment_plans/test_load_centre_collect_full_plan.py
  tests/unit_tests/hyperion/experiment_plans/test_rotation_scan_plan.py
  tests/unit_tests/hyperion/external_interaction/callbacks/test_rotation_callbacks.py
Due: ruff, ruff-format, type-checking, import-contracts

Update uv.lock
  uv.lock
Due: uv-sync, local-install-dodal

Add skip for CI pre-commit for uv lock file update
  pyproject.toml
Due: uv-sync, local-install-dodal

Skip in CI yaml not pyproject.toml
  .github/workflows/ci.yml
  pyproject.toml
Due: uv-sync, local-install-dodal

Additional test for load_centre_collect
  tests/system_tests/hyperion/supervisor/dummy_plans.py
  tests/system_tests/hyperion/supervisor/test_supervisor.py
Due: ruff, ruff-format, type-checking, import-contracts

Refactor planrunner abstraction to use parameters deriving from BaseModel instead of MxBlueskyParameters
  src/mx_bluesky/hyperion/_plan_runner_params.py
  src/mx_bluesky/hyperion/baton_handler.py
  src/mx_bluesky/hyperion/blueapi_plans/parameters.py
  src/mx_bluesky/hyperion/external_interaction/agamemnon.py
  src/mx_bluesky/hyperion/in_process_runner.py
  src/mx_bluesky/hyperion/parameters/load_centre_collect.py
  src/mx_bluesky/hyperion/plan_runner.py
  src/mx_bluesky/hyperion/supervisor/_supervisor.py
  tests/system_tests/hyperion/external_interaction/test_agamemnon.py
  tests/system_tests/hyperion/supervisor/test_supervisor.py
  tests/test_data/parameter_json_files/external_load_centre_collect_params.json
  tests/unit_tests/common/parameters/test_components.py
  tests/unit_tests/hyperion/blueapi_plans/__init__.py
  tests/unit_tests/hyperion/blueapi_plans/test_parameters.py
  tests/unit_tests/hyperion/conftest.py
  tests/unit_tests/hyperion/external_interaction/test_agamemnon.py
  tests/unit_tests/hyperion/supervisor/test_supervisor.py
  tests/unit_tests/hyperion/test_baton_handler.py
Due: ruff, ruff-format, type-checking, import-contracts

Move select centres mixins into hyperion packages Move demand_energy_ev into top-level
  src/mx_bluesky/common/parameters/components.py
  src/mx_bluesky/common/utils/xrc_result.py
  src/mx_bluesky/hyperion/baton_handler.py
  src/mx_bluesky/hyperion/blueapi_plans/mixins.py
  src/mx_bluesky/hyperion/blueapi_plans/parameters.py
  src/mx_bluesky/hyperion/experiment_plans/load_centre_collect_full_plan.py
  src/mx_bluesky/hyperion/external_interaction/agamemnon.py
  src/mx_bluesky/hyperion/parameters/load_centre_collect.py
  src/mx_bluesky/hyperion/utils/centre_selection.py
  tests/system_tests/hyperion/external_interaction/test_load_centre_collect_full_plan.py
  tests/test_data/parameter_json_files/external_load_centre_collect_params.json
  tests/unit_tests/hyperion/experiment_plans/common/test_flyscan_result.py
  tests/unit_tests/hyperion/experiment_plans/test_load_centre_collect_full_plan.py
Due: ruff, ruff-format, type-checking, import-contracts

Fix circular imports
  src/mx_bluesky/hyperion/blueapi/__init__.py
  src/mx_bluesky/hyperion/blueapi/mixins.py
  src/mx_bluesky/hyperion/blueapi/parameters.py
  src/mx_bluesky/hyperion/blueapi/plans.py
  src/mx_bluesky/hyperion/blueapi_config.yaml
  src/mx_bluesky/hyperion/blueapi_dev_config.yaml
  src/mx_bluesky/hyperion/external_interaction/agamemnon.py
  src/mx_bluesky/hyperion/in_process_runner.py
  src/mx_bluesky/hyperion/parameters/load_centre_collect.py
  src/mx_bluesky/hyperion/supervisor/_supervisor.py
  src/mx_bluesky/hyperion/utils/centre_selection.py
  tests/system_tests/hyperion/external_interaction/test_load_centre_collect_full_plan.py
  tests/unit_tests/hyperion/blueapi_plans/test_parameters.py
  tests/unit_tests/hyperion/conftest.py
  tests/unit_tests/hyperion/experiment_plans/test_load_centre_collect_full_plan.py
  tests/unit_tests/hyperion/external_interaction/test_agamemnon.py
  tests/unit_tests/hyperion/test_baton_handler.py
  tests/unit_tests/hyperion/test_blueapi_plans.py
Due: ruff, ruff-format, type-checking, import-contracts

Make docs, type-checking happy
  src/mx_bluesky/hyperion/utils/centre_selection.py
  tests/unit_tests/hyperion/external_interaction/test_agamemnon.py
Due: ruff, ruff-format, type-checking, import-contracts

Use config server fixtures from dodal and patch beamline environment
  conftest.py
  tests/conftest.py
  tests/unit_tests/beamlines/i04/conftest.py
  tests/unit_tests/beamlines/i23/conftest.py
  tests/unit_tests/beamlines/i24/conftest.py
  tests/unit_tests/hyperion/conftest.py
  tests/unit_tests/hyperion/device_setup_plans/test_dcm_pitch_roll_mirror_adjuster.py
  tests/unit_tests/hyperion/experiment_plans/conftest.py
  uv.lock
Due: ruff, ruff-format, type-checking, import-contracts, uv-sync, local-install-dodal

Reduce use of get_beamline_name default
  src/mx_bluesky/common/experiment_plans/rotation/rotation_utils.py
  src/mx_bluesky/common/external_interaction/nexus/write_nexus.py
  src/mx_bluesky/common/parameters/gridscan.py
  src/mx_bluesky/hyperion/external_interaction/callbacks/alert_on_container_change.py
Due: ruff, ruff-format, type-checking, import-contracts

Always reset the generator state during a stop document
  src/mx_bluesky/common/external_interaction/callbacks/common/zocalo_callback.py
  tests/unit_tests/common/external_interaction/callbacks/test_zocalo_handler.py
Due: ruff, ruff-format, type-checking, import-contracts

Add stomp option to run_hyperion.sh
  run_hyperion.sh
Due: none

Add skip for CI pre-commit for uv lock file update (#1625)
  .github/workflows/ci.yml
Due: none

Fix smargon/gonio rename
  src/mx_bluesky/hyperion/experiment_plans/udc_default_state.py
Due: ruff, ruff-format, type-checking, import-contracts

Implement robot unload for udc default state (#1607)
  src/mx_bluesky/common/device_setup_plans/robot_load_unload.py
  src/mx_bluesky/hyperion/experiment_plans/udc_default_state.py
  src/mx_bluesky/hyperion/external_interaction/callbacks/robot_actions/ispyb_callback.py
  tests/unit_tests/hyperion/experiment_plans/test_udc_default_state.py
  tests/unit_tests/hyperion/external_interaction/callbacks/robot_load/test_robot_load_ispyb_callback.py
Due: ruff, ruff-format, type-checking, import-contracts

don't XRC during hyperion gridscan. Rename XRC to gridscan
  docs/user/hyperion/advanced/concurrent_operations.puml
  src/mx_bluesky/hyperion/experiment_plans/__init__.py
  src/mx_bluesky/hyperion/experiment_plans/experiment_registry.py
  src/mx_bluesky/hyperion/experiment_plans/pin_centre_then_gridscan_plan.py
  src/mx_bluesky/hyperion/experiment_plans/robot_load_then_centre_plan.py
  tests/system_tests/hyperion/external_interaction/test_load_centre_collect_full_plan.py
  tests/unit_tests/hyperion/experiment_plans/test_load_centre_collect_full_plan.py
  tests/unit_tests/hyperion/experiment_plans/test_pin_centre_then_xray_centre_plan.py
  tests/unit_tests/hyperion/experiment_plans/test_robot_load_then_centre.py
  uv.lock
Due: ruff, ruff-format, type-checking, import-contracts, uv-sync, local-install-dodal

Fix system tests
  tests/system_tests/hyperion/external_interaction/callbacks/test_external_callbacks.py
  tests/system_tests/hyperion/supervisor/dummy_plans.py
Due: ruff, ruff-format, type-checking, import-contracts

update function name
  src/mx_bluesky/hyperion/experiment_plans/pin_centre_then_gridscan_plan.py
Due: ruff, ruff-format, type-checking, import-contracts

Some fixes
  src/mx_bluesky/common/experiment_plans/inner_plans/xrc_results_utils.py
  tests/test_data/parameter_json_files/example_load_centre_collect_params.json
  tests/unit_tests/common/external_interaction/xray_centre/test_nexus_handler.py
  tests/unit_tests/hyperion/experiment_plans/conftest.py
  tests/unit_tests/hyperion/experiment_plans/test_pin_centre_then_xray_centre_plan.py
Due: ruff, ruff-format, type-checking, import-contracts

Partially fix nexus tests
  src/mx_bluesky/common/external_interaction/callbacks/xray_centre/nexus_callback.py
  tests/unit_tests/hyperion/external_interaction/nexus/test_write_nexus.py
Due: ruff, ruff-format, type-checking, import-contracts

WIP
  run_hyperion.sh
  src/mx_bluesky/common/utils/log.py
  src/mx_bluesky/hyperion/blueapi_plans/__init__.py
  src/mx_bluesky/hyperion/blueapi_plans/plans.py
  tests/conftest.py
Due: ruff, ruff-format, type-checking, import-contracts

Fix tests
  tests/conftest.py
  tests/unit_tests/beamlines/i04/conftest.py
  tests/unit_tests/beamlines/i23/conftest.py
  tests/unit_tests/beamlines/i24/conftest.py
  tests/unit_tests/common/experiment_plans/conftest.py
  tests/unit_tests/common/external_interaction/conftest.py
  tests/unit_tests/conftest.py
  tests/unit_tests/hyperion/external_interaction/conftest.py
  tests/unit_tests/hyperion/external_interaction/test_write_rotation_nexus.py
  tests/unit_tests/hyperion/parameters/test_parameter_model.py
  uv.lock
Due: ruff, ruff-format, type-checking, import-contracts, uv-sync, local-install-dodal

Fix
  tests/unit_tests/beamlines/i04/conftest.py
  tests/unit_tests/beamlines/i24/conftest.py
  tests/unit_tests/beamlines/i24/jungfrau_commissioning/conftest.py
  tests/unit_tests/hyperion/parameters/test_parameter_model.py
  tests/unit_tests/hyperion/test_blueapi_plans.py
  uv.lock
Due: ruff, ruff-format, type-checking, import-contracts, uv-sync, local-install-dodal

Changes to implement debug logging for hyperion-blueapi
  conftest.py
  src/mx_bluesky/common/utils/log.py
  src/mx_bluesky/hyperion/blueapi_config.yaml
  src/mx_bluesky/hyperion/blueapi_dev_config.yaml
  src/mx_bluesky/hyperion/blueapi_plans/__init__.py
  src/mx_bluesky/hyperion/blueapi_plans/blueapi.py
  src/mx_bluesky/hyperion/blueapi_plans/in_process.py
  src/mx_bluesky/hyperion/blueapi_plans/plans.py
  src/mx_bluesky/hyperion/in_process_runner.py
  tests/conftest.py
  tests/unit_tests/common/utils/test_log.py
  tests/unit_tests/hyperion/conftest.py
  tests/unit_tests/hyperion/test_baton_handler.py
  tests/unit_tests/hyperion/test_blueapi_plans.py
Due: ruff, ruff-format, type-checking, import-contracts
