Repository DiamondLightSource/mx-bluesky: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, type-checking, import-contracts, uv-sync, local-install-dodal

ruff:
  name: lint with ruff
  language: system
  entry: ruff check --force-exclude --fix
  require_serial: true

ruff-format:
  name: format with ruff
  language: system
  entry: ruff format --force-exclude
  require_serial: true

type-checking:
  name: type-checking with pyright
  language: system
  entry: tox -e type-checking
  require_serial: true

import-contracts:
  name: Ensure import directionality
  pass_filenames: false
  language: system
  entry: lint-imports
  require_serial: false

uv-sync:
  name: update uv.lock and venv
  pass_filenames: false
  language: system
  entry: uv sync

local-install-dodal:
  name: editable install of dodal
  language: system
  pass_filenames: false
  entry: uv pip install -e ../dodal

More debugging of initialise script
  utility_scripts/docker/initialise_scratch.sh
Due: none

Additional debugging for initContainer
  helm/hyperion-supervisor/templates/deployment.yaml
  helm/rabbitmq/values.yaml
  utility_scripts/deploy/deploy_mx_bluesky_app_to_k8s.sh
  utility_scripts/docker/initialise_scratch.sh
Due: none

Initial attempt at callbacks
  helm/hyperion-supervisor/templates/deployment.yaml
  helm/hyperion-supervisor/values.yaml
  helm/hyperion/Chart.yaml
  helm/hyperion/templates/configmap.yaml
  helm/hyperion/templates/deployment.yaml
  helm/hyperion/templates/service.yaml
  helm/hyperion/templates/volumes.yaml
  helm/hyperion/templates/zocalo-config.yaml
  helm/hyperion/values.yaml
  utility_scripts/docker/entrypoint.sh
Due: none

Add some docs on the hyperion container setup
  docs/developer/general/explanations/containerised_mx_bluesky.rst
Due: none

Tidy the initContainer script
  utility_scripts/docker/initialise_scratch.sh
Due: none

WIP
  .github/workflows/_container.yml
  Dockerfile.hyperion
  docs/developer/general/explanations/containerised_mx_bluesky.rst
  utility_scripts/build_docker_image.sh
  utility_scripts/docker/entrypoint.sh
Due: none

WIP
  helm/hyperion-supervisor/Chart.yaml
  helm/hyperion-supervisor/templates/deployment.yaml
  helm/hyperion-supervisor/templates/service.yaml
  helm/hyperion-supervisor/values.yaml
  helm/hyperion/templates/deployment.yaml
  helm/hyperion/templates/ingress.yaml
  helm/hyperion/templates/zocalo-config.yaml
  helm/hyperion/values.yaml
Due: none

Update dockerfile to add user, group creation
  Dockerfile.hyperion
Due: none

Tidy up values, deployment files
  helm/hyperion/templates/deployment.yaml
  helm/hyperion/values.yaml
Due: none

Tweak dockerfile for ownership
  Dockerfile.hyperion
Due: none

Convert to statefulset
  helm/hyperion-supervisor/templates/statefulset.yaml
Due: none

Update uv.lock
  uv.lock
Due: uv-sync, local-install-dodal

Add debugging option
  helm/hyperion/templates/deployment.yaml
  helm/hyperion/values.yaml
  src/mx_bluesky/hyperion/external_interaction/callbacks/__main__.py
  src/mx_bluesky/hyperion/parameters/cli.py
  tests/unit_tests/hyperion/external_interaction/callbacks/test_external_callbacks.py
Due: ruff, ruff-format, type-checking, import-contracts

Initial implementation of debugging
  pyproject.toml
  src/mx_bluesky/common/utils/debug.py
  src/mx_bluesky/hyperion/__main__.py
  src/mx_bluesky/hyperion/parameters/cli.py
  tests/unit_tests/common/utils/test_debug.py
  tests/unit_tests/hyperion/test_main_system.py
Due: ruff, ruff-format, type-checking, import-contracts, uv-sync, local-install-dodal

Initial attempt at containerised debugging
  .vscode/launch.json
  docs/developer/hyperion/how-to/debug-k8s.rst
  docs/developer/hyperion/index.rst
  helm/hyperion/templates/deployment.yaml
  helm/hyperion/values.yaml
Due: none

Slightly adjust strategy for vscode, add workspace
  .vscode/hyperion-k8s-scratch.code-workspace
Due: none

Tweak launch.json for changed workspace setup
  .vscode/launch.json
Due: none

Tweaks for vscode niceness
  .vscode/hyperion-k8s-scratch.code-workspace
  .vscode/launch.json
  Dockerfile.hyperion
  docs/developer/hyperion/how-to/debug-k8s.rst
  helm/hyperion/templates/deployment.yaml
Due: none

Ensure manual helm upgrade retains previous pvc
  helm/hyperion/templates/volumes.yaml
Due: none

Disable debugging by default
  helm/hyperion/values.yaml
Due: none

Fix doc index.rst
  docs/developer/hyperion/index.rst
Due: none

Make hyperion baton user name configurable
  helm/hyperion/templates/deployment.yaml
  src/mx_bluesky/hyperion/__main__.py
  src/mx_bluesky/hyperion/baton_handler.py
  src/mx_bluesky/hyperion/parameters/cli.py
  tests/conftest.py
  tests/system_tests/hyperion/test_main_udc.py
  tests/unit_tests/hyperion/test_baton_handler.py
  tests/unit_tests/hyperion/test_main_system.py
Due: ruff, ruff-format, type-checking, import-contracts

fix: handle connection refused error in supervisor mode (closes #1688)
  src/mx_bluesky/hyperion/__main__.py
Due: ruff, ruff-format, type-checking, import-contracts

fix: patch blueapi connection in conftest to prevent supervisor exit on connection refused (closes #1688)
  conftest.py
Due: ruff, ruff-format, type-checking, import-contracts

Add github workflow helm chart package step for hyperion
  .github/workflows/_helm.yml
Due: none

Added log dir and debug log dir paths (#1755)
  utility_scripts/procserv_ioc_start.sh
Due: none

Update pyproject.toml, CI, docs to support python 3.14 (#1722)
  .github/workflows/ci.yml
  docs/developer/general/how-to/get-started.md
  pyproject.toml
Due: uv-sync, local-install-dodal

Disable warnings and fix test failures due to implicit enum conversion
  pyproject.toml
  src/mx_bluesky/beamlines/i04/experiment_plans/i04_grid_detect_then_xray_centre_plan.py
  src/mx_bluesky/common/device_setup_plans/manipulate_sample.py
  tests/unit_tests/beamlines/i24/jungfrau_commissioning/experiment_plans/test_do_darks.py
  tests/unit_tests/beamlines/i24/jungfrau_commissioning/plan_stubs/test_do_external_acquisition.py
  tests/unit_tests/beamlines/i24/jungfrau_commissioning/plan_stubs/test_do_internal_acquisition.py
  tests/unit_tests/beamlines/i24/jungfrau_commissioning/test_do_darks.py
Due: ruff, ruff-format, type-checking, import-contracts, uv-sync, local-install-dodal

Fix test failures due to using int vs ShutterState enum Fix incorrect patch decorators Remove unneeded patch of bps.wait that was causing issues
  tests/unit_tests/beamlines/i04/test_i04_grid_detect_then_xray_centre_plan.py
  tests/unit_tests/beamlines/i24/jungfrau_commissioning/experiment_plans/test_do_darks.py
  tests/unit_tests/beamlines/i24/jungfrau_commissioning/test_do_darks.py
  tests/unit_tests/hyperion/experiment_plans/test_rotation_scan_plan.py
Due: ruff, ruff-format, type-checking, import-contracts

Pin to dodal branch
  pyproject.toml
Due: uv-sync, local-install-dodal

Unpin dodal
  pyproject.toml
Due: uv-sync, local-install-dodal

Fix mx-bluesky against latest dodal (#1769)
  pyproject.toml
  src/mx_bluesky/beamlines/i04/experiment_plans/i04_grid_detect_then_xray_centre_plan.py
  src/mx_bluesky/common/device_setup_plans/manipulate_sample.py
  tests/unit_tests/beamlines/i04/test_i04_grid_detect_then_xray_centre_plan.py
  tests/unit_tests/beamlines/i24/jungfrau_commissioning/experiment_plans/test_do_darks.py
  tests/unit_tests/beamlines/i24/jungfrau_commissioning/plan_stubs/test_do_external_acquisition.py
  tests/unit_tests/beamlines/i24/jungfrau_commissioning/plan_stubs/test_do_internal_acquisition.py
  tests/unit_tests/beamlines/i24/jungfrau_commissioning/test_do_darks.py
  tests/unit_tests/hyperion/experiment_plans/test_rotation_scan_plan.py
  uv.lock
Due: ruff, ruff-format, type-checking, import-contracts, uv-sync, local-install-dodal

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  type-checking: any of: \.py$
  import-contracts: any of: \.py$
  uv-sync: any of: ^(uv\.lock|pyproject\.toml)$
  local-install-dodal: any of: ^(uv\.lock|pyproject\.toml)$
