Repository DiamondLightSource/mx-bluesky: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, type-checking, import-contracts, uv-sync, local-install-dodal

ruff:
  name: lint with ruff
  language: system
  entry: ruff check --force-exclude --fix
  require_serial: true

ruff-format:
  name: format with ruff
  language: system
  entry: ruff format --force-exclude
  require_serial: true

type-checking:
  name: type-checking with pyright
  language: system
  entry: tox -e type-checking
  require_serial: true

import-contracts:
  name: Ensure import directionality
  pass_filenames: false
  language: system
  entry: lint-imports
  require_serial: false

uv-sync:
  name: update uv.lock and venv
  pass_filenames: false
  language: system
  entry: uv sync

local-install-dodal:
  name: editable install of dodal
  language: system
  pass_filenames: false
  entry: uv pip install -e ../dodal

Pass in xrc and snapshot directory from agamemnon
  src/mx_bluesky/hyperion/blueapi/parameters.py
  src/mx_bluesky/hyperion/external_interaction/agamemnon.py
  tests/test_data/agamemnon/example_collect_multipin.json
  tests/test_data/agamemnon/example_native.json
  tests/test_data/parameter_json_files/external_load_centre_collect_params.json
  tests/test_data/parameter_json_files/external_load_centre_collect_params_multipin.json
  tests/unit_tests/hyperion/external_interaction/test_agamemnon.py
Due: ruff, ruff-format, type-checking, import-contracts

Add TODO re storage directory
  src/mx_bluesky/common/parameters/components.py
Due: ruff, ruff-format, type-checking, import-contracts

Revert doc changes
  docs/user/hyperion/configuration.rst
Due: none

Rename jpegs_prefix to jpegs_dir
  src/mx_bluesky/hyperion/external_interaction/agamemnon.py
  tests/test_data/agamemnon/example_collect_multipin.json
  tests/test_data/agamemnon/example_native.json
Due: ruff, ruff-format, type-checking, import-contracts

Improve the mx-bluesky PR template
  pull_request_template.md
Due: none

Update uv.lock
  uv.lock
Due: uv-sync, local-install-dodal

Add GridScanParams, initial fixups
  src/mx_bluesky/beamlines/i02_1/i02_1_gridscan_plan.py
  src/mx_bluesky/common/experiment_plans/common_flyscan_xray_centre_plan.py
  src/mx_bluesky/common/experiment_plans/common_grid_detect_then_xray_centre_plan.py
  src/mx_bluesky/common/experiment_plans/oav_grid_detection_plan.py
  src/mx_bluesky/common/external_interaction/callbacks/common/grid_detection_callback.py
  src/mx_bluesky/common/parameters/gridscan.py
  src/mx_bluesky/hyperion/experiment_plans/hyperion_flyscan_xray_centre_plan.py
  src/mx_bluesky/hyperion/parameters/gridscan.py
  tests/unit_tests/common/experiment_plans/test_grid_detection_plan.py
Due: ruff, ruff-format, type-checking, import-contracts

Refactor grid scan params - separate grid scan and grid detect params
  src/mx_bluesky/beamlines/i04/experiment_plans/i04_grid_detect_then_xray_centre_plan.py
  src/mx_bluesky/common/experiment_plans/change_aperture_then_move_plan.py
  src/mx_bluesky/common/experiment_plans/common_grid_detect_then_xray_centre_plan.py
  src/mx_bluesky/common/experiment_plans/inner_plans/xrc_results_utils.py
  src/mx_bluesky/common/parameters/gridscan.py
  src/mx_bluesky/hyperion/experiment_plans/pin_centre_then_gridscan_plan.py
  tests/conftest.py
  tests/system_tests/hyperion/external_interaction/callbacks/test_external_callbacks.py
  tests/unit_tests/beamlines/i02_1/test_i02_1_gridscan_plan.py
  tests/unit_tests/beamlines/i04/test_i04_grid_detect_then_xray_centre_plan.py
  tests/unit_tests/common/experiment_plans/test_change_aperture_then_move_plan.py
  tests/unit_tests/common/experiment_plans/test_common_flyscan_xray_centre_plan.py
  tests/unit_tests/common/experiment_plans/test_common_grid_detect_then_xray_centre_plan.py
  tests/unit_tests/common/utils/test_xrc_result.py
  tests/unit_tests/hyperion/experiment_plans/conftest.py
  tests/unit_tests/hyperion/experiment_plans/test_hyperion_flyscan_xray_centre_plan.py
  tests/unit_tests/hyperion/experiment_plans/test_pin_centre_then_xray_centre_plan.py
  tests/unit_tests/hyperion/external_interaction/nexus/test_write_nexus.py
  tests/unit_tests/hyperion/parameters/test_parameter_model.py
Due: ruff, ruff-format, type-checking, import-contracts

Fixup axis bounds checking on xrc results
  src/mx_bluesky/common/experiment_plans/inner_plans/xrc_results_utils.py
  tests/system_tests/hyperion/external_interaction/test_load_centre_collect_full_plan.py
Due: ruff, ruff-format, type-checking, import-contracts

Additional docs for GridScanParams Minor fix to grid_position_to_motor_position Remove assertions in grid_position_to_motor_position More clearly define semantics of omega_starts_deg
  src/mx_bluesky/common/experiment_plans/common_grid_detect_then_xray_centre_plan.py
  src/mx_bluesky/common/experiment_plans/inner_plans/xrc_results_utils.py
  src/mx_bluesky/common/parameters/gridscan.py
  tests/unit_tests/common/utils/test_xrc_result.py
Due: ruff, ruff-format, type-checking, import-contracts

Added two parameters and a change to chip collect i24
  src/mx_bluesky/beamlines/i24/serial/fixed_target/i24ssx_chip_collect_py3v1.py
  uv.lock
Due: ruff, ruff-format, type-checking, import-contracts, uv-sync, local-install-dodal

Changes
  docs/images/motor coordinate systems.odg
  src/mx_bluesky/beamlines/i24/serial/blueapi_config.yaml
  src/mx_bluesky/beamlines/i24/serial/fixed_target/i24ssx_Chip_Collect_py3v1.py
  src/mx_bluesky/beamlines/i24/serial/parameters/fixed_target/cs/cs_maker.json
  src/mx_bluesky/common/experiment_plans/inner_plans/__init__ .py
Due: ruff, ruff-format, type-checking, import-contracts

Fix imports for beam_centre device for i04
  pyproject.toml
  src/mx_bluesky/beamlines/i04/oav_centering_plans/oav_imaging.py
  tests/unit_tests/beamlines/i04/test_oav_imaging.py
  uv.lock
Due: ruff, ruff-format, type-checking, import-contracts, uv-sync, local-install-dodal

Make ruff happy
  src/mx_bluesky/hyperion/external_interaction/agamemnon.py
  uv.lock
Due: ruff, ruff-format, type-checking, import-contracts, uv-sync, local-install-dodal

Fix imports for beam_centre device for i04 (#1790)
  pyproject.toml
  src/mx_bluesky/beamlines/i04/oav_centering_plans/oav_imaging.py
  tests/unit_tests/beamlines/i04/test_oav_imaging.py
  uv.lock
Due: ruff, ruff-format, type-checking, import-contracts, uv-sync, local-install-dodal

Add retry, error handling for agamemnon and blueapi requests (#1690)
  docs/user/hyperion/advanced/alerts.rst
  src/mx_bluesky/common/external_interaction/alerting/_service.py
  src/mx_bluesky/common/external_interaction/alerting/log_based_service.py
  src/mx_bluesky/common/external_interaction/callbacks/sample_handling/sample_handling_callback.py
  src/mx_bluesky/hyperion/external_interaction/agamemnon.py
  src/mx_bluesky/hyperion/supervisor/_supervisor.py
  src/mx_bluesky/hyperion/supervisor/_task_monitor.py
  tests/unit_tests/common/external_interaction/alerting/alerting/test_alerting.py
  tests/unit_tests/common/external_interaction/callbacks/sample_handling/test_sample_handling_callback.py
  tests/unit_tests/hyperion/external_interaction/test_agamemnon.py
  tests/unit_tests/hyperion/supervisor/test_supervisor.py
  tests/unit_tests/hyperion/supervisor/test_task_monitor.py
Due: ruff, ruff-format, type-checking, import-contracts

Agamemnon now specifies separate locations for snapshot images and xrc data (#1783)
  src/mx_bluesky/common/parameters/components.py
  src/mx_bluesky/hyperion/blueapi/parameters.py
  src/mx_bluesky/hyperion/external_interaction/agamemnon.py
  tests/test_data/agamemnon/example_collect_multipin.json
  tests/test_data/agamemnon/example_native.json
  tests/test_data/parameter_json_files/external_load_centre_collect_params.json
  tests/test_data/parameter_json_files/external_load_centre_collect_params_multipin.json
  tests/unit_tests/hyperion/experiment_plans/test_load_centre_collect_full_plan.py
  tests/unit_tests/hyperion/external_interaction/test_agamemnon.py
Due: ruff, ruff-format, type-checking, import-contracts

Remove call to generate plantuml
  docs/developer/hyperion/reference/param-hierarchy.rst
  pyproject.toml
Due: uv-sync, local-install-dodal

Removed redundant grid classes, test files
  src/mx_bluesky/common/external_interaction/nexus/write_nexus.py
  src/mx_bluesky/common/parameters/gridscan.py
  src/mx_bluesky/hyperion/parameters/robot_load.py
  tests/conftest.py
  tests/system_tests/hyperion/external_interaction/conftest.py
  tests/test_data/parameter_json_files/good_test_grid_with_edge_detect_parameters.json
  tests/test_data/parameter_json_files/good_test_specified_three_d_grid_params.json
  tests/unit_tests/beamlines/i04/test_i04_grid_detect_then_xray_centre_plan.py
  tests/unit_tests/common/experiment_plans/test_grid_detection_plan.py
  tests/unit_tests/common/parameters/test_gridscan.py
  tests/unit_tests/conftest.py
Due: ruff, ruff-format, type-checking, import-contracts

Make pyright happy
  src/mx_bluesky/beamlines/i04/experiment_plans/i04_grid_detect_then_xray_centre_plan.py
  src/mx_bluesky/common/experiment_plans/change_aperture_then_move_plan.py
  src/mx_bluesky/hyperion/external_interaction/callbacks/rotation/nexus_callback.py
  tests/unit_tests/beamlines/i04/test_i04_grid_detect_then_xray_centre_plan.py
Due: ruff, ruff-format, type-checking, import-contracts

Remove a couple of minor unused things
  src/mx_bluesky/common/parameters/components.py
  src/mx_bluesky/common/parameters/gridscan.py
Due: ruff, ruff-format, type-checking, import-contracts

WIP external callbacks refactored, tests still broken
  src/mx_bluesky/beamlines/i02_1/composites.py
  src/mx_bluesky/beamlines/i02_1/external_interaction/callbacks/gridscan/ispyb_callback.py
  src/mx_bluesky/beamlines/i02_1/i02_1_gridscan_plan.py
  src/mx_bluesky/beamlines/i02_1/parameters/gridscan.py
  src/mx_bluesky/common/experiment_plans/common_flyscan_xray_centre_plan.py
  src/mx_bluesky/common/experiment_plans/common_grid_detect_then_xray_centre_plan.py
  src/mx_bluesky/common/external_interaction/callbacks/common/ispyb_callback_base.py
  src/mx_bluesky/common/external_interaction/callbacks/common/ispyb_mapping.py
  src/mx_bluesky/common/external_interaction/callbacks/grid/grid_detect_and_scan/ispyb_callback.py
  src/mx_bluesky/common/external_interaction/callbacks/grid/grid_detect_and_scan/nexus_callback.py
  src/mx_bluesky/common/external_interaction/callbacks/grid/gridscan/ispyb_callback.py
  src/mx_bluesky/common/external_interaction/callbacks/grid/utils.py
  src/mx_bluesky/common/external_interaction/nexus/write_nexus.py
  src/mx_bluesky/common/parameters/gridscan.py
  src/mx_bluesky/hyperion/experiment_plans/pin_centre_then_gridscan_plan.py
  src/mx_bluesky/hyperion/experiment_plans/pin_centre_then_xray_centre.py
  src/mx_bluesky/hyperion/experiment_plans/robot_load_then_centre_plan.py
  src/mx_bluesky/hyperion/external_interaction/callbacks/__main__.py
  src/mx_bluesky/hyperion/external_interaction/callbacks/rotation/ispyb_callback.py
  src/mx_bluesky/hyperion/external_interaction/callbacks/rotation/nexus_callback.py
  tests/system_tests/hyperion/external_interaction/callbacks/test_external_callbacks.py
  tests/unit_tests/hyperion/experiment_plans/test_pin_centre_then_xray_centre_plan.py
Due: ruff, ruff-format, type-checking, import-contracts

Remove unneeded full parameters from run_gridscan
  src/mx_bluesky/common/experiment_plans/common_flyscan_xray_centre_plan.py
  tests/unit_tests/common/experiment_plans/test_common_flyscan_xray_centre_plan.py
Due: ruff, ruff-format, type-checking, import-contracts

WIP only 3 unit tests failing
  src/mx_bluesky/common/parameters/gridscan.py
  src/mx_bluesky/common/parameters/rotation.py
  src/mx_bluesky/hyperion/parameters/gridscan.py
  tests/unit_tests/common/parameters/test_gridscan.py
  tests/unit_tests/hyperion/experiment_plans/conftest.py
  tests/unit_tests/hyperion/experiment_plans/test_hyperion_flyscan_xray_centre_plan.py
  tests/unit_tests/hyperion/experiment_plans/test_pin_centre_then_xray_centre_plan.py
  tests/unit_tests/hyperion/experiment_plans/test_robot_load_then_centre.py
  tests/unit_tests/hyperion/external_interaction/conftest.py
  tests/unit_tests/hyperion/external_interaction/nexus/test_write_nexus.py
  tests/unit_tests/hyperion/parameters/test_parameter_model.py
Due: ruff, ruff-format, type-checking, import-contracts

WIP DetectorParams changes
  src/mx_bluesky/beamlines/i02_1/external_interaction/callbacks/gridscan/ispyb_callback.py
  src/mx_bluesky/beamlines/i02_1/i02_1_gridscan_plan.py
  src/mx_bluesky/beamlines/i04/experiment_plans/i04_grid_detect_then_xray_centre_plan.py
  src/mx_bluesky/common/experiment_plans/common_grid_detect_then_xray_centre_plan.py
  src/mx_bluesky/common/external_interaction/callbacks/common/ispyb_callback_base.py
  src/mx_bluesky/common/external_interaction/callbacks/grid/grid_detect_and_scan/ispyb_callback.py
  src/mx_bluesky/common/external_interaction/callbacks/grid/gridscan/ispyb_callback.py
  src/mx_bluesky/common/parameters/components.py
  src/mx_bluesky/common/parameters/gridscan.py
  src/mx_bluesky/common/parameters/rotation.py
  src/mx_bluesky/hyperion/experiment_plans/pin_centre_then_gridscan_plan.py
  src/mx_bluesky/hyperion/experiment_plans/pin_centre_then_xray_centre.py
  src/mx_bluesky/hyperion/experiment_plans/robot_load_then_centre_plan.py
  src/mx_bluesky/hyperion/external_interaction/callbacks/rotation/ispyb_callback.py
  src/mx_bluesky/hyperion/parameters/gridscan.py
  tests/conftest.py
  tests/system_tests/hyperion/external_interaction/callbacks/test_external_callbacks.py
  tests/system_tests/hyperion/external_interaction/test_ispyb_dev_connection.py
  tests/test_data/parameter_json_files/internal/minimal_diffraction_expt_with_sample.json
  tests/unit_tests/beamlines/i02_1/test_gridscan_ispyb_callback.py
  tests/unit_tests/beamlines/i02_1/test_i02_1_gridscan_plan.py
  tests/unit_tests/beamlines/i04/test_i04_grid_detect_then_xray_centre_plan.py
  tests/unit_tests/common/experiment_plans/test_common_flyscan_xray_centre_plan.py
  tests/unit_tests/common/experiment_plans/test_common_grid_detect_then_xray_centre_plan.py
  tests/unit_tests/common/experiment_plans/test_grid_detection_plan.py
  tests/unit_tests/common/external_interaction/callbacks/grid/test_ispyb_gridscan_callback.py
  tests/unit_tests/common/parameters/test_gridscan.py
  tests/unit_tests/conftest.py
  tests/unit_tests/hyperion/device_setup_plans/test_utils.py
  tests/unit_tests/hyperion/experiment_plans/test_hyperion_flyscan_xray_centre_plan.py
  tests/unit_tests/hyperion/experiment_plans/test_pin_centre_then_xray_centre_plan.py
  tests/unit_tests/hyperion/external_interaction/nexus/test_write_nexus.py
  tests/unit_tests/hyperion/parameters/test_parameter_model.py
Due: ruff, ruff-format, type-checking, import-contracts

Prevent directory reads in CI
  tests/unit_tests/hyperion/external_interaction/test_agamemnon.py
Due: ruff, ruff-format, type-checking, import-contracts

WIP more unit tests working
  src/mx_bluesky/beamlines/i02_1/external_interaction/callbacks/gridscan/ispyb_callback.py
  src/mx_bluesky/beamlines/i02_1/i02_1_gridscan_plan.py
  src/mx_bluesky/common/experiment_plans/common_flyscan_xray_centre_plan.py
  src/mx_bluesky/common/experiment_plans/common_grid_detect_then_xray_centre_plan.py
  src/mx_bluesky/common/external_interaction/callbacks/common/ispyb_callback_base.py
  src/mx_bluesky/common/external_interaction/callbacks/grid/grid_detect_and_scan/ispyb_callback.py
  src/mx_bluesky/common/external_interaction/callbacks/grid/grid_detect_and_scan/nexus_callback.py
  src/mx_bluesky/common/external_interaction/callbacks/grid/gridscan/ispyb_callback.py
  src/mx_bluesky/common/external_interaction/nexus/write_nexus.py
  src/mx_bluesky/common/parameters/gridscan.py
  src/mx_bluesky/common/parameters/rotation.py
  src/mx_bluesky/hyperion/experiment_plans/pin_centre_then_gridscan_plan.py
  src/mx_bluesky/hyperion/experiment_plans/robot_load_then_centre_plan.py
  src/mx_bluesky/hyperion/external_interaction/callbacks/rotation/ispyb_callback.py
  src/mx_bluesky/hyperion/parameters/gridscan.py
  tests/conftest.py
  tests/system_tests/hyperion/external_interaction/callbacks/test_external_callbacks.py
  tests/system_tests/hyperion/external_interaction/test_ispyb_dev_connection.py
  tests/test_data/parameter_json_files/internal/gridscan_callback_test_main_params.json
  tests/test_data/parameter_json_files/internal/minimal_diffraction_expt_with_sample.json
  tests/test_data/parameter_json_files/internal/nexus_test_gridscan_params.json
  tests/unit_tests/beamlines/i02_1/test_gridscan_ispyb_callback.py
  tests/unit_tests/common/conftest.py
  tests/unit_tests/common/experiment_plans/test_common_flyscan_xray_centre_plan.py
  tests/unit_tests/common/experiment_plans/test_common_grid_detect_then_xray_centre_plan.py
  tests/unit_tests/common/experiment_plans/test_grid_detection_plan.py
  tests/unit_tests/common/external_interaction/callbacks/common/test_ispyb_callback_base.py
  tests/unit_tests/common/external_interaction/callbacks/grid/test_ispyb_gridscan_callback.py
  tests/unit_tests/common/external_interaction/callbacks/grid/test_utils.py
  tests/unit_tests/common/parameters/test_gridscan.py
  tests/unit_tests/conftest.py
  tests/unit_tests/hyperion/conftest.py
  tests/unit_tests/hyperion/device_setup_plans/test_utils.py
  tests/unit_tests/hyperion/experiment_plans/test_hyperion_flyscan_xray_centre_plan.py
  tests/unit_tests/hyperion/experiment_plans/test_pin_centre_then_xray_centre_plan.py
  tests/unit_tests/hyperion/external_interaction/nexus/test_write_nexus.py
Due: ruff, ruff-format, type-checking, import-contracts

WIP - src is refactored, tests still all broken
  src/mx_bluesky/beamlines/i02_1/external_interaction/callbacks/gridscan/ispyb_callback.py
  src/mx_bluesky/beamlines/i02_1/i02_1_gridscan_plan.py
  src/mx_bluesky/beamlines/i02_1/parameters/gridscan.py
  src/mx_bluesky/beamlines/i04/experiment_plans/i04_grid_detect_then_xray_centre_plan.py
  src/mx_bluesky/common/experiment_plans/common_flyscan_xray_centre_plan.py
  src/mx_bluesky/common/experiment_plans/common_grid_detect_then_xray_centre_plan.py
  src/mx_bluesky/common/parameters/components.py
  src/mx_bluesky/common/parameters/device_composites.py
  src/mx_bluesky/common/parameters/gridscan.py
  src/mx_bluesky/hyperion/device_setup_plans/utils.py
  src/mx_bluesky/hyperion/experiment_plans/hyperion_flyscan_xray_centre_plan.py
  src/mx_bluesky/hyperion/experiment_plans/pin_centre_then_gridscan_plan.py
  src/mx_bluesky/hyperion/experiment_plans/pin_centre_then_xray_centre.py
  src/mx_bluesky/hyperion/experiment_plans/robot_load_then_centre_plan.py
  src/mx_bluesky/hyperion/parameters/device_composites.py
  src/mx_bluesky/hyperion/parameters/gridscan.py
  src/mx_bluesky/hyperion/parameters/robot_load.py
Due: ruff, ruff-format, type-checking, import-contracts

Fixup images
  docs/developer/hyperion/reference/param-hierarchy.rst
  docs/images/internal_params_gridscan.png
  docs/images/internal_params_rotation.png
Due: none

Unit tests passing
  tests/unit_tests/beamlines/i04/test_i04_grid_detect_then_xray_centre_plan.py
  tests/unit_tests/common/external_interaction/xray_centre/test_ispyb_mapping.py
  tests/unit_tests/hyperion/parameters/test_parameter_model.py
Due: ruff, ruff-format, type-checking, import-contracts

Tidy up various TODOs Remove obsolete plantUML diagram
  docs/developer/hyperion/reference/gridscan.puml
  src/mx_bluesky/common/experiment_plans/common_grid_detect_then_xray_centre_plan.py
  src/mx_bluesky/hyperion/experiment_plans/robot_load_then_centre_plan.py
  tests/unit_tests/hyperion/experiment_plans/test_pin_centre_then_xray_centre_plan.py
Due: ruff, ruff-format, type-checking, import-contracts

Fix nexus tests for full_num_of_images
  tests/unit_tests/hyperion/external_interaction/nexus/test_compare_nexus_to_gda_exhaustively.py
  tests/unit_tests/hyperion/external_interaction/test_write_rotation_nexus.py
Due: ruff, ruff-format, type-checking, import-contracts

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  type-checking: any of: \.py$
  import-contracts: any of: \.py$
  uv-sync: any of: ^(uv\.lock|pyproject\.toml)$
  local-install-dodal: any of: ^(uv\.lock|pyproject\.toml)$
