Repository DiamondLightSource/mx-bluesky: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, type-checking, import-contracts, uv-sync, local-install-dodal

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=500"]
        exclude: ^uv.lock
      - id: check-yaml
        args: ["--allow-multiple-documents"]
        exclude: ^helm/
      - id: check-merge-conflict
      - id: end-of-file-fixer

  - repo: local
    hooks:
      - id: ruff
        name: lint with ruff
        language: system
        entry: ruff check --force-exclude --fix
        types: [python]
        require_serial: true

      - id: ruff-format
        name: format with ruff
        language: system
        entry: ruff format --force-exclude
        types: [python]
        require_serial: true
      
      - id: type-checking
        name: type-checking with pyright
        language: system
        entry: tox -e type-checking
        types: [python]
        require_serial: true

      - id: import-contracts
        name: Ensure import directionality
        pass_filenames: false
        language: system
        entry: lint-imports
        types: [python]
        require_serial: false

      - id: lock dodal
        name: keep dodal up to date in lockfile
        pass_filenames: false
        language: system
        entry: uv lock --upgrade-package dls-dodal

      - id: uv-sync
        name: update uv.lock and venv
        pass_filenames: false
        language: system
        entry: uv sync
        files: ^(uv\.lock|pyproject\.toml)$

      - id: local-install-dodal
        name: editable install of dodal
        language: system
        pass_filenames: false
        entry: uv pip install -e ../dodal
        files: ^(uv\.lock|pyproject\.toml)$

  # Type checking
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.19.1
    hooks:
      - id: mypy
        files: 'src/.*\.py$'
        additional_dependencies: [types-requests, types-redis, pydantic]
        args: ["--ignore-missing-imports", "--no-strict-optional"]

  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.28.0
    hooks:
      - id: gitleaks

Fix test
  src/mx_bluesky/common/device_setup_plans/setup_oav.py
Due: ruff, ruff-format, type-checking, import-contracts

Fix test and make the direction explicit
  src/mx_bluesky/common/device_setup_plans/setup_oav.py
Due: ruff, ruff-format, type-checking, import-contracts

Update setup_oav to use plan moved to dodal (#1577)
  src/mx_bluesky/common/device_setup_plans/setup_oav.py
Due: ruff, ruff-format, type-checking, import-contracts

WIP - some detector and gridscan functions relocated Some system tests and unit tests fixed
  src/mx_bluesky/beamlines/i02_1/i02_1_gridscan_plan.py
  src/mx_bluesky/beamlines/i04/experiment_plans/i04_grid_detect_then_xray_centre_plan.py
  src/mx_bluesky/beamlines/i24/jungfrau_commissioning/experiment_plans/rotation_scan_plan.py
  src/mx_bluesky/common/device_setup_plans/detector/beamline_specific.py
  src/mx_bluesky/common/device_setup_plans/detector/eiger.py
  src/mx_bluesky/common/device_setup_plans/detector/fastcs_eiger.py
  src/mx_bluesky/common/device_setup_plans/gridscan/__init__.py
  src/mx_bluesky/common/device_setup_plans/gridscan/beamline_specific.py
  src/mx_bluesky/common/device_setup_plans/gridscan/zebra.py
  src/mx_bluesky/common/device_setup_plans/utils.py
  src/mx_bluesky/common/experiment_plans/common_flyscan_xray_centre_plan.py
  src/mx_bluesky/common/experiment_plans/common_grid_detect_then_xray_centre_plan.py
  src/mx_bluesky/common/experiment_plans/inner_plans/do_fgs.py
  src/mx_bluesky/common/experiment_plans/inner_plans/read_hardware.py
  src/mx_bluesky/common/external_interaction/callbacks/common/zocalo_callback.py
  src/mx_bluesky/hyperion/device_setup_plans/gridscan.py
  src/mx_bluesky/hyperion/experiment_plans/hyperion_beamline_specific.py
  src/mx_bluesky/hyperion/experiment_plans/pin_centre_then_gridscan_plan.py
  src/mx_bluesky/hyperion/experiment_plans/pin_centre_then_xray_centre.py
  src/mx_bluesky/hyperion/experiment_plans/robot_load_then_centre_plan.py
  tests/system_tests/hyperion/external_interaction/test_ispyb_dev_connection.py
  tests/system_tests/hyperion/external_interaction/test_zocalo_system.py
  tests/unit_tests/beamlines/i02_1/test_gridscan_ispyb_callback.py
  tests/unit_tests/beamlines/i02_1/test_i02_1_gridscan_plan.py
  tests/unit_tests/beamlines/i24/jungfrau_commissioning/callbacks/test_metadata_writer.py
  tests/unit_tests/common/device_setup_plans/test_setup_zebra_and_shutter.py
  tests/unit_tests/common/experiment_plans/inner_plans/test_do_fgs.py
  tests/unit_tests/common/experiment_plans/test_common_flyscan_xray_centre_plan.py
  tests/unit_tests/common/experiment_plans/test_common_grid_detect_then_xray_centre_plan.py
  tests/unit_tests/common/external_interaction/xray_centre/test_ispyb_callback.py
  tests/unit_tests/common/utils/test_xrc_result.py
  tests/unit_tests/conftest.py
  tests/unit_tests/hyperion/experiment_plans/conftest.py
  tests/unit_tests/hyperion/experiment_plans/test_hyperion_flyscan_xray_centre_plan.py
Due: ruff, ruff-format, type-checking, import-contracts

Added two parameters and a change to chip collect i24
  src/mx_bluesky/beamlines/i24/serial/fixed_target/i24ssx_chip_collect_py3v1.py
Due: ruff, ruff-format, type-checking, import-contracts

Most type-checking fixed, some unit tests fixed
  src/mx_bluesky/beamlines/i04/experiment_plans/i04_grid_detect_then_xray_centre_plan.py
  src/mx_bluesky/common/device_setup_plans/detector/eiger.py
  src/mx_bluesky/common/experiment_plans/common_grid_detect_then_xray_centre_plan.py
  src/mx_bluesky/common/parameters/device_composites.py
  src/mx_bluesky/hyperion/blueapi/composites.py
  src/mx_bluesky/hyperion/experiment_plans/hyperion_beamline_specific.py
  src/mx_bluesky/hyperion/experiment_plans/rotation_scan_plan.py
  tests/conftest.py
  tests/unit_tests/beamlines/i04/conftest.py
  tests/unit_tests/common/experiment_plans/inner_plans/test_read_hardware.py
  tests/unit_tests/common/experiment_plans/test_common_flyscan_xray_centre_plan.py
  tests/unit_tests/common/experiment_plans/test_common_grid_detect_then_xray_centre_plan.py
  tests/unit_tests/common/experiment_plans/test_grid_detection_plan.py
  tests/unit_tests/common/external_interaction/callbacks/common/test_ispyb_callback_base.py
  tests/unit_tests/common/external_interaction/callbacks/grid/test_ispyb_gridscan_callback.py
  tests/unit_tests/common/external_interaction/callbacks/test_zocalo_handler.py
  tests/unit_tests/common/external_interaction/conftest.py
  tests/unit_tests/common/external_interaction/xray_centre/test_ispyb_callback.py
  tests/unit_tests/common/external_interaction/xray_centre/test_ispyb_handler.py
  tests/unit_tests/common/external_interaction/xray_centre/test_nexus_handler.py
  tests/unit_tests/common/utils/test_xrc_result.py
  tests/unit_tests/conftest.py
  tests/unit_tests/hyperion/experiment_plans/conftest.py
  tests/unit_tests/hyperion/experiment_plans/test_hyperion_flyscan_xray_centre_plan.py
  tests/unit_tests/hyperion/experiment_plans/test_pin_centre_then_xray_centre_plan.py
  tests/unit_tests/hyperion/experiment_plans/test_rotation_scan_plan.py
  tests/unit_tests/hyperion/external_interaction/callbacks/rotation/test_ispyb_callback.py
  tests/unit_tests/hyperion/external_interaction/callbacks/test_rotation_callbacks.py
  tests/unit_tests/hyperion/external_interaction/nexus/test_write_nexus.py
  tests/unit_tests/hyperion/parameters/test_parameter_model.py
Due: ruff, ruff-format, type-checking, import-contracts

Unit tests passing
  tests/unit_tests/hyperion/conftest.py
  tests/unit_tests/hyperion/device_setup_plans/test_setup_panda.py
  tests/unit_tests/hyperion/device_setup_plans/test_utils.py
  tests/unit_tests/hyperion/experiment_plans/test_robot_load_then_centre.py
  tests/unit_tests/hyperion/test_blueapi_plans.py
Due: ruff, ruff-format, type-checking, import-contracts

Fixup remaining unit tests Pin dodal to required branch
  pyproject.toml
  tests/unit_tests/hyperion/conftest.py
  tests/unit_tests/hyperion/device_setup_plans/test_setup_panda.py
  tests/unit_tests/hyperion/device_setup_plans/test_utils.py
  tests/unit_tests/hyperion/experiment_plans/test_robot_load_then_centre.py
Due: ruff, ruff-format, type-checking, import-contracts, uv-sync, local-install-dodal

System tests passing
  tests/system_tests/hyperion/conftest.py
Due: ruff, ruff-format, type-checking, import-contracts

Fix remaining type-checking issues
  tests/unit_tests/common/experiment_plans/inner_plans/test_do_fgs.py
  tests/unit_tests/common/experiment_plans/test_common_flyscan_xray_centre_plan.py
  tests/unit_tests/hyperion/device_setup_plans/test_utils.py
Due: ruff, ruff-format, type-checking, import-contracts

Remove call to set_detector_parameters
  src/mx_bluesky/common/experiment_plans/common_flyscan_xray_centre_plan.py
Due: ruff, ruff-format, type-checking, import-contracts

Change DiffractionEssentialDevices to a Protocol
  src/mx_bluesky/beamlines/i02_1/i02_1_gridscan_plan.py
  src/mx_bluesky/common/device_setup_plans/detector/beamline_specific.py
  src/mx_bluesky/common/device_setup_plans/detector/eiger.py
  src/mx_bluesky/common/device_setup_plans/detector/fastcs_eiger.py
  src/mx_bluesky/common/experiment_plans/inner_plans/do_fgs.py
  src/mx_bluesky/common/parameters/device_composites.py
  src/mx_bluesky/hyperion/blueapi/composites.py
  src/mx_bluesky/hyperion/experiment_plans/hyperion_beamline_specific.py
  src/mx_bluesky/hyperion/experiment_plans/pin_centre_then_gridscan_plan.py
  src/mx_bluesky/hyperion/experiment_plans/pin_centre_then_xray_centre.py
  tests/unit_tests/common/experiment_plans/inner_plans/test_do_fgs.py
  tests/unit_tests/common/experiment_plans/test_common_flyscan_xray_centre_plan.py
  tests/unit_tests/conftest.py
Due: ruff, ruff-format, type-checking, import-contracts

Update uv.lock
  uv.lock
Due: uv-sync, local-install-dodal

Make type-checking happy
  src/mx_bluesky/common/external_interaction/callbacks/common/ispyb_callback_base.py
  src/mx_bluesky/common/external_interaction/callbacks/grid/grid_detect_and_scan/event_mapping.py
  src/mx_bluesky/common/external_interaction/callbacks/grid/grid_detect_and_scan/ispyb_callback.py
  src/mx_bluesky/common/external_interaction/callbacks/grid/grid_detect_and_scan/nexus_callback.py
  src/mx_bluesky/common/external_interaction/callbacks/grid/gridscan/ispyb_callback.py
  src/mx_bluesky/hyperion/blueapi/plans.py
  src/mx_bluesky/hyperion/experiment_plans/robot_load_then_centre_plan.py
  src/mx_bluesky/hyperion/external_interaction/callbacks/rotation/ispyb_callback.py
  tests/unit_tests/common/external_interaction/xray_centre/test_nexus_handler.py
  tests/unit_tests/hyperion/device_setup_plans/test_setup_panda.py
Due: ruff, ruff-format, type-checking, import-contracts

Fixed test
  tests/unit_tests/beamlines/i24/serial/fixed_target/test_ft_collect.py
Due: ruff, ruff-format, type-checking, import-contracts

Changed values
  tests/unit_tests/beamlines/i24/serial/fixed_target/test_ft_collect.py
Due: ruff, ruff-format, type-checking, import-contracts

Change DiffractionExtendedDevices to a protocol
  src/mx_bluesky/beamlines/i02_1/i02_1_gridscan_plan.py
  src/mx_bluesky/beamlines/i04/experiment_plans/i04_grid_detect_then_xray_centre_plan.py
  src/mx_bluesky/common/device_setup_plans/detector/beamline_specific.py
  src/mx_bluesky/common/device_setup_plans/utils.py
  src/mx_bluesky/common/parameters/device_composites.py
  src/mx_bluesky/hyperion/blueapi/composites.py
  src/mx_bluesky/hyperion/experiment_plans/rotation_scan_plan.py
  tests/unit_tests/beamlines/i02_1/test_i02_1_gridscan_plan.py
  tests/unit_tests/beamlines/i04/conftest.py
  tests/unit_tests/conftest.py
  tests/unit_tests/hyperion/device_setup_plans/test_utils.py
  tests/unit_tests/hyperion/experiment_plans/test_robot_load_then_centre.py
Due: ruff, ruff-format, type-checking, import-contracts

Removed log
  tests/unit_tests/beamlines/i24/serial/fixed_target/test_ft_collect.py
Due: ruff, ruff-format, type-checking, import-contracts

Convert GridDetectAndGridScanExtendedDevices into a Protocol
  src/mx_bluesky/beamlines/i04/experiment_plans/i04_grid_detect_then_xray_centre_plan.py
  src/mx_bluesky/common/device_setup_plans/utils.py
  src/mx_bluesky/common/experiment_plans/common_grid_detect_then_xray_centre_plan.py
  src/mx_bluesky/common/experiment_plans/oav_grid_detection_plan.py
  src/mx_bluesky/common/parameters/device_composites.py
  src/mx_bluesky/hyperion/blueapi/composites.py
  src/mx_bluesky/hyperion/blueapi/plans.py
  src/mx_bluesky/hyperion/device_setup_plans/gridscan.py
  src/mx_bluesky/hyperion/device_setup_plans/utils.py
  src/mx_bluesky/hyperion/experiment_plans/hyperion_beamline_specific.py
  src/mx_bluesky/hyperion/experiment_plans/pin_centre_then_gridscan_plan.py
  src/mx_bluesky/hyperion/experiment_plans/pin_centre_then_xray_centre.py
  src/mx_bluesky/hyperion/experiment_plans/robot_load_then_centre_plan.py
  src/mx_bluesky/hyperion/experiment_plans/rotation_scan_plan.py
  tests/conftest.py
  tests/system_tests/hyperion/external_interaction/callbacks/test_external_callbacks.py
  tests/system_tests/hyperion/external_interaction/conftest.py
  tests/system_tests/hyperion/external_interaction/test_ispyb_dev_connection.py
  tests/system_tests/hyperion/external_interaction/test_load_centre_collect_full_plan.py
  tests/unit_tests/beamlines/i04/conftest.py
  tests/unit_tests/common/experiment_plans/test_common_grid_detect_then_xray_centre_plan.py
  tests/unit_tests/common/experiment_plans/test_grid_detection_plan.py
  tests/unit_tests/conftest.py
  tests/unit_tests/hyperion/experiment_plans/conftest.py
  tests/unit_tests/hyperion/experiment_plans/test_hyperion_flyscan_xray_centre_plan.py
  tests/unit_tests/hyperion/experiment_plans/test_pin_centre_then_xray_centre_plan.py
  tests/unit_tests/hyperion/experiment_plans/test_robot_load_then_centre.py
  tests/unit_tests/hyperion/test_baton_handler.py
Due: ruff, ruff-format, type-checking, import-contracts

Add GH issue links to TODOs
  src/mx_bluesky/common/device_setup_plans/detector/fastcs_eiger.py
  src/mx_bluesky/hyperion/experiment_plans/rotation_scan_plan.py
Due: ruff, ruff-format, type-checking, import-contracts

Add a GH issue reference for config server switch
  src/mx_bluesky/hyperion/blueapi/composites.py
Due: ruff, ruff-format, type-checking, import-contracts

Added two parameters and a change to chip collect i24 (#1806)
  src/mx_bluesky/beamlines/i24/serial/fixed_target/i24ssx_chip_collect_py3v1.py
  tests/unit_tests/beamlines/i24/serial/fixed_target/test_ft_collect.py
Due: ruff, ruff-format, type-checking, import-contracts

Fix system tests to use set_mock_attr
  tests/system_tests/conftest.py
  tests/system_tests/hyperion/external_interaction/conftest.py
  tests/system_tests/hyperion/external_interaction/test_load_centre_collect_full_plan.py
Due: ruff, ruff-format, type-checking, import-contracts

Change all reserved attribute sets in mocks to use set_mock_attr
  tests/conftest.py
  tests/unit_tests/beamlines/aithre_lasershaping/test_robot_load.py
  tests/unit_tests/beamlines/i04/test_oav_imaging.py
  tests/unit_tests/beamlines/i04/test_thawing.py
  tests/unit_tests/beamlines/i24/jungfrau_commissioning/experiment_plans/test_do_darks.py
  tests/unit_tests/beamlines/i24/jungfrau_commissioning/plan_stubs/test_plan_utils.py
  tests/unit_tests/beamlines/i24/jungfrau_commissioning/test_do_darks.py
  tests/unit_tests/beamlines/i24/jungfrau_commissioning/test_rotation_scan.py
  tests/unit_tests/beamlines/i24/serial/extruder/test_extruder_collect.py
  tests/unit_tests/beamlines/i24/serial/fixed_target/test_ft_collect.py
  tests/unit_tests/common/device_setup_plans/test_robot_load_unload.py
  tests/unit_tests/common/device_setup_plans/test_xbpm_feedback.py
  tests/unit_tests/common/experiment_plans/test_common_flyscan_xray_centre_plan.py
  tests/unit_tests/common/experiment_plans/test_pin_tip_centring.py
  tests/unit_tests/common/external_interaction/callbacks/common/test_snapshot_callback.py
  tests/unit_tests/common/preprocessors/test_preprocessors.py
  tests/unit_tests/conftest.py
  tests/unit_tests/hyperion/device_setup_plans/test_setup_oav.py
  tests/unit_tests/hyperion/device_setup_plans/test_utils.py
  tests/unit_tests/hyperion/experiment_plans/conftest.py
  tests/unit_tests/hyperion/experiment_plans/test_load_centre_collect_full_plan.py
  tests/unit_tests/hyperion/experiment_plans/test_optimise_attenuation_plan.py
  tests/unit_tests/hyperion/experiment_plans/test_robot_load_and_change_energy.py
  tests/unit_tests/hyperion/experiment_plans/test_rotation_scan_plan.py
Due: ruff, ruff-format, type-checking, import-contracts

Bump dodal version
  pyproject.toml
Due: uv-sync, local-install-dodal

Pin to ophyd-async 0.20.1 which has set_mock_attr
  pyproject.toml
Due: uv-sync, local-install-dodal

Pin dodal to main
  pyproject.toml
Due: uv-sync, local-install-dodal

Fix unit tests
  pyproject.toml
  src/mx_bluesky/hyperion/__main__.py
  src/mx_bluesky/hyperion/external_interaction/callbacks/__main__.py
  tests/system_tests/common/daq_config_server/test_daq_config_server.py
  tests/system_tests/conftest.py
  tests/system_tests/hyperion/external_interaction/test_load_centre_collect_full_plan.py
  tests/unit_tests/beamlines/i04/test_thawing.py
  tests/unit_tests/common/experiment_plans/test_common_grid_detect_then_xray_centre_plan.py
  tests/unit_tests/common/experiment_plans/test_grid_detection_plan.py
  tests/unit_tests/common/experiment_plans/test_oav_snapshot_plan.py
  tests/unit_tests/conftest.py
  tests/unit_tests/hyperion/device_setup_plans/test_setup_oav.py
  tests/unit_tests/hyperion/external_interaction/test_agamemnon.py
  tests/unit_tests/hyperion/test_main_system.py
Due: ruff, ruff-format, type-checking, import-contracts, uv-sync, local-install-dodal

Unpin ophyd-async
  pyproject.toml
Due: uv-sync, local-install-dodal

Make MyTestError uniform
  tests/unit_tests/hyperion/device_setup_plans/test_utils.py
Due: ruff, ruff-format, type-checking, import-contracts

Fix mx-bluesky to run against latest daq-config-server (#1812)
  pyproject.toml
  src/mx_bluesky/hyperion/__main__.py
  src/mx_bluesky/hyperion/external_interaction/callbacks/__main__.py
  tests/system_tests/common/daq_config_server/test_daq_config_server.py
  tests/system_tests/conftest.py
  tests/system_tests/hyperion/external_interaction/test_load_centre_collect_full_plan.py
  tests/unit_tests/beamlines/i04/test_thawing.py
  tests/unit_tests/common/experiment_plans/test_common_grid_detect_then_xray_centre_plan.py
  tests/unit_tests/common/experiment_plans/test_grid_detection_plan.py
  tests/unit_tests/common/experiment_plans/test_oav_snapshot_plan.py
  tests/unit_tests/conftest.py
  tests/unit_tests/hyperion/device_setup_plans/test_setup_oav.py
  tests/unit_tests/hyperion/external_interaction/test_agamemnon.py
  tests/unit_tests/hyperion/test_main_system.py
  uv.lock
Due: ruff, ruff-format, type-checking, import-contracts, uv-sync, local-install-dodal

Ophyd async reserved name fix, daq-config-server update (#1799)
  pyproject.toml
  src/mx_bluesky/hyperion/__main__.py
  src/mx_bluesky/hyperion/external_interaction/callbacks/__main__.py
  tests/conftest.py
  tests/system_tests/common/daq_config_server/test_daq_config_server.py
  tests/system_tests/conftest.py
  tests/system_tests/hyperion/external_interaction/conftest.py
  tests/system_tests/hyperion/external_interaction/test_load_centre_collect_full_plan.py
  tests/unit_tests/beamlines/aithre_lasershaping/test_robot_load.py
  tests/unit_tests/beamlines/i04/test_oav_imaging.py
  tests/unit_tests/beamlines/i04/test_thawing.py
  tests/unit_tests/beamlines/i24/jungfrau_commissioning/experiment_plans/test_do_darks.py
  tests/unit_tests/beamlines/i24/jungfrau_commissioning/plan_stubs/test_plan_utils.py
  tests/unit_tests/beamlines/i24/jungfrau_commissioning/test_do_darks.py
  tests/unit_tests/beamlines/i24/jungfrau_commissioning/test_rotation_scan.py
  tests/unit_tests/beamlines/i24/serial/extruder/test_extruder_collect.py
  tests/unit_tests/beamlines/i24/serial/fixed_target/test_ft_collect.py
  tests/unit_tests/common/device_setup_plans/test_robot_load_unload.py
  tests/unit_tests/common/device_setup_plans/test_xbpm_feedback.py
  tests/unit_tests/common/experiment_plans/test_common_flyscan_xray_centre_plan.py
  tests/unit_tests/common/experiment_plans/test_common_grid_detect_then_xray_centre_plan.py
  tests/unit_tests/common/experiment_plans/test_grid_detection_plan.py
  tests/unit_tests/common/experiment_plans/test_oav_snapshot_plan.py
  tests/unit_tests/common/experiment_plans/test_pin_tip_centring.py
  tests/unit_tests/common/external_interaction/callbacks/common/test_snapshot_callback.py
  tests/unit_tests/common/preprocessors/test_preprocessors.py
  tests/unit_tests/conftest.py
  tests/unit_tests/hyperion/device_setup_plans/test_setup_oav.py
  tests/unit_tests/hyperion/device_setup_plans/test_utils.py
  tests/unit_tests/hyperion/experiment_plans/conftest.py
  tests/unit_tests/hyperion/experiment_plans/test_load_centre_collect_full_plan.py
  tests/unit_tests/hyperion/experiment_plans/test_optimise_attenuation_plan.py
  tests/unit_tests/hyperion/experiment_plans/test_robot_load_and_change_energy.py
  tests/unit_tests/hyperion/experiment_plans/test_rotation_scan_plan.py
  tests/unit_tests/hyperion/external_interaction/test_agamemnon.py
  tests/unit_tests/hyperion/test_main_system.py
  uv.lock
Due: ruff, ruff-format, type-checking, import-contracts, uv-sync, local-install-dodal

Fix system tests for reserved attributes
  tests/system_tests/hyperion/external_interaction/conftest.py
  tests/system_tests/hyperion/external_interaction/test_load_centre_collect_full_plan.py
Due: ruff, ruff-format, type-checking, import-contracts
