Repository DiamondLightSource/mx-bluesky: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, type-checking, import-contracts, uv-sync, local-install-dodal

ruff:
  name: lint with ruff
  language: system
  entry: ruff check --force-exclude --fix
  require_serial: true

ruff-format:
  name: format with ruff
  language: system
  entry: ruff format --force-exclude
  require_serial: true

type-checking:
  name: type-checking with pyright
  language: system
  entry: tox -e type-checking
  require_serial: true

import-contracts:
  name: Ensure import directionality
  pass_filenames: false
  language: system
  entry: lint-imports
  require_serial: false

uv-sync:
  name: update uv.lock and venv
  pass_filenames: false
  language: system
  entry: uv sync

local-install-dodal:
  name: editable install of dodal
  language: system
  pass_filenames: false
  entry: uv pip install -e ../dodal

1714 supervisor doesnt initialise config server url (#1724)
  src/mx_bluesky/hyperion/__main__.py
  tests/unit_tests/hyperion/test_main_system.py
Due: ruff, ruff-format, type-checking, import-contracts

simplify hyperion restart (#1744)
  docs/user/hyperion/configuration.rst
  run_hyperion.sh
Due: none

Make ruff happy
  src/mx_bluesky/hyperion/__main__.py
Due: ruff, ruff-format, type-checking, import-contracts

Update Dockerfile.blueapi to generate the .venv correctly
  Dockerfile.blueapi
Due: none

Update uv.lock
  uv.lock
Due: uv-sync, local-install-dodal

Additional commentary in the blueapi Dockerfile to describe it
  Dockerfile.blueapi
Due: none

Update Dockerfile.blueapi to generate the .venv correctly (#1772)
  Dockerfile.blueapi
  src/mx_bluesky/hyperion/__main__.py
  uv.lock
Due: ruff, ruff-format, type-checking, import-contracts, uv-sync, local-install-dodal

Pin to dodal 2.5.1
  pyproject.toml
Due: uv-sync, local-install-dodal

Added plan to i23 init
  src/mx_bluesky/beamlines/i23/__init__.py
Due: ruff, ruff-format, type-checking, import-contracts

Wrapped plan with I23 specific plan
  src/mx_bluesky/beamlines/i23/__init__.py
  src/mx_bluesky/beamlines/i23/centering.py
  uv.lock
Due: ruff, ruff-format, type-checking, import-contracts, uv-sync, local-install-dodal

Updated Hello.py and centering.py
  src/mx_bluesky/beamlines/i23/centering.py
  src/mx_bluesky/beamlines/i23/hello.py
  uv.lock
Due: ruff, ruff-format, type-checking, import-contracts, uv-sync, local-install-dodal

Added hello world test plan to remove extra factors
  src/mx_bluesky/beamlines/i23/__init__.py
  src/mx_bluesky/beamlines/i23/hello.py
  uv.lock
Due: ruff, ruff-format, type-checking, import-contracts, uv-sync, local-install-dodal

Prevent uv sync from clobbering the python install and using a different one
  Dockerfile.blueapi
Due: none

Update blueapi dockerfile to allow blueapi scratch init to update the venv
  Dockerfile.blueapi
Due: none

This time really tell uv NOT to download python
  Dockerfile.blueapi
Due: none

Fixup permissions in the mx-bluesky-blueapi dockerfile, ensure that the application venv python does not get replaced with a different one.
  Dockerfile.blueapi
Due: none

Update entrypoint
  utility_scripts/docker/entrypoint.sh
Due: none

Update dockerfile to add user, group creation
  Dockerfile.hyperion
Due: none

Hyperion supervisor starts, revert statefulset back to deployment
  helm/hyperion-supervisor/templates/configmap.yaml
  helm/hyperion-supervisor/templates/deployment.yaml
Due: none

Additional debugging for initContainer
  helm/hyperion-supervisor/templates/deployment.yaml
  helm/rabbitmq/values.yaml
  utility_scripts/deploy/deploy_mx_bluesky_app_to_k8s.sh
  utility_scripts/docker/initialise_scratch.sh
Due: none

Tidy the initContainer script
  utility_scripts/docker/initialise_scratch.sh
Due: none

Add dodal to the dockerfile
  Dockerfile.hyperion
Due: none

Change ownership of image directories
  Dockerfile.hyperion
  helm/hyperion-supervisor/templates/deployment.yaml
Due: none

Update initialise_scratch to pip install mx-bluesky
  helm/hyperion-supervisor/templates/deployment.yaml
  utility_scripts/deploy/deploy_mx_bluesky_app_to_k8s.sh
  utility_scripts/docker/initialise_scratch.sh
Due: none

Changes to build docker image
  .dockerignore
  Dockerfile.hyperion
  utility_scripts/build_docker_image.sh
  utility_scripts/docker/initialise_scratch.sh
  utility_scripts/extract_version.sh
Due: none

Convert to statefulset
  helm/hyperion-supervisor/templates/statefulset.yaml
Due: none

WIP
  .github/workflows/_container.yml
  Dockerfile.hyperion
  docs/developer/general/explanations/containerised_mx_bluesky.rst
  utility_scripts/build_docker_image.sh
  utility_scripts/docker/entrypoint.sh
Due: none

Initial attempt at callbacks
  helm/hyperion-supervisor/templates/deployment.yaml
  helm/hyperion-supervisor/values.yaml
  helm/hyperion/Chart.yaml
  helm/hyperion/templates/configmap.yaml
  helm/hyperion/templates/deployment.yaml
  helm/hyperion/templates/service.yaml
  helm/hyperion/templates/volumes.yaml
  helm/hyperion/templates/zocalo-config.yaml
  helm/hyperion/values.yaml
  utility_scripts/docker/entrypoint.sh
Due: none

WIP
  helm/hyperion-supervisor/Chart.yaml
  helm/hyperion-supervisor/templates/deployment.yaml
  helm/hyperion-supervisor/templates/service.yaml
  helm/hyperion-supervisor/values.yaml
  helm/hyperion/templates/deployment.yaml
  helm/hyperion/templates/ingress.yaml
  helm/hyperion/templates/zocalo-config.yaml
  helm/hyperion/values.yaml
Due: none

Remove temporary scripts that we don't need
  utility_scripts/deploy/deploy_hyperion_supervisor.sh
  utility_scripts/extract_version.sh
Due: none

More tweaks for callbacks, remove entrypoint script
  Dockerfile.hyperion
  helm/hyperion/templates/deployment.yaml
  utility_scripts/deploy/deploy_mx_bluesky_app_to_k8s.sh
  utility_scripts/docker/entrypoint.sh
Due: none

Add some docs on the hyperion container setup
  docs/developer/general/explanations/containerised_mx_bluesky.rst
Due: none

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  type-checking: any of: \.py$
  import-contracts: any of: \.py$
  uv-sync: any of: ^(uv\.lock|pyproject\.toml)$
  local-install-dodal: any of: ^(uv\.lock|pyproject\.toml)$
