Repository DiamondLightSource/mx-bluesky: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, type-checking, import-contracts, uv-sync, local-install-dodal

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=500"]
        exclude: ^uv.lock
      - id: check-yaml
        args: ["--allow-multiple-documents"]
        exclude: ^helm/
      - id: check-merge-conflict
      - id: end-of-file-fixer

  - repo: local
    hooks:
      - id: ruff
        name: lint with ruff
        language: system
        entry: ruff check --force-exclude --fix
        types: [python]
        require_serial: true

      - id: ruff-format
        name: format with ruff
        language: system
        entry: ruff format --force-exclude
        types: [python]
        require_serial: true
      
      - id: type-checking
        name: type-checking with pyright
        language: system
        entry: tox -e type-checking
        types: [python]
        require_serial: true

      - id: import-contracts
        name: Ensure import directionality
        pass_filenames: false
        language: system
        entry: lint-imports
        types: [python]
        require_serial: false

      - id: lock dodal
        name: keep dodal up to date in lockfile
        pass_filenames: false
        language: system
        entry: uv lock --upgrade-package dls-dodal

      - id: uv-sync
        name: update uv.lock and venv
        pass_filenames: false
        language: system
        entry: uv sync
        files: ^(uv\.lock|pyproject\.toml)$

      - id: local-install-dodal
        name: editable install of dodal
        language: system
        pass_filenames: false
        entry: uv pip install -e ../dodal
        files: ^(uv\.lock|pyproject\.toml)$

  # Type checking
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.19.1
    hooks:
      - id: mypy
        files: 'src/.*\.py$'
        additional_dependencies: [types-requests, types-redis, pydantic]
        args: ["--ignore-missing-imports", "--no-strict-optional"]

  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.28.0
    hooks:
      - id: gitleaks

Remove grid_width_um and tip_offset_um from external load_centre_collect parameters, in favour of specifying the pin type.
  src/mx_bluesky/common/parameters/constants.py
  src/mx_bluesky/common/parameters/gridscan.py
  src/mx_bluesky/hyperion/blueapi/parameters.py
  src/mx_bluesky/hyperion/external_interaction/agamemnon.py
  src/mx_bluesky/hyperion/external_interaction/pin_type.py
  tests/system_tests/hyperion/external_interaction/test_agamemnon.py
  tests/test_data/parameter_json_files/external_load_centre_collect_params_multipin.json
  tests/unit_tests/hyperion/blueapi_plans/test_parameters.py
  tests/unit_tests/hyperion/external_interaction/test_agamemnon.py
Due: ruff, ruff-format, type-checking, import-contracts

Initial version of pin-tip-centre-and-xray-centre
  src/mx_bluesky/common/parameters/constants.py
  src/mx_bluesky/hyperion/blueapi/parameters.py
  src/mx_bluesky/hyperion/blueapi/plans.py
  src/mx_bluesky/hyperion/experiment_plans/load_centre_collect_full_plan.py
  src/mx_bluesky/hyperion/experiment_plans/pin_centre_then_gridscan_plan.py
  src/mx_bluesky/hyperion/experiment_plans/pin_centre_then_xray_centre.py
  src/mx_bluesky/hyperion/external_interaction/agamemnon.py
  src/mx_bluesky/hyperion/external_interaction/pin_type.py
  src/mx_bluesky/hyperion/parameters/constants.py
  src/mx_bluesky/hyperion/utils/centre_selection.py
  tests/system_tests/hyperion/external_interaction/test_agamemnon.py
  tests/unit_tests/hyperion/external_interaction/test_agamemnon.py
Due: ruff, ruff-format, type-checking, import-contracts

Additional test coverage
  src/mx_bluesky/hyperion/experiment_plans/pin_centre_then_xray_centre.py
  tests/unit_tests/hyperion/blueapi_plans/test_parameters.py
  tests/unit_tests/hyperion/experiment_plans/test_pin_centre_then_xray_centre_plan.py
  tests/unit_tests/hyperion/test_blueapi_plans.py
Due: ruff, ruff-format, type-checking, import-contracts

WIP
  src/mx_bluesky/hyperion/blueapi/plans.py
Due: ruff, ruff-format, type-checking, import-contracts

Fix broken test
  tests/unit_tests/hyperion/experiment_plans/test_pin_centre_then_xray_centre_plan.py
Due: ruff, ruff-format, type-checking, import-contracts

Introduce XYZWrappedOmegaStage
  src/mx_bluesky/beamlines/aithre_lasershaping/experiment_plans/robot_load_plan.py
  src/mx_bluesky/beamlines/aithre_lasershaping/robot_load.py
  src/mx_bluesky/common/experiment_plans/pin_tip_centring_plan.py
Due: ruff, ruff-format, type-checking, import-contracts

Move WrappedAxis to devices package
  src/mx_bluesky/common/parameters/device_composites.py
Due: ruff, ruff-format, type-checking, import-contracts

Pin dodal to branch dependency
  pyproject.toml
Due: uv-sync, local-install-dodal

Update uv.lock
  uv.lock
Due: uv-sync, local-install-dodal

Remove omega from CombinedMove
  src/mx_bluesky/common/device_setup_plans/manipulate_sample.py
  src/mx_bluesky/common/device_setup_plans/robot_load_unload.py
  src/mx_bluesky/hyperion/experiment_plans/pin_centre_then_gridscan_plan.py
  tests/unit_tests/common/device_setup_plans/test_robot_load_unload.py
  tests/unit_tests/hyperion/device_setup_plans/test_manipulate_sample.py
  tests/unit_tests/hyperion/experiment_plans/test_pin_centre_then_xray_centre_plan.py
Due: ruff, ruff-format, type-checking, import-contracts

Update robot load unit test to check omega is still set
  tests/unit_tests/common/device_setup_plans/test_robot_load_unload.py
Due: ruff, ruff-format, type-checking, import-contracts

Use config server for oav config (#1521)
  src/mx_bluesky/beamlines/i24/web_gui_plans/general_plans.py
  src/mx_bluesky/common/parameters/constants.py
  tests/conftest.py
  tests/system_tests/conftest.py
  tests/system_tests/hyperion/external_interaction/test_load_centre_collect_full_plan.py
  tests/test_data/oav/__init__.py
  tests/test_data/oav/jCameraManZoomLevels.json
  tests/test_data/oav/test_OAVCentring.json
  tests/test_data/oav/test_display.configuration
  tests/test_data/test_OAVCentring.json
  tests/test_data/test_daq_configuration/OAVCentring_hyperion.json
  tests/test_data/test_daq_configuration/display.configuration
  tests/test_data/test_display.configuration
  tests/test_data/test_jCameraManZoomLevels.xml
  tests/unit_tests/beamlines/i04/test_thawing.py
  tests/unit_tests/common/experiment_plans/test_common_grid_detect_then_xray_centre_plan.py
  tests/unit_tests/common/experiment_plans/test_grid_detection_plan.py
  tests/unit_tests/common/experiment_plans/test_oav_snapshot_plan.py
  tests/unit_tests/common/external_interaction/callbacks/common/test_snapshot_callback.py
  tests/unit_tests/common/parameters/test_constants.py
  tests/unit_tests/conftest.py
  tests/unit_tests/hyperion/device_setup_plans/test_setup_oav.py
Due: ruff, ruff-format, type-checking, import-contracts

Fix oav system tests
  tests/conftest.py
  tests/system_tests/conftest.py
  tests/system_tests/hyperion/external_interaction/test_load_centre_collect_full_plan.py
  tests/unit_tests/conftest.py
Due: ruff, ruff-format, type-checking, import-contracts

Pass in config client to oav params
  pyproject.toml
  src/mx_bluesky/common/experiment_plans/common_grid_detect_then_xray_centre_plan.py
  src/mx_bluesky/common/experiment_plans/pin_tip_centring_plan.py
  src/mx_bluesky/hyperion/experiment_plans/load_centre_collect_full_plan.py
  src/mx_bluesky/hyperion/experiment_plans/pin_centre_then_gridscan_plan.py
  src/mx_bluesky/hyperion/experiment_plans/rotation_scan_plan.py
  tests/unit_tests/common/experiment_plans/test_common_grid_detect_then_xray_centre_plan.py
  tests/unit_tests/common/experiment_plans/test_grid_detection_plan.py
  tests/unit_tests/common/experiment_plans/test_oav_snapshot_plan.py
  tests/unit_tests/hyperion/device_setup_plans/test_setup_oav.py
  uv.lock
Due: ruff, ruff-format, type-checking, import-contracts, uv-sync, local-install-dodal

Use different OAV fixture in system tests
  tests/conftest.py
  tests/system_tests/conftest.py
  tests/system_tests/hyperion/external_interaction/test_nexgen.py
  tests/unit_tests/conftest.py
Due: ruff, ruff-format, type-checking, import-contracts

Fix beamstop fixture for system tests
  tests/conftest.py
  tests/system_tests/conftest.py
  tests/system_tests/hyperion/external_interaction/conftest.py
  tests/system_tests/hyperion/external_interaction/test_load_centre_collect_full_plan.py
  tests/unit_tests/conftest.py
Due: ruff, ruff-format, type-checking, import-contracts

Update EDM for I24 detctor stage
  src/mx_bluesky/beamlines/i24/serial/extruder/EX-gui-edm/DetStage.edl
  src/mx_bluesky/beamlines/i24/serial/extruder/EX-gui-edm/DiamondExtruder-I24-py3v1.edl
  src/mx_bluesky/beamlines/i24/serial/extruder/EX-gui-edm/microdrop_alignment.edl
  src/mx_bluesky/beamlines/i24/serial/fixed_target/FT-gui-edm/DetStage.edl
  src/mx_bluesky/beamlines/i24/serial/fixed_target/FT-gui-edm/DiamondChipI24-py3v1.edl
  src/mx_bluesky/beamlines/i24/serial/fixed_target/FT-gui-edm/microdrop_alignment.edl
  uv.lock
Due: uv-sync, local-install-dodal

Various small changes
  src/mx_bluesky/beamlines/i24/serial/blueapi_config.yaml
  src/mx_bluesky/beamlines/i24/serial/parameters/fixed_target/cs/cs_maker.json
  src/mx_bluesky/beamlines/i24/serial/parameters/utils.py
  src/mx_bluesky/beamlines/i24/serial/run_fixed_target.sh
  tests/unit_tests/beamlines/i24/serial/fixed_target/test_chip_manager.py
  tests/unit_tests/beamlines/i24/serial/parameters/test_utils.py
  uv.lock
Due: ruff, ruff-format, type-checking, import-contracts, uv-sync, local-install-dodal

Try to update uv lock again
  uv.lock
Due: uv-sync, local-install-dodal

Various small changes (#1695)
  src/mx_bluesky/beamlines/i24/serial/blueapi_config.yaml
  src/mx_bluesky/beamlines/i24/serial/parameters/fixed_target/cs/cs_maker.json
  src/mx_bluesky/beamlines/i24/serial/parameters/utils.py
  src/mx_bluesky/beamlines/i24/serial/run_fixed_target.sh
  tests/unit_tests/beamlines/i24/serial/fixed_target/test_chip_manager.py
  tests/unit_tests/beamlines/i24/serial/parameters/test_utils.py
  uv.lock
Due: ruff, ruff-format, type-checking, import-contracts, uv-sync, local-install-dodal

Update EDM for I24 detctor stage (#1694)
  src/mx_bluesky/beamlines/i24/serial/extruder/EX-gui-edm/DetStage.edl
  src/mx_bluesky/beamlines/i24/serial/extruder/EX-gui-edm/DiamondExtruder-I24-py3v1.edl
  src/mx_bluesky/beamlines/i24/serial/extruder/EX-gui-edm/microdrop_alignment.edl
  src/mx_bluesky/beamlines/i24/serial/fixed_target/FT-gui-edm/DetStage.edl
  src/mx_bluesky/beamlines/i24/serial/fixed_target/FT-gui-edm/DiamondChipI24-py3v1.edl
  src/mx_bluesky/beamlines/i24/serial/fixed_target/FT-gui-edm/microdrop_alignment.edl
Due: none

Pinned dodal
  pyproject.toml
  uv.lock
Due: uv-sync, local-install-dodal

Don't import from tests in src
  src/mx_bluesky/common/parameters/constants.py
  uv.lock
Due: ruff, ruff-format, type-checking, import-contracts, uv-sync, local-install-dodal

Don't import from tests in src (#1696)
  src/mx_bluesky/common/parameters/constants.py
  uv.lock
Due: ruff, ruff-format, type-checking, import-contracts, uv-sync, local-install-dodal

Pin dodal
  pyproject.toml
  uv.lock
Due: uv-sync, local-install-dodal

Pass in config client to oav params
  pyproject.toml
  src/mx_bluesky/common/experiment_plans/common_grid_detect_then_xray_centre_plan.py
  src/mx_bluesky/common/experiment_plans/pin_tip_centring_plan.py
  src/mx_bluesky/hyperion/experiment_plans/load_centre_collect_full_plan.py
  src/mx_bluesky/hyperion/experiment_plans/pin_centre_then_gridscan_plan.py
  src/mx_bluesky/hyperion/experiment_plans/rotation_scan_plan.py
  tests/conftest.py
  tests/system_tests/hyperion/external_interaction/test_load_centre_collect_full_plan.py
  tests/unit_tests/common/experiment_plans/test_common_grid_detect_then_xray_centre_plan.py
  tests/unit_tests/common/experiment_plans/test_grid_detection_plan.py
  tests/unit_tests/common/experiment_plans/test_oav_snapshot_plan.py
  tests/unit_tests/hyperion/device_setup_plans/test_setup_oav.py
  uv.lock
Due: ruff, ruff-format, type-checking, import-contracts, uv-sync, local-install-dodal

Unpin dodal
  pyproject.toml
Due: uv-sync, local-install-dodal

Pass in config client to oav params (#1697)
  src/mx_bluesky/common/experiment_plans/common_grid_detect_then_xray_centre_plan.py
  src/mx_bluesky/common/experiment_plans/pin_tip_centring_plan.py
  src/mx_bluesky/hyperion/experiment_plans/load_centre_collect_full_plan.py
  src/mx_bluesky/hyperion/experiment_plans/pin_centre_then_gridscan_plan.py
  src/mx_bluesky/hyperion/experiment_plans/rotation_scan_plan.py
  tests/conftest.py
  tests/system_tests/hyperion/external_interaction/test_load_centre_collect_full_plan.py
  tests/unit_tests/common/experiment_plans/test_common_grid_detect_then_xray_centre_plan.py
  tests/unit_tests/common/experiment_plans/test_grid_detection_plan.py
  tests/unit_tests/common/experiment_plans/test_oav_snapshot_plan.py
  tests/unit_tests/hyperion/device_setup_plans/test_setup_oav.py
  uv.lock
Due: ruff, ruff-format, type-checking, import-contracts, uv-sync, local-install-dodal

External callbacks now have configurable config server URL
  src/mx_bluesky/hyperion/external_interaction/callbacks/__main__.py
  tests/unit_tests/hyperion/external_interaction/callbacks/test_external_callbacks.py
Due: ruff, ruff-format, type-checking, import-contracts

Set CONFIG_SERVER_URL in external callback unit tests
  tests/unit_tests/hyperion/external_interaction/callbacks/test_external_callbacks.py
Due: ruff, ruff-format, type-checking, import-contracts

Update uv.lock
  pyproject.toml
  uv.lock
Due: uv-sync, local-install-dodal

Additional documentation regarding environment variables
  docs/user/hyperion/advanced/advanced_configuration.rst
  docs/user/hyperion/configuration.rst
Due: none
