Repository DiamondLightSource/mx-bluesky: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, type-checking, import-contracts, uv-sync, local-install-dodal

ruff:
  name: lint with ruff
  language: system
  entry: ruff check --force-exclude --fix
  require_serial: true

ruff-format:
  name: format with ruff
  language: system
  entry: ruff format --force-exclude
  require_serial: true

type-checking:
  name: type-checking with pyright
  language: system
  entry: tox -e type-checking
  require_serial: true

import-contracts:
  name: Ensure import directionality
  pass_filenames: false
  language: system
  entry: lint-imports
  require_serial: false

uv-sync:
  name: update uv.lock and venv
  pass_filenames: false
  language: system
  entry: uv sync

local-install-dodal:
  name: editable install of dodal
  language: system
  pass_filenames: false
  entry: uv pip install -e ../dodal

Tweaks for vscode niceness
  .vscode/hyperion-k8s-scratch.code-workspace
  .vscode/launch.json
  Dockerfile.hyperion
  docs/developer/hyperion/how-to/debug-k8s.rst
  helm/hyperion/templates/deployment.yaml
Due: none

Disable debugging by default
  helm/hyperion/values.yaml
Due: none

Ensure manual helm upgrade retains previous pvc
  helm/hyperion/templates/volumes.yaml
Due: none

Update uv.lock
  uv.lock
Due: uv-sync, local-install-dodal

Updated probes and values
  src/mx_bluesky/beamlines/i24/serial/fixed_target/FT-gui-edm/DiamondChipI24-py3v1.edl
  src/mx_bluesky/beamlines/i24/serial/fixed_target/FT-gui-edm/pumpprobe-py3v1.edl
Due: none

General updates and fixes
  src/mx_bluesky/beamlines/i24/serial/blueapi_config.yaml
  src/mx_bluesky/beamlines/i24/serial/extruder/EX-gui-edm/DiamondExtruder-I24-py3v1.edl
  src/mx_bluesky/beamlines/i24/serial/extruder/i24ssx_extruder_collect_py3v2.py
  src/mx_bluesky/beamlines/i24/serial/fixed_target/FT-gui-edm/DiamondChipI24-py3v1.edl
  src/mx_bluesky/beamlines/i24/serial/fixed_target/FT-gui-edm/pumpprobe-py3v1.edl
  src/mx_bluesky/beamlines/i24/serial/parameters/fixed_target/cs/cs_maker.json
  src/mx_bluesky/beamlines/i24/serial/run_fixed_target.sh
  src/mx_bluesky/beamlines/i24/serial/setup_beamline/pv_abstract.py
  src/mx_bluesky/beamlines/i24/web_gui_plans/general_plans.py
  src/mx_bluesky/common/parameters/constants.py
  utility_scripts/procserv_ioc_start.sh
Due: ruff, ruff-format, type-checking, import-contracts

Extra files
  src/mx_bluesky/beamlines/i24/serial/extruder/EX-gui-edm/DiamondExtruder-I24-py3v1.edl
  tests/unit_tests/hyperion/external_interaction/test_data/dummy_2.nxs
  tests/unit_tests/hyperion/external_interaction/test_data/dummy_2_master.h5
Due: none

Add libnss / ldap user resolution to allow vscode to attach
  Dockerfile.hyperion
Due: none

Other probe updates and fixes
  src/mx_bluesky/beamlines/i24/serial/fixed_target/ft_utils.py
  src/mx_bluesky/beamlines/i24/serial/fixed_target/i24ssx_chip_collect_py3v1.py
  src/mx_bluesky/beamlines/i24/serial/fixed_target/i24ssx_chip_manager_py3v1.py
  tests/unit_tests/beamlines/i24/serial/fixed_target/test_chip_manager.py
Due: ruff, ruff-format, type-checking, import-contracts

I24 changes
  src/mx_bluesky/beamlines/i24/serial/blueapi_config.yaml
  src/mx_bluesky/beamlines/i24/serial/extruder/EX-gui-edm/DiamondExtruder-I24-py3v1.edl
  src/mx_bluesky/beamlines/i24/serial/extruder/i24ssx_extruder_collect_py3v2.py
  src/mx_bluesky/beamlines/i24/serial/fixed_target/FT-gui-edm/DiamondChipI24-py3v1.edl
  src/mx_bluesky/beamlines/i24/serial/fixed_target/FT-gui-edm/pumpprobe-py3v1.edl
  src/mx_bluesky/beamlines/i24/serial/fixed_target/i24ssx_chip_collect_py3v1.py
  src/mx_bluesky/beamlines/i24/serial/parameters/fixed_target/cs/cs_maker.json
  src/mx_bluesky/beamlines/i24/serial/run_fixed_target.sh
  src/mx_bluesky/beamlines/i24/serial/setup_beamline/pv_abstract.py
  src/mx_bluesky/beamlines/i24/web_gui_plans/general_plans.py
  utility_scripts/procserv_ioc_start.sh
  uv.lock
Due: ruff, ruff-format, type-checking, import-contracts, uv-sync, local-install-dodal

changed value test checks against
  tests/unit_tests/beamlines/i24/web_gui/test_general_plans.py
Due: ruff, ruff-format, type-checking, import-contracts

Change string octal back to decimal because K8s did not like it
  helm/hyperion/templates/deployment.yaml
Due: none

Fix volumeMounts for etc
  helm/hyperion/templates/deployment.yaml
Due: none

Explicitly override /etc/passwd and /etc/group because debugging requires it
  helm/hyperion/templates/configmap.yaml
  helm/hyperion/templates/deployment.yaml
Due: none

Use strings which are parsed as octal
  helm/hyperion/templates/deployment.yaml
Due: none

Enable a login shell for debugging
  helm/hyperion/templates/configmap.yaml
Due: none

Read the debug port for the callbacks
  src/mx_bluesky/hyperion/parameters/cli.py
  tests/unit_tests/hyperion/external_interaction/callbacks/test_external_callbacks.py
Due: ruff, ruff-format, type-checking, import-contracts

Increase resource limits for hyperion-scratch debug container
  helm/hyperion/templates/deployment.yaml
Due: none

Fix the callbacks debugging port config
  helm/hyperion/templates/deployment.yaml
Due: none

Reduce memory limit to be <= 10x requests
  helm/hyperion/templates/deployment.yaml
Due: none

Fix passwd file formatting, update docs
  docs/developer/hyperion/how-to/debug-k8s.rst
  helm/hyperion/templates/configmap.yaml
Due: none

Update configmap with home directory for debugging
  helm/hyperion/templates/configmap.yaml
Due: none

Add empty home for debugging
  helm/hyperion/templates/deployment.yaml
Due: none

Revert "Remove sleep 600 in lieu of teminationGracePeriodSeconds"
  helm/hyperion/templates/deployment.yaml
Due: none

Define the home directory for debugging
  helm/hyperion/templates/deployment.yaml
Due: none

Remove sleep 600 in lieu of teminationGracePeriodSeconds
  helm/hyperion/templates/deployment.yaml
Due: none

Remove terminationGracePeriodSeconds
  helm/hyperion/templates/deployment.yaml
  helm/hyperion/values.yaml
Due: none

Make hyperion baton user name configurable
  helm/hyperion/templates/deployment.yaml
  src/mx_bluesky/hyperion/__main__.py
  src/mx_bluesky/hyperion/baton_handler.py
  src/mx_bluesky/hyperion/parameters/cli.py
  tests/conftest.py
  tests/system_tests/hyperion/test_main_udc.py
  tests/unit_tests/hyperion/test_baton_handler.py
  tests/unit_tests/hyperion/test_main_system.py
Due: ruff, ruff-format, type-checking, import-contracts

Update docs to add information on how to deploy new versions of hyperion in k8s
  docs/developer/general/how-to/deploy-a-release.rst
  docs/developer/general/how-to/deploy-hyperion-k8s.rst
Due: none

Add missing docs page to the index
  docs/developer/general/index.rst
Due: none

Clean up commented code in i24ssx_chip_collect_py3v1.py
  src/mx_bluesky/beamlines/i24/serial/fixed_target/i24ssx_chip_collect_py3v1.py
Due: ruff, ruff-format, type-checking, import-contracts

Add TODO for moving configuration to file
  src/mx_bluesky/beamlines/i24/serial/setup_beamline/pv_abstract.py
Due: ruff, ruff-format, type-checking, import-contracts

Bluesky test log working, now just working on centering
  src/mx_bluesky/beamlines/i23/__init__.py
  src/mx_bluesky/beamlines/i23/centering.py
  src/mx_bluesky/beamlines/i23/hello.py
  src/mx_bluesky/beamlines/i23/test_logging.py
  uv.lock
Due: ruff, ruff-format, type-checking, import-contracts, uv-sync, local-install-dodal

Update
  src/mx_bluesky/beamlines/i24/serial/setup_beamline/pv_abstract.py
  uv.lock
Due: ruff, ruff-format, type-checking, import-contracts, uv-sync, local-install-dodal

I24 changes (#1703)
  src/mx_bluesky/beamlines/i24/serial/blueapi_config.yaml
  src/mx_bluesky/beamlines/i24/serial/extruder/EX-gui-edm/DiamondExtruder-I24-py3v1.edl
  src/mx_bluesky/beamlines/i24/serial/extruder/i24ssx_extruder_collect_py3v2.py
  src/mx_bluesky/beamlines/i24/serial/fixed_target/FT-gui-edm/DiamondChipI24-py3v1.edl
  src/mx_bluesky/beamlines/i24/serial/fixed_target/FT-gui-edm/pumpprobe-py3v1.edl
  src/mx_bluesky/beamlines/i24/serial/fixed_target/i24ssx_chip_collect_py3v1.py
  src/mx_bluesky/beamlines/i24/serial/parameters/fixed_target/cs/cs_maker.json
  src/mx_bluesky/beamlines/i24/serial/run_fixed_target.sh
  src/mx_bluesky/beamlines/i24/serial/setup_beamline/pv_abstract.py
  src/mx_bluesky/beamlines/i24/web_gui_plans/general_plans.py
  tests/unit_tests/beamlines/i24/web_gui/test_general_plans.py
  utility_scripts/procserv_ioc_start.sh
  uv.lock
Due: ruff, ruff-format, type-checking, import-contracts, uv-sync, local-install-dodal

WIP
  docs/user/hyperion/configuration.rst
  tests/unit_tests/hyperion/experiment_plans/test_load_centre_collect_full_plan.py
Due: ruff, ruff-format, type-checking, import-contracts

Change the process name for hyperion for better graylog output (#1747)
  src/mx_bluesky/common/utils/log.py
  src/mx_bluesky/hyperion/__main__.py
  src/mx_bluesky/hyperion/external_interaction/callbacks/__main__.py
  tests/unit_tests/hyperion/test_main_system.py
Due: ruff, ruff-format, type-checking, import-contracts

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  type-checking: any of: \.py$
  import-contracts: any of: \.py$
  uv-sync: any of: ^(uv\.lock|pyproject\.toml)$
  local-install-dodal: any of: ^(uv\.lock|pyproject\.toml)$
