Repository DiamondLightSource/mx-bluesky: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, type-checking, import-contracts, uv-sync, local-install-dodal

ruff:
  name: lint with ruff
  language: system
  entry: ruff check --force-exclude --fix
  require_serial: true

ruff-format:
  name: format with ruff
  language: system
  entry: ruff format --force-exclude
  require_serial: true

type-checking:
  name: type-checking with pyright
  language: system
  entry: tox -e type-checking
  require_serial: true

import-contracts:
  name: Ensure import directionality
  pass_filenames: false
  language: system
  entry: lint-imports
  require_serial: false

uv-sync:
  name: update uv.lock and venv
  pass_filenames: false
  language: system
  entry: uv sync

local-install-dodal:
  name: editable install of dodal
  language: system
  pass_filenames: false
  entry: uv pip install -e ../dodal

Implement robot unload for udc default state (#1607)
  src/mx_bluesky/common/device_setup_plans/robot_load_unload.py
  src/mx_bluesky/hyperion/experiment_plans/udc_default_state.py
  src/mx_bluesky/hyperion/external_interaction/callbacks/robot_actions/ispyb_callback.py
  tests/unit_tests/hyperion/experiment_plans/test_udc_default_state.py
  tests/unit_tests/hyperion/external_interaction/callbacks/robot_load/test_robot_load_ispyb_callback.py
Due: ruff, ruff-format, type-checking, import-contracts

Add skip for CI pre-commit for uv lock file update (#1625)
  .github/workflows/ci.yml
Due: none

Fixed failing tests and added new test to check for failure
  src/mx_bluesky/hyperion/baton_handler.py
  tests/unit_tests/hyperion/test_baton_handler.py
  uv.lock
Due: ruff, ruff-format, type-checking, import-contracts, uv-sync, local-install-dodal

Fix devcontainer dodal and dlstbx (#1621)
  .devcontainer/devcontainer.json
Due: none

Additional unit test
  src/mx_bluesky/common/utils/log.py
  tests/unit_tests/common/utils/test_log.py
Due: ruff, ruff-format, type-checking, import-contracts

Update docs re. log dirs and remove hyperion support for runnning hyperion in podman-compose
  docs/user/hyperion/logging.rst
  run_hyperion_in_podman.sh
  utility_scripts/docker/i03-compose.yml
Due: none

Fix nexus tests
  src/mx_bluesky/common/parameters/gridscan.py
  tests/unit_tests/hyperion/external_interaction/nexus/test_write_nexus.py
  tests/unit_tests/hyperion/parameters/test_parameter_model.py
Due: ruff, ruff-format, type-checking, import-contracts

fix test
  tests/unit_tests/hyperion/external_interaction/test_agamemnon.py
Due: ruff, ruff-format, type-checking, import-contracts

fix typing
  src/mx_bluesky/common/experiment_plans/inner_plans/xrc_results_utils.py
  src/mx_bluesky/hyperion/external_interaction/callbacks/rotation/nexus_callback.py
  tests/system_tests/hyperion/external_interaction/test_ispyb_dev_connection.py
Due: ruff, ruff-format, type-checking, import-contracts

Fixed test
  tests/unit_tests/hyperion/test_main_system.py
  tests/unit_tests/t01.py
  uv.lock
Due: ruff, ruff-format, type-checking, import-contracts, uv-sync, local-install-dodal

Address some todos and add validator
  src/mx_bluesky/common/experiment_plans/inner_plans/do_fgs.py
  src/mx_bluesky/common/experiment_plans/inner_plans/xrc_results_utils.py
  src/mx_bluesky/common/parameters/components.py
  src/mx_bluesky/common/parameters/gridscan.py
Due: ruff, ruff-format, type-checking, import-contracts

Always reset the generator state during a stop document (#1626)
  src/mx_bluesky/common/external_interaction/callbacks/common/zocalo_callback.py
  tests/unit_tests/common/external_interaction/callbacks/test_zocalo_handler.py
Due: ruff, ruff-format, type-checking, import-contracts

Add stomp option to run_hyperion.sh (#1614)
  run_hyperion.sh
Due: none

Additional commentary on the blueapi module as discussed to indicate that import has side-effects
  src/mx_bluesky/hyperion/blueapi_plans/blueapi.py
Due: ruff, ruff-format, type-checking, import-contracts

Fix test_external_callbacks system test
  tests/system_tests/hyperion/external_interaction/callbacks/test_external_callbacks.py
Due: ruff, ruff-format, type-checking, import-contracts

Don't move gonio or aperture after hyperion gridscan. Rename XRC to gridscan (#1627)
  docs/user/hyperion/advanced/concurrent_operations.puml
  src/mx_bluesky/hyperion/experiment_plans/__init__.py
  src/mx_bluesky/hyperion/experiment_plans/experiment_registry.py
  src/mx_bluesky/hyperion/experiment_plans/pin_centre_then_gridscan_plan.py
  src/mx_bluesky/hyperion/experiment_plans/robot_load_then_centre_plan.py
  tests/system_tests/hyperion/external_interaction/test_load_centre_collect_full_plan.py
  tests/unit_tests/hyperion/experiment_plans/test_load_centre_collect_full_plan.py
  tests/unit_tests/hyperion/experiment_plans/test_pin_centre_then_xray_centre_plan.py
  tests/unit_tests/hyperion/experiment_plans/test_robot_load_then_centre.py
Due: ruff, ruff-format, type-checking, import-contracts

Fix system tests caused by zocalo and smargon changes (#1628)
  tests/system_tests/hyperion/external_interaction/callbacks/test_external_callbacks.py
  tests/system_tests/hyperion/supervisor/dummy_plans.py
Due: ruff, ruff-format, type-checking, import-contracts

Fix another broken load_centre_collect test
  tests/unit_tests/hyperion/test_blueapi_plans.py
Due: ruff, ruff-format, type-checking, import-contracts

Make docs, type-checking happy
  src/mx_bluesky/hyperion/utils/centre_selection.py
  tests/unit_tests/hyperion/external_interaction/test_agamemnon.py
Due: ruff, ruff-format, type-checking, import-contracts

Fix circular imports
  src/mx_bluesky/hyperion/blueapi/__init__.py
  src/mx_bluesky/hyperion/blueapi/mixins.py
  src/mx_bluesky/hyperion/blueapi/parameters.py
  src/mx_bluesky/hyperion/blueapi/plans.py
  src/mx_bluesky/hyperion/blueapi_config.yaml
  src/mx_bluesky/hyperion/blueapi_dev_config.yaml
  src/mx_bluesky/hyperion/external_interaction/agamemnon.py
  src/mx_bluesky/hyperion/in_process_runner.py
  src/mx_bluesky/hyperion/parameters/load_centre_collect.py
  src/mx_bluesky/hyperion/supervisor/_supervisor.py
  src/mx_bluesky/hyperion/utils/centre_selection.py
  tests/system_tests/hyperion/external_interaction/test_load_centre_collect_full_plan.py
  tests/unit_tests/hyperion/blueapi_plans/test_parameters.py
  tests/unit_tests/hyperion/conftest.py
  tests/unit_tests/hyperion/experiment_plans/test_load_centre_collect_full_plan.py
  tests/unit_tests/hyperion/external_interaction/test_agamemnon.py
  tests/unit_tests/hyperion/test_baton_handler.py
  tests/unit_tests/hyperion/test_blueapi_plans.py
Due: ruff, ruff-format, type-checking, import-contracts

Move select centres mixins into hyperion packages Move demand_energy_ev into top-level
  src/mx_bluesky/common/parameters/components.py
  src/mx_bluesky/common/utils/xrc_result.py
  src/mx_bluesky/hyperion/baton_handler.py
  src/mx_bluesky/hyperion/blueapi_plans/mixins.py
  src/mx_bluesky/hyperion/blueapi_plans/parameters.py
  src/mx_bluesky/hyperion/experiment_plans/load_centre_collect_full_plan.py
  src/mx_bluesky/hyperion/external_interaction/agamemnon.py
  src/mx_bluesky/hyperion/parameters/load_centre_collect.py
  src/mx_bluesky/hyperion/utils/centre_selection.py
  tests/system_tests/hyperion/external_interaction/test_load_centre_collect_full_plan.py
  tests/test_data/parameter_json_files/external_load_centre_collect_params.json
  tests/unit_tests/hyperion/experiment_plans/common/test_flyscan_result.py
  tests/unit_tests/hyperion/experiment_plans/test_load_centre_collect_full_plan.py
Due: ruff, ruff-format, type-checking, import-contracts

Additional test for load_centre_collect
  tests/system_tests/hyperion/supervisor/dummy_plans.py
  tests/system_tests/hyperion/supervisor/test_supervisor.py
Due: ruff, ruff-format, type-checking, import-contracts

Fix broken system tests, missing hyperion-blueapi parameter conversion
  src/mx_bluesky/hyperion/blueapi/plans.py
  tests/system_tests/hyperion/supervisor/dummy_plans.py
  tests/system_tests/hyperion/supervisor/test_supervisor.py
Due: ruff, ruff-format, type-checking, import-contracts

Refactor planrunner abstraction to use parameters deriving from BaseModel instead of MxBlueskyParameters
  src/mx_bluesky/hyperion/_plan_runner_params.py
  src/mx_bluesky/hyperion/baton_handler.py
  src/mx_bluesky/hyperion/blueapi_plans/parameters.py
  src/mx_bluesky/hyperion/external_interaction/agamemnon.py
  src/mx_bluesky/hyperion/in_process_runner.py
  src/mx_bluesky/hyperion/parameters/load_centre_collect.py
  src/mx_bluesky/hyperion/plan_runner.py
  src/mx_bluesky/hyperion/supervisor/_supervisor.py
  tests/system_tests/hyperion/external_interaction/test_agamemnon.py
  tests/system_tests/hyperion/supervisor/test_supervisor.py
  tests/test_data/parameter_json_files/external_load_centre_collect_params.json
  tests/unit_tests/common/parameters/test_components.py
  tests/unit_tests/hyperion/blueapi_plans/__init__.py
  tests/unit_tests/hyperion/blueapi_plans/test_parameters.py
  tests/unit_tests/hyperion/conftest.py
  tests/unit_tests/hyperion/external_interaction/test_agamemnon.py
  tests/unit_tests/hyperion/supervisor/test_supervisor.py
  tests/unit_tests/hyperion/test_baton_handler.py
Due: ruff, ruff-format, type-checking, import-contracts

Basic TaskMonitor implementation
  src/mx_bluesky/hyperion/supervisor/_supervisor.py
  src/mx_bluesky/hyperion/supervisor/_task_monitor.py
  tests/system_tests/hyperion/supervisor/dummy_plans.py
  tests/system_tests/hyperion/supervisor/test_supervisor.py
Due: ruff, ruff-format, type-checking, import-contracts

ProgressEvent research spike
  tests/system_tests/hyperion/supervisor/dummy_plans.py
  tests/system_tests/hyperion/supervisor/system_test_blueapi.yaml
Due: ruff, ruff-format, type-checking, import-contracts

Initial attempt at generating progress events for xbpm feedback
  src/mx_bluesky/hyperion/supervisor/_task_monitor.py
  tests/system_tests/hyperion/supervisor/dummy_plans.py
  tests/unit_tests/common/device_setup_plans/test_xbpm_feedback.py
Due: ruff, ruff-format, type-checking, import-contracts

Additional unit tests
  src/mx_bluesky/hyperion/supervisor/_task_monitor.py
  tests/conftest.py
  tests/system_tests/hyperion/supervisor/test_supervisor.py
  tests/unit_tests/hyperion/supervisor/test_supervisor.py
  tests/unit_tests/hyperion/supervisor/test_task_monitor.py
Due: ruff, ruff-format, type-checking, import-contracts

Implement with system tests
  src/mx_bluesky/hyperion/supervisor/_task_monitor.py
  tests/system_tests/hyperion/supervisor/dummy_plans.py
  tests/system_tests/hyperion/supervisor/test_supervisor.py
  tests/unit_tests/hyperion/external_interaction/callbacks/test_alert_on_container_change.py
Due: ruff, ruff-format, type-checking, import-contracts

Fixes from merge
  src/mx_bluesky/common/parameters/constants.py
  src/mx_bluesky/common/parameters/gridscan.py
  tests/unit_tests/common/parameters/test_gridscan.py
  tests/unit_tests/hyperion/experiment_plans/test_pin_centre_then_xray_centre_plan.py
Due: ruff, ruff-format, type-checking, import-contracts

Configure hyperion-blueapi to send status events
  src/mx_bluesky/hyperion/blueapi_config.yaml
  src/mx_bluesky/hyperion/blueapi_dev_config.yaml
Due: none

Move stub test for xbpm_feedback into dodal
  tests/unit_tests/common/device_setup_plans/test_xbpm_feedback.py
Due: ruff, ruff-format, type-checking, import-contracts

Add test
  src/mx_bluesky/common/parameters/gridscan.py
  src/mx_bluesky/hyperion/experiment_plans/load_centre_collect_full_plan.py
  src/mx_bluesky/hyperion/parameters/gridscan.py
  tests/unit_tests/common/parameters/test_gridscan.py
Due: ruff, ruff-format, type-checking, import-contracts

Update docs on alerts
  docs/user/hyperion/advanced/alerts.rst
Due: none

Decide to not make monitoring timeout configurable
  src/mx_bluesky/hyperion/supervisor/_task_monitor.py
Due: ruff, ruff-format, type-checking, import-contracts

Remove SingleGrid class
  src/mx_bluesky/common/parameters/gridscan.py
Due: ruff, ruff-format, type-checking, import-contracts

don't implement dummy mode xrc results for 2d grids
  src/mx_bluesky/common/experiment_plans/inner_plans/xrc_results_utils.py
Due: ruff, ruff-format, type-checking, import-contracts

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  type-checking: any of: \.py$
  import-contracts: any of: \.py$
  uv-sync: any of: ^(uv\.lock|pyproject\.toml)$
  local-install-dodal: any of: ^(uv\.lock|pyproject\.toml)$
