Repository DiamondLightSource/mx-bluesky: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, type-checking, import-contracts, uv-sync, local-install-dodal

ruff:
  name: lint with ruff
  language: system
  entry: ruff check --force-exclude --fix
  require_serial: true

ruff-format:
  name: format with ruff
  language: system
  entry: ruff format --force-exclude
  require_serial: true

type-checking:
  name: type-checking with pyright
  language: system
  entry: tox -e type-checking
  require_serial: true

import-contracts:
  name: Ensure import directionality
  pass_filenames: false
  language: system
  entry: lint-imports
  require_serial: false

uv-sync:
  name: update uv.lock and venv
  pass_filenames: false
  language: system
  entry: uv sync

local-install-dodal:
  name: editable install of dodal
  language: system
  pass_filenames: false
  entry: uv pip install -e ../dodal

Hyperion on k8s (#1758)
  .dockerignore
  .github/workflows/_container.yml
  .github/workflows/_helm.yml
  Dockerfile.hyperion
  docs/developer/general/explanations/containerised_mx_bluesky.rst
  docs/developer/general/how-to/deploy-a-release.rst
  docs/developer/general/how-to/deploy-hyperion-k8s.rst
  docs/developer/general/index.rst
  helm/hyperion/Chart.yaml
  helm/hyperion/templates/configmap.yaml
  helm/hyperion/templates/deployment.yaml
  helm/hyperion/templates/ingress.yaml
  helm/hyperion/templates/service.yaml
  helm/hyperion/templates/volumes.yaml
  helm/hyperion/templates/zocalo-config.yaml
  helm/hyperion/values.yaml
  helm/rabbitmq/Chart.yaml
  helm/rabbitmq/README.md
  src/mx_bluesky/hyperion/supervisor/_supervisor.py
  tests/unit_tests/hyperion/supervisor/test_supervisor.py
  utility_scripts/build_docker_image.sh
  utility_scripts/deploy/deploy_mx_bluesky_app_to_k8s.sh
  utility_scripts/docker/entrypoint.sh
  utility_scripts/docker/initialise_scratch.sh
  uv.lock
Due: ruff, ruff-format, type-checking, import-contracts, uv-sync, local-install-dodal

Initial implementation of debugging
  pyproject.toml
  src/mx_bluesky/common/utils/debug.py
  src/mx_bluesky/hyperion/__main__.py
  src/mx_bluesky/hyperion/parameters/cli.py
  tests/unit_tests/common/utils/test_debug.py
  tests/unit_tests/hyperion/test_main_system.py
Due: ruff, ruff-format, type-checking, import-contracts, uv-sync, local-install-dodal

Add debugging option
  helm/hyperion/templates/deployment.yaml
  helm/hyperion/values.yaml
  src/mx_bluesky/hyperion/external_interaction/callbacks/__main__.py
  src/mx_bluesky/hyperion/parameters/cli.py
  tests/unit_tests/hyperion/external_interaction/callbacks/test_external_callbacks.py
Due: ruff, ruff-format, type-checking, import-contracts

Update uv.lock
  uv.lock
Due: uv-sync, local-install-dodal

Disable debugging by default
  helm/hyperion/values.yaml
Due: none

Read the debug port for the callbacks
  src/mx_bluesky/hyperion/parameters/cli.py
  tests/unit_tests/hyperion/external_interaction/callbacks/test_external_callbacks.py
Due: ruff, ruff-format, type-checking, import-contracts

Remove terminationGracePeriodSeconds
  helm/hyperion/templates/deployment.yaml
  helm/hyperion/values.yaml
Due: none

Reduce memory limit to be <= 10x requests
  helm/hyperion/templates/deployment.yaml
Due: none

Fix volumeMounts for etc
  helm/hyperion/templates/deployment.yaml
Due: none

Add libnss / ldap user resolution to allow vscode to attach
  Dockerfile.hyperion
Due: none

Explicitly override /etc/passwd and /etc/group because debugging requires it
  helm/hyperion/templates/configmap.yaml
  helm/hyperion/templates/deployment.yaml
Due: none

Slightly adjust strategy for vscode, add workspace
  .vscode/hyperion-k8s-scratch.code-workspace
Due: none

Use strings which are parsed as octal
  helm/hyperion/templates/deployment.yaml
Due: none

Fix doc index.rst
  docs/developer/hyperion/index.rst
Due: none

Add empty home for debugging
  helm/hyperion/templates/deployment.yaml
Due: none

Fix passwd file formatting, update docs
  docs/developer/hyperion/how-to/debug-k8s.rst
  helm/hyperion/templates/configmap.yaml
Due: none

Tweaks for vscode niceness
  .vscode/hyperion-k8s-scratch.code-workspace
  .vscode/launch.json
  Dockerfile.hyperion
  docs/developer/hyperion/how-to/debug-k8s.rst
  helm/hyperion/templates/deployment.yaml
Due: none

Change string octal back to decimal because K8s did not like it
  helm/hyperion/templates/deployment.yaml
Due: none

Increase resource limits for hyperion-scratch debug container
  helm/hyperion/templates/deployment.yaml
Due: none

Update configmap with home directory for debugging
  helm/hyperion/templates/configmap.yaml
Due: none

Ensure manual helm upgrade retains previous pvc
  helm/hyperion/templates/volumes.yaml
Due: none

Revert "Remove sleep 600 in lieu of teminationGracePeriodSeconds"
  helm/hyperion/templates/deployment.yaml
Due: none

Define the home directory for debugging
  helm/hyperion/templates/deployment.yaml
Due: none

Remove sleep 600 in lieu of teminationGracePeriodSeconds
  helm/hyperion/templates/deployment.yaml
Due: none

Fix the callbacks debugging port config
  helm/hyperion/templates/deployment.yaml
Due: none

Initial attempt at containerised debugging
  .vscode/launch.json
  docs/developer/hyperion/how-to/debug-k8s.rst
  docs/developer/hyperion/index.rst
  helm/hyperion/templates/deployment.yaml
  helm/hyperion/values.yaml
Due: none

Tweak launch.json for changed workspace setup
  .vscode/launch.json
Due: none

Enable a login shell for debugging
  helm/hyperion/templates/configmap.yaml
Due: none

K8s debugging (#1759)
  .vscode/hyperion-k8s-scratch.code-workspace
  .vscode/launch.json
  Dockerfile.hyperion
  docs/developer/hyperion/how-to/debug-k8s.rst
  docs/developer/hyperion/index.rst
  helm/hyperion/templates/configmap.yaml
  helm/hyperion/templates/deployment.yaml
  helm/hyperion/templates/volumes.yaml
  helm/hyperion/values.yaml
  pyproject.toml
  src/mx_bluesky/common/utils/debug.py
  src/mx_bluesky/hyperion/__main__.py
  src/mx_bluesky/hyperion/external_interaction/callbacks/__main__.py
  src/mx_bluesky/hyperion/parameters/cli.py
  tests/unit_tests/common/utils/test_debug.py
  tests/unit_tests/hyperion/external_interaction/callbacks/test_external_callbacks.py
  tests/unit_tests/hyperion/test_main_system.py
  uv.lock
Due: ruff, ruff-format, type-checking, import-contracts, uv-sync, local-install-dodal

Make hyperion baton user name configurable
  helm/hyperion/templates/deployment.yaml
  src/mx_bluesky/hyperion/__main__.py
  src/mx_bluesky/hyperion/baton_handler.py
  src/mx_bluesky/hyperion/parameters/cli.py
  tests/conftest.py
  tests/system_tests/hyperion/test_main_udc.py
  tests/unit_tests/hyperion/test_baton_handler.py
  tests/unit_tests/hyperion/test_main_system.py
Due: ruff, ruff-format, type-checking, import-contracts

Make hyperion baton user name configurable (#1760)
  helm/hyperion/templates/deployment.yaml
  src/mx_bluesky/hyperion/__main__.py
  src/mx_bluesky/hyperion/baton_handler.py
  src/mx_bluesky/hyperion/parameters/cli.py
  tests/conftest.py
  tests/system_tests/hyperion/test_main_udc.py
  tests/unit_tests/hyperion/test_baton_handler.py
  tests/unit_tests/hyperion/test_main_system.py
Due: ruff, ruff-format, type-checking, import-contracts

Derive x, y step sizes from box_size_um
  src/mx_bluesky/beamlines/i02_1/i02_1_gridscan_plan.py
  src/mx_bluesky/beamlines/i02_1/parameters.py
  tests/unit_tests/beamlines/i02_1/conftest.py
  tests/unit_tests/beamlines/i02_1/test_i02_1_gridscan_plan.py
Due: ruff, ruff-format, type-checking, import-contracts

Update set_panda_directory to use path provider registry
  src/mx_bluesky/hyperion/device_setup_plans/setup_panda.py
Due: ruff, ruff-format, type-checking, import-contracts

Change DiffractionEssentialDevices to a Protocol
  src/mx_bluesky/beamlines/i02_1/i02_1_gridscan_plan.py
  src/mx_bluesky/common/device_setup_plans/detector/beamline_specific.py
  src/mx_bluesky/common/device_setup_plans/detector/eiger.py
  src/mx_bluesky/common/device_setup_plans/detector/fastcs_eiger.py
  src/mx_bluesky/common/experiment_plans/inner_plans/do_fgs.py
  src/mx_bluesky/common/parameters/device_composites.py
  src/mx_bluesky/hyperion/blueapi/composites.py
  src/mx_bluesky/hyperion/experiment_plans/hyperion_beamline_specific.py
  src/mx_bluesky/hyperion/experiment_plans/pin_centre_then_gridscan_plan.py
  src/mx_bluesky/hyperion/experiment_plans/pin_centre_then_xray_centre.py
  tests/unit_tests/common/experiment_plans/inner_plans/test_do_fgs.py
  tests/unit_tests/common/experiment_plans/test_common_flyscan_xray_centre_plan.py
  tests/unit_tests/conftest.py
Due: ruff, ruff-format, type-checking, import-contracts

Remove call to set_detector_parameters
  src/mx_bluesky/common/experiment_plans/common_flyscan_xray_centre_plan.py
Due: ruff, ruff-format, type-checking, import-contracts

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  type-checking: any of: \.py$
  import-contracts: any of: \.py$
  uv-sync: any of: ^(uv\.lock|pyproject\.toml)$
  local-install-dodal: any of: ^(uv\.lock|pyproject\.toml)$
