Repository DiamondLightSource/mx-bluesky: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, type-checking, import-contracts, uv-sync, local-install-dodal

ruff:
  name: lint with ruff
  language: system
  entry: ruff check --force-exclude --fix
  require_serial: true

ruff-format:
  name: format with ruff
  language: system
  entry: ruff format --force-exclude
  require_serial: true

type-checking:
  name: type-checking with pyright
  language: system
  entry: tox -e type-checking
  require_serial: true

import-contracts:
  name: Ensure import directionality
  pass_filenames: false
  language: system
  entry: lint-imports
  require_serial: false

uv-sync:
  name: update uv.lock and venv
  pass_filenames: false
  language: system
  entry: uv sync

local-install-dodal:
  name: editable install of dodal
  language: system
  pass_filenames: false
  entry: uv pip install -e ../dodal

Checks for 10 minutes left for countdown
  src/mx_bluesky/hyperion/baton_handler.py
  uv.lock
Due: ruff, ruff-format, type-checking, import-contracts, uv-sync, local-install-dodal

Use protocols instead of smargon type for FGS composite (#1619)
  pyproject.toml
  uv.lock
Due: uv-sync, local-install-dodal

Fixed test
  tests/unit_tests/hyperion/test_main_system.py
  tests/unit_tests/t01.py
  uv.lock
Due: ruff, ruff-format, type-checking, import-contracts, uv-sync, local-install-dodal

Added constant and logging instead of raising error
  src/mx_bluesky/hyperion/baton_handler.py
  tests/unit_tests/hyperion/test_baton_handler.py
Due: ruff, ruff-format, type-checking, import-contracts

Combined alert and unrequest in one function
  src/mx_bluesky/hyperion/baton_handler.py
Due: ruff, ruff-format, type-checking, import-contracts

Refactored code into function and put into while loop for each collection
  src/mx_bluesky/hyperion/baton_handler.py
Due: ruff, ruff-format, type-checking, import-contracts

Fixed failing tests and added new test to check for failure
  src/mx_bluesky/hyperion/baton_handler.py
  tests/unit_tests/hyperion/test_baton_handler.py
  uv.lock
Due: ruff, ruff-format, type-checking, import-contracts, uv-sync, local-install-dodal

Fixup doctest exclusion
  conftest.py
Due: ruff, ruff-format, type-checking, import-contracts

Remove GDARunner and associated bits (#1618)
  conftest.py
  docs/developer/code-map/grid_detect_xrc.rst
  docs/developer/hyperion/reference/readme.md
  docs/user/hyperion/configuration.rst
  docs/user/hyperion/index.rst
  run_hyperion.sh
  src/mx_bluesky/hyperion/__main__.py
  src/mx_bluesky/hyperion/experiment_plans/__init__.py
  src/mx_bluesky/hyperion/experiment_plans/experiment_registry.py
  src/mx_bluesky/hyperion/experiment_plans/hyperion_grid_detect_then_xray_centre_plan.py
  src/mx_bluesky/hyperion/experiment_plans/pin_centre_then_gridscan_plan.py
  src/mx_bluesky/hyperion/experiment_plans/rotation_scan_plan.py
  src/mx_bluesky/hyperion/parameters/cli.py
  src/mx_bluesky/hyperion/plan_runner.py
  src/mx_bluesky/hyperion/runner.py
  src/mx_bluesky/hyperion/utils/context.py
  tests/system_tests/hyperion/external_interaction/callbacks/test_external_callbacks.py
  tests/system_tests/hyperion/external_interaction/test_ispyb_dev_connection.py
  tests/unit_tests/hyperion/conftest.py
  tests/unit_tests/hyperion/experiment_plans/test_experiment_registry.py
  tests/unit_tests/hyperion/experiment_plans/test_hyperion_grid_detect_then_xray_centre_plan.py
  tests/unit_tests/hyperion/experiment_plans/test_load_centre_collect_full_plan.py
  tests/unit_tests/hyperion/experiment_plans/test_pin_centre_then_xray_centre_plan.py
  tests/unit_tests/hyperion/experiment_plans/test_robot_load_then_centre.py
  tests/unit_tests/hyperion/experiment_plans/test_rotation_scan_plan.py
  tests/unit_tests/hyperion/external_interaction/callbacks/test_rotation_callbacks.py
  tests/unit_tests/hyperion/test_main_system.py
  tests/unit_tests/hyperion/test_runner.py
Due: ruff, ruff-format, type-checking, import-contracts

Add tests for coverage
  src/mx_bluesky/common/experiment_plans/change_aperture_then_move_plan.py
  tests/unit_tests/common/experiment_plans/test_change_aperture_then_move_plan.py
Due: ruff, ruff-format, type-checking, import-contracts

Update tests/unit_tests/common/experiment_plans/test_change_aperture_then_move_plan.py
  tests/unit_tests/common/experiment_plans/test_change_aperture_then_move_plan.py
Due: ruff, ruff-format, type-checking, import-contracts

Update bueapi error handling to use the new TaskStatus error reporting
  pyproject.toml
  src/mx_bluesky/hyperion/supervisor/_supervisor.py
  src/mx_bluesky/hyperion/supervisor/_task_monitor.py
  tests/conftest.py
  tests/system_tests/hyperion/supervisor/dummy_plans.py
  tests/system_tests/hyperion/supervisor/test_supervisor.py
  tests/unit_tests/hyperion/supervisor/test_supervisor.py
Due: ruff, ruff-format, type-checking, import-contracts, uv-sync, local-install-dodal

Implement the skipping of the next collection for multiple LCC
  src/mx_bluesky/hyperion/supervisor/_supervisor.py
  src/mx_bluesky/hyperion/supervisor/_task_monitor.py
  tests/system_tests/hyperion/supervisor/test_supervisor.py
  tests/unit_tests/hyperion/supervisor/test_supervisor.py
  tests/unit_tests/hyperion/test_plan_runner.py
Due: ruff, ruff-format, type-checking, import-contracts

Fix for in-process runner as well
  src/mx_bluesky/hyperion/in_process_runner.py
  tests/unit_tests/hyperion/test_plan_runner.py
Due: ruff, ruff-format, type-checking, import-contracts

debug and file log handler support for `hyperion-blueapi` (#1630)
  conftest.py
  docs/user/hyperion/logging.rst
  run_hyperion.sh
  run_hyperion_in_podman.sh
  src/mx_bluesky/common/utils/log.py
  src/mx_bluesky/hyperion/blueapi/in_process.py
  src/mx_bluesky/hyperion/blueapi/plans.py
  src/mx_bluesky/hyperion/in_process_runner.py
  tests/unit_tests/common/utils/test_log.py
  tests/unit_tests/hyperion/conftest.py
  tests/unit_tests/hyperion/test_baton_handler.py
  tests/unit_tests/hyperion/test_blueapi_plans.py
  utility_scripts/docker/i03-compose.yml
Due: ruff, ruff-format, type-checking, import-contracts

Use config server to read pitch and roll config
  src/mx_bluesky/hyperion/device_setup_plans/dcm_pitch_roll_mirror_adjuster.py
Due: ruff, ruff-format, type-checking, import-contracts

Fix tests and test data
  tests/test_data/test_daq_configuration/lookup/BeamLineEnergy_DCM_Pitch_converter.txt
  tests/test_data/test_daq_configuration/lookup/BeamLineEnergy_DCM_Roll_converter.txt
  tests/test_data/test_daq_configuration/lookup/BeamLine_Undulator_toGap.txt
Due: none

Pin dodal and daq-config-server
  pyproject.toml
Due: uv-sync, local-install-dodal

Fix for columns becoming a property
  src/mx_bluesky/hyperion/device_setup_plans/dcm_pitch_roll_mirror_adjuster.py
Due: ruff, ruff-format, type-checking, import-contracts

Use specific lut models for each undulator lut
  src/mx_bluesky/hyperion/device_setup_plans/dcm_pitch_roll_mirror_adjuster.py
  tests/test_data/test_daq_configuration/lookup/BeamLineEnergy_DCM_Pitch_converter.txt
  tests/test_data/test_daq_configuration/lookup/BeamLineEnergy_DCM_Roll_converter.txt
  tests/test_data/test_daq_configuration/lookup/BeamLine_Undulator_toGap.txt
Due: ruff, ruff-format, type-checking, import-contracts

Use latest config server version
  pyproject.toml
Due: uv-sync, local-install-dodal

Set BEAMLINE env variable in undulator fixture
  tests/conftest.py
  tests/unit_tests/beamlines/i04/conftest.py
  tests/unit_tests/beamlines/i24/conftest.py
  tests/unit_tests/hyperion/conftest.py
  uv.lock
Due: ruff, ruff-format, type-checking, import-contracts, uv-sync, local-install-dodal

Typo
  src/mx_bluesky/beamlines/i02_1/parameters/gridscan.py
Due: ruff, ruff-format, type-checking, import-contracts

Add vmxm FGS entry point
  src/mx_bluesky/beamlines/i02_1/__init__.py
  src/mx_bluesky/beamlines/i02_1/device_setup_plans/__init__.py
  src/mx_bluesky/beamlines/i02_1/device_setup_plans/setup_zebra.py
  src/mx_bluesky/beamlines/i02_1/i02_1_flyscan_xray_centre_plan.py
  src/mx_bluesky/beamlines/i02_1/parameters/gridscan.py
  src/mx_bluesky/common/experiment_plans/common_flyscan_xray_centre_plan.py
  src/mx_bluesky/common/parameters/gridscan.py
Due: ruff, ruff-format, type-checking, import-contracts

Fixes and tests
  src/mx_bluesky/beamlines/i02_1/device_setup_plans/setup_zebra.py
  src/mx_bluesky/beamlines/i02_1/i02_1_gridscan_plan.py
  src/mx_bluesky/beamlines/i02_1/parameters/gridscan.py
  src/mx_bluesky/common/parameters/constants.py
  src/mx_bluesky/common/parameters/gridscan.py
  tests/unit_tests/beamlines/i02_1/__init__.py
  tests/unit_tests/beamlines/i02_1/test_i02_1_gridscan_plan.py
  tests/unit_tests/beamlines/i02_1/test_setup_zebra.py
Due: ruff, ruff-format, type-checking, import-contracts

make codecov happy
  src/mx_bluesky/common/parameters/gridscan.py
  tests/unit_tests/common/parameters/test_gridscan.py
Due: ruff, ruff-format, type-checking, import-contracts

improve tests
  tests/unit_tests/beamlines/i02_1/test_i02_1_gridscan_plan.py
  tests/unit_tests/common/parameters/test_gridscan.py
Due: ruff, ruff-format, type-checking, import-contracts

wip
  src/mx_bluesky/beamlines/i02_1/i02_1_gridscan_plan.py
  src/mx_bluesky/common/external_interaction/callbacks/common/ispyb_callback_base.py
Due: ruff, ruff-format, type-checking, import-contracts

wip
  src/mx_bluesky/beamlines/i02_1/external_interaction/__init__.py
  src/mx_bluesky/beamlines/i02_1/external_interaction/callbacks/__init__.py
  src/mx_bluesky/beamlines/i02_1/external_interaction/callbacks/gridscan/__init__.py
  src/mx_bluesky/beamlines/i02_1/external_interaction/callbacks/gridscan/ispyb_callback.py
  src/mx_bluesky/beamlines/i02_1/i02_1_gridscan_plan.py
  src/mx_bluesky/common/external_interaction/callbacks/common/ispyb_callback_base.py
Due: ruff, ruff-format, type-checking, import-contracts

wip
  src/mx_bluesky/beamlines/i02_1/composites.py
  src/mx_bluesky/beamlines/i02_1/i02_1_gridscan_plan.py
  src/mx_bluesky/beamlines/i04/experiment_plans/i04_grid_detect_then_xray_centre_plan.py
  src/mx_bluesky/common/experiment_plans/common_grid_detect_then_xray_centre_plan.py
  src/mx_bluesky/common/external_interaction/callbacks/__init__.py
  src/mx_bluesky/common/external_interaction/callbacks/common/ispyb_callback_base.py
  src/mx_bluesky/common/external_interaction/callbacks/common/ispyb_mapping.py
  src/mx_bluesky/common/external_interaction/callbacks/grid/__init__.py
  src/mx_bluesky/common/external_interaction/callbacks/grid/grid_detect_and_scan/__init__.py
  src/mx_bluesky/common/external_interaction/callbacks/grid/grid_detect_and_scan/ispyb_callback.py
  src/mx_bluesky/common/external_interaction/callbacks/grid/grid_detect_and_scan/ispyb_mapping.py
  src/mx_bluesky/common/external_interaction/callbacks/grid/grid_detect_and_scan/nexus_callback.py
  src/mx_bluesky/common/external_interaction/callbacks/grid/gridscan/__init__.py
  src/mx_bluesky/common/external_interaction/callbacks/grid/gridscan/ispyb_callback.py
  src/mx_bluesky/hyperion/experiment_plans/pin_centre_then_gridscan_plan.py
  src/mx_bluesky/hyperion/external_interaction/callbacks/__main__.py
  tests/conftest.py
  tests/system_tests/hyperion/external_interaction/callbacks/test_external_callbacks.py
  tests/system_tests/hyperion/external_interaction/test_ispyb_dev_connection.py
  tests/system_tests/hyperion/external_interaction/test_load_centre_collect_full_plan.py
  tests/system_tests/hyperion/external_interaction/test_zocalo_system.py
  tests/unit_tests/common/experiment_plans/inner_plans/test_do_fgs.py
  tests/unit_tests/common/experiment_plans/test_common_flyscan_xray_centre_plan.py
  tests/unit_tests/common/experiment_plans/test_common_grid_detect_then_xray_centre_plan.py
  tests/unit_tests/common/experiment_plans/test_grid_detection_plan.py
  tests/unit_tests/common/external_interaction/callbacks/test_zocalo_handler.py
  tests/unit_tests/common/external_interaction/xray_centre/test_ispyb_callback.py
  tests/unit_tests/common/external_interaction/xray_centre/test_ispyb_handler.py
  tests/unit_tests/common/external_interaction/xray_centre/test_ispyb_mapping.py
  tests/unit_tests/common/external_interaction/xray_centre/test_nexus_handler.py
  tests/unit_tests/conftest.py
  tests/unit_tests/hyperion/experiment_plans/conftest.py
  tests/unit_tests/hyperion/experiment_plans/test_hyperion_flyscan_xray_centre_plan.py
  tests/unit_tests/hyperion/experiment_plans/test_pin_centre_then_xray_centre_plan.py
  tests/unit_tests/hyperion/external_interaction/nexus/test_write_nexus.py
Due: ruff, ruff-format, type-checking, import-contracts

Add test stubs
  src/mx_bluesky/beamlines/i02_1/i02_1_gridscan_plan.py
  src/mx_bluesky/beamlines/i04/experiment_plans/i04_grid_detect_then_xray_centre_plan.py
  src/mx_bluesky/common/external_interaction/callbacks/grid/grid_detect_and_scan/ispyb_callback.py
  src/mx_bluesky/common/external_interaction/callbacks/grid/gridscan/ispyb_callback.py
  src/mx_bluesky/common/external_interaction/callbacks/grid/utils.py
  tests/unit_tests/beamlines/i02_1/test_gridscan_ispyb_callback.py
  tests/unit_tests/beamlines/i02_1/test_i02_1_gridscan_plan.py
  tests/unit_tests/common/external_interaction/callbacks/common/test_ispyb_callback_base.py
  tests/unit_tests/common/external_interaction/callbacks/grid/__init__.py
  tests/unit_tests/common/external_interaction/callbacks/grid/test_ispyb_gridscan_callback.py
  tests/unit_tests/common/external_interaction/callbacks/grid/test_utils.py
Due: ruff, ruff-format, type-checking, import-contracts

Make common ispyb callback for gridscans with no grid detect
  src/mx_bluesky/beamlines/i02_1/external_interaction/callbacks/gridscan/ispyb_callback.py
  src/mx_bluesky/beamlines/i02_1/i02_1_gridscan_plan.py
  src/mx_bluesky/beamlines/i04/experiment_plans/i04_grid_detect_then_xray_centre_plan.py
  src/mx_bluesky/common/external_interaction/callbacks/common/ispyb_callback_base.py
  src/mx_bluesky/common/external_interaction/callbacks/grid/grid_detect_and_scan/ispyb_callback.py
  src/mx_bluesky/common/external_interaction/callbacks/grid/gridscan/ispyb_callback.py
  src/mx_bluesky/common/external_interaction/callbacks/grid/utils.py
  src/mx_bluesky/common/parameters/components.py
  src/mx_bluesky/common/parameters/constants.py
  src/mx_bluesky/common/parameters/gridscan.py
  src/mx_bluesky/hyperion/external_interaction/callbacks/__main__.py
Due: ruff, ruff-format, type-checking, import-contracts

Fixes
  pyproject.toml
  src/mx_bluesky/beamlines/i02_1/i02_1_gridscan_plan.py
  src/mx_bluesky/beamlines/i04/experiment_plans/i04_grid_detect_then_xray_centre_plan.py
  src/mx_bluesky/common/external_interaction/callbacks/grid/grid_detect_and_scan/ispyb_callback.py
  src/mx_bluesky/common/external_interaction/callbacks/grid/gridscan/ispyb_callback.py
  src/mx_bluesky/common/external_interaction/callbacks/grid/utils.py
  tests/unit_tests/common/external_interaction/xray_centre/test_ispyb_handler.py
  tests/unit_tests/conftest.py
Due: ruff, ruff-format, type-checking, import-contracts, uv-sync, local-install-dodal

Remove comment
  tests/unit_tests/beamlines/i02_1/test_i02_1_gridscan_plan.py
Due: ruff, ruff-format, type-checking, import-contracts

Add fixes and tests
  src/mx_bluesky/beamlines/i02_1/external_interaction/callbacks/gridscan/ispyb_callback.py
  src/mx_bluesky/beamlines/i02_1/i02_1_gridscan_plan.py
  src/mx_bluesky/common/experiment_plans/inner_plans/do_fgs.py
  src/mx_bluesky/common/external_interaction/callbacks/grid/gridscan/ispyb_callback.py
  src/mx_bluesky/common/external_interaction/callbacks/grid/utils.py
  src/mx_bluesky/common/parameters/components.py
  tests/unit_tests/beamlines/i02_1/conftest.py
  tests/unit_tests/beamlines/i02_1/test_gridscan_ispyb_callback.py
  tests/unit_tests/beamlines/i02_1/test_i02_1_gridscan_plan.py
  tests/unit_tests/common/external_interaction/callbacks/common/test_ispyb_callback_base.py
  tests/unit_tests/common/external_interaction/callbacks/grid/test_ispyb_gridscan_callback.py
  tests/unit_tests/common/external_interaction/callbacks/grid/test_utils.py
  tests/unit_tests/common/parameters/test_gridscan.py
Due: ruff, ruff-format, type-checking, import-contracts

Keep up to date
  src/mx_bluesky/hyperion/blueapi/parameters.py
  tests/system_tests/hyperion/external_interaction/test_agamemnon.py
  tests/test_data/parameter_json_files/external_load_centre_collect_params.json
  tests/test_data/parameter_json_files/good_test_rotation_scan_parameters.json
  tests/test_data/parameter_json_files/good_test_specified_three_d_grid_params.json
  tests/test_data/parameter_json_files/ispyb_gridscan_system_test_parameters.json
Due: ruff, ruff-format, type-checking, import-contracts

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  type-checking: any of: \.py$
  import-contracts: any of: \.py$
  uv-sync: any of: ^(uv\.lock|pyproject\.toml)$
  local-install-dodal: any of: ^(uv\.lock|pyproject\.toml)$
