Repository DiamondLightSource/mx-bluesky: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, type-checking, import-contracts, uv-sync, local-install-dodal

ruff:
  name: lint with ruff
  language: system
  entry: ruff check --force-exclude --fix
  require_serial: true

ruff-format:
  name: format with ruff
  language: system
  entry: ruff format --force-exclude
  require_serial: true

type-checking:
  name: type-checking with pyright
  language: system
  entry: tox -e type-checking
  require_serial: true

import-contracts:
  name: Ensure import directionality
  pass_filenames: false
  language: system
  entry: lint-imports
  require_serial: false

uv-sync:
  name: update uv.lock and venv
  pass_filenames: false
  language: system
  entry: uv sync

local-install-dodal:
  name: editable install of dodal
  language: system
  pass_filenames: false
  entry: uv pip install -e ../dodal

Update uv.lock
  uv.lock
Due: uv-sync, local-install-dodal

Update robot load unit test to check omega is still set
  tests/unit_tests/common/device_setup_plans/test_robot_load_unload.py
Due: ruff, ruff-format, type-checking, import-contracts

External callbacks now have configurable config server URL
  src/mx_bluesky/hyperion/external_interaction/callbacks/__main__.py
  tests/unit_tests/hyperion/external_interaction/callbacks/test_external_callbacks.py
Due: ruff, ruff-format, type-checking, import-contracts

Set CONFIG_SERVER_URL in external callback unit tests
  tests/unit_tests/hyperion/external_interaction/callbacks/test_external_callbacks.py
Due: ruff, ruff-format, type-checking, import-contracts

Additional documentation regarding environment variables
  docs/user/hyperion/advanced/advanced_configuration.rst
  docs/user/hyperion/configuration.rst
Due: none

Fix broken doc links
  docs/user/hyperion/configuration.rst
  docs/user/hyperion/troubleshooting.rst
Due: none

Add CONFIG_SERVER_URL to the launcher script
  run_hyperion.sh
Due: none

fix typo in test_external_callbacks.py
  tests/unit_tests/hyperion/external_interaction/callbacks/test_external_callbacks.py
Due: ruff, ruff-format, type-checking, import-contracts

Update uv.lock
  pyproject.toml
Due: uv-sync, local-install-dodal

Unpin dodal
  pyproject.toml
Due: uv-sync, local-install-dodal

Fix broken test due to change in alerting service api
  tests/unit_tests/hyperion/supervisor/test_task_monitor.py
Due: ruff, ruff-format, type-checking, import-contracts

remove det_dist_to_beam_converter_path from parameter model, fix unit tests, system tests still broken
  src/mx_bluesky/common/parameters/components.py
  src/mx_bluesky/common/parameters/constants.py
  src/mx_bluesky/common/parameters/gridscan.py
  src/mx_bluesky/common/parameters/rotation.py
  tests/test_data/hyperion_blueapi/test_load_centre_collect.json
  tests/test_data/parameter_json_files/good_test_grid_with_edge_detect_parameters.json
  tests/test_data/parameter_json_files/good_test_load_centre_collect_params.json
  tests/test_data/parameter_json_files/good_test_load_centre_collect_params_multi_rotation.json
  tests/test_data/parameter_json_files/good_test_multi_rotation_scan_parameters.json
  tests/test_data/parameter_json_files/good_test_one_multi_rotation_scan_parameters.json
  tests/test_data/parameter_json_files/good_test_one_multi_rotation_scan_parameters_nomove.json
  tests/test_data/parameter_json_files/good_test_parameters.json
  tests/test_data/parameter_json_files/good_test_pin_centre_then_xray_centre_parameters.json
  tests/test_data/parameter_json_files/good_test_robot_load_and_centre_params.json
  tests/test_data/parameter_json_files/good_test_rotation_scan_parameters.json
  tests/test_data/parameter_json_files/ispyb_gridscan_system_test_parameters.json
  tests/test_data/parameter_json_files/test_gridscan_param_defaults.json
  tests/unit_tests/conftest.py
  tests/unit_tests/hyperion/experiment_plans/test_load_centre_collect_full_plan.py
Due: ruff, ruff-format, type-checking, import-contracts

Make ruff happy
  conftest.py
  src/mx_bluesky/common/parameters/components.py
  src/mx_bluesky/hyperion/parameters/constants.py
  tests/unit_tests/conftest.py
Due: ruff, ruff-format, type-checking, import-contracts

Remove unused constants TEST_MODE, BEAMLINE, INSERTION_PREFIX from constants.py
  conftest.py
  src/mx_bluesky/hyperion/parameters/constants.py
Due: ruff, ruff-format, type-checking, import-contracts

remove load_panda_yaml in favour of the copy in dodal
  src/mx_bluesky/common/device_setup_plans/setup_panda.py
  src/mx_bluesky/hyperion/device_setup_plans/setup_panda.py
  tests/unit_tests/common/device_setup_plans/test_setup_panda.py
Due: ruff, ruff-format, type-checking, import-contracts

remove GDA_DOMAIN_PROPERTIES_PATH from constants.py
  src/mx_bluesky/common/parameters/constants.py
  tests/unit_tests/hyperion/parameters/test_parameter_model.py
Due: ruff, ruff-format, type-checking, import-contracts

Remove insertion_prefix from WithVisit parameter model
  src/mx_bluesky/common/parameters/components.py
  tests/test_data/hyperion_blueapi/test_load_centre_collect.json
  tests/test_data/parameter_json_files/good_test_grid_with_edge_detect_parameters.json
  tests/test_data/parameter_json_files/good_test_load_centre_collect_params.json
  tests/test_data/parameter_json_files/good_test_load_centre_collect_params_multi_rotation.json
  tests/test_data/parameter_json_files/good_test_multi_rotation_scan_parameters.json
  tests/test_data/parameter_json_files/good_test_one_multi_rotation_scan_parameters.json
  tests/test_data/parameter_json_files/good_test_one_multi_rotation_scan_parameters_nomove.json
  tests/test_data/parameter_json_files/good_test_parameters.json
  tests/test_data/parameter_json_files/good_test_pin_centre_then_xray_centre_parameters.json
  tests/test_data/parameter_json_files/good_test_robot_load_and_centre_params.json
  tests/test_data/parameter_json_files/good_test_robot_load_params.json
  tests/test_data/parameter_json_files/good_test_rotation_scan_parameters.json
  tests/test_data/parameter_json_files/ispyb_gridscan_system_test_parameters.json
  tests/test_data/parameter_json_files/test_gridscan_param_defaults.json
  tests/unit_tests/hyperion/experiment_plans/test_load_centre_collect_full_plan.py
Due: ruff, ruff-format, type-checking, import-contracts

Fix oav system tests
  tests/conftest.py
  tests/system_tests/conftest.py
  tests/system_tests/hyperion/external_interaction/test_load_centre_collect_full_plan.py
  tests/unit_tests/conftest.py
Due: ruff, ruff-format, type-checking, import-contracts

Fix most system tests
  tests/system_tests/conftest.py
  tests/system_tests/hyperion/external_interaction/conftest.py
Due: ruff, ruff-format, type-checking, import-contracts

Disable soak tests until ophyd-async has the caching bug fixed in a release
  tests/system_tests/hyperion/external_interaction/test_baton_handler_soak.py
Due: ruff, ruff-format, type-checking, import-contracts

Fix some more
  src/mx_bluesky/common/parameters/constants.py
  tests/system_tests/hyperion/external_interaction/conftest.py
  tests/system_tests/hyperion/external_interaction/test_load_centre_collect_full_plan.py
  tests/system_tests/hyperion/external_interaction/test_nexgen.py
Due: ruff, ruff-format, type-checking, import-contracts

Use different OAV fixture in system tests
  tests/conftest.py
  tests/system_tests/conftest.py
  tests/system_tests/hyperion/external_interaction/test_nexgen.py
  tests/unit_tests/conftest.py
Due: ruff, ruff-format, type-checking, import-contracts

Remove commented out code
  tests/conftest.py
Due: ruff, ruff-format, type-checking, import-contracts

Config file-related system test failures now fixed
  pyproject.toml
  tests/conftest.py
  tests/system_tests/common/daq_config_server/test_daq_config_server.py
  tests/system_tests/conftest.py
  tests/system_tests/hyperion/external_interaction/conftest.py
  tests/system_tests/hyperion/external_interaction/test_load_centre_collect_full_plan.py
  tests/system_tests/hyperion/external_interaction/test_nexgen.py
Due: ruff, ruff-format, type-checking, import-contracts, uv-sync, local-install-dodal

Additional patch of load_panda_yaml.retrieve_settings for unit tests
  tests/conftest.py
Due: ruff, ruff-format, type-checking, import-contracts

mock panda_fast_grid_scan trigger
  tests/conftest.py
Due: ruff, ruff-format, type-checking, import-contracts

Extend the timeout in murko callback tests due to random failures
  tests/unit_tests/beamlines/i04/callbacks/test_murko_callback.py
Due: ruff, ruff-format, type-checking, import-contracts

Simplify external callbacks fixtures for system tests, system test config server fixture now sets the URL env var
  tests/system_tests/conftest.py
  tests/system_tests/hyperion/external_interaction/conftest.py
Due: ruff, ruff-format, type-checking, import-contracts

Fix unit test breakage following rebase
  tests/unit_tests/conftest.py
Due: ruff, ruff-format, type-checking, import-contracts

Added hello world test plan to remove extra factors
  src/mx_bluesky/beamlines/i23/__init__.py
  src/mx_bluesky/beamlines/i23/hello.py
  uv.lock
Due: ruff, ruff-format, type-checking, import-contracts, uv-sync, local-install-dodal

Fix i04 xrc callbacks
  src/mx_bluesky/beamlines/i04/experiment_plans/i04_grid_detect_then_xray_centre_plan.py
  uv.lock
Due: ruff, ruff-format, type-checking, import-contracts, uv-sync, local-install-dodal

Make type-checking happy
  tests/system_tests/conftest.py
  tests/system_tests/hyperion/external_interaction/test_load_centre_collect_full_plan.py
Due: ruff, ruff-format, type-checking, import-contracts

Attempt at parameter docs from schema
  docs/developer/hyperion/reference/blueapi/clean_up_udc.json
  docs/developer/hyperion/reference/blueapi/load_centre_collect.json
  docs/developer/hyperion/reference/blueapi/move_to_udc_default_state.json
  docs/developer/hyperion/reference/blueapi/robot_unload.json
  docs/developer/hyperion/reference/blueapi_schema.rst
  utility_scripts/generate_parameter_schemas.py
Due: ruff, ruff-format, type-checking, import-contracts

Revert abortive parameter docs changes
  docs/developer/hyperion/index.rst
  docs/developer/hyperion/reference/blueapi_schema.json
  pyproject.toml
Due: uv-sync, local-install-dodal

Revert changes relating to blueapi parameter documentation
  docs/developer/hyperion/reference/blueapi/clean_up_udc.json
  docs/developer/hyperion/reference/blueapi/load_centre_collect.json
  docs/developer/hyperion/reference/blueapi/move_to_udc_default_state.json
  docs/developer/hyperion/reference/blueapi/robot_unload.json
  docs/developer/hyperion/reference/blueapi_schema.rst
  utility_scripts/generate_parameter_schemas.py
Due: ruff, ruff-format, type-checking, import-contracts

Fix unit tests after rebase borkage
  src/mx_bluesky/hyperion/experiment_plans/load_centre_collect_full_plan.py
  src/mx_bluesky/hyperion/experiment_plans/pin_centre_then_xray_centre.py
  src/mx_bluesky/hyperion/external_interaction/agamemnon.py
  src/mx_bluesky/hyperion/utils/centre_selection.py
  tests/test_data/parameter_json_files/external_load_centre_collect_params_multipin.json
Due: ruff, ruff-format, type-checking, import-contracts

Implement AperturePolicy, unit tests fixed
  docs/developer/hyperion/reference/blueapi_schema.rst
  src/mx_bluesky/common/experiment_plans/change_aperture_then_move_plan.py
  src/mx_bluesky/common/parameters/components.py
  src/mx_bluesky/common/utils/aperture_selection.py
  src/mx_bluesky/hyperion/blueapi/parameters.py
  src/mx_bluesky/hyperion/experiment_plans/load_centre_collect_full_plan.py
  src/mx_bluesky/hyperion/external_interaction/agamemnon.py
  src/mx_bluesky/hyperion/parameters/constants.py
  src/mx_bluesky/hyperion/utils/centre_selection.py
  tests/test_data/parameter_json_files/external_load_centre_collect_params.json
  tests/unit_tests/common/experiment_plans/test_change_aperture_then_move_plan.py
  tests/unit_tests/hyperion/experiment_plans/test_load_centre_collect_full_plan.py
  tests/unit_tests/hyperion/external_interaction/test_agamemnon.py
Due: ruff, ruff-format, type-checking, import-contracts

Remove errant sphinx-jsonschema in sphinx config
  docs/conf.py
Due: ruff, ruff-format, type-checking, import-contracts

Initial refactor introducing AperturePolicy Add json schema documentation generation
  docs/conf.py
  docs/developer/hyperion/index.rst
  docs/developer/hyperion/reference/blueapi_schema.json
  docs/developer/hyperion/reference/blueapi_schema.rst
  pyproject.toml
  src/mx_bluesky/beamlines/i04/experiment_plans/i04_grid_detect_then_xray_centre_plan.py
  src/mx_bluesky/common/device_setup_plans/manipulate_sample.py
  src/mx_bluesky/common/experiment_plans/common_grid_detect_then_xray_centre_plan.py
  src/mx_bluesky/common/parameters/components.py
  src/mx_bluesky/common/parameters/gridscan.py
  src/mx_bluesky/common/parameters/rotation.py
  src/mx_bluesky/hyperion/blueapi/in_process.py
  src/mx_bluesky/hyperion/experiment_plans/load_centre_collect_full_plan.py
  src/mx_bluesky/hyperion/experiment_plans/rotation_scan_plan.py
  tests/unit_tests/common/experiment_plans/test_common_grid_detect_then_xray_centre_plan.py
  tests/unit_tests/conftest.py
  tests/unit_tests/hyperion/experiment_plans/test_rotation_scan_plan.py
  tests/unit_tests/hyperion/parameters/test_parameter_model.py
Due: ruff, ruff-format, type-checking, import-contracts, uv-sync, local-install-dodal

Fix typo in docs
  docs/developer/hyperion/reference/blueapi_schema.rst
Due: none

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  type-checking: any of: \.py$
  import-contracts: any of: \.py$
  uv-sync: any of: ^(uv\.lock|pyproject\.toml)$
  local-install-dodal: any of: ^(uv\.lock|pyproject\.toml)$
