Repository DiamondLightSource/mx-bluesky: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, type-checking, import-contracts, uv-sync, local-install-dodal

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=500"]
        exclude: ^uv.lock
      - id: check-yaml
        args: ["--allow-multiple-documents"]
        exclude: ^helm/
      - id: check-merge-conflict
      - id: end-of-file-fixer

  - repo: local
    hooks:
      - id: ruff
        name: lint with ruff
        language: system
        entry: ruff check --force-exclude --fix
        types: [python]
        require_serial: true

      - id: ruff-format
        name: format with ruff
        language: system
        entry: ruff format --force-exclude
        types: [python]
        require_serial: true
      
      - id: type-checking
        name: type-checking with pyright
        language: system
        entry: tox -e type-checking
        types: [python]
        require_serial: true

      - id: import-contracts
        name: Ensure import directionality
        pass_filenames: false
        language: system
        entry: lint-imports
        types: [python]
        require_serial: false

      - id: lock dodal
        name: keep dodal up to date in lockfile
        pass_filenames: false
        language: system
        entry: uv lock --upgrade-package dls-dodal

      - id: uv-sync
        name: update uv.lock and venv
        pass_filenames: false
        language: system
        entry: uv sync
        files: ^(uv\.lock|pyproject\.toml)$

      - id: local-install-dodal
        name: editable install of dodal
        language: system
        pass_filenames: false
        entry: uv pip install -e ../dodal
        files: ^(uv\.lock|pyproject\.toml)$

  # Type checking
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.19.1
    hooks:
      - id: mypy
        files: 'src/.*\.py$'
        additional_dependencies: [types-requests, types-redis, pydantic]
        args: ["--ignore-missing-imports", "--no-strict-optional"]

  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.28.0
    hooks:
      - id: gitleaks

Link to issue in comments
  src/mx_bluesky/common/parameters/gridscan.py
Due: ruff, ruff-format, type-checking, import-contracts

Add vmxm FGS entry point
  src/mx_bluesky/beamlines/i02_1/__init__.py
  src/mx_bluesky/beamlines/i02_1/device_setup_plans/__init__.py
  src/mx_bluesky/beamlines/i02_1/device_setup_plans/setup_zebra.py
  src/mx_bluesky/beamlines/i02_1/i02_1_flyscan_xray_centre_plan.py
  src/mx_bluesky/beamlines/i02_1/parameters/gridscan.py
  src/mx_bluesky/common/experiment_plans/common_flyscan_xray_centre_plan.py
  src/mx_bluesky/common/parameters/gridscan.py
Due: ruff, ruff-format, type-checking, import-contracts

Fixes and tests
  src/mx_bluesky/beamlines/i02_1/device_setup_plans/setup_zebra.py
  src/mx_bluesky/beamlines/i02_1/i02_1_gridscan_plan.py
  src/mx_bluesky/beamlines/i02_1/parameters/gridscan.py
  src/mx_bluesky/common/parameters/constants.py
  src/mx_bluesky/common/parameters/gridscan.py
  tests/unit_tests/beamlines/i02_1/__init__.py
  tests/unit_tests/beamlines/i02_1/test_i02_1_gridscan_plan.py
  tests/unit_tests/beamlines/i02_1/test_setup_zebra.py
Due: ruff, ruff-format, type-checking, import-contracts

Typo
  src/mx_bluesky/beamlines/i02_1/parameters/gridscan.py
Due: ruff, ruff-format, type-checking, import-contracts

make codecov happy
  src/mx_bluesky/common/parameters/gridscan.py
  tests/unit_tests/common/parameters/test_gridscan.py
Due: ruff, ruff-format, type-checking, import-contracts

Added new move on click plan
  src/mx_bluesky/beamlines/i24/serial/web_gui_plans/oav_plans.py
Due: ruff, ruff-format, type-checking, import-contracts

improve tests
  tests/unit_tests/beamlines/i02_1/test_i02_1_gridscan_plan.py
  tests/unit_tests/common/parameters/test_gridscan.py
Due: ruff, ruff-format, type-checking, import-contracts

Inject oav to calculate coordinates with microns per pixel
  src/mx_bluesky/beamlines/i24/serial/web_gui_plans/oav_plans.py
Due: ruff, ruff-format, type-checking, import-contracts

wip
  src/mx_bluesky/beamlines/i02_1/i02_1_gridscan_plan.py
  src/mx_bluesky/common/external_interaction/callbacks/common/ispyb_callback_base.py
Due: ruff, ruff-format, type-checking, import-contracts

Move rotation ispyb callbacks to common
  src/mx_bluesky/common/external_interaction/callbacks/rotation/__init__.py
  src/mx_bluesky/common/external_interaction/callbacks/rotation/ispyb_callback.py
  src/mx_bluesky/common/external_interaction/callbacks/rotation/ispyb_mapping.py
  src/mx_bluesky/common/external_interaction/callbacks/rotation/nexus_callback.py
  src/mx_bluesky/hyperion/external_interaction/callbacks/__main__.py
  tests/system_tests/hyperion/external_interaction/test_ispyb_dev_connection.py
  tests/system_tests/hyperion/external_interaction/test_load_centre_collect_full_plan.py
  tests/system_tests/hyperion/external_interaction/test_nexgen.py
  tests/unit_tests/common/external_interaction/callbacks/test_zocalo_handler.py
  tests/unit_tests/hyperion/experiment_plans/test_rotation_scan_plan.py
  tests/unit_tests/hyperion/external_interaction/callbacks/rotation/test_ispyb_callback.py
  tests/unit_tests/hyperion/external_interaction/callbacks/test_rotation_callbacks.py
  tests/unit_tests/hyperion/external_interaction/nexus/test_compare_nexus_to_gda_exhaustively.py
  tests/unit_tests/hyperion/external_interaction/test_write_rotation_nexus.py
Due: ruff, ruff-format, type-checking, import-contracts

Updated with fixed unit tests
  tests/conftest.py
  tests/system_tests/hyperion/external_interaction/conftest.py
  tests/unit_tests/beamlines/i04/test_thawing.py
  tests/unit_tests/common/device_setup_plans/test_robot_load_unload.py
  tests/unit_tests/common/experiment_plans/test_grid_detection_plan.py
  tests/unit_tests/common/experiment_plans/test_pin_tip_centring.py
  tests/unit_tests/hyperion/experiment_plans/conftest.py
  tests/unit_tests/hyperion/experiment_plans/test_rotation_scan_plan.py
Due: ruff, ruff-format, type-checking, import-contracts

Update pyproject.toml to refer to branch
  pyproject.toml
Due: uv-sync, local-install-dodal

Support ispyb deposition for jungfrau rotation scans
  src/mx_bluesky/beamlines/i24/jungfrau_commissioning/callbacks/metadata_writer.py
  src/mx_bluesky/beamlines/i24/jungfrau_commissioning/experiment_plans/rotation_scan_plan.py
  src/mx_bluesky/beamlines/i24/parameters/constants.py
  src/mx_bluesky/common/external_interaction/callbacks/common/ispyb_mapping.py
  src/mx_bluesky/common/external_interaction/callbacks/rotation/ispyb_callback.py
  src/mx_bluesky/common/parameters/components.py
  src/mx_bluesky/common/parameters/constants.py
Due: ruff, ruff-format, type-checking, import-contracts

Update pyproject
  pyproject.toml
Due: uv-sync, local-install-dodal

Go back
  pyproject.toml
Due: uv-sync, local-install-dodal

Fix imports
  pyproject.toml
  tests/unit_tests/beamlines/i24/conftest.py
  tests/unit_tests/beamlines/i24/web_gui/conftest.py
  tests/unit_tests/beamlines/i24/web_gui/test_jungfrau_plans.py
  uv.lock
Due: ruff, ruff-format, type-checking, import-contracts, uv-sync, local-install-dodal

Try to fix linting
  tests/unit_tests/beamlines/i24/web_gui/conftest.py
Due: ruff, ruff-format, type-checking, import-contracts

Set up web UI entry points for jungfrau (#1565)
  pyproject.toml
  src/mx_bluesky/beamlines/i24/__init__.py
  src/mx_bluesky/beamlines/i24/serial/__init__.py
  src/mx_bluesky/beamlines/i24/web_gui_plans/__init__.py
  src/mx_bluesky/beamlines/i24/web_gui_plans/general_plans.py
  src/mx_bluesky/beamlines/i24/web_gui_plans/jungfrau_plans.py
  src/mx_bluesky/beamlines/i24/web_gui_plans/oav_plans.py
  tests/unit_tests/beamlines/i24/conftest.py
  tests/unit_tests/beamlines/i24/serial/conftest.py
  tests/unit_tests/beamlines/i24/web_gui/__init__.py
  tests/unit_tests/beamlines/i24/web_gui/conftest.py
  tests/unit_tests/beamlines/i24/web_gui/test_general_plans.py
  tests/unit_tests/beamlines/i24/web_gui/test_jungfrau_plans.py
  tests/unit_tests/beamlines/i24/web_gui/test_oav_plans.py
  uv.lock
Due: ruff, ruff-format, type-checking, import-contracts, uv-sync, local-install-dodal

Fixes
  src/mx_bluesky/beamlines/i24/jungfrau_commissioning/callbacks/metadata_writer.py
  src/mx_bluesky/beamlines/i24/jungfrau_commissioning/experiment_plans/rotation_scan_plan.py
  src/mx_bluesky/common/external_interaction/callbacks/rotation/ispyb_callback.py
  src/mx_bluesky/common/parameters/components.py
  src/mx_bluesky/hyperion/parameters/constants.py
  tests/unit_tests/beamlines/i24/jungfrau_commissioning/callbacks/test_metadata_writer.py
  tests/unit_tests/beamlines/i24/jungfrau_commissioning/test_rotation_scan.py
  tests/unit_tests/conftest.py
Due: ruff, ruff-format, type-checking, import-contracts

pin dodal for ci
  pyproject.toml
  uv.lock
Due: uv-sync, local-install-dodal

Fix unit tests, additional tests
  src/mx_bluesky/beamlines/i24/jungfrau_commissioning/experiment_plans/rotation_scan_plan.py
  src/mx_bluesky/common/experiment_plans/oav_grid_detection_plan.py
  src/mx_bluesky/common/experiment_plans/rotation/rotation_utils.py
  src/mx_bluesky/common/external_interaction/callbacks/common/grid_detection_callback.py
  src/mx_bluesky/hyperion/experiment_plans/rotation_scan_plan.py
  tests/conftest.py
  tests/unit_tests/beamlines/i04/test_thawing.py
  tests/unit_tests/beamlines/i24/jungfrau_commissioning/test_rotation_scan.py
  tests/unit_tests/common/experiment_plans/test_grid_detection_plan.py
  tests/unit_tests/common/experiment_plans/test_pin_tip_centring.py
  tests/unit_tests/hyperion/experiment_plans/test_rotation_scan_plan.py
Due: ruff, ruff-format, type-checking, import-contracts

tidy up
  src/mx_bluesky/beamlines/i24/jungfrau_commissioning/callbacks/metadata_writer.py
  src/mx_bluesky/beamlines/i24/jungfrau_commissioning/experiment_plans/rotation_scan_plan.py
  src/mx_bluesky/common/external_interaction/callbacks/common/ispyb_mapping.py
  src/mx_bluesky/common/external_interaction/callbacks/rotation/ispyb_callback.py
  src/mx_bluesky/common/parameters/components.py
Due: ruff, ruff-format, type-checking, import-contracts

fix codecov
  src/mx_bluesky/beamlines/aithre_lasershaping/experiment_plans/robot_load_plan.py
  src/mx_bluesky/hyperion/experiment_plans/load_centre_collect_full_plan.py
  src/mx_bluesky/hyperion/experiment_plans/robot_load_and_change_energy.py
  tests/unit_tests/beamlines/aithre_lasershaping/test_robot_load.py
  tests/unit_tests/common/external_interaction/callbacks/common/test_ispyb_mapping.py
  tests/unit_tests/hyperion/external_interaction/callbacks/rotation/test_ispyb_callback.py
Due: ruff, ruff-format, type-checking, import-contracts

Change from implicit phase usage via ModMotor to explicit usage with RotationalAxis
  src/mx_bluesky/common/experiment_plans/oav_grid_detection_plan.py
  src/mx_bluesky/common/experiment_plans/oav_snapshot_plan.py
  src/mx_bluesky/common/experiment_plans/pin_tip_centring_plan.py
  src/mx_bluesky/common/external_interaction/callbacks/common/grid_detection_callback.py
  src/mx_bluesky/common/external_interaction/callbacks/xray_centre/ispyb_callback.py
  src/mx_bluesky/hyperion/external_interaction/callbacks/snapshot_callback.py
  tests/conftest.py
  tests/system_tests/hyperion/external_interaction/conftest.py
  tests/system_tests/hyperion/external_interaction/test_load_centre_collect_full_plan.py
  tests/unit_tests/common/device_setup_plans/test_robot_load_unload.py
  tests/unit_tests/common/experiment_plans/test_grid_detection_plan.py
  tests/unit_tests/common/experiment_plans/test_oav_snapshot_plan.py
  tests/unit_tests/common/experiment_plans/test_pin_tip_centring.py
  tests/unit_tests/hyperion/experiment_plans/conftest.py
  tests/unit_tests/hyperion/experiment_plans/test_rotation_scan_plan.py
Due: ruff, ruff-format, type-checking, import-contracts

Remove redundant test
  tests/unit_tests/hyperion/experiment_plans/test_rotation_scan_plan.py
Due: ruff, ruff-format, type-checking, import-contracts

Make motion profile use the nearest omega
  src/mx_bluesky/common/experiment_plans/rotation/rotation_utils.py
  tests/unit_tests/hyperion/experiment_plans/test_rotation_scan_plan.py
Due: ruff, ruff-format, type-checking, import-contracts

Remove obsolete tests for wrapped smargon
  tests/unit_tests/common/experiment_plans/test_grid_detection_plan.py
Due: ruff, ruff-format, type-checking, import-contracts

WIP
  src/mx_bluesky/beamlines/i04/experiment_plans/i04_grid_detect_then_xray_centre_plan.py
  src/mx_bluesky/common/experiment_plans/change_aperture_then_move_plan.py
  tests/unit_tests/common/experiment_plans/test_change_aperture_then_move_plan.py
  uv.lock
Due: ruff, ruff-format, type-checking, import-contracts, uv-sync, local-install-dodal

Fixes for unit tests, fix latent bug in zebra shutter setup
  pyproject.toml
  src/mx_bluesky/common/device_setup_plans/setup_panda.py
  src/mx_bluesky/common/device_setup_plans/setup_zebra_and_shutter.py
  tests/unit_tests/beamlines/i04/test_i04_grid_detect_then_xray_centre_plan.py
  tests/unit_tests/beamlines/i04/test_oav_imaging.py
  tests/unit_tests/beamlines/i04/test_thawing.py
  tests/unit_tests/beamlines/i24/serial/extruder/test_extruder_collect.py
  tests/unit_tests/beamlines/i24/serial/fixed_target/test_chip_manager.py
  tests/unit_tests/beamlines/i24/serial/fixed_target/test_ft_collect.py
  tests/unit_tests/beamlines/i24/serial/fixed_target/test_moveonclick.py
  tests/unit_tests/common/device_setup_plans/test_robot_load_unload.py
  tests/unit_tests/common/experiment_plans/test_common_grid_detect_then_xray_centre_plan.py
  tests/unit_tests/common/experiment_plans/test_pin_tip_centring.py
  tests/unit_tests/hyperion/device_setup_plans/test_dcm_pitch_roll_mirror_adjuster.py
  tests/unit_tests/hyperion/experiment_plans/test_rotation_scan_plan.py
  tests/unit_tests/hyperion/test_baton_handler.py
Due: ruff, ruff-format, type-checking, import-contracts, uv-sync, local-install-dodal

Update uv.lock
  uv.lock
Due: uv-sync, local-install-dodal

Fixes for unit tests, fix latent bug in zebra shutter setup (#1641)
  pyproject.toml
  src/mx_bluesky/common/device_setup_plans/setup_panda.py
  src/mx_bluesky/common/device_setup_plans/setup_zebra_and_shutter.py
  tests/unit_tests/beamlines/i04/test_i04_grid_detect_then_xray_centre_plan.py
  tests/unit_tests/beamlines/i04/test_oav_imaging.py
  tests/unit_tests/beamlines/i04/test_thawing.py
  tests/unit_tests/beamlines/i24/serial/extruder/test_extruder_collect.py
  tests/unit_tests/beamlines/i24/serial/fixed_target/test_chip_manager.py
  tests/unit_tests/beamlines/i24/serial/fixed_target/test_ft_collect.py
  tests/unit_tests/beamlines/i24/serial/fixed_target/test_moveonclick.py
  tests/unit_tests/common/device_setup_plans/test_robot_load_unload.py
  tests/unit_tests/common/experiment_plans/test_common_grid_detect_then_xray_centre_plan.py
  tests/unit_tests/common/experiment_plans/test_pin_tip_centring.py
  tests/unit_tests/hyperion/device_setup_plans/test_dcm_pitch_roll_mirror_adjuster.py
  tests/unit_tests/hyperion/experiment_plans/test_rotation_scan_plan.py
  tests/unit_tests/hyperion/test_baton_handler.py
  uv.lock
Due: ruff, ruff-format, type-checking, import-contracts, uv-sync, local-install-dodal

Fix system tests failing due to cached device references
  tests/system_tests/hyperion/external_interaction/test_baton_handler_soak.py
Due: ruff, ruff-format, type-checking, import-contracts

Fix: hyperion-supervisor unable to serialize load centre collect (#1575)
  src/mx_bluesky/common/parameters/components.py
  src/mx_bluesky/common/utils/xrc_result.py
  src/mx_bluesky/hyperion/_plan_runner_params.py
  src/mx_bluesky/hyperion/baton_handler.py
  src/mx_bluesky/hyperion/blueapi/__init__.py
  src/mx_bluesky/hyperion/blueapi/mixins.py
  src/mx_bluesky/hyperion/blueapi/parameters.py
  src/mx_bluesky/hyperion/blueapi/plans.py
  src/mx_bluesky/hyperion/blueapi_config.yaml
  src/mx_bluesky/hyperion/blueapi_dev_config.yaml
  src/mx_bluesky/hyperion/experiment_plans/load_centre_collect_full_plan.py
  src/mx_bluesky/hyperion/external_interaction/agamemnon.py
  src/mx_bluesky/hyperion/in_process_runner.py
  src/mx_bluesky/hyperion/parameters/load_centre_collect.py
  src/mx_bluesky/hyperion/plan_runner.py
  src/mx_bluesky/hyperion/supervisor/_supervisor.py
  src/mx_bluesky/hyperion/utils/centre_selection.py
  tests/system_tests/hyperion/external_interaction/test_agamemnon.py
  tests/system_tests/hyperion/external_interaction/test_load_centre_collect_full_plan.py
  tests/system_tests/hyperion/supervisor/dummy_plans.py
  tests/system_tests/hyperion/supervisor/test_supervisor.py
  tests/test_data/parameter_json_files/external_load_centre_collect_params.json
  tests/unit_tests/common/parameters/test_components.py
  tests/unit_tests/hyperion/blueapi_plans/__init__.py
  tests/unit_tests/hyperion/blueapi_plans/test_parameters.py
  tests/unit_tests/hyperion/conftest.py
  tests/unit_tests/hyperion/experiment_plans/common/test_flyscan_result.py
  tests/unit_tests/hyperion/experiment_plans/test_load_centre_collect_full_plan.py
  tests/unit_tests/hyperion/external_interaction/test_agamemnon.py
  tests/unit_tests/hyperion/supervisor/test_supervisor.py
  tests/unit_tests/hyperion/test_baton_handler.py
  tests/unit_tests/hyperion/test_blueapi_plans.py
Due: ruff, ruff-format, type-checking, import-contracts

Fix tests and add test
  tests/unit_tests/beamlines/i04/test_i04_grid_detect_then_xray_centre_plan.py
Due: ruff, ruff-format, type-checking, import-contracts

hack something together
  src/mx_bluesky/beamlines/i24/jungfrau_commissioning/plan_stubs/plan_utils.py
  src/mx_bluesky/beamlines/i24/serial/fixed_target/i24ssx_chip_collect_py3v1.py
  src/mx_bluesky/beamlines/i24/serial/setup_beamline/setup_zebra_plans.py
Due: ruff, ruff-format, type-checking, import-contracts

`hyperion-supervisor` monitoring of `hyperion-blueapi` progress + alerts for no beam and other cases where hyperion is stuck (#1633)
  docs/user/hyperion/advanced/alerts.rst
  src/mx_bluesky/hyperion/blueapi_config.yaml
  src/mx_bluesky/hyperion/blueapi_dev_config.yaml
  src/mx_bluesky/hyperion/supervisor/_supervisor.py
  src/mx_bluesky/hyperion/supervisor/_task_monitor.py
  tests/conftest.py
  tests/system_tests/hyperion/supervisor/dummy_plans.py
  tests/system_tests/hyperion/supervisor/system_test_blueapi.yaml
  tests/system_tests/hyperion/supervisor/test_supervisor.py
  tests/unit_tests/hyperion/external_interaction/callbacks/test_alert_on_container_change.py
  tests/unit_tests/hyperion/supervisor/test_supervisor.py
  tests/unit_tests/hyperion/supervisor/test_task_monitor.py
  uv.lock
Due: ruff, ruff-format, type-checking, import-contracts, uv-sync, local-install-dodal
