Repository DiamondLightSource/mx-bluesky: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, type-checking, import-contracts, uv-sync, local-install-dodal

ruff:
  name: lint with ruff
  language: system
  entry: ruff check --force-exclude --fix
  require_serial: true

ruff-format:
  name: format with ruff
  language: system
  entry: ruff format --force-exclude
  require_serial: true

type-checking:
  name: type-checking with pyright
  language: system
  entry: tox -e type-checking
  require_serial: true

import-contracts:
  name: Ensure import directionality
  pass_filenames: false
  language: system
  entry: lint-imports
  require_serial: false

uv-sync:
  name: update uv.lock and venv
  pass_filenames: false
  language: system
  entry: uv sync

local-install-dodal:
  name: editable install of dodal
  language: system
  pass_filenames: false
  entry: uv pip install -e ../dodal

Fixup system tests to find the correct oav
  tests/system_tests/conftest.py
  tests/system_tests/hyperion/external_interaction/conftest.py
Due: ruff, ruff-format, type-checking, import-contracts

WIP some unit tests refactored
  src/mx_bluesky/beamlines/i02_1/external_interaction/callbacks/gridscan/ispyb_callback.py
  src/mx_bluesky/common/experiment_plans/common_grid_detect_then_xray_centre_plan.py
  src/mx_bluesky/common/parameters/device_composites.py
  src/mx_bluesky/hyperion/parameters/device_composites.py
  tests/test_data/parameter_json_files/internal/grid_detect_params.json
  tests/test_data/parameter_json_files/internal/grid_scan_params_3d.json
  tests/test_data/parameter_json_files/internal/minimal_diffraction_expt_with_sample.json
  tests/unit_tests/beamlines/i02_1/conftest.py
  tests/unit_tests/beamlines/i02_1/test_gridscan_ispyb_callback.py
  tests/unit_tests/beamlines/i02_1/test_i02_1_gridscan_plan.py
  tests/unit_tests/common/experiment_plans/test_common_flyscan_xray_centre_plan.py
  tests/unit_tests/common/experiment_plans/test_common_grid_detect_then_xray_centre_plan.py
  tests/unit_tests/common/parameters/test_gridscan.py
  tests/unit_tests/conftest.py
Due: ruff, ruff-format, type-checking, import-contracts

Remove generate_plantuml script
  utility_scripts/generate_plantuml.py
Due: ruff, ruff-format, type-checking, import-contracts

Fixup unit tests
  src/mx_bluesky/common/parameters/device_composites.py
  tests/conftest.py
  tests/system_tests/hyperion/external_interaction/conftest.py
  tests/unit_tests/beamlines/i02_1/test_i02_1_gridscan_plan.py
  tests/unit_tests/conftest.py
  tests/unit_tests/hyperion/experiment_plans/test_hyperion_flyscan_xray_centre_plan.py
Due: ruff, ruff-format, type-checking, import-contracts

All system tests passing Rationalise beamline specific composites
  src/mx_bluesky/beamlines/i04/experiment_plans/i04_grid_detect_then_xray_centre_plan.py
  src/mx_bluesky/common/experiment_plans/change_aperture_then_move_plan.py
  src/mx_bluesky/common/parameters/device_composites.py
  src/mx_bluesky/hyperion/experiment_plans/hyperion_flyscan_xray_centre_plan.py
  src/mx_bluesky/hyperion/parameters/device_composites.py
  tests/conftest.py
  tests/system_tests/hyperion/external_interaction/callbacks/test_external_callbacks.py
  tests/system_tests/hyperion/external_interaction/conftest.py
  tests/system_tests/hyperion/external_interaction/test_nexgen.py
  tests/unit_tests/common/experiment_plans/test_change_aperture_then_move_plan.py
  tests/unit_tests/common/experiment_plans/test_common_grid_detect_then_xray_centre_plan.py
  tests/unit_tests/conftest.py
Due: ruff, ruff-format, type-checking, import-contracts

Add new parameter plantUML drawings
  docs/developer/hyperion/reference/common_params.puml
  docs/developer/hyperion/reference/internal_params_gridscan.puml
  docs/developer/hyperion/reference/internal_params_rotation.puml
Due: none

System tests fixed for type correctness
  src/mx_bluesky/common/external_interaction/callbacks/grid/grid_detect_and_scan/ispyb_callback.py
  src/mx_bluesky/common/external_interaction/callbacks/grid/grid_detect_and_scan/nexus_callback.py
  src/mx_bluesky/common/external_interaction/callbacks/grid/gridscan/ispyb_callback.py
  src/mx_bluesky/hyperion/external_interaction/callbacks/__main__.py
  src/mx_bluesky/hyperion/parameters/robot_load.py
  tests/system_tests/hyperion/external_interaction/callbacks/test_external_callbacks.py
  tests/system_tests/hyperion/external_interaction/conftest.py
  tests/system_tests/hyperion/external_interaction/test_ispyb_dev_connection.py
  tests/system_tests/hyperion/external_interaction/test_load_centre_collect_full_plan.py
  tests/system_tests/hyperion/external_interaction/test_zocalo_system.py
Due: ruff, ruff-format, type-checking, import-contracts

Add some package-related TODOs Move I02_1FgsParams
  src/mx_bluesky/beamlines/i02_1/external_interaction/callbacks/gridscan/ispyb_callback.py
  src/mx_bluesky/beamlines/i02_1/i02_1_gridscan_plan.py
  src/mx_bluesky/beamlines/i02_1/parameters.py
  src/mx_bluesky/beamlines/i02_1/parameters/__init__.py
  src/mx_bluesky/beamlines/i02_1/parameters/gridscan.py
  src/mx_bluesky/hyperion/parameters/cli.py
  src/mx_bluesky/hyperion/parameters/device_composites.py
  src/mx_bluesky/hyperion/parameters/gridscan.py
  tests/unit_tests/beamlines/i02_1/conftest.py
  tests/unit_tests/beamlines/i02_1/test_gridscan_ispyb_callback.py
  tests/unit_tests/beamlines/i02_1/test_i02_1_gridscan_plan.py
Due: ruff, ruff-format, type-checking, import-contracts

Derive x, y step sizes from box_size_um
  src/mx_bluesky/beamlines/i02_1/i02_1_gridscan_plan.py
  src/mx_bluesky/beamlines/i02_1/parameters.py
  tests/unit_tests/beamlines/i02_1/conftest.py
  tests/unit_tests/beamlines/i02_1/test_i02_1_gridscan_plan.py
Due: ruff, ruff-format, type-checking, import-contracts

WIP add system test, issues with imginfo
  tests/system_tests/hyperion/external_interaction/test_nexgen.py
Due: ruff, ruff-format, type-checking, import-contracts

Initial fix for rotation scanspec direction
  src/mx_bluesky/common/parameters/rotation.py
  tests/test_data/parameter_json_files/good_test_rotation_scan_parameters.json
  tests/unit_tests/common/parameters/test_rotation.py
Due: ruff, ruff-format, type-checking, import-contracts

Fix unit tests
  tests/unit_tests/hyperion/experiment_plans/test_rotation_scan_plan.py
Due: ruff, ruff-format, type-checking, import-contracts

Fix system tests
  tests/system_tests/hyperion/external_interaction/test_baton_handler_soak.py
  tests/system_tests/hyperion/external_interaction/test_nexgen.py
Due: ruff, ruff-format, type-checking, import-contracts

Added Test
  tests/unit_tests/beamlines/i24/web_gui/test_oav_plans.py
Due: ruff, ruff-format, type-checking, import-contracts

Added move on click plan to oav
  src/mx_bluesky/beamlines/i24/web_gui_plans/oav_plans.py
Due: ruff, ruff-format, type-checking, import-contracts

Fix linting
  uv.lock
Due: uv-sync, local-install-dodal

Parametised microns per pixel for better testing
  tests/unit_tests/beamlines/i24/web_gui/test_oav_plans.py
  uv.lock
Due: ruff, ruff-format, type-checking, import-contracts, uv-sync, local-install-dodal

Added new move on click plan (#1637)
  src/mx_bluesky/beamlines/i24/web_gui_plans/oav_plans.py
  tests/unit_tests/beamlines/i24/web_gui/test_oav_plans.py
Due: ruff, ruff-format, type-checking, import-contracts

Update set_panda_directory to use path provider registry
  src/mx_bluesky/hyperion/device_setup_plans/setup_panda.py
Due: ruff, ruff-format, type-checking, import-contracts

WIP - refactoring beamline specific features to accept variable detector type
  src/mx_bluesky/beamlines/i02_1/i02_1_gridscan_plan.py
  src/mx_bluesky/beamlines/i04/experiment_plans/i04_grid_detect_then_xray_centre_plan.py
  src/mx_bluesky/common/device_setup_plans/eiger.py
  src/mx_bluesky/common/experiment_plans/common_flyscan_xray_centre_plan.py
  src/mx_bluesky/common/experiment_plans/common_grid_detect_then_xray_centre_plan.py
  src/mx_bluesky/common/parameters/device_composites.py
  src/mx_bluesky/hyperion/blueapi/composites.py
  src/mx_bluesky/hyperion/blueapi/plans.py
  src/mx_bluesky/hyperion/experiment_plans/hyperion_beamline_specific.py
  src/mx_bluesky/hyperion/experiment_plans/pin_centre_then_gridscan_plan.py
  src/mx_bluesky/hyperion/experiment_plans/pin_centre_then_xray_centre.py
  src/mx_bluesky/hyperion/experiment_plans/robot_load_then_centre_plan.py
  src/mx_bluesky/hyperion/parameters/device_composites.py
  tests/conftest.py
  tests/system_tests/hyperion/external_interaction/callbacks/test_external_callbacks.py
  tests/system_tests/hyperion/external_interaction/conftest.py
  tests/system_tests/hyperion/external_interaction/test_ispyb_dev_connection.py
  tests/system_tests/hyperion/external_interaction/test_load_centre_collect_full_plan.py
  tests/unit_tests/conftest.py
  tests/unit_tests/hyperion/experiment_plans/conftest.py
  tests/unit_tests/hyperion/experiment_plans/test_hyperion_flyscan_xray_centre_plan.py
  tests/unit_tests/hyperion/experiment_plans/test_pin_centre_then_xray_centre_plan.py
  tests/unit_tests/hyperion/experiment_plans/test_robot_load_then_centre.py
Due: ruff, ruff-format, type-checking, import-contracts

Change pin_centre_then_gridscan_plan signatures for generics
  src/mx_bluesky/hyperion/experiment_plans/pin_centre_then_gridscan_plan.py
Due: ruff, ruff-format, type-checking, import-contracts

Pin dodal to 2.5.3 or higher
  pyproject.toml
Due: uv-sync, local-install-dodal

Update uv.lock
  uv.lock
Due: uv-sync, local-install-dodal

Pin ophyd-async to avoid pulling new version
  pyproject.toml
Due: uv-sync, local-install-dodal

Downgrade to 0.19.3
  pyproject.toml
Due: uv-sync, local-install-dodal

Pin dodal before release (#1796)
  pyproject.toml
  uv.lock
Due: uv-sync, local-install-dodal

Change all reserved attribute sets in mocks to use set_mock_attr
  tests/conftest.py
  tests/unit_tests/beamlines/aithre_lasershaping/test_robot_load.py
  tests/unit_tests/beamlines/i04/test_oav_imaging.py
  tests/unit_tests/beamlines/i04/test_thawing.py
  tests/unit_tests/beamlines/i24/jungfrau_commissioning/experiment_plans/test_do_darks.py
  tests/unit_tests/beamlines/i24/jungfrau_commissioning/plan_stubs/test_plan_utils.py
  tests/unit_tests/beamlines/i24/jungfrau_commissioning/test_do_darks.py
  tests/unit_tests/beamlines/i24/jungfrau_commissioning/test_rotation_scan.py
  tests/unit_tests/beamlines/i24/serial/extruder/test_extruder_collect.py
  tests/unit_tests/beamlines/i24/serial/fixed_target/test_ft_collect.py
  tests/unit_tests/common/device_setup_plans/test_robot_load_unload.py
  tests/unit_tests/common/device_setup_plans/test_xbpm_feedback.py
  tests/unit_tests/common/experiment_plans/test_common_flyscan_xray_centre_plan.py
  tests/unit_tests/common/experiment_plans/test_pin_tip_centring.py
  tests/unit_tests/common/external_interaction/callbacks/common/test_snapshot_callback.py
  tests/unit_tests/common/preprocessors/test_preprocessors.py
  tests/unit_tests/conftest.py
  tests/unit_tests/hyperion/device_setup_plans/test_setup_oav.py
  tests/unit_tests/hyperion/device_setup_plans/test_utils.py
  tests/unit_tests/hyperion/experiment_plans/conftest.py
  tests/unit_tests/hyperion/experiment_plans/test_load_centre_collect_full_plan.py
  tests/unit_tests/hyperion/experiment_plans/test_optimise_attenuation_plan.py
  tests/unit_tests/hyperion/experiment_plans/test_robot_load_and_change_energy.py
  tests/unit_tests/hyperion/experiment_plans/test_rotation_scan_plan.py
Due: ruff, ruff-format, type-checking, import-contracts

Fix system tests to use set_mock_attr
  tests/system_tests/conftest.py
  tests/system_tests/hyperion/external_interaction/conftest.py
  tests/system_tests/hyperion/external_interaction/test_load_centre_collect_full_plan.py
Due: ruff, ruff-format, type-checking, import-contracts

Bump dodal version
  pyproject.toml
Due: uv-sync, local-install-dodal

WIP panda/zebra refactor
  src/mx_bluesky/beamlines/i02_1/device_setup_plans/gridscan.py
  src/mx_bluesky/beamlines/i02_1/i02_1_gridscan_plan.py
  src/mx_bluesky/beamlines/i04/experiment_plans/i04_grid_detect_then_xray_centre_plan.py
  src/mx_bluesky/common/device_setup_plans/gridscan.py
  src/mx_bluesky/common/experiment_plans/common_flyscan_xray_centre_plan.py
  src/mx_bluesky/common/parameters/gridscan.py
  src/mx_bluesky/hyperion/experiment_plans/hyperion_beamline_specific.py
  src/mx_bluesky/hyperion/experiment_plans/pin_centre_then_gridscan_plan.py
  src/mx_bluesky/hyperion/experiment_plans/pin_centre_then_xray_centre.py
  src/mx_bluesky/hyperion/parameters/gridscan.py
  tests/unit_tests/common/experiment_plans/test_common_flyscan_xray_centre_plan.py
  tests/unit_tests/common/experiment_plans/test_common_grid_detect_then_xray_centre_plan.py
  tests/unit_tests/hyperion/parameters/test_parameter_model.py
Due: ruff, ruff-format, type-checking, import-contracts

WIP refactoring detector
  src/mx_bluesky/beamlines/i02_1/i02_1_gridscan_plan.py
  src/mx_bluesky/beamlines/i04/experiment_plans/i04_grid_detect_then_xray_centre_plan.py
  src/mx_bluesky/common/device_setup_plans/detector/__init__.py
  src/mx_bluesky/common/device_setup_plans/detector/_eiger.py
  src/mx_bluesky/common/device_setup_plans/gridscan.py
  src/mx_bluesky/common/device_setup_plans/setup_zebra_and_shutter.py
  src/mx_bluesky/common/experiment_plans/common_flyscan_xray_centre_plan.py
  src/mx_bluesky/common/experiment_plans/common_grid_detect_then_xray_centre_plan.py
  src/mx_bluesky/hyperion/device_setup_plans/gridscan.py
  src/mx_bluesky/hyperion/experiment_plans/hyperion_beamline_specific.py
  src/mx_bluesky/hyperion/experiment_plans/pin_centre_then_gridscan_plan.py
  tests/unit_tests/common/device_setup_plans/test_setup_zebra_and_shutter.py
  tests/unit_tests/hyperion/parameters/test_parameter_model.py
Due: ruff, ruff-format, type-checking, import-contracts

WIP extending generics
  src/mx_bluesky/beamlines/i02_1/i02_1_gridscan_plan.py
  src/mx_bluesky/beamlines/i04/experiment_plans/i04_grid_detect_then_xray_centre_plan.py
  src/mx_bluesky/common/device_setup_plans/detector/_eiger.py
  src/mx_bluesky/common/device_setup_plans/detector/eiger.py
  src/mx_bluesky/common/device_setup_plans/detector/fastcs_eiger.py
  src/mx_bluesky/common/device_setup_plans/eiger.py
  src/mx_bluesky/common/device_setup_plans/utils.py
  src/mx_bluesky/common/experiment_plans/common_flyscan_xray_centre_plan.py
  src/mx_bluesky/common/experiment_plans/common_grid_detect_then_xray_centre_plan.py
  src/mx_bluesky/common/experiment_plans/inner_plans/do_fgs.py
  src/mx_bluesky/common/experiment_plans/inner_plans/read_hardware.py
  src/mx_bluesky/common/external_interaction/callbacks/common/ispyb_callback_base.py
  src/mx_bluesky/common/external_interaction/callbacks/common/zocalo_callback.py
  src/mx_bluesky/common/external_interaction/callbacks/grid/grid_detect_and_scan/event_mapping.py
  src/mx_bluesky/common/external_interaction/callbacks/grid/grid_detect_and_scan/ispyb_callback.py
  src/mx_bluesky/common/external_interaction/callbacks/grid/grid_detect_and_scan/nexus_callback.py
  src/mx_bluesky/common/external_interaction/callbacks/grid/gridscan/ispyb_callback.py
  src/mx_bluesky/common/parameters/constants.py
  src/mx_bluesky/common/parameters/device_composites.py
  src/mx_bluesky/hyperion/blueapi/plans.py
  src/mx_bluesky/hyperion/device_setup_plans/gridscan.py
  src/mx_bluesky/hyperion/experiment_plans/hyperion_beamline_specific.py
  src/mx_bluesky/hyperion/experiment_plans/pin_centre_then_gridscan_plan.py
  src/mx_bluesky/hyperion/experiment_plans/pin_centre_then_xray_centre.py
  src/mx_bluesky/hyperion/experiment_plans/robot_load_then_centre_plan.py
  src/mx_bluesky/hyperion/external_interaction/callbacks/__main__.py
  src/mx_bluesky/hyperion/external_interaction/callbacks/rotation/ispyb_callback.py
Due: ruff, ruff-format, type-checking, import-contracts

WIP src now passes type-checking
  src/mx_bluesky/beamlines/i02_1/i02_1_gridscan_plan.py
  src/mx_bluesky/beamlines/i04/experiment_plans/i04_grid_detect_then_xray_centre_plan.py
  src/mx_bluesky/common/device_setup_plans/detector/eiger.py
  src/mx_bluesky/common/device_setup_plans/detector/fastcs_eiger.py
  src/mx_bluesky/common/device_setup_plans/utils.py
  src/mx_bluesky/common/experiment_plans/common_flyscan_xray_centre_plan.py
  src/mx_bluesky/common/experiment_plans/common_grid_detect_then_xray_centre_plan.py
  src/mx_bluesky/common/experiment_plans/inner_plans/do_fgs.py
  src/mx_bluesky/common/experiment_plans/inner_plans/read_hardware.py
  src/mx_bluesky/common/parameters/device_composites.py
  src/mx_bluesky/hyperion/blueapi/composites.py
  src/mx_bluesky/hyperion/device_setup_plans/gridscan.py
  src/mx_bluesky/hyperion/experiment_plans/hyperion_beamline_specific.py
  src/mx_bluesky/hyperion/experiment_plans/pin_centre_then_gridscan_plan.py
  src/mx_bluesky/hyperion/experiment_plans/pin_centre_then_xray_centre.py
  src/mx_bluesky/hyperion/experiment_plans/rotation_scan_plan.py
  src/mx_bluesky/hyperion/external_interaction/callbacks/__main__.py
  tests/unit_tests/common/experiment_plans/test_common_flyscan_xray_centre_plan.py
  tests/unit_tests/common/experiment_plans/test_common_grid_detect_then_xray_centre_plan.py
  tests/unit_tests/common/utils/test_xrc_result.py
  tests/unit_tests/conftest.py
  tests/unit_tests/hyperion/experiment_plans/test_hyperion_flyscan_xray_centre_plan.py
Due: ruff, ruff-format, type-checking, import-contracts

WIP system tests passing type-checking
  src/mx_bluesky/hyperion/blueapi/composites.py
  tests/conftest.py
  tests/system_tests/hyperion/conftest.py
  tests/system_tests/hyperion/external_interaction/callbacks/test_external_callbacks.py
  tests/system_tests/hyperion/external_interaction/conftest.py
  tests/system_tests/hyperion/external_interaction/test_ispyb_dev_connection.py
  tests/system_tests/hyperion/external_interaction/test_load_centre_collect_full_plan.py
  tests/system_tests/hyperion/external_interaction/test_zocalo_system.py
Due: ruff, ruff-format, type-checking, import-contracts

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  type-checking: any of: \.py$
  import-contracts: any of: \.py$
  uv-sync: any of: ^(uv\.lock|pyproject\.toml)$
  local-install-dodal: any of: ^(uv\.lock|pyproject\.toml)$
