Repository DiamondLightSource/mx-bluesky: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, type-checking, import-contracts, uv-sync, local-install-dodal

ruff:
  name: lint with ruff
  language: system
  entry: ruff check --force-exclude --fix
  require_serial: true

ruff-format:
  name: format with ruff
  language: system
  entry: ruff format --force-exclude
  require_serial: true

type-checking:
  name: type-checking with pyright
  language: system
  entry: tox -e type-checking
  require_serial: true

import-contracts:
  name: Ensure import directionality
  pass_filenames: false
  language: system
  entry: lint-imports
  require_serial: false

uv-sync:
  name: update uv.lock and venv
  pass_filenames: false
  language: system
  entry: uv sync

local-install-dodal:
  name: editable install of dodal
  language: system
  pass_filenames: false
  entry: uv pip install -e ../dodal

Create plans for curent zoom find beam centre and optimise transmission
  src/mx_bluesky/beamlines/i04/oav_centering_plans/oav_imaging.py
Due: ruff, ruff-format, type-checking, import-contracts

Expose plans
  src/mx_bluesky/beamlines/i04/__init__.py
Due: ruff, ruff-format, type-checking, import-contracts

Fix plans that expose rd and mv plan stubs
  src/mx_bluesky/beamlines/i04/__init__.py
  src/mx_bluesky/beamlines/i04/expose_bluesky_plan_stubs.py
Due: ruff, ruff-format, type-checking, import-contracts

Fix bugs
  src/mx_bluesky/beamlines/i04/oav_centering_plans/oav_imaging.py
Due: ruff, ruff-format, type-checking, import-contracts

Add tests
  tests/unit_tests/beamlines/i04/test_oav_imaging.py
Due: ruff, ruff-format, type-checking, import-contracts

Fixes and tests
  src/mx_bluesky/beamlines/i04/__init__.py
  src/mx_bluesky/beamlines/i04/expose_plan_stubs.py
  tests/unit_tests/beamlines/i04/test_expose_plan_stubs.py
Due: ruff, ruff-format, type-checking, import-contracts

fix_exposed_plan_stubs
  src/mx_bluesky/beamlines/i04/__init__.py
  src/mx_bluesky/beamlines/i04/expose_plan_stubs.py
  tests/unit_tests/beamlines/i04/test_expose_plan_stubs.py
  uv.lock
Due: ruff, ruff-format, type-checking, import-contracts, uv-sync, local-install-dodal

PR comments
  src/mx_bluesky/beamlines/i24/serial/extruder/i24ssx_extruder_collect_py3v2.py
  src/mx_bluesky/beamlines/i24/serial/fixed_target/i24ssx_chip_manager_py3v1.py
  src/mx_bluesky/beamlines/i24/serial/web_gui_plans/general_plans.py
  src/mx_bluesky/hyperion/__main__.py
  src/mx_bluesky/hyperion/external_interaction/callbacks/__main__.py
  tests/system_tests/hyperion/external_interaction/callbacks/test_external_callbacks.py
  tests/unit_tests/beamlines/i04/test_i04_grid_detect_then_xray_centre_plan.py
  tests/unit_tests/beamlines/i24/serial/extruder/test_extruder_collect.py
  tests/unit_tests/beamlines/i24/serial/fixed_target/conftest.py
  tests/unit_tests/beamlines/i24/serial/parameters/test_parameter_model.py
  tests/unit_tests/common/external_interaction/test_config_server.py
  uv.lock
Due: ruff, ruff-format, type-checking, import-contracts, uv-sync, local-install-dodal

Fix errors
  tests/unit_tests/beamlines/i04/test_oav_imaging.py
Due: ruff, ruff-format, type-checking, import-contracts

PR comments
  src/mx_bluesky/beamlines/i04/__init__.py
  src/mx_bluesky/beamlines/i04/expose_plan_stubs.py
  src/mx_bluesky/beamlines/i04/oav_centering_plans/oav_imaging.py
  tests/unit_tests/beamlines/i04/test_expose_plan_stubs.py
  tests/unit_tests/beamlines/i04/test_oav_imaging.py
  uv.lock
Due: ruff, ruff-format, type-checking, import-contracts, uv-sync, local-install-dodal

Additional logic surrounding cryostream and commissioning mode
  src/mx_bluesky/hyperion/experiment_plans/udc_default_state.py
  tests/unit_tests/hyperion/experiment_plans/test_udc_default_state.py
Due: ruff, ruff-format, type-checking, import-contracts

Update uv.lock
  uv.lock
Due: uv-sync, local-install-dodal

Only ignore cryostream temperature in commissioning mode if cryo mode is CRYO_MODE_WARM (#1581)
  src/mx_bluesky/hyperion/experiment_plans/udc_default_state.py
  tests/unit_tests/hyperion/experiment_plans/test_udc_default_state.py
  uv.lock
Due: ruff, ruff-format, type-checking, import-contracts, uv-sync, local-install-dodal

Fixes from merge
  src/mx_bluesky/beamlines/i04/oav_centering_plans/oav_imaging.py
  tests/unit_tests/beamlines/i04/test_oav_imaging.py
Due: ruff, ruff-format, type-checking, import-contracts

Fix helm chart
  .github/workflows/_helm.yml
  uv.lock
Due: uv-sync, local-install-dodal

Remove logging from zocalo config
  helm/hyperion/templates/zocalo-config.yaml
  helm/mx-bluesky-blueapi/templates/zocalo-config.yaml
Due: none

Add composite
  src/mx_bluesky/beamlines/i04/oav_centering_plans/oav_imaging.py
  tests/unit_tests/beamlines/i04/test_oav_imaging.py
Due: ruff, ruff-format, type-checking, import-contracts

Implement robot unload for udc default state
  src/mx_bluesky/common/device_setup_plans/robot_load_unload.py
  src/mx_bluesky/hyperion/experiment_plans/udc_default_state.py
  src/mx_bluesky/hyperion/external_interaction/callbacks/robot_actions/ispyb_callback.py
  tests/unit_tests/hyperion/experiment_plans/test_udc_default_state.py
  tests/unit_tests/hyperion/external_interaction/callbacks/robot_load/test_robot_load_ispyb_callback.py
Due: ruff, ruff-format, type-checking, import-contracts

Make type-checking happy
  src/mx_bluesky/hyperion/external_interaction/callbacks/robot_actions/ispyb_callback.py
Due: ruff, ruff-format, type-checking, import-contracts

Fix unit tests for udc default state
  tests/unit_tests/hyperion/experiment_plans/test_udc_default_state.py
Due: ruff, ruff-format, type-checking, import-contracts

Disable zocalo configmap logging (#1606)
  .github/workflows/_helm.yml
  helm/hyperion/templates/zocalo-config.yaml
  helm/mx-bluesky-blueapi/templates/zocalo-config.yaml
Due: none

pin dodal for release
  pyproject.toml
  uv.lock
Due: uv-sync, local-install-dodal

pin to working dodal
  pyproject.toml
  uv.lock
Due: uv-sync, local-install-dodal

PR comments
  src/mx_bluesky/beamlines/i24/serial/fixed_target/i24ssx_chip_manager_py3v1.py
Due: ruff, ruff-format, type-checking, import-contracts

Fix lint
  uv.lock
Due: uv-sync, local-install-dodal

Expose more i04 plans (#1599)
  src/mx_bluesky/beamlines/i04/__init__.py
  src/mx_bluesky/beamlines/i04/oav_centering_plans/oav_imaging.py
  tests/unit_tests/beamlines/i04/test_oav_imaging.py
  uv.lock
Due: ruff, ruff-format, type-checking, import-contracts, uv-sync, local-install-dodal

Fix lint
  tests/unit_tests/beamlines/i04/test_oav_imaging.py
Due: ruff, ruff-format, type-checking, import-contracts

Fix
  tests/unit_tests/beamlines/i04/test_oav_imaging.py
Due: ruff, ruff-format, type-checking, import-contracts

Enable pyright reportArgumentType rule (#1582)
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  pyproject.toml
  src/mx_bluesky/beamlines/aithre_lasershaping/robot_load.py
  src/mx_bluesky/beamlines/i04/experiment_plans/i04_grid_detect_then_xray_centre_plan.py
  src/mx_bluesky/beamlines/i04/redis_to_murko_forwarder.py
  src/mx_bluesky/beamlines/i24/jungfrau_commissioning/experiment_plans/rotation_scan_plan.py
  src/mx_bluesky/beamlines/i24/serial/extruder/i24ssx_extruder_collect_py3v2.py
  src/mx_bluesky/beamlines/i24/serial/fixed_target/i24ssx_chip_manager_py3v1.py
  src/mx_bluesky/beamlines/i24/serial/parameters/experiment_parameters.py
  src/mx_bluesky/beamlines/i24/serial/setup_beamline/setup_zebra_plans.py
  src/mx_bluesky/beamlines/i24/serial/web_gui_plans/general_plans.py
  src/mx_bluesky/common/experiment_plans/beamstop_check.py
  src/mx_bluesky/common/experiment_plans/common_flyscan_xray_centre_plan.py
  src/mx_bluesky/common/experiment_plans/inner_plans/read_hardware.py
  src/mx_bluesky/hyperion/__main__.py
  src/mx_bluesky/hyperion/experiment_plans/hyperion_flyscan_xray_centre_plan.py
  src/mx_bluesky/hyperion/external_interaction/callbacks/__main__.py
  src/mx_bluesky/hyperion/in_process_runner.py
  tests/conftest.py
  tests/system_tests/hyperion/external_interaction/callbacks/test_external_callbacks.py
  tests/unit_tests/beamlines/aithre_lasershaping/test_robot_load.py
  tests/unit_tests/beamlines/i04/callbacks/test_murko_callback.py
  tests/unit_tests/beamlines/i04/test_i04_grid_detect_then_xray_centre_plan.py
  tests/unit_tests/beamlines/i04/test_oav_imaging.py
  tests/unit_tests/beamlines/i24/jungfrau_commissioning/callbacks/test_metadata_writer.py
  tests/unit_tests/beamlines/i24/serial/conftest.py
  tests/unit_tests/beamlines/i24/serial/extruder/test_extruder_collect.py
  tests/unit_tests/beamlines/i24/serial/fixed_target/conftest.py
  tests/unit_tests/beamlines/i24/serial/parameters/test_parameter_model.py
  tests/unit_tests/beamlines/i24/serial/setup_beamline/test_zebra_plans.py
  tests/unit_tests/common/experiment_plans/test_beamstop_check.py
  tests/unit_tests/common/external_interaction/test_config_server.py
  tests/unit_tests/hyperion/experiment_plans/test_udc_default_state.py
  tests/unit_tests/hyperion/parameters/test_parameter_model.py
  tests/unit_tests/hyperion/test_blueapi_plans.py
  uv.lock
Due: ruff, ruff-format, type-checking, import-contracts, uv-sync, local-install-dodal

linting
  src/mx_bluesky/hyperion/experiment_plans/pin_centre_then_xray_centre_plan.py
Due: ruff, ruff-format, type-checking, import-contracts

Fix uv lock
  uv.lock
Due: uv-sync, local-install-dodal

Initial changes to support aperture_scatterguard configuration
  tests/conftest.py
  tests/unit_tests/hyperion/experiment_plans/test_udc_default_state.py
Due: ruff, ruff-format, type-checking, import-contracts

Make type-checking happy
  tests/unit_tests/hyperion/experiment_plans/test_hyperion_flyscan_xray_centre_plan.py
Due: ruff, ruff-format, type-checking, import-contracts

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  type-checking: any of: \.py$
  import-contracts: any of: \.py$
  uv-sync: any of: ^(uv\.lock|pyproject\.toml)$
  local-install-dodal: any of: ^(uv\.lock|pyproject\.toml)$
