Repository DiamondLightSource/mx-bluesky: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, type-checking, import-contracts, uv-sync, local-install-dodal

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=500"]
        exclude: ^uv.lock
      - id: check-yaml
        args: ["--allow-multiple-documents"]
        exclude: ^helm/
      - id: check-merge-conflict
      - id: end-of-file-fixer

  - repo: local
    hooks:
      - id: ruff
        name: lint with ruff
        language: system
        entry: ruff check --force-exclude --fix
        types: [python]
        require_serial: true

      - id: ruff-format
        name: format with ruff
        language: system
        entry: ruff format --force-exclude
        types: [python]
        require_serial: true
      
      - id: type-checking
        name: type-checking with pyright
        language: system
        entry: tox -e type-checking
        types: [python]
        require_serial: true

      - id: import-contracts
        name: Ensure import directionality
        pass_filenames: false
        language: system
        entry: lint-imports
        types: [python]
        require_serial: false

      - id: lock dodal
        name: keep dodal up to date in lockfile
        pass_filenames: false
        language: system
        entry: uv lock --upgrade-package dls-dodal

      - id: uv-sync
        name: update uv.lock and venv
        pass_filenames: false
        language: system
        entry: uv sync
        files: ^(uv\.lock|pyproject\.toml)$

      - id: local-install-dodal
        name: editable install of dodal
        language: system
        pass_filenames: false
        entry: uv pip install -e ../dodal
        files: ^(uv\.lock|pyproject\.toml)$

  # Type checking
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.19.1
    hooks:
      - id: mypy
        files: 'src/.*\.py$'
        additional_dependencies: [types-requests, types-redis, pydantic]
        args: ["--ignore-missing-imports", "--no-strict-optional"]

  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.28.0
    hooks:
      - id: gitleaks

Update i24 serial config to send logs to the Dodal stream and not the Hyperion one (#1775)
  src/mx_bluesky/beamlines/i24/serial/blueapi_config.yaml
Due: none

Remove arg from get_beamline_name() call
  src/mx_bluesky/common/external_interaction/alerting/_service.py
Due: ruff, ruff-format, type-checking, import-contracts

Update with responses to comments
  src/mx_bluesky/hyperion/external_interaction/agamemnon.py
  src/mx_bluesky/hyperion/supervisor/_supervisor.py
  tests/unit_tests/hyperion/supervisor/test_supervisor.py
Due: ruff, ruff-format, type-checking, import-contracts

Bump daq-config-server dependency to 1.3.7
  pyproject.toml
Due: uv-sync, local-install-dodal

Update uv.lock
  uv.lock
Due: uv-sync, local-install-dodal

Fix error handling
  src/mx_bluesky/hyperion/external_interaction/agamemnon.py
Due: ruff, ruff-format, type-checking, import-contracts

1770 fix dockerfile multiple pythons (#1773)
  Dockerfile.blueapi
Due: none

1587 Fix use_roi_mode option in mx-bluesky (#1776)
  pyproject.toml
  src/mx_bluesky/hyperion/blueapi/parameters.py
  src/mx_bluesky/hyperion/external_interaction/agamemnon.py
  tests/test_data/parameter_json_files/external_load_centre_collect_params.json
  tests/test_data/parameter_json_files/external_load_centre_collect_params_multipin.json
  tests/unit_tests/hyperion/blueapi_plans/test_parameters.py
  tests/unit_tests/hyperion/external_interaction/test_agamemnon.py
  uv.lock
Due: ruff, ruff-format, type-checking, import-contracts, uv-sync, local-install-dodal

Initial fix for rotation scanspec direction
  src/mx_bluesky/common/parameters/rotation.py
  tests/test_data/parameter_json_files/good_test_rotation_scan_parameters.json
  tests/unit_tests/common/parameters/test_rotation.py
Due: ruff, ruff-format, type-checking, import-contracts

WIP add system test, issues with imginfo
  tests/system_tests/hyperion/external_interaction/test_nexgen.py
Due: ruff, ruff-format, type-checking, import-contracts

Beamline hotfixes for 500Hz gridscan, multipin snapshots, mod-360 robot load
  src/mx_bluesky/hyperion/blueapi/parameters.py
Due: ruff, ruff-format, type-checking, import-contracts

Update tests, fix flaky baton test
  tests/unit_tests/hyperion/blueapi_plans/test_parameters.py
  tests/unit_tests/hyperion/test_baton_handler.py
Due: ruff, ruff-format, type-checking, import-contracts

Initial refactor introducing AperturePolicy Add json schema documentation generation
  docs/conf.py
  docs/developer/hyperion/index.rst
  docs/developer/hyperion/reference/blueapi_schema.json
  docs/developer/hyperion/reference/blueapi_schema.rst
  pyproject.toml
  src/mx_bluesky/beamlines/i04/experiment_plans/i04_grid_detect_then_xray_centre_plan.py
  src/mx_bluesky/common/device_setup_plans/manipulate_sample.py
  src/mx_bluesky/common/experiment_plans/common_grid_detect_then_xray_centre_plan.py
  src/mx_bluesky/common/parameters/components.py
  src/mx_bluesky/common/parameters/gridscan.py
  src/mx_bluesky/common/parameters/rotation.py
  src/mx_bluesky/hyperion/blueapi/in_process.py
  src/mx_bluesky/hyperion/experiment_plans/load_centre_collect_full_plan.py
  src/mx_bluesky/hyperion/experiment_plans/rotation_scan_plan.py
  tests/unit_tests/common/experiment_plans/test_common_grid_detect_then_xray_centre_plan.py
  tests/unit_tests/conftest.py
  tests/unit_tests/hyperion/experiment_plans/test_rotation_scan_plan.py
  tests/unit_tests/hyperion/parameters/test_parameter_model.py
Due: ruff, ruff-format, type-checking, import-contracts, uv-sync, local-install-dodal

Attempt at parameter docs from schema
  docs/developer/hyperion/reference/blueapi/clean_up_udc.json
  docs/developer/hyperion/reference/blueapi/load_centre_collect.json
  docs/developer/hyperion/reference/blueapi/move_to_udc_default_state.json
  docs/developer/hyperion/reference/blueapi/robot_unload.json
  docs/developer/hyperion/reference/blueapi_schema.rst
  utility_scripts/generate_parameter_schemas.py
Due: ruff, ruff-format, type-checking, import-contracts

Fix typo in docs
  docs/developer/hyperion/reference/blueapi_schema.rst
Due: none

Implement AperturePolicy, unit tests fixed
  docs/developer/hyperion/reference/blueapi_schema.rst
  src/mx_bluesky/common/experiment_plans/change_aperture_then_move_plan.py
  src/mx_bluesky/common/parameters/components.py
  src/mx_bluesky/common/utils/aperture_selection.py
  src/mx_bluesky/hyperion/blueapi/parameters.py
  src/mx_bluesky/hyperion/experiment_plans/load_centre_collect_full_plan.py
  src/mx_bluesky/hyperion/external_interaction/agamemnon.py
  src/mx_bluesky/hyperion/parameters/constants.py
  src/mx_bluesky/hyperion/utils/centre_selection.py
  tests/test_data/parameter_json_files/external_load_centre_collect_params.json
  tests/unit_tests/common/experiment_plans/test_change_aperture_then_move_plan.py
  tests/unit_tests/hyperion/experiment_plans/test_load_centre_collect_full_plan.py
  tests/unit_tests/hyperion/external_interaction/test_agamemnon.py
Due: ruff, ruff-format, type-checking, import-contracts

Revert abortive parameter docs changes
  docs/developer/hyperion/index.rst
  docs/developer/hyperion/reference/blueapi_schema.json
  pyproject.toml
Due: uv-sync, local-install-dodal

Revert changes relating to blueapi parameter documentation
  docs/developer/hyperion/reference/blueapi/clean_up_udc.json
  docs/developer/hyperion/reference/blueapi/load_centre_collect.json
  docs/developer/hyperion/reference/blueapi/move_to_udc_default_state.json
  docs/developer/hyperion/reference/blueapi/robot_unload.json
  docs/developer/hyperion/reference/blueapi_schema.rst
  utility_scripts/generate_parameter_schemas.py
Due: ruff, ruff-format, type-checking, import-contracts

Implement CURRENT_POSITION for gridscans, fix latent bug Validation for selected_aperture in LoadCentreCollectParams
  src/mx_bluesky/common/device_setup_plans/manipulate_sample.py
  src/mx_bluesky/common/experiment_plans/common_grid_detect_then_xray_centre_plan.py
  src/mx_bluesky/hyperion/blueapi/parameters.py
  src/mx_bluesky/hyperion/experiment_plans/rotation_scan_plan.py
  tests/unit_tests/common/experiment_plans/test_common_grid_detect_then_xray_centre_plan.py
  tests/unit_tests/hyperion/blueapi_plans/test_parameters.py
Due: ruff, ruff-format, type-checking, import-contracts

Remove errant sphinx-jsonschema in sphinx config
  docs/conf.py
Due: ruff, ruff-format, type-checking, import-contracts

Fix unit tests after rebase borkage
  src/mx_bluesky/hyperion/experiment_plans/load_centre_collect_full_plan.py
  src/mx_bluesky/hyperion/experiment_plans/pin_centre_then_xray_centre.py
  src/mx_bluesky/hyperion/external_interaction/agamemnon.py
  src/mx_bluesky/hyperion/utils/centre_selection.py
  tests/test_data/parameter_json_files/external_load_centre_collect_params_multipin.json
Due: ruff, ruff-format, type-checking, import-contracts

Pass in xrc and snapshot directory from agamemnon
  src/mx_bluesky/hyperion/blueapi/parameters.py
  src/mx_bluesky/hyperion/external_interaction/agamemnon.py
  tests/test_data/agamemnon/example_collect_multipin.json
  tests/test_data/agamemnon/example_native.json
  tests/test_data/parameter_json_files/external_load_centre_collect_params.json
  tests/test_data/parameter_json_files/external_load_centre_collect_params_multipin.json
  tests/unit_tests/hyperion/external_interaction/test_agamemnon.py
Due: ruff, ruff-format, type-checking, import-contracts

Revert doc changes
  docs/user/hyperion/configuration.rst
Due: none

Add TODO re storage directory
  src/mx_bluesky/common/parameters/components.py
Due: ruff, ruff-format, type-checking, import-contracts

fix: handle blueapi connection failure in supervisor (closes #1688)
  src/mx_bluesky/hyperion/__main__.py
Due: ruff, ruff-format, type-checking, import-contracts

Rename agamemnon test
  tests/unit_tests/hyperion/external_interaction/test_agamemnon.py
Due: ruff, ruff-format, type-checking, import-contracts

Multipin snapshot fix (#1753)
  src/mx_bluesky/hyperion/blueapi/parameters.py
  tests/unit_tests/hyperion/blueapi_plans/test_parameters.py
  tests/unit_tests/hyperion/test_baton_handler.py
  uv.lock
Due: ruff, ruff-format, type-checking, import-contracts, uv-sync, local-install-dodal

WIP removing flask in favour of uvicorn + fastapi
  pyproject.toml
  src/mx_bluesky/hyperion/plan_runner_api.py
Due: ruff, ruff-format, type-checking, import-contracts, uv-sync, local-install-dodal

Remove flask dependency
  pyproject.toml
Due: uv-sync, local-install-dodal

Fix unit tests, fastapi dependency injection
  src/mx_bluesky/hyperion/plan_runner_api.py
  tests/unit_tests/hyperion/test_plan_runner_api.py
Due: ruff, ruff-format, type-checking, import-contracts

Request automatic sample registration from DCID server
  src/mx_bluesky/beamlines/i24/serial/dcid.py
Due: ruff, ruff-format, type-checking, import-contracts

WIP
  docs/user/hyperion/configuration.rst
  tests/unit_tests/hyperion/experiment_plans/test_load_centre_collect_full_plan.py
Due: ruff, ruff-format, type-checking, import-contracts
