Repository DiamondLightSource/mx-bluesky: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, type-checking, import-contracts, uv-sync, local-install-dodal

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=500"]
        exclude: ^uv.lock
      - id: check-yaml
        args: ["--allow-multiple-documents"]
        exclude: ^helm/
      - id: check-merge-conflict
      - id: end-of-file-fixer

  - repo: local
    hooks:
      - id: ruff
        name: lint with ruff
        language: system
        entry: ruff check --force-exclude --fix
        types: [python]
        require_serial: true

      - id: ruff-format
        name: format with ruff
        language: system
        entry: ruff format --force-exclude
        types: [python]
        require_serial: true
      
      - id: type-checking
        name: type-checking with pyright
        language: system
        entry: tox -e type-checking
        types: [python]
        require_serial: true

      - id: import-contracts
        name: Ensure import directionality
        pass_filenames: false
        language: system
        entry: lint-imports
        types: [python]
        require_serial: false

      - id: lock dodal
        name: keep dodal up to date in lockfile
        pass_filenames: false
        language: system
        entry: uv lock --upgrade-package dls-dodal

      - id: uv-sync
        name: update uv.lock and venv
        pass_filenames: false
        language: system
        entry: uv sync
        files: ^(uv\.lock|pyproject\.toml)$

      - id: local-install-dodal
        name: editable install of dodal
        language: system
        pass_filenames: false
        entry: uv pip install -e ../dodal
        files: ^(uv\.lock|pyproject\.toml)$

  # Type checking
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.19.1
    hooks:
      - id: mypy
        files: 'src/.*\.py$'
        additional_dependencies: [types-requests, types-redis, pydantic]
        args: ["--ignore-missing-imports", "--no-strict-optional"]

  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.28.0
    hooks:
      - id: gitleaks

mx-bluesky starts in UDC mode with wrong port number (#1662)
  pyproject.toml
  src/mx_bluesky/hyperion/__main__.py
  tests/unit_tests/hyperion/test_main_system.py
  uv.lock
Due: ruff, ruff-format, type-checking, import-contracts, uv-sync, local-install-dodal

Update lockfile
  uv.lock
Due: uv-sync, local-install-dodal

Fixes for UDC Default State robot unload and panda PCAP path provider setting (#1669)
  src/mx_bluesky/hyperion/device_setup_plans/setup_panda.py
  src/mx_bluesky/hyperion/external_interaction/callbacks/robot_actions/ispyb_callback.py
  tests/conftest.py
  tests/unit_tests/common/device_setup_plans/test_robot_load_unload.py
  tests/unit_tests/hyperion/device_setup_plans/test_setup_panda.py
  tests/unit_tests/hyperion/external_interaction/callbacks/robot_load/test_robot_load_ispyb_callback.py
Due: ruff, ruff-format, type-checking, import-contracts

Remove Dockerfile for graylog system test image that is no longer used (#1671)
  utility_scripts/graylog/Dockerfile
  utility_scripts/graylog/tcp_input.json
Due: none

Reformat and rename test files
  tests/conftest.py
  tests/system_tests/hyperion/external_interaction/test_load_centre_collect_full_plan.py
  tests/test_data/test_daq_configuration/display.configuration
  tests/test_data/test_daq_configuration/display_configuration.json
  tests/test_data/test_display.configuration
  tests/test_data/test_display_configuration.json
  tests/test_data/test_jCameraManZoomLevels.json
  tests/test_data/test_jCameraManZoomLevels.xml
  tests/unit_tests/beamlines/i04/test_thawing.py
  tests/unit_tests/common/external_interaction/callbacks/common/test_snapshot_callback.py
Due: ruff, ruff-format, type-checking, import-contracts

Pin dodal
  pyproject.toml
Due: uv-sync, local-install-dodal

Simplify OAV test config
  src/mx_bluesky/common/parameters/constants.py
  tests/conftest.py
  tests/system_tests/hyperion/external_interaction/test_load_centre_collect_full_plan.py
  tests/test_data/test_daq_configuration/OAVCentring.json
  tests/test_data/test_daq_configuration/OAVCentring_hyperion.json
  tests/test_data/test_daq_configuration/jCameraManZoomLevels.json
  tests/test_data/test_display_configuration.json
  tests/unit_tests/beamlines/i04/test_thawing.py
  tests/unit_tests/common/experiment_plans/test_oav_snapshot_plan.py
  tests/unit_tests/common/external_interaction/callbacks/common/test_snapshot_callback.py
  tests/unit_tests/common/parameters/test_constants.py
  tests/unit_tests/hyperion/device_setup_plans/test_setup_oav.py
Due: ruff, ruff-format, type-checking, import-contracts

Fix tests
  tests/mock_config_server/test_oav_config.py
  tests/unit_tests/common/experiment_plans/test_common_grid_detect_then_xray_centre_plan.py
Due: ruff, ruff-format, type-checking, import-contracts

Add mock config server
  tests/conftest.py
  tests/mock_config_server/__init__.py
  tests/mock_config_server/mock_config_server.py
  tests/mock_config_server/test_oav_config.py
  tests/test_data/test_daq_configuration/display_configuration.json
  tests/test_data/test_daq_configuration/jCameraManZoomLevels.json
Due: ruff, ruff-format, type-checking, import-contracts

Fix tests
  tests/test_data/test_images/ins_15_33_expected_0.png
  tests/test_data/test_images/ins_15_33_expected_270.png
  tests/test_data/test_images/thau_1_91_expected_0.png
  tests/test_data/test_images/thau_1_91_expected_270.png
  tests/unit_tests/common/experiment_plans/test_common_grid_detect_then_xray_centre_plan.py
  tests/unit_tests/common/external_interaction/callbacks/common/test_snapshot_callback.py
Due: ruff, ruff-format, type-checking, import-contracts

Tidy tests
  tests/test_data/test_daq_configuration/OAVCentring.json
  tests/unit_tests/common/external_interaction/test_config_server.py
Due: ruff, ruff-format, type-checking, import-contracts

Tidy
  src/mx_bluesky/common/parameters/constants.py
  tests/conftest.py
  tests/unit_tests/common/parameters/test_constants.py
Due: ruff, ruff-format, type-checking, import-contracts

Move mock config server into dodal
  tests/conftest.py
  tests/mock_config_server/__init__.py
  tests/mock_config_server/mock_config_server.py
  tests/mock_config_server/test_oav_config.py
Due: ruff, ruff-format, type-checking, import-contracts

Always invoke UDC cleanup regardless of whether we have a visit or not
  src/mx_bluesky/hyperion/baton_handler.py
  tests/unit_tests/hyperion/supervisor/test_supervisor.py
  tests/unit_tests/hyperion/test_baton_handler.py
Due: ruff, ruff-format, type-checking, import-contracts

Separate UDC cleanup from robot unload and ensure it is always called before handing back the baton
  src/mx_bluesky/hyperion/_plan_runner_params.py
  src/mx_bluesky/hyperion/baton_handler.py
  src/mx_bluesky/hyperion/blueapi/in_process.py
  src/mx_bluesky/hyperion/in_process_runner.py
  src/mx_bluesky/hyperion/supervisor/_supervisor.py
  tests/system_tests/hyperion/supervisor/dummy_plans.py
  tests/system_tests/hyperion/supervisor/test_supervisor.py
  tests/unit_tests/hyperion/supervisor/test_supervisor.py
  tests/unit_tests/hyperion/test_baton_handler.py
  tests/unit_tests/t01.py
Due: ruff, ruff-format, type-checking, import-contracts

Ollie final changes before he left
  src/mx_bluesky/beamlines/i24/jungfrau_commissioning/callbacks/metadata_writer.py
  src/mx_bluesky/beamlines/i24/jungfrau_commissioning/composites.py
  src/mx_bluesky/beamlines/i24/jungfrau_commissioning/experiment_plans/do_darks.py
  src/mx_bluesky/beamlines/i24/jungfrau_commissioning/experiment_plans/rotation_scan_plan.py
  src/mx_bluesky/beamlines/i24/jungfrau_commissioning/plan_stubs/do_external_acquisition.py
  src/mx_bluesky/beamlines/i24/jungfrau_commissioning/plan_stubs/plan_utils.py
  src/mx_bluesky/common/parameters/rotation.py
Due: ruff, ruff-format, type-checking, import-contracts

Attempt: Fix 422: import Jungfrau from ophyd_async.fastcs.jungfrau
  docs/developer/general/explanations/inject_pattern.rst
  docs/developer/general/index.rst
  src/mx_bluesky/beamlines/i24/jungfrau_commissioning/composites.py
  src/mx_bluesky/beamlines/i24/jungfrau_commissioning/experiment_plans/do_darks.py
  src/mx_bluesky/beamlines/i24/jungfrau_commissioning/experiment_plans/rotation_scan_plan.py
  src/mx_bluesky/beamlines/i24/jungfrau_commissioning/plan_stubs/do_external_acquisition.py
  src/mx_bluesky/beamlines/i24/jungfrau_commissioning/plan_stubs/plan_utils.py
  uv.lock
Due: ruff, ruff-format, type-checking, import-contracts, uv-sync, local-install-dodal

Add config files back
  tests/conftest.py
  tests/test_data/oav/__init__.py
  tests/test_data/oav/jCameraManZoomLevels.xml
  tests/test_data/oav/test_OAVCentring.json
  tests/test_data/oav/test_display.configuration
  tests/unit_tests/common/external_interaction/test_config_server.py
  uv.lock
Due: ruff, ruff-format, type-checking, import-contracts, uv-sync, local-install-dodal

Update daq-config-server
  pyproject.toml
  uv.lock
Due: uv-sync, local-install-dodal

Fix tests
  src/mx_bluesky/common/parameters/constants.py
  tests/unit_tests/common/parameters/test_constants.py
Due: ruff, ruff-format, type-checking, import-contracts

Amend docs
  docs/user/hyperion/configuration.rst
  uv.lock
Due: uv-sync, local-install-dodal

Read beamline parameters through config server (#1511)
  conftest.py
  docs/user/hyperion/configuration.rst
  pyproject.toml
  src/mx_bluesky/common/experiment_plans/beamstop_check.py
  src/mx_bluesky/common/experiment_plans/rotation/rotation_utils.py
  src/mx_bluesky/common/external_interaction/nexus/write_nexus.py
  src/mx_bluesky/common/parameters/gridscan.py
  src/mx_bluesky/hyperion/experiment_plans/udc_default_state.py
  src/mx_bluesky/hyperion/external_interaction/callbacks/alert_on_container_change.py
  tests/conftest.py
  tests/test_data/test_beamline_parameters.txt
  tests/test_data/test_daq_configuration/domain/beamlineParameters
  tests/unit_tests/beamlines/i04/conftest.py
  tests/unit_tests/beamlines/i23/conftest.py
  tests/unit_tests/beamlines/i24/conftest.py
  tests/unit_tests/beamlines/i24/jungfrau_commissioning/conftest.py
  tests/unit_tests/common/experiment_plans/conftest.py
  tests/unit_tests/common/experiment_plans/test_beamstop_check.py
  tests/unit_tests/common/external_interaction/conftest.py
  tests/unit_tests/conftest.py
  tests/unit_tests/hyperion/conftest.py
  tests/unit_tests/hyperion/device_setup_plans/test_dcm_pitch_roll_mirror_adjuster.py
  tests/unit_tests/hyperion/experiment_plans/conftest.py
  tests/unit_tests/hyperion/external_interaction/conftest.py
  tests/unit_tests/hyperion/external_interaction/test_write_rotation_nexus.py
  tests/unit_tests/hyperion/parameters/test_parameter_model.py
  tests/unit_tests/hyperion/test_blueapi_plans.py
  uv.lock
Due: ruff, ruff-format, type-checking, import-contracts, uv-sync, local-install-dodal

Fix tests against dodal change
  pyproject.toml
  src/mx_bluesky/beamlines/i24/jungfrau_commissioning/composites.py
  src/mx_bluesky/beamlines/i24/serial/extruder/i24ssx_extruder_collect_py3v2.py
  src/mx_bluesky/beamlines/i24/serial/fixed_target/i24ssx_chip_collect_py3v1.py
  src/mx_bluesky/beamlines/i24/web_gui_plans/general_plans.py
  src/mx_bluesky/hyperion/experiment_plans/udc_default_state.py
  tests/unit_tests/beamlines/i24/conftest.py
  tests/unit_tests/beamlines/i24/jungfrau_commissioning/conftest.py
  tests/unit_tests/beamlines/i24/serial/fixed_target/test_ft_collect.py
  tests/unit_tests/beamlines/i24/web_gui/test_jungfrau_plans.py
  tests/unit_tests/hyperion/experiment_plans/test_udc_default_state.py
  uv.lock
Due: ruff, ruff-format, type-checking, import-contracts, uv-sync, local-install-dodal

Fix tests against dodal change (#1676)
  pyproject.toml
  src/mx_bluesky/beamlines/i24/jungfrau_commissioning/composites.py
  src/mx_bluesky/beamlines/i24/serial/extruder/i24ssx_extruder_collect_py3v2.py
  src/mx_bluesky/beamlines/i24/serial/fixed_target/i24ssx_chip_collect_py3v1.py
  src/mx_bluesky/beamlines/i24/web_gui_plans/general_plans.py
  src/mx_bluesky/hyperion/experiment_plans/udc_default_state.py
  tests/unit_tests/beamlines/i24/conftest.py
  tests/unit_tests/beamlines/i24/jungfrau_commissioning/conftest.py
  tests/unit_tests/beamlines/i24/serial/fixed_target/test_ft_collect.py
  tests/unit_tests/beamlines/i24/web_gui/test_jungfrau_plans.py
  tests/unit_tests/hyperion/experiment_plans/test_udc_default_state.py
  uv.lock
Due: ruff, ruff-format, type-checking, import-contracts, uv-sync, local-install-dodal

Set environment in system tests
  pyproject.toml
Due: uv-sync, local-install-dodal

Fix
  pyproject.toml
  src/mx_bluesky/common/parameters/gridscan.py
  tests/conftest.py
Due: ruff, ruff-format, type-checking, import-contracts, uv-sync, local-install-dodal

WIP
  src/mx_bluesky/hyperion/blueapi/plans.py
Due: ruff, ruff-format, type-checking, import-contracts

Set beamline env variable in system tests (#1677)
  pyproject.toml
  src/mx_bluesky/common/parameters/gridscan.py
  tests/conftest.py
Due: ruff, ruff-format, type-checking, import-contracts, uv-sync, local-install-dodal

Add test beamline params path in dummy devices
  tests/system_tests/hyperion/supervisor/dummy_devices.py
Due: ruff, ruff-format, type-checking, import-contracts

Add test beamline params path in dummy devices (#1678)
  tests/system_tests/hyperion/supervisor/dummy_devices.py
Due: ruff, ruff-format, type-checking, import-contracts

Use get_config_client function to get config client
  src/mx_bluesky/beamlines/i24/serial/setup_beamline/setup_beamline.py
  uv.lock
Due: ruff, ruff-format, type-checking, import-contracts, uv-sync, local-install-dodal
