Repository DiamondLightSource/mx-bluesky: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, type-checking, import-contracts, uv-sync, local-install-dodal

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=500"]
        exclude: ^uv.lock
      - id: check-yaml
        args: ["--allow-multiple-documents"]
        exclude: ^helm/
      - id: check-merge-conflict
      - id: end-of-file-fixer

  - repo: local
    hooks:
      - id: ruff
        name: lint with ruff
        language: system
        entry: ruff check --force-exclude --fix
        types: [python]
        require_serial: true

      - id: ruff-format
        name: format with ruff
        language: system
        entry: ruff format --force-exclude
        types: [python]
        require_serial: true
      
      - id: type-checking
        name: type-checking with pyright
        language: system
        entry: tox -e type-checking
        types: [python]
        require_serial: true

      - id: import-contracts
        name: Ensure import directionality
        pass_filenames: false
        language: system
        entry: lint-imports
        types: [python]
        require_serial: false

      - id: lock dodal
        name: keep dodal up to date in lockfile
        pass_filenames: false
        language: system
        entry: uv lock --upgrade-package dls-dodal

      - id: uv-sync
        name: update uv.lock and venv
        pass_filenames: false
        language: system
        entry: uv sync
        files: ^(uv\.lock|pyproject\.toml)$

      - id: local-install-dodal
        name: editable install of dodal
        language: system
        pass_filenames: false
        entry: uv pip install -e ../dodal
        files: ^(uv\.lock|pyproject\.toml)$

  # Type checking
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.19.1
    hooks:
      - id: mypy
        files: 'src/.*\.py$'
        additional_dependencies: [types-requests, types-redis, pydantic]
        args: ["--ignore-missing-imports", "--no-strict-optional"]

  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.28.0
    hooks:
      - id: gitleaks

Set wait to false in plan
  src/mx_bluesky/common/device_setup_plans/setup_oav.py
  uv.lock
Due: ruff, ruff-format, type-checking, import-contracts, uv-sync, local-install-dodal

Changed the display_config path directory
  src/mx_bluesky/beamlines/i24/serial/parameters/constants.py
  uv.lock
Due: ruff, ruff-format, type-checking, import-contracts, uv-sync, local-install-dodal

Fix src
  .pre-commit-config.yaml
  src/mx_bluesky/beamlines/aithre_lasershaping/robot_load.py
  src/mx_bluesky/beamlines/i04/experiment_plans/i04_grid_detect_then_xray_centre_plan.py
  src/mx_bluesky/beamlines/i04/redis_to_murko_forwarder.py
  src/mx_bluesky/beamlines/i24/jungfrau_commissioning/experiment_plans/rotation_scan_plan.py
  src/mx_bluesky/beamlines/i24/serial/extruder/i24ssx_extruder_collect_py3v2.py
  src/mx_bluesky/beamlines/i24/serial/fixed_target/i24ssx_chip_manager_py3v1.py
  src/mx_bluesky/beamlines/i24/serial/parameters/experiment_parameters.py
  src/mx_bluesky/beamlines/i24/serial/setup_beamline/setup_zebra_plans.py
  src/mx_bluesky/beamlines/i24/serial/web_gui_plans/general_plans.py
  src/mx_bluesky/common/experiment_plans/beamstop_check.py
  src/mx_bluesky/hyperion/__main__.py
  src/mx_bluesky/hyperion/external_interaction/callbacks/__main__.py
  src/mx_bluesky/hyperion/in_process_runner.py
  tests/unit_tests/hyperion/test_blueapi_plans.py
  uv.lock
Due: ruff, ruff-format, type-checking, import-contracts, uv-sync, local-install-dodal

Fix link to old issue
  src/mx_bluesky/common/experiment_plans/oav_grid_detection_plan.py
  src/mx_bluesky/common/experiment_plans/pin_tip_centring_plan.py
Due: ruff, ruff-format, type-checking, import-contracts

Fix link to old issue (#1538)
  src/mx_bluesky/common/experiment_plans/oav_grid_detection_plan.py
  src/mx_bluesky/common/experiment_plans/pin_tip_centring_plan.py
Due: ruff, ruff-format, type-checking, import-contracts

Fix tests
  tests/conftest.py
  tests/system_tests/hyperion/external_interaction/callbacks/test_external_callbacks.py
  tests/unit_tests/beamlines/aithre_lasershaping/test_robot_load.py
  tests/unit_tests/beamlines/i04/callbacks/test_murko_callback.py
  tests/unit_tests/beamlines/i04/test_i04_grid_detect_then_xray_centre_plan.py
  tests/unit_tests/beamlines/i24/jungfrau_commissioning/callbacks/test_metadata_writer.py
  tests/unit_tests/beamlines/i24/serial/conftest.py
  tests/unit_tests/beamlines/i24/serial/extruder/test_extruder_collect.py
  tests/unit_tests/beamlines/i24/serial/fixed_target/conftest.py
  tests/unit_tests/beamlines/i24/serial/parameters/test_parameter_model.py
  tests/unit_tests/beamlines/i24/serial/setup_beamline/test_zebra_plans.py
  tests/unit_tests/common/experiment_plans/test_beamstop_check.py
  tests/unit_tests/common/external_interaction/test_config_server.py
  tests/unit_tests/hyperion/experiment_plans/test_udc_default_state.py
  tests/unit_tests/hyperion/parameters/test_parameter_model.py
  uv.lock
Due: ruff, ruff-format, type-checking, import-contracts, uv-sync, local-install-dodal

Merge branch 'main' into 1403_remove_pyright_exceptions
  .pre-commit-config.yaml
  Dockerfile.blueapi
  run_hyperion.sh
  src/mx_bluesky/common/experiment_plans/oav_grid_detection_plan.py
  src/mx_bluesky/common/experiment_plans/pin_tip_centring_plan.py
  uv.lock
Due: ruff, ruff-format, type-checking, import-contracts, uv-sync, local-install-dodal

Pin mysql-connector-python
  pyproject.toml
  uv.lock
Due: uv-sync, local-install-dodal

Fix pre-commit
  .pre-commit-config.yaml
  uv.lock
Due: uv-sync, local-install-dodal

Skip type-checking pre-commit step in CI
  .pre-commit-config.yaml
Due: none

Fix tests
  src/mx_bluesky/hyperion/in_process_runner.py
Due: ruff, ruff-format, type-checking, import-contracts

Actually skip type-checking pre-commit hook in CI
  .github/workflows/ci.yml
  .pre-commit-config.yaml
Due: none

Update uv.lock
  uv.lock
Due: uv-sync, local-install-dodal

Additional logic surrounding cryostream and commissioning mode
  src/mx_bluesky/hyperion/experiment_plans/udc_default_state.py
  tests/unit_tests/hyperion/experiment_plans/test_udc_default_state.py
Due: ruff, ruff-format, type-checking, import-contracts

Pin dodal
  pyproject.toml
Due: uv-sync, local-install-dodal

Restrict UV to only worry about x86_64 linux and not weird platforms we don't care about
  pyproject.toml
Due: uv-sync, local-install-dodal

Fix CI
  tests/unit_tests/common/experiment_plans/test_common_flyscan_xray_centre_plan.py
  tests/unit_tests/common/experiment_plans/test_common_grid_detect_then_xray_centre_plan.py
  tests/unit_tests/hyperion/experiment_plans/test_pin_centre_then_xray_centre_plan.py
Due: ruff, ruff-format, type-checking, import-contracts

Restrict uv platforms (#1584)
  pyproject.toml
  uv.lock
Due: uv-sync, local-install-dodal

Refactor planrunner abstraction to use parameters deriving from BaseModel instead of MxBlueskyParameters
  src/mx_bluesky/hyperion/_plan_runner_params.py
  src/mx_bluesky/hyperion/baton_handler.py
  src/mx_bluesky/hyperion/blueapi_plans/parameters.py
  src/mx_bluesky/hyperion/external_interaction/agamemnon.py
  src/mx_bluesky/hyperion/in_process_runner.py
  src/mx_bluesky/hyperion/parameters/load_centre_collect.py
  src/mx_bluesky/hyperion/plan_runner.py
  src/mx_bluesky/hyperion/supervisor/_supervisor.py
  tests/system_tests/hyperion/external_interaction/test_agamemnon.py
  tests/system_tests/hyperion/supervisor/test_supervisor.py
  tests/test_data/parameter_json_files/external_load_centre_collect_params.json
  tests/unit_tests/common/parameters/test_components.py
  tests/unit_tests/hyperion/blueapi_plans/__init__.py
  tests/unit_tests/hyperion/blueapi_plans/test_parameters.py
  tests/unit_tests/hyperion/conftest.py
  tests/unit_tests/hyperion/external_interaction/test_agamemnon.py
  tests/unit_tests/hyperion/supervisor/test_supervisor.py
  tests/unit_tests/hyperion/test_baton_handler.py
Due: ruff, ruff-format, type-checking, import-contracts

Additional test for load_centre_collect
  tests/system_tests/hyperion/supervisor/dummy_plans.py
  tests/system_tests/hyperion/supervisor/test_supervisor.py
Due: ruff, ruff-format, type-checking, import-contracts

Create plans for curent zoom find beam centre and optimise transmission
  src/mx_bluesky/beamlines/i04/oav_centering_plans/oav_imaging.py
  uv.lock
Due: ruff, ruff-format, type-checking, import-contracts, uv-sync, local-install-dodal

Move select centres mixins into hyperion packages Move demand_energy_ev into top-level
  src/mx_bluesky/common/parameters/components.py
  src/mx_bluesky/common/xrc_result.py
  src/mx_bluesky/hyperion/baton_handler.py
  src/mx_bluesky/hyperion/blueapi_plans/mixins.py
  src/mx_bluesky/hyperion/blueapi_plans/parameters.py
  src/mx_bluesky/hyperion/experiment_plans/load_centre_collect_full_plan.py
  src/mx_bluesky/hyperion/external_interaction/agamemnon.py
  src/mx_bluesky/hyperion/parameters/load_centre_collect.py
  src/mx_bluesky/hyperion/utils/centre_selection.py
  tests/system_tests/hyperion/external_interaction/test_load_centre_collect_full_plan.py
  tests/test_data/parameter_json_files/external_load_centre_collect_params.json
  tests/unit_tests/hyperion/experiment_plans/common/test_flyscan_result.py
  tests/unit_tests/hyperion/experiment_plans/test_load_centre_collect_full_plan.py
Due: ruff, ruff-format, type-checking, import-contracts

Create plans that expose bps.mv and bps.rd
  src/mx_bluesky/beamlines/i04/expose_bluesky_plan_stubs.py
Due: ruff, ruff-format, type-checking, import-contracts

Expose plans
  src/mx_bluesky/beamlines/i04/__init__.py
Due: ruff, ruff-format, type-checking, import-contracts

Pin to dodal branch
  pyproject.toml
  uv.lock
Due: uv-sync, local-install-dodal

Wait before opening shutter and wait after prepare beamline plan
  src/mx_bluesky/beamlines/i04/oav_centering_plans/oav_imaging.py
  tests/conftest.py
  tests/unit_tests/beamlines/i04/test_oav_imaging.py
  tests/unit_tests/beamlines/i04/test_thawing.py
  uv.lock
Due: ruff, ruff-format, type-checking, import-contracts, uv-sync, local-install-dodal

Fix plans that expose rd and mv plan stubs
  src/mx_bluesky/beamlines/i04/__init__.py
  src/mx_bluesky/beamlines/i04/expose_bluesky_plan_stubs.py
Due: ruff, ruff-format, type-checking, import-contracts

Fix circular imports
  pyproject.toml
  src/mx_bluesky/hyperion/blueapi/__init__.py
  src/mx_bluesky/hyperion/blueapi/mixins.py
  src/mx_bluesky/hyperion/blueapi/parameters.py
  src/mx_bluesky/hyperion/blueapi/plans.py
  src/mx_bluesky/hyperion/blueapi_config.yaml
  src/mx_bluesky/hyperion/blueapi_dev_config.yaml
  src/mx_bluesky/hyperion/external_interaction/agamemnon.py
  src/mx_bluesky/hyperion/in_process_runner.py
  src/mx_bluesky/hyperion/parameters/load_centre_collect.py
  src/mx_bluesky/hyperion/supervisor/_supervisor.py
  src/mx_bluesky/hyperion/utils/centre_selection.py
  tests/system_tests/hyperion/external_interaction/test_load_centre_collect_full_plan.py
  tests/unit_tests/hyperion/blueapi_plans/test_parameters.py
  tests/unit_tests/hyperion/conftest.py
  tests/unit_tests/hyperion/experiment_plans/test_load_centre_collect_full_plan.py
  tests/unit_tests/hyperion/external_interaction/test_agamemnon.py
  tests/unit_tests/hyperion/test_baton_handler.py
  tests/unit_tests/hyperion/test_blueapi_plans.py
Due: ruff, ruff-format, type-checking, import-contracts, uv-sync, local-install-dodal

Better logging messages
  src/mx_bluesky/beamlines/i04/oav_centering_plans/oav_imaging.py
  uv.lock
Due: ruff, ruff-format, type-checking, import-contracts, uv-sync, local-install-dodal

more logging
  src/mx_bluesky/beamlines/i04/oav_centering_plans/oav_imaging.py
Due: ruff, ruff-format, type-checking, import-contracts

Add plan for automatically finding the beam centre on the OAV (#1496)
  src/mx_bluesky/beamlines/i04/__init__.py
  src/mx_bluesky/beamlines/i04/oav_centering_plans/oav_imaging.py
  tests/conftest.py
  tests/system_tests/conftest.py
  tests/unit_tests/beamlines/i04/test_oav_imaging.py
  tests/unit_tests/beamlines/i04/test_thawing.py
  tests/unit_tests/common/experiment_plans/test_grid_detection_plan.py
  uv.lock
Due: ruff, ruff-format, type-checking, import-contracts, uv-sync, local-install-dodal
