Repository DiamondLightSource/mx-bluesky: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, type-checking, import-contracts, uv-sync, local-install-dodal

ruff:
  name: lint with ruff
  language: system
  entry: ruff check --force-exclude --fix
  require_serial: true

ruff-format:
  name: format with ruff
  language: system
  entry: ruff format --force-exclude
  require_serial: true

type-checking:
  name: type-checking with pyright
  language: system
  entry: tox -e type-checking
  require_serial: true

import-contracts:
  name: Ensure import directionality
  pass_filenames: false
  language: system
  entry: lint-imports
  require_serial: false

uv-sync:
  name: update uv.lock and venv
  pass_filenames: false
  language: system
  entry: uv sync

local-install-dodal:
  name: editable install of dodal
  language: system
  pass_filenames: false
  entry: uv pip install -e ../dodal

Implement CURRENT_POSITION for gridscans, fix latent bug Validation for selected_aperture in LoadCentreCollectParams
  src/mx_bluesky/common/device_setup_plans/manipulate_sample.py
  src/mx_bluesky/common/experiment_plans/common_grid_detect_then_xray_centre_plan.py
  src/mx_bluesky/hyperion/blueapi/parameters.py
  src/mx_bluesky/hyperion/experiment_plans/rotation_scan_plan.py
  tests/unit_tests/common/experiment_plans/test_common_grid_detect_then_xray_centre_plan.py
  tests/unit_tests/hyperion/blueapi_plans/test_parameters.py
Due: ruff, ruff-format, type-checking, import-contracts

Fix tests
  tests/conftest.py
  tests/unit_tests/beamlines/i04/test_i04_grid_detect_then_xray_centre_plan.py
  tests/unit_tests/beamlines/i04/test_oav_imaging.py
  uv.lock
Due: ruff, ruff-format, type-checking, import-contracts, uv-sync, local-install-dodal

Apply formatting changes, change Fiducials to inherit from StrEnum
  src/mx_bluesky/beamlines/i24/serial/fixed_target/ft_utils.py
  tests/unit_tests/beamlines/aithre_lasershaping/test_beamline_safe.py
  tests/unit_tests/beamlines/aithre_lasershaping/test_check_goniometer_performance.py
  tests/unit_tests/beamlines/aithre_lasershaping/test_goniometer_controls.py
  tests/unit_tests/beamlines/i04/test_i04_grid_detect_then_xray_centre_plan.py
  tests/unit_tests/beamlines/i04/test_oav_imaging.py
  tests/unit_tests/beamlines/i23/test_serial.py
  tests/unit_tests/beamlines/i24/jungfrau_commissioning/test_rotation_scan.py
  tests/unit_tests/common/device_setup_plans/test_robot_load_unload.py
  tests/unit_tests/common/experiment_plans/inner_plans/test_do_fgs.py
  tests/unit_tests/common/experiment_plans/inner_plans/test_read_hardware.py
  tests/unit_tests/common/experiment_plans/test_beamstop_check.py
  tests/unit_tests/common/experiment_plans/test_change_aperture_then_move_plan.py
  tests/unit_tests/common/experiment_plans/test_common_flyscan_xray_centre_plan.py
  tests/unit_tests/common/preprocessors/test_preprocessors.py
  tests/unit_tests/common/utils/test_xrc_result.py
  tests/unit_tests/hyperion/device_setup_plans/test_dcm_pitch_roll_mirror_adjuster.py
  tests/unit_tests/hyperion/device_setup_plans/test_manipulate_sample.py
  tests/unit_tests/hyperion/device_setup_plans/test_setup_panda.py
  tests/unit_tests/hyperion/experiment_plans/test_hyperion_flyscan_xray_centre_plan.py
  tests/unit_tests/hyperion/experiment_plans/test_load_centre_collect_full_plan.py
  tests/unit_tests/hyperion/experiment_plans/test_pin_centre_then_xray_centre_plan.py
  tests/unit_tests/hyperion/experiment_plans/test_robot_load_and_change_energy.py
  tests/unit_tests/hyperion/experiment_plans/test_robot_load_then_centre.py
  tests/unit_tests/hyperion/experiment_plans/test_rotation_scan_plan.py
  tests/unit_tests/hyperion/experiment_plans/test_set_energy_plan.py
Due: ruff, ruff-format, type-checking, import-contracts

Update uv.lock
  uv.lock
Due: uv-sync, local-install-dodal

Make pyright happy
  tests/unit_tests/hyperion/blueapi_plans/test_parameters.py
Due: ruff, ruff-format, type-checking, import-contracts

Fix timeouts due to DNS resolution on redis connection test
  tests/unit_tests/beamlines/i04/callbacks/test_murko_callback.py
Due: ruff, ruff-format, type-checking, import-contracts

Fix timeouts during redis connection tests attempt #2
  tests/unit_tests/beamlines/i04/callbacks/test_murko_callback.py
Due: ruff, ruff-format, type-checking, import-contracts

Update pyproject.toml, CI, docs to support python 3.14
  .github/workflows/ci.yml
  docs/developer/general/how-to/get-started.md
  pyproject.toml
Due: uv-sync, local-install-dodal

Hotfix for config client URL not read in supervisor
  src/mx_bluesky/hyperion/__main__.py
Due: ruff, ruff-format, type-checking, import-contracts

Add test for config server url
  tests/unit_tests/hyperion/test_main_system.py
Due: ruff, ruff-format, type-checking, import-contracts

Updated Hello.py and centering.py
  src/mx_bluesky/beamlines/i23/centering.py
  src/mx_bluesky/beamlines/i23/hello.py
  uv.lock
Due: ruff, ruff-format, type-checking, import-contracts, uv-sync, local-install-dodal

Tidy gridscan plantUML
  docs/developer/hyperion/reference/gridscan.puml
Due: none

Update dodal dependency to require branch
  pyproject.toml
Due: uv-sync, local-install-dodal

Fixes for tests broken by blueapi#1534
  tests/unit_tests/hyperion/test_baton_handler.py
Due: ruff, ruff-format, type-checking, import-contracts

Fixes for dodal changes to remove device_factory and associated code
  src/mx_bluesky/hyperion/utils/context.py
  tests/conftest.py
  tests/unit_tests/beamlines/i24/serial/conftest.py
  tests/unit_tests/common/experiment_plans/test_grid_detection_plan.py
  tests/unit_tests/hyperion/experiment_plans/test_rotation_scan_plan.py
Due: ruff, ruff-format, type-checking, import-contracts

Remove usage of device factory (#1732)
  src/mx_bluesky/hyperion/utils/context.py
  tests/conftest.py
  tests/unit_tests/beamlines/i24/serial/conftest.py
  tests/unit_tests/common/experiment_plans/test_grid_detection_plan.py
  tests/unit_tests/hyperion/experiment_plans/test_rotation_scan_plan.py
  tests/unit_tests/hyperion/test_baton_handler.py
  uv.lock
Due: ruff, ruff-format, type-checking, import-contracts, uv-sync, local-install-dodal

use CONFIG_SERVER_URL_ENV_VAR constant
  src/mx_bluesky/hyperion/external_interaction/callbacks/__main__.py
  tests/unit_tests/hyperion/external_interaction/callbacks/test_external_callbacks.py
Due: ruff, ruff-format, type-checking, import-contracts

Support configuring the config server URL (#1698)
  docs/user/hyperion/advanced/advanced_configuration.rst
  docs/user/hyperion/configuration.rst
  docs/user/hyperion/troubleshooting.rst
  run_hyperion.sh
  src/mx_bluesky/hyperion/external_interaction/callbacks/__main__.py
  tests/unit_tests/hyperion/external_interaction/callbacks/test_external_callbacks.py
  uv.lock
Due: ruff, ruff-format, type-checking, import-contracts, uv-sync, local-install-dodal

Fix modulo 180 snapshot calculation where the smargon is very slightly less than the required omega
  src/mx_bluesky/common/external_interaction/callbacks/xray_centre/ispyb_callback.py
  tests/unit_tests/common/external_interaction/xray_centre/test_ispyb_callback.py
Due: ruff, ruff-format, type-checking, import-contracts

Fix snapshot modulo (#1733)
  src/mx_bluesky/common/external_interaction/callbacks/xray_centre/ispyb_callback.py
  tests/unit_tests/common/external_interaction/xray_centre/test_ispyb_callback.py
Due: ruff, ruff-format, type-checking, import-contracts

Initial changes to script
  run_hyperion.sh
Due: none

Make hyperion termination regexp find python3 processes Widen scope to find processes regardless of parent directory name
  run_hyperion.sh
Due: none

Fix for shutter renaming
  pyproject.toml
  src/mx_bluesky/beamlines/i04/experiment_plans/i04_grid_detect_then_xray_centre_plan.py
  src/mx_bluesky/beamlines/i04/oav_centering_plans/oav_imaging.py
  src/mx_bluesky/beamlines/i24/jungfrau_commissioning/composites.py
  src/mx_bluesky/beamlines/i24/jungfrau_commissioning/experiment_plans/rotation_scan_plan.py
  src/mx_bluesky/common/device_setup_plans/gonio.py
  src/mx_bluesky/common/device_setup_plans/setup_zebra_and_shutter.py
  src/mx_bluesky/common/experiment_plans/beamstop_check.py
  src/mx_bluesky/common/parameters/device_composites.py
  src/mx_bluesky/hyperion/device_setup_plans/setup_zebra.py
  src/mx_bluesky/hyperion/experiment_plans/optimise_attenuation_plan.py
  src/mx_bluesky/hyperion/experiment_plans/robot_load_then_centre_plan.py
  src/mx_bluesky/hyperion/experiment_plans/rotation_scan_plan.py
  src/mx_bluesky/hyperion/parameters/device_composites.py
  tests/conftest.py
  tests/system_tests/hyperion/external_interaction/conftest.py
  tests/unit_tests/beamlines/i04/test_i04_grid_detect_then_xray_centre_plan.py
  tests/unit_tests/beamlines/i04/test_oav_imaging.py
  tests/unit_tests/beamlines/i24/jungfrau_commissioning/conftest.py
  tests/unit_tests/beamlines/i24/web_gui/test_jungfrau_plans.py
  tests/unit_tests/common/device_setup_plans/test_gonio.py
  tests/unit_tests/common/device_setup_plans/test_setup_zebra_and_shutter.py
  tests/unit_tests/hyperion/device_setup_plans/test_zebra_setup.py
  uv.lock
Due: ruff, ruff-format, type-checking, import-contracts, uv-sync, local-install-dodal

Add gda.mx.hyperion.blueapi.enabled option to docs Fix vanilla UDC not always stopped
  docs/user/hyperion/configuration.rst
  run_hyperion.sh
Due: none

Fix renamed interlocks
  pyproject.toml
  tests/unit_tests/beamlines/i24/jungfrau_commissioning/conftest.py
  tests/unit_tests/hyperion/experiment_plans/test_udc_default_state.py
  uv.lock
Due: ruff, ruff-format, type-checking, import-contracts, uv-sync, local-install-dodal

Update dodal pin
  uv.lock
Due: uv-sync, local-install-dodal

Fix tests for shutter interlocks
  tests/unit_tests/beamlines/i24/conftest.py
Due: ruff, ruff-format, type-checking, import-contracts

Fix docs table syntax
  docs/user/hyperion/configuration.rst
Due: none

Change interlock names
  tests/unit_tests/beamlines/i24/conftest.py
  tests/unit_tests/beamlines/i24/jungfrau_commissioning/conftest.py
  tests/unit_tests/hyperion/experiment_plans/test_udc_default_state.py
  uv.lock
Due: ruff, ruff-format, type-checking, import-contracts, uv-sync, local-install-dodal

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  type-checking: any of: \.py$
  import-contracts: any of: \.py$
  uv-sync: any of: ^(uv\.lock|pyproject\.toml)$
  local-install-dodal: any of: ^(uv\.lock|pyproject\.toml)$
