Repository DiamondLightSource/mx-bluesky: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, type-checking, import-contracts, uv-sync, local-install-dodal

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=500"]
        exclude: ^uv.lock
      - id: check-yaml
        args: ["--allow-multiple-documents"]
        exclude: ^helm/
      - id: check-merge-conflict
      - id: end-of-file-fixer

  - repo: local
    hooks:
      - id: ruff
        name: lint with ruff
        language: system
        entry: ruff check --force-exclude --fix
        types: [python]
        require_serial: true

      - id: ruff-format
        name: format with ruff
        language: system
        entry: ruff format --force-exclude
        types: [python]
        require_serial: true
      
      - id: type-checking
        name: type-checking with pyright
        language: system
        entry: tox -e type-checking
        types: [python]
        require_serial: true

      - id: import-contracts
        name: Ensure import directionality
        pass_filenames: false
        language: system
        entry: lint-imports
        types: [python]
        require_serial: false

      - id: lock dodal
        name: keep dodal up to date in lockfile
        pass_filenames: false
        language: system
        entry: uv lock --upgrade-package dls-dodal

      - id: uv-sync
        name: update uv.lock and venv
        pass_filenames: false
        language: system
        entry: uv sync
        files: ^(uv\.lock|pyproject\.toml)$

      - id: local-install-dodal
        name: editable install of dodal
        language: system
        pass_filenames: false
        entry: uv pip install -e ../dodal
        files: ^(uv\.lock|pyproject\.toml)$

  # Type checking
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.19.1
    hooks:
      - id: mypy
        files: 'src/.*\.py$'
        additional_dependencies: [types-requests, types-redis, pydantic]
        args: ["--ignore-missing-imports", "--no-strict-optional"]

  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.28.0
    hooks:
      - id: gitleaks

Update uv.lock
  uv.lock
Due: uv-sync, local-install-dodal

Fix unit test
  tests/unit_tests/common/device_setup_plans/test_robot_load_unload.py
Due: ruff, ruff-format, type-checking, import-contracts

Fix type-checking for hutch interlock status in i24 shutter fixture
  tests/unit_tests/beamlines/i24/conftest.py
Due: ruff, ruff-format, type-checking, import-contracts

Fix type-checking for hutch interlock status in i24 shutter fixture (#1670)
  tests/unit_tests/beamlines/i24/conftest.py
  uv.lock
Due: ruff, ruff-format, type-checking, import-contracts, uv-sync, local-install-dodal

Fix broken test due to rename of method
  tests/unit_tests/hyperion/test_plan_runner.py
Due: ruff, ruff-format, type-checking, import-contracts

1498 skip native collection if no diffraction (#1646)
  pyproject.toml
  src/mx_bluesky/hyperion/in_process_runner.py
  src/mx_bluesky/hyperion/supervisor/_supervisor.py
  tests/conftest.py
  tests/system_tests/hyperion/supervisor/dummy_plans.py
  tests/system_tests/hyperion/supervisor/test_supervisor.py
  tests/unit_tests/hyperion/supervisor/test_supervisor.py
  tests/unit_tests/hyperion/test_plan_runner.py
  uv.lock
Due: ruff, ruff-format, type-checking, import-contracts, uv-sync, local-install-dodal

Remove Dockerfile for graylog system test image that is no longer used
  utility_scripts/graylog/Dockerfile
  utility_scripts/graylog/tcp_input.json
Due: none

Added move on click plan to oav
  src/mx_bluesky/beamlines/i24/web_gui_plans/oav_plans.py
Due: ruff, ruff-format, type-checking, import-contracts

Added Test
  tests/unit_tests/beamlines/i24/web_gui/test_oav_plans.py
  uv.lock
Due: ruff, ruff-format, type-checking, import-contracts, uv-sync, local-install-dodal

Add blueapi entry point and fix ispyb slits read
  src/mx_bluesky/beamlines/i02_1/__init__.py
  src/mx_bluesky/common/external_interaction/callbacks/common/ispyb_callback_base.py
  uv.lock
Due: ruff, ruff-format, type-checking, import-contracts, uv-sync, local-install-dodal

Extend gda param model to include box size and omega start
  src/mx_bluesky/beamlines/i02_1/external_interaction/callbacks/gridscan/ispyb_callback.py
  src/mx_bluesky/beamlines/i02_1/i02_1_gridscan_plan.py
Due: ruff, ruff-format, type-checking, import-contracts

Use SAD experiment type
  src/mx_bluesky/beamlines/i02_1/i02_1_gridscan_plan.py
Due: ruff, ruff-format, type-checking, import-contracts

Use correct vmxm detector type
  src/mx_bluesky/beamlines/i02_1/i02_1_gridscan_plan.py
  src/mx_bluesky/common/parameters/gridscan.py
Due: ruff, ruff-format, type-checking, import-contracts

Commissioning JF working state for rotations and pedestals
  src/mx_bluesky/beamlines/i24/jungfrau_commissioning/callbacks/metadata_writer.py
  src/mx_bluesky/beamlines/i24/jungfrau_commissioning/composites.py
  src/mx_bluesky/beamlines/i24/jungfrau_commissioning/experiment_plans/do_darks.py
  src/mx_bluesky/beamlines/i24/jungfrau_commissioning/experiment_plans/rotation_scan_plan.py
  src/mx_bluesky/beamlines/i24/jungfrau_commissioning/plan_stubs/plan_utils.py
  src/mx_bluesky/beamlines/i24/web_gui_plans/jungfrau_plans.py
  src/mx_bluesky/common/device_setup_plans/setup_zebra_and_shutter.py
  src/mx_bluesky/common/parameters/rotation.py
Due: ruff, ruff-format, type-checking, import-contracts

Revert file
  src/mx_bluesky/Getting started.ipynb
Due: none

Update lockfile
  uv.lock
Due: uv-sync, local-install-dodal

Dont change aperture during i04 xrc (#1644)
  src/mx_bluesky/beamlines/i04/experiment_plans/i04_grid_detect_then_xray_centre_plan.py
  src/mx_bluesky/common/experiment_plans/change_aperture_then_move_plan.py
  tests/unit_tests/beamlines/i04/test_i04_grid_detect_then_xray_centre_plan.py
  tests/unit_tests/common/experiment_plans/test_change_aperture_then_move_plan.py
  uv.lock
Due: ruff, ruff-format, type-checking, import-contracts, uv-sync, local-install-dodal

Refactor and assert no call
  src/mx_bluesky/hyperion/baton_handler.py
  tests/unit_tests/hyperion/test_baton_handler.py
  tests/unit_tests/hyperion/test_main_system.py
  uv.lock
Due: ruff, ruff-format, type-checking, import-contracts, uv-sync, local-install-dodal

Checks for 10 minutes left for countdown (#1622)
  pyproject.toml
  src/mx_bluesky/hyperion/baton_handler.py
  tests/unit_tests/hyperion/test_baton_handler.py
  tests/unit_tests/hyperion/test_main_system.py
  tests/unit_tests/t01.py
  uv.lock
Due: ruff, ruff-format, type-checking, import-contracts, uv-sync, local-install-dodal

Tweak
  src/mx_bluesky/beamlines/i04/experiment_plans/i04_grid_detect_then_xray_centre_plan.py
Due: ruff, ruff-format, type-checking, import-contracts

Fix tests
  tests/conftest.py
  tests/test_data/test_domain_properties
  tests/test_data/test_domain_properties_with_no_gpu
  tests/test_data/test_domain_properties_with_panda
  tests/unit_tests/beamlines/i04/conftest.py
  tests/unit_tests/conftest.py
  tests/unit_tests/hyperion/conftest.py
  tests/unit_tests/hyperion/experiment_plans/test_udc_default_state.py
  tests/unit_tests/hyperion/parameters/test_parameter_model.py
Due: ruff, ruff-format, type-checking, import-contracts

Use feature settings config models
  src/mx_bluesky/beamlines/i04/experiment_plans/i04_grid_detect_then_xray_centre_plan.py
  src/mx_bluesky/beamlines/i04/external_interaction/config_server.py
  src/mx_bluesky/beamlines/i04/parameters/constants.py
  src/mx_bluesky/common/external_interaction/config_server.py
  src/mx_bluesky/hyperion/device_setup_plans/dcm_pitch_roll_mirror_adjuster.py
  src/mx_bluesky/hyperion/experiment_plans/hyperion_flyscan_xray_centre_plan.py
  src/mx_bluesky/hyperion/experiment_plans/load_centre_collect_full_plan.py
  src/mx_bluesky/hyperion/experiment_plans/udc_default_state.py
  src/mx_bluesky/hyperion/external_interaction/config_server.py
  src/mx_bluesky/hyperion/parameters/constants.py
  src/mx_bluesky/hyperion/parameters/gridscan.py
  uv.lock
Due: ruff, ruff-format, type-checking, import-contracts, uv-sync, local-install-dodal

Pin dodal
  pyproject.toml
  uv.lock
Due: uv-sync, local-install-dodal

Remove MX config server
  src/mx_bluesky/common/external_interaction/config_server.py
  tests/unit_tests/common/external_interaction/test_config_server.py
Due: ruff, ruff-format, type-checking, import-contracts

Old daq-config-server import paths
  src/mx_bluesky/beamlines/i04/external_interaction/config_server.py
  src/mx_bluesky/hyperion/external_interaction/config_server.py
  tests/unit_tests/hyperion/experiment_plans/test_udc_default_state.py
Due: ruff, ruff-format, type-checking, import-contracts

Pin daq-config-server to branch
  pyproject.toml
  uv.lock
Due: uv-sync, local-install-dodal

Reflect new daq-config-server import structure
  src/mx_bluesky/beamlines/i04/external_interaction/config_server.py
  src/mx_bluesky/hyperion/external_interaction/config_server.py
  tests/unit_tests/hyperion/experiment_plans/test_udc_default_state.py
  uv.lock
Due: ruff, ruff-format, type-checking, import-contracts, uv-sync, local-install-dodal

Fix CI
  pyproject.toml
  uv.lock
Due: uv-sync, local-install-dodal

Move config server cache reset into clear_all_device_caches()
  src/mx_bluesky/hyperion/experiment_plans/load_centre_collect_full_plan.py
  src/mx_bluesky/hyperion/utils/context.py
Due: ruff, ruff-format, type-checking, import-contracts

Unpin dls-dodal
  pyproject.toml
Due: uv-sync, local-install-dodal

Pin to correct dodal branch
  pyproject.toml
  uv.lock
Due: uv-sync, local-install-dodal
