Repository DiamondLightSource/mx-bluesky: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, type-checking, import-contracts, uv-sync, local-install-dodal

ruff:
  name: lint with ruff
  language: system
  entry: ruff check --force-exclude --fix
  require_serial: true

ruff-format:
  name: format with ruff
  language: system
  entry: ruff format --force-exclude
  require_serial: true

type-checking:
  name: type-checking with pyright
  language: system
  entry: tox -e type-checking
  require_serial: true

import-contracts:
  name: Ensure import directionality
  pass_filenames: false
  language: system
  entry: lint-imports
  require_serial: false

uv-sync:
  name: update uv.lock and venv
  pass_filenames: false
  language: system
  entry: uv sync

local-install-dodal:
  name: editable install of dodal
  language: system
  pass_filenames: false
  entry: uv pip install -e ../dodal

Pin dodal
  pyproject.toml
Due: uv-sync, local-install-dodal

Update imports for package move of aperture-scatterguard, scintillator into mx_phase1
  src/mx_bluesky/beamlines/i04/experiment_plans/i04_grid_detect_then_xray_centre_plan.py
  src/mx_bluesky/beamlines/i04/oav_centering_plans/oav_imaging.py
  src/mx_bluesky/common/device_setup_plans/manipulate_sample.py
  src/mx_bluesky/common/device_setup_plans/robot_load_unload.py
  src/mx_bluesky/common/experiment_plans/beamstop_check.py
  src/mx_bluesky/common/experiment_plans/change_aperture_then_move_plan.py
  src/mx_bluesky/common/experiment_plans/inner_plans/read_hardware.py
  src/mx_bluesky/common/experiment_plans/oav_snapshot_plan.py
  src/mx_bluesky/common/parameters/components.py
  src/mx_bluesky/common/parameters/constants.py
  src/mx_bluesky/common/parameters/device_composites.py
  src/mx_bluesky/common/parameters/gridscan.py
  src/mx_bluesky/common/parameters/rotation.py
  src/mx_bluesky/hyperion/blueapi_plans/__init__.py
  src/mx_bluesky/hyperion/experiment_plans/robot_load_and_change_energy.py
  src/mx_bluesky/hyperion/experiment_plans/robot_load_then_centre_plan.py
  src/mx_bluesky/hyperion/experiment_plans/rotation_scan_plan.py
  src/mx_bluesky/hyperion/experiment_plans/udc_default_state.py
  src/mx_bluesky/hyperion/in_process_runner.py
  src/mx_bluesky/hyperion/parameters/device_composites.py
  tests/conftest.py
  tests/system_tests/common/device_setup_plans/test_robot_load_unload.py
  tests/system_tests/hyperion/external_interaction/conftest.py
  tests/system_tests/hyperion/supervisor/dummy_plans.py
  tests/unit_tests/beamlines/i04/test_i04_grid_detect_then_xray_centre_plan.py
  tests/unit_tests/beamlines/i04/test_oav_imaging.py
  tests/unit_tests/common/device_setup_plans/test_robot_load_unload.py
  tests/unit_tests/common/experiment_plans/inner_plans/test_read_hardware.py
  tests/unit_tests/common/experiment_plans/test_beamstop_check.py
  tests/unit_tests/common/experiment_plans/test_change_aperture_then_move_plan.py
  tests/unit_tests/common/experiment_plans/test_common_grid_detect_then_xray_centre_plan.py
  tests/unit_tests/common/experiment_plans/test_oav_snapshot_plan.py
  tests/unit_tests/conftest.py
  tests/unit_tests/hyperion/device_setup_plans/test_manipulate_sample.py
  tests/unit_tests/hyperion/experiment_plans/conftest.py
  tests/unit_tests/hyperion/experiment_plans/test_hyperion_flyscan_xray_centre_plan.py
  tests/unit_tests/hyperion/experiment_plans/test_pin_centre_then_xray_centre_plan.py
  tests/unit_tests/hyperion/experiment_plans/test_rotation_scan_plan.py
  tests/unit_tests/hyperion/experiment_plans/test_udc_default_state.py
  tests/unit_tests/hyperion/parameters/test_parameter_model.py
Due: ruff, ruff-format, type-checking, import-contracts

Fix unit test configuration for aperture scatterguard
  tests/conftest.py
Due: ruff, ruff-format, type-checking, import-contracts

Change udc_default_state script to use the move_scintillator_safely plan instead of directly calling the scintillator set
  src/mx_bluesky/hyperion/experiment_plans/udc_default_state.py
Due: ruff, ruff-format, type-checking, import-contracts

Update uv.lock
  uv.lock
Due: uv-sync, local-install-dodal

Fix making aithre devices
  pyproject.toml
  tests/conftest.py
  tests/unit_tests/beamlines/aithre_lasershaping/test_beamline_safe.py
  tests/unit_tests/beamlines/aithre_lasershaping/test_check_goniometer_performance.py
  tests/unit_tests/beamlines/aithre_lasershaping/test_goniometer_controls.py
  uv.lock
Due: ruff, ruff-format, type-checking, import-contracts, uv-sync, local-install-dodal

Fix tests
  tests/unit_tests/beamlines/aithre_lasershaping/test_goniometer_controls.py
  uv.lock
Due: ruff, ruff-format, type-checking, import-contracts, uv-sync, local-install-dodal

Update pyproject.toml
  pyproject.toml
Due: uv-sync, local-install-dodal

Update lock file
  uv.lock
Due: uv-sync, local-install-dodal

Fix making aithre devices (#1613)
  tests/conftest.py
  tests/unit_tests/beamlines/aithre_lasershaping/test_beamline_safe.py
  tests/unit_tests/beamlines/aithre_lasershaping/test_check_goniometer_performance.py
  tests/unit_tests/beamlines/aithre_lasershaping/test_goniometer_controls.py
  uv.lock
Due: ruff, ruff-format, type-checking, import-contracts, uv-sync, local-install-dodal

Unpin pyright now that issue is fixed
  pyproject.toml
Due: uv-sync, local-install-dodal

Fix tests and add new tests
  tests/conftest.py
  tests/unit_tests/beamlines/i04/test_i04_grid_detect_then_xray_centre_plan.py
  tests/unit_tests/hyperion/experiment_plans/test_pin_centre_then_xray_centre_plan.py
  uv.lock
Due: ruff, ruff-format, type-checking, import-contracts, uv-sync, local-install-dodal

Fix other tests
  tests/unit_tests/hyperion/experiment_plans/test_load_centre_collect_full_plan.py
  tests/unit_tests/hyperion/experiment_plans/test_robot_load_then_centre.py
Due: ruff, ruff-format, type-checking, import-contracts

fix lock file
  uv.lock
Due: uv-sync, local-install-dodal

Changed the display_config path directory (#1580)
  src/mx_bluesky/beamlines/i24/serial/parameters/constants.py
  uv.lock
Due: ruff, ruff-format, type-checking, import-contracts, uv-sync, local-install-dodal

Use protocols instead of smargon type for FGS composite
  pyproject.toml
  src/mx_bluesky/beamlines/i04/experiment_plans/i04_grid_detect_then_xray_centre_plan.py
  src/mx_bluesky/common/experiment_plans/common_flyscan_xray_centre_plan.py
  src/mx_bluesky/common/experiment_plans/common_grid_detect_then_xray_centre_plan.py
  src/mx_bluesky/common/experiment_plans/oav_grid_detection_plan.py
  src/mx_bluesky/common/parameters/device_composites.py
  src/mx_bluesky/hyperion/experiment_plans/hyperion_flyscan_xray_centre_plan.py
  src/mx_bluesky/hyperion/experiment_plans/pin_centre_then_xray_centre_plan.py
  src/mx_bluesky/hyperion/parameters/device_composites.py
  tests/conftest.py
  tests/system_tests/hyperion/external_interaction/conftest.py
  tests/unit_tests/beamlines/i04/test_i04_grid_detect_then_xray_centre_plan.py
  tests/unit_tests/common/experiment_plans/test_common_flyscan_xray_centre_plan.py
  tests/unit_tests/common/experiment_plans/test_grid_detection_plan.py
  tests/unit_tests/conftest.py
  tests/unit_tests/hyperion/experiment_plans/test_hyperion_flyscan_xray_centre_plan.py
  uv.lock
Due: ruff, ruff-format, type-checking, import-contracts, uv-sync, local-install-dodal

Fix docs references
  docs/developer/general/explanations/callback_and_run_logic.rst
Due: none

Remove unused subplans and improve docs (#1548)
  docs/developer/general/explanations/callback_and_run_logic.rst
  src/mx_bluesky/beamlines/aithre_lasershaping/experiment_plans/robot_load_plan.py
  src/mx_bluesky/common/experiment_plans/common_flyscan_xray_centre_plan.py
  src/mx_bluesky/common/external_interaction/callbacks/xray_centre/ispyb_callback.py
  src/mx_bluesky/common/parameters/constants.py
  src/mx_bluesky/hyperion/experiment_plans/robot_load_and_change_energy.py
  src/mx_bluesky/hyperion/experiment_plans/rotation_scan_plan.py
  tests/conftest.py
  tests/unit_tests/common/experiment_plans/test_common_flyscan_xray_centre_plan.py
  tests/unit_tests/common/preprocessors/test_preprocessors.py
Due: ruff, ruff-format, type-checking, import-contracts

Rename devices to gonio in all plans
  src/mx_bluesky/common/experiment_plans/oav_snapshot_plan.py
  src/mx_bluesky/hyperion/experiment_plans/load_centre_collect_full_plan.py
  src/mx_bluesky/hyperion/experiment_plans/robot_load_then_centre_plan.py
  src/mx_bluesky/hyperion/experiment_plans/rotation_scan_plan.py
  tests/conftest.py
  tests/system_tests/hyperion/external_interaction/conftest.py
  tests/system_tests/hyperion/external_interaction/test_load_centre_collect_full_plan.py
  tests/unit_tests/common/experiment_plans/test_oav_snapshot_plan.py
  tests/unit_tests/hyperion/experiment_plans/conftest.py
  tests/unit_tests/hyperion/experiment_plans/test_rotation_scan_plan.py
Due: ruff, ruff-format, type-checking, import-contracts

Unpin pyright (#1617)
  pyproject.toml
  uv.lock
Due: uv-sync, local-install-dodal

Rename smargon more fully
  src/mx_bluesky/common/external_interaction/callbacks/common/grid_detection_callback.py
  src/mx_bluesky/common/external_interaction/callbacks/common/ispyb_callback_base.py
  src/mx_bluesky/common/external_interaction/callbacks/xray_centre/ispyb_callback.py
  src/mx_bluesky/common/parameters/device_composites.py
  src/mx_bluesky/hyperion/blueapi_plans/__init__.py
  src/mx_bluesky/hyperion/experiment_plans/robot_load_and_change_energy.py
  src/mx_bluesky/hyperion/experiment_plans/udc_default_state.py
  src/mx_bluesky/hyperion/external_interaction/callbacks/rotation/ispyb_callback.py
  src/mx_bluesky/hyperion/external_interaction/callbacks/snapshot_callback.py
  src/mx_bluesky/hyperion/in_process_runner.py
  tests/conftest.py
  tests/unit_tests/common/device_setup_plans/test_robot_load_unload.py
  tests/unit_tests/common/experiment_plans/test_common_grid_detect_then_xray_centre_plan.py
  tests/unit_tests/common/experiment_plans/test_grid_detection_plan.py
  tests/unit_tests/common/experiment_plans/test_oav_snapshot_plan.py
  tests/unit_tests/conftest.py
  tests/unit_tests/hyperion/experiment_plans/conftest.py
  tests/unit_tests/hyperion/experiment_plans/test_load_centre_collect_full_plan.py
  tests/unit_tests/hyperion/experiment_plans/test_pin_centre_then_xray_centre_plan.py
  tests/unit_tests/hyperion/experiment_plans/test_rotation_scan_plan.py
  tests/unit_tests/hyperion/experiment_plans/test_udc_default_state.py
  tests/unit_tests/hyperion/external_interaction/callbacks/rotation/test_ispyb_callback.py
Due: ruff, ruff-format, type-checking, import-contracts

Change name for i04 plans
  pyproject.toml
  src/mx_bluesky/beamlines/i04/callbacks/murko_callback.py
  src/mx_bluesky/beamlines/i04/experiment_plans/i04_grid_detect_then_xray_centre_plan.py
  src/mx_bluesky/beamlines/i04/thawing_plan.py
  tests/unit_tests/beamlines/i04/callbacks/test_murko_callback.py
  tests/unit_tests/beamlines/i04/test_thawing.py
  tests/unit_tests/hyperion/experiment_plans/conftest.py
  tests/unit_tests/hyperion/experiment_plans/test_rotation_scan_plan.py
  uv.lock
Due: ruff, ruff-format, type-checking, import-contracts, uv-sync, local-install-dodal

Fix devcontainer dodal and dlstbx
  .devcontainer/devcontainer.json
  uv.lock
Due: uv-sync, local-install-dodal

Fix typing
  src/mx_bluesky/common/experiment_plans/common_flyscan_xray_centre_plan.py
  src/mx_bluesky/common/parameters/device_composites.py
Due: ruff, ruff-format, type-checking, import-contracts

Include generic type everywhere in plan
  src/mx_bluesky/common/experiment_plans/common_flyscan_xray_centre_plan.py
Due: ruff, ruff-format, type-checking, import-contracts

Better variable name
  src/mx_bluesky/common/experiment_plans/common_flyscan_xray_centre_plan.py
  src/mx_bluesky/common/parameters/device_composites.py
Due: ruff, ruff-format, type-checking, import-contracts

Stage zocalo and centre outside of common gridscan (#1557)
  docs/user/hyperion/advanced/concurrent_operations.puml
  src/mx_bluesky/beamlines/i04/experiment_plans/i04_grid_detect_then_xray_centre_plan.py
  src/mx_bluesky/common/experiment_plans/change_aperture_then_move_plan.py
  src/mx_bluesky/common/experiment_plans/common_flyscan_xray_centre_plan.py
  src/mx_bluesky/common/experiment_plans/common_grid_detect_then_xray_centre_plan.py
  src/mx_bluesky/common/experiment_plans/inner_plans/do_fgs.py
  src/mx_bluesky/common/experiment_plans/inner_plans/xrc_results_utils.py
  src/mx_bluesky/common/parameters/device_composites.py
  src/mx_bluesky/common/parameters/gridscan.py
  src/mx_bluesky/common/utils/xrc_result.py
  src/mx_bluesky/hyperion/experiment_plans/hyperion_flyscan_xray_centre_plan.py
  src/mx_bluesky/hyperion/experiment_plans/load_centre_collect_full_plan.py
  src/mx_bluesky/hyperion/experiment_plans/pin_centre_then_xray_centre_plan.py
  src/mx_bluesky/hyperion/experiment_plans/robot_load_then_centre_plan.py
  tests/conftest.py
  tests/unit_tests/beamlines/i04/test_i04_grid_detect_then_xray_centre_plan.py
  tests/unit_tests/common/experiment_plans/test_change_aperture_then_move_plan.py
  tests/unit_tests/common/experiment_plans/test_common_flyscan_xray_centre_plan.py
  tests/unit_tests/common/experiment_plans/test_common_grid_detect_then_xray_centre_plan.py
  tests/unit_tests/common/utils/test_xrc_result.py
  tests/unit_tests/conftest.py
  tests/unit_tests/hyperion/experiment_plans/common/test_flyscan_result.py
  tests/unit_tests/hyperion/experiment_plans/conftest.py
  tests/unit_tests/hyperion/experiment_plans/test_hyperion_flyscan_xray_centre_plan.py
  tests/unit_tests/hyperion/experiment_plans/test_hyperion_grid_detect_then_xray_centre_plan.py
  tests/unit_tests/hyperion/experiment_plans/test_load_centre_collect_full_plan.py
  tests/unit_tests/hyperion/experiment_plans/test_pin_centre_then_xray_centre_plan.py
  tests/unit_tests/hyperion/experiment_plans/test_robot_load_then_centre.py
  uv.lock
Due: ruff, ruff-format, type-checking, import-contracts, uv-sync, local-install-dodal

Checks for 10 minutes left for countdown
  src/mx_bluesky/hyperion/baton_handler.py
  uv.lock
Due: ruff, ruff-format, type-checking, import-contracts, uv-sync, local-install-dodal

WIP begin making callbacks generic
  src/mx_bluesky/common/external_interaction/callbacks/xray_centre/nexus_callback.py
  src/mx_bluesky/common/parameters/components.py
  src/mx_bluesky/common/parameters/gridscan.py
Due: ruff, ruff-format, type-checking, import-contracts

Fix devcontainer dodal and dlstbx (#1621)
  .devcontainer/devcontainer.json
Due: none

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  type-checking: any of: \.py$
  import-contracts: any of: \.py$
  uv-sync: any of: ^(uv\.lock|pyproject\.toml)$
  local-install-dodal: any of: ^(uv\.lock|pyproject\.toml)$
