Repository DiamondLightSource/mx-bluesky: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, type-checking, import-contracts, uv-sync, local-install-dodal

ruff:
  name: lint with ruff
  language: system
  entry: ruff check --force-exclude --fix
  require_serial: true

ruff-format:
  name: format with ruff
  language: system
  entry: ruff format --force-exclude
  require_serial: true

type-checking:
  name: type-checking with pyright
  language: system
  entry: tox -e type-checking
  require_serial: true

import-contracts:
  name: Ensure import directionality
  pass_filenames: false
  language: system
  entry: lint-imports
  require_serial: false

uv-sync:
  name: update uv.lock and venv
  pass_filenames: false
  language: system
  entry: uv sync

local-install-dodal:
  name: editable install of dodal
  language: system
  pass_filenames: false
  entry: uv pip install -e ../dodal

Rename test file
  tests/test_data/oav/__init__.py
  tests/test_data/oav/jCameraManZoomLevels.json
  uv.lock
Due: ruff, ruff-format, type-checking, import-contracts, uv-sync, local-install-dodal

Restore test images
  tests/test_data/test_images/ins_15_33_expected_0.png
  tests/test_data/test_images/ins_15_33_expected_270.png
  tests/test_data/test_images/thau_1_91_expected_0.png
  tests/test_data/test_images/thau_1_91_expected_270.png
Due: none

Fix test config
  tests/test_data/oav/test_display.configuration
  tests/unit_tests/common/external_interaction/callbacks/common/test_snapshot_callback.py
Due: ruff, ruff-format, type-checking, import-contracts

Fix test config
  conftest.py
  tests/test_data/oav/test_display.configuration
Due: ruff, ruff-format, type-checking, import-contracts

Fix test
  tests/unit_tests/common/experiment_plans/test_common_grid_detect_then_xray_centre_plan.py
Due: ruff, ruff-format, type-checking, import-contracts

Fix
  src/mx_bluesky/beamlines/i24/web_gui_plans/general_plans.py
Due: ruff, ruff-format, type-checking, import-contracts

Fix synchrotron mode not being read in callbacks correctly
  src/mx_bluesky/common/external_interaction/callbacks/common/ispyb_callback_base.py
Due: ruff, ruff-format, type-checking, import-contracts

synchrotron countdown fix WIP
  src/mx_bluesky/hyperion/baton_handler.py
  tests/unit_tests/hyperion/test_baton_handler.py
Due: ruff, ruff-format, type-checking, import-contracts

Fix incorrect type in alert metadata preventing alert being issued. Make task monitor timeout 20 minutes instead of 10
  src/mx_bluesky/hyperion/supervisor/_task_monitor.py
Due: ruff, ruff-format, type-checking, import-contracts

Return the visit from decode_and_execute
  src/mx_bluesky/hyperion/supervisor/_supervisor.py
Due: ruff, ruff-format, type-checking, import-contracts

Fix for unable to unload without a visit
  src/mx_bluesky/hyperion/blueapi/in_process.py
Due: ruff, ruff-format, type-checking, import-contracts

Disable soak tests until ophyd-async has the caching bug fixed in a release
  tests/system_tests/hyperion/external_interaction/test_baton_handler_soak.py
Due: ruff, ruff-format, type-checking, import-contracts

Fix unit tests Turn down logging Remove test code
  src/mx_bluesky/common/external_interaction/alerting/_service.py
  src/mx_bluesky/common/external_interaction/callbacks/common/ispyb_callback_base.py
  src/mx_bluesky/hyperion/baton_handler.py
  src/mx_bluesky/hyperion/supervisor/_supervisor.py
  src/mx_bluesky/hyperion/supervisor/_task_monitor.py
  tests/unit_tests/hyperion/supervisor/test_supervisor.py
  tests/unit_tests/hyperion/supervisor/test_task_monitor.py
  tests/unit_tests/hyperion/test_baton_handler.py
Due: ruff, ruff-format, type-checking, import-contracts

Update uv.lock
  uv.lock
Due: uv-sync, local-install-dodal

Fix tests
  tests/conftest.py
  tests/unit_tests/conftest.py
Due: ruff, ruff-format, type-checking, import-contracts

Update lockfile
  uv.lock
Due: uv-sync, local-install-dodal

Add retry, error handling for agamemnon and blueapi requests
  src/mx_bluesky/hyperion/external_interaction/agamemnon.py
  src/mx_bluesky/hyperion/supervisor/_supervisor.py
  tests/unit_tests/hyperion/external_interaction/test_agamemnon.py
  tests/unit_tests/hyperion/supervisor/test_supervisor.py
Due: ruff, ruff-format, type-checking, import-contracts

Add alerting functionality when unable to talk to blueapi or agamemnon
  docs/user/hyperion/advanced/alerts.rst
  src/mx_bluesky/common/external_interaction/alerting/_service.py
  src/mx_bluesky/common/external_interaction/alerting/log_based_service.py
  src/mx_bluesky/common/external_interaction/callbacks/sample_handling/sample_handling_callback.py
  src/mx_bluesky/hyperion/external_interaction/agamemnon.py
  src/mx_bluesky/hyperion/supervisor/_supervisor.py
  src/mx_bluesky/hyperion/supervisor/_task_monitor.py
  tests/unit_tests/common/external_interaction/alerting/alerting/test_alerting.py
  tests/unit_tests/common/external_interaction/callbacks/sample_handling/test_sample_handling_callback.py
  tests/unit_tests/hyperion/external_interaction/test_agamemnon.py
  tests/unit_tests/hyperion/supervisor/test_supervisor.py
  tests/unit_tests/hyperion/supervisor/test_task_monitor.py
Due: ruff, ruff-format, type-checking, import-contracts

Make motion profile use the nearest omega
  src/mx_bluesky/common/experiment_plans/rotation/rotation_utils.py
  tests/unit_tests/hyperion/experiment_plans/test_rotation_scan_plan.py
Due: ruff, ruff-format, type-checking, import-contracts

Remove obsolete tests for wrapped smargon
  tests/unit_tests/common/experiment_plans/test_grid_detection_plan.py
Due: ruff, ruff-format, type-checking, import-contracts

Updated with fixed unit tests
  tests/conftest.py
  tests/system_tests/hyperion/external_interaction/conftest.py
  tests/unit_tests/beamlines/i04/test_thawing.py
  tests/unit_tests/common/device_setup_plans/test_robot_load_unload.py
  tests/unit_tests/common/experiment_plans/test_grid_detection_plan.py
  tests/unit_tests/common/experiment_plans/test_pin_tip_centring.py
  tests/unit_tests/hyperion/experiment_plans/conftest.py
  tests/unit_tests/hyperion/experiment_plans/test_rotation_scan_plan.py
Due: ruff, ruff-format, type-checking, import-contracts

Fixes for 360 rotation from testing
  src/mx_bluesky/common/experiment_plans/common_flyscan_xray_centre_plan.py
  src/mx_bluesky/common/parameters/device_composites.py
  src/mx_bluesky/hyperion/experiment_plans/rotation_scan_plan.py
Due: ruff, ruff-format, type-checking, import-contracts

Change from implicit phase usage via ModMotor to explicit usage with RotationalAxis
  src/mx_bluesky/common/experiment_plans/oav_grid_detection_plan.py
  src/mx_bluesky/common/experiment_plans/oav_snapshot_plan.py
  src/mx_bluesky/common/experiment_plans/pin_tip_centring_plan.py
  src/mx_bluesky/common/external_interaction/callbacks/common/grid_detection_callback.py
  src/mx_bluesky/common/external_interaction/callbacks/xray_centre/ispyb_callback.py
  src/mx_bluesky/hyperion/external_interaction/callbacks/snapshot_callback.py
  tests/conftest.py
  tests/system_tests/hyperion/external_interaction/conftest.py
  tests/system_tests/hyperion/external_interaction/test_load_centre_collect_full_plan.py
  tests/unit_tests/common/device_setup_plans/test_robot_load_unload.py
  tests/unit_tests/common/experiment_plans/test_grid_detection_plan.py
  tests/unit_tests/common/experiment_plans/test_oav_snapshot_plan.py
  tests/unit_tests/common/experiment_plans/test_pin_tip_centring.py
  tests/unit_tests/hyperion/experiment_plans/conftest.py
  tests/unit_tests/hyperion/experiment_plans/test_rotation_scan_plan.py
Due: ruff, ruff-format, type-checking, import-contracts

Update pyproject.toml to refer to branch
  pyproject.toml
Due: uv-sync, local-install-dodal

Fixes to unit tests
  src/mx_bluesky/common/experiment_plans/common_flyscan_xray_centre_plan.py
  tests/unit_tests/beamlines/i04/test_i04_grid_detect_then_xray_centre_plan.py
  tests/unit_tests/common/experiment_plans/test_common_flyscan_xray_centre_plan.py
  tests/unit_tests/hyperion/experiment_plans/test_load_centre_collect_full_plan.py
  tests/unit_tests/hyperion/experiment_plans/test_rotation_scan_plan.py
Due: ruff, ruff-format, type-checking, import-contracts

Fix unit tests, additional tests
  src/mx_bluesky/beamlines/i24/jungfrau_commissioning/experiment_plans/rotation_scan_plan.py
  src/mx_bluesky/common/experiment_plans/oav_grid_detection_plan.py
  src/mx_bluesky/common/experiment_plans/rotation/rotation_utils.py
  src/mx_bluesky/common/external_interaction/callbacks/common/grid_detection_callback.py
  src/mx_bluesky/hyperion/experiment_plans/rotation_scan_plan.py
  tests/conftest.py
  tests/unit_tests/beamlines/i04/test_thawing.py
  tests/unit_tests/beamlines/i24/jungfrau_commissioning/test_rotation_scan.py
  tests/unit_tests/common/experiment_plans/test_grid_detection_plan.py
  tests/unit_tests/common/experiment_plans/test_pin_tip_centring.py
  tests/unit_tests/hyperion/experiment_plans/test_rotation_scan_plan.py
Due: ruff, ruff-format, type-checking, import-contracts

Remove redundant test
  tests/unit_tests/hyperion/experiment_plans/test_rotation_scan_plan.py
Due: ruff, ruff-format, type-checking, import-contracts

Fix reference to dodal branch
  pyproject.toml
Due: uv-sync, local-install-dodal

Rename omega_axis to wrapped_omega
  src/mx_bluesky/common/experiment_plans/common_flyscan_xray_centre_plan.py
  src/mx_bluesky/common/experiment_plans/oav_grid_detection_plan.py
  src/mx_bluesky/common/experiment_plans/oav_snapshot_plan.py
  src/mx_bluesky/common/experiment_plans/pin_tip_centring_plan.py
  src/mx_bluesky/common/external_interaction/callbacks/common/grid_detection_callback.py
  src/mx_bluesky/common/external_interaction/callbacks/xray_centre/ispyb_callback.py
  src/mx_bluesky/common/parameters/device_composites.py
  src/mx_bluesky/hyperion/experiment_plans/rotation_scan_plan.py
  src/mx_bluesky/hyperion/external_interaction/callbacks/snapshot_callback.py
  tests/conftest.py
  tests/unit_tests/beamlines/i04/test_i04_grid_detect_then_xray_centre_plan.py
  tests/unit_tests/common/experiment_plans/test_common_flyscan_xray_centre_plan.py
  tests/unit_tests/common/experiment_plans/test_grid_detection_plan.py
  tests/unit_tests/common/experiment_plans/test_oav_snapshot_plan.py
  tests/unit_tests/hyperion/experiment_plans/test_load_centre_collect_full_plan.py
  tests/unit_tests/hyperion/experiment_plans/test_rotation_scan_plan.py
Due: ruff, ruff-format, type-checking, import-contracts

Additional documentation for WrappedAxis
  src/mx_bluesky/common/external_interaction/callbacks/xray_centre/ispyb_callback.py
  src/mx_bluesky/common/parameters/device_composites.py
  tests/unit_tests/common/experiment_plans/test_oav_snapshot_plan.py
Due: ruff, ruff-format, type-checking, import-contracts

Fixups for AngleWithPhase refactor
  src/mx_bluesky/common/experiment_plans/common_flyscan_xray_centre_plan.py
  src/mx_bluesky/common/experiment_plans/rotation/rotation_utils.py
  src/mx_bluesky/hyperion/experiment_plans/rotation_scan_plan.py
Due: ruff, ruff-format, type-checking, import-contracts

Remove distance from WrappedAxis, move to AngleWithPhase
  src/mx_bluesky/beamlines/i24/jungfrau_commissioning/experiment_plans/rotation_scan_plan.py
  src/mx_bluesky/common/experiment_plans/oav_grid_detection_plan.py
  tests/unit_tests/beamlines/i24/jungfrau_commissioning/test_rotation_scan.py
Due: ruff, ruff-format, type-checking, import-contracts

Update dls-dodal dependency to use main branch
  pyproject.toml
Due: uv-sync, local-install-dodal

Use config server for oav config (#1521)
  src/mx_bluesky/beamlines/i24/web_gui_plans/general_plans.py
  src/mx_bluesky/common/parameters/constants.py
  tests/conftest.py
  tests/system_tests/conftest.py
  tests/system_tests/hyperion/external_interaction/test_load_centre_collect_full_plan.py
  tests/test_data/oav/__init__.py
  tests/test_data/oav/jCameraManZoomLevels.json
  tests/test_data/oav/test_OAVCentring.json
  tests/test_data/oav/test_display.configuration
  tests/test_data/test_OAVCentring.json
  tests/test_data/test_daq_configuration/OAVCentring_hyperion.json
  tests/test_data/test_daq_configuration/display.configuration
  tests/test_data/test_display.configuration
  tests/test_data/test_jCameraManZoomLevels.xml
  tests/unit_tests/beamlines/i04/test_thawing.py
  tests/unit_tests/common/experiment_plans/test_common_grid_detect_then_xray_centre_plan.py
  tests/unit_tests/common/experiment_plans/test_grid_detection_plan.py
  tests/unit_tests/common/experiment_plans/test_oav_snapshot_plan.py
  tests/unit_tests/common/external_interaction/callbacks/common/test_snapshot_callback.py
  tests/unit_tests/common/parameters/test_constants.py
  tests/unit_tests/conftest.py
  tests/unit_tests/hyperion/device_setup_plans/test_setup_oav.py
  uv.lock
Due: ruff, ruff-format, type-checking, import-contracts, uv-sync, local-install-dodal

Simplify run_gridscan phase calculation
  src/mx_bluesky/common/experiment_plans/common_flyscan_xray_centre_plan.py
  tests/unit_tests/common/experiment_plans/test_common_flyscan_xray_centre_plan.py
Due: ruff, ruff-format, type-checking, import-contracts

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  type-checking: any of: \.py$
  import-contracts: any of: \.py$
  uv-sync: any of: ^(uv\.lock|pyproject\.toml)$
  local-install-dodal: any of: ^(uv\.lock|pyproject\.toml)$
