Repository DiamondLightSource/mx-bluesky: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, type-checking, import-contracts, uv-sync, local-install-dodal

ruff:
  name: lint with ruff
  language: system
  entry: ruff check --force-exclude --fix
  require_serial: true

ruff-format:
  name: format with ruff
  language: system
  entry: ruff format --force-exclude
  require_serial: true

type-checking:
  name: type-checking with pyright
  language: system
  entry: tox -e type-checking
  require_serial: true

import-contracts:
  name: Ensure import directionality
  pass_filenames: false
  language: system
  entry: lint-imports
  require_serial: false

uv-sync:
  name: update uv.lock and venv
  pass_filenames: false
  language: system
  entry: uv sync

local-install-dodal:
  name: editable install of dodal
  language: system
  pass_filenames: false
  entry: uv pip install -e ../dodal

Addition of ShortRepeat 1-4 to PumpProbeSetting class
  src/mx_bluesky/beamlines/i24/serial/fixed_target/ft_utils.py
  uv.lock
Due: ruff, ruff-format, type-checking, import-contracts, uv-sync, local-install-dodal

Addition of new calculated movetimes for ShortRepeat 1-4 and PVs
  src/mx_bluesky/beamlines/i24/serial/fixed_target/i24ssx_chip_manager_py3v1.py
Due: ruff, ruff-format, type-checking, import-contracts

Addition of new pump repeats
  src/mx_bluesky/beamlines/i24/serial/fixed_target/i24ssx_chip_collect_py3v1.py
Due: ruff, ruff-format, type-checking, import-contracts

Update of pump probe edm
  src/mx_bluesky/beamlines/i24/serial/fixed_target/FT-gui-edm/pumpprobe-py3v1.edl
Due: none

Update of main edm
  src/mx_bluesky/beamlines/i24/serial/fixed_target/FT-gui-edm/DiamondChipI24-py3v1.edl
Due: none

Safe change to check if I can push to main
  tests/unit_tests/t01.py
Due: ruff, ruff-format, type-checking, import-contracts

Changed call count in test
  tests/unit_tests/beamlines/i24/serial/fixed_target/test_chip_manager.py
Due: ruff, ruff-format, type-checking, import-contracts

Changed call count in test (#1702)
  tests/unit_tests/beamlines/i24/serial/fixed_target/test_chip_manager.py
Due: ruff, ruff-format, type-checking, import-contracts

Initial refactor introducing AperturePolicy Add json schema documentation generation
  docs/conf.py
  docs/developer/hyperion/index.rst
  docs/developer/hyperion/reference/blueapi_schema.json
  docs/developer/hyperion/reference/blueapi_schema.rst
  pyproject.toml
  src/mx_bluesky/beamlines/i04/experiment_plans/i04_grid_detect_then_xray_centre_plan.py
  src/mx_bluesky/common/device_setup_plans/manipulate_sample.py
  src/mx_bluesky/common/experiment_plans/common_grid_detect_then_xray_centre_plan.py
  src/mx_bluesky/common/parameters/components.py
  src/mx_bluesky/common/parameters/gridscan.py
  src/mx_bluesky/common/parameters/rotation.py
  src/mx_bluesky/hyperion/blueapi/in_process.py
  src/mx_bluesky/hyperion/experiment_plans/load_centre_collect_full_plan.py
  src/mx_bluesky/hyperion/experiment_plans/rotation_scan_plan.py
  tests/system_tests/hyperion/external_interaction/test_load_centre_collect_full_plan.py
  tests/unit_tests/common/experiment_plans/test_common_grid_detect_then_xray_centre_plan.py
  tests/unit_tests/conftest.py
  tests/unit_tests/hyperion/experiment_plans/test_rotation_scan_plan.py
  tests/unit_tests/hyperion/parameters/test_parameter_model.py
Due: ruff, ruff-format, type-checking, import-contracts, uv-sync, local-install-dodal

Fix typo in docs
  docs/developer/hyperion/reference/blueapi_schema.rst
Due: none

Attempt at parameter docs from schema
  docs/developer/hyperion/reference/blueapi/clean_up_udc.json
  docs/developer/hyperion/reference/blueapi/load_centre_collect.json
  docs/developer/hyperion/reference/blueapi/move_to_udc_default_state.json
  docs/developer/hyperion/reference/blueapi/robot_unload.json
  docs/developer/hyperion/reference/blueapi_schema.rst
  utility_scripts/generate_parameter_schemas.py
Due: ruff, ruff-format, type-checking, import-contracts

Implement AperturePolicy, unit tests fixed
  docs/developer/hyperion/reference/blueapi_schema.rst
  src/mx_bluesky/common/experiment_plans/change_aperture_then_move_plan.py
  src/mx_bluesky/common/parameters/components.py
  src/mx_bluesky/common/utils/aperture_selection.py
  src/mx_bluesky/hyperion/blueapi/parameters.py
  src/mx_bluesky/hyperion/experiment_plans/load_centre_collect_full_plan.py
  src/mx_bluesky/hyperion/external_interaction/agamemnon.py
  src/mx_bluesky/hyperion/parameters/constants.py
  tests/test_data/parameter_json_files/external_load_centre_collect_params.json
  tests/unit_tests/common/experiment_plans/test_change_aperture_then_move_plan.py
  tests/unit_tests/hyperion/experiment_plans/test_load_centre_collect_full_plan.py
  tests/unit_tests/hyperion/external_interaction/test_agamemnon.py
Due: ruff, ruff-format, type-checking, import-contracts

Revert changes relating to blueapi parameter documentation
  docs/developer/hyperion/reference/blueapi/clean_up_udc.json
  docs/developer/hyperion/reference/blueapi/load_centre_collect.json
  docs/developer/hyperion/reference/blueapi/move_to_udc_default_state.json
  docs/developer/hyperion/reference/blueapi/robot_unload.json
  docs/developer/hyperion/reference/blueapi_schema.rst
  utility_scripts/generate_parameter_schemas.py
Due: ruff, ruff-format, type-checking, import-contracts

Revert abortive parameter docs changes
  docs/developer/hyperion/index.rst
  docs/developer/hyperion/reference/blueapi_schema.json
  pyproject.toml
Due: uv-sync, local-install-dodal

Implement CURRENT_POSITION for gridscans, fix latent bug Validation for selected_aperture in LoadCentreCollectParams
  src/mx_bluesky/common/device_setup_plans/manipulate_sample.py
  src/mx_bluesky/common/experiment_plans/common_grid_detect_then_xray_centre_plan.py
  src/mx_bluesky/hyperion/blueapi/parameters.py
  src/mx_bluesky/hyperion/experiment_plans/rotation_scan_plan.py
  tests/unit_tests/common/experiment_plans/test_common_grid_detect_then_xray_centre_plan.py
  tests/unit_tests/hyperion/blueapi_plans/test_parameters.py
Due: ruff, ruff-format, type-checking, import-contracts

Update uv.lock
  uv.lock
Due: uv-sync, local-install-dodal

Mx bluesky 1679 misc fixes from testing 1 6 5 (#1687)
  src/mx_bluesky/common/external_interaction/alerting/_service.py
  src/mx_bluesky/common/external_interaction/callbacks/common/ispyb_callback_base.py
  src/mx_bluesky/hyperion/baton_handler.py
  src/mx_bluesky/hyperion/blueapi/in_process.py
  src/mx_bluesky/hyperion/supervisor/_supervisor.py
  src/mx_bluesky/hyperion/supervisor/_task_monitor.py
  tests/unit_tests/hyperion/supervisor/test_supervisor.py
  tests/unit_tests/hyperion/supervisor/test_task_monitor.py
  tests/unit_tests/hyperion/test_baton_handler.py
Due: ruff, ruff-format, type-checking, import-contracts

1400 hyperion commissioning plans (#1685)
  src/mx_bluesky/common/parameters/constants.py
  src/mx_bluesky/common/parameters/gridscan.py
  src/mx_bluesky/hyperion/blueapi/parameters.py
  src/mx_bluesky/hyperion/blueapi/plans.py
  src/mx_bluesky/hyperion/experiment_plans/load_centre_collect_full_plan.py
  src/mx_bluesky/hyperion/experiment_plans/pin_centre_then_gridscan_plan.py
  src/mx_bluesky/hyperion/experiment_plans/pin_centre_then_xray_centre.py
  src/mx_bluesky/hyperion/external_interaction/agamemnon.py
  src/mx_bluesky/hyperion/parameters/constants.py
  src/mx_bluesky/hyperion/utils/centre_selection.py
  tests/system_tests/hyperion/external_interaction/test_agamemnon.py
  tests/test_data/parameter_json_files/external_load_centre_collect_params_multipin.json
  tests/unit_tests/hyperion/blueapi_plans/test_parameters.py
  tests/unit_tests/hyperion/experiment_plans/test_pin_centre_then_xray_centre_plan.py
  tests/unit_tests/hyperion/external_interaction/test_agamemnon.py
  tests/unit_tests/hyperion/test_blueapi_plans.py
  uv.lock
Due: ruff, ruff-format, type-checking, import-contracts, uv-sync, local-install-dodal

Added plan to i23 init
  src/mx_bluesky/beamlines/i23/__init__.py
Due: ruff, ruff-format, type-checking, import-contracts

Wrapped plan with I23 specific plan
  src/mx_bluesky/beamlines/i23/__init__.py
  src/mx_bluesky/beamlines/i23/centering.py
  uv.lock
Due: ruff, ruff-format, type-checking, import-contracts, uv-sync, local-install-dodal

Correct names for injected devices
  src/mx_bluesky/beamlines/i04/oav_centering_plans/oav_imaging.py
  uv.lock
Due: ruff, ruff-format, type-checking, import-contracts, uv-sync, local-install-dodal

Remove mysql connector pin
  pyproject.toml
Due: uv-sync, local-install-dodal

Unpin dodal
  pyproject.toml
Due: uv-sync, local-install-dodal

Bump CI test timeout to 5s
  .github/workflows/_test.yml
Due: none

Support for mod-360 omega (#1640)
  .github/workflows/_test.yml
  src/mx_bluesky/beamlines/aithre_lasershaping/experiment_plans/robot_load_plan.py
  src/mx_bluesky/beamlines/aithre_lasershaping/robot_load.py
  src/mx_bluesky/common/experiment_plans/common_flyscan_xray_centre_plan.py
  src/mx_bluesky/common/experiment_plans/oav_grid_detection_plan.py
  src/mx_bluesky/common/experiment_plans/oav_snapshot_plan.py
  src/mx_bluesky/common/experiment_plans/pin_tip_centring_plan.py
  src/mx_bluesky/common/experiment_plans/rotation/rotation_utils.py
  src/mx_bluesky/common/external_interaction/callbacks/common/grid_detection_callback.py
  src/mx_bluesky/common/external_interaction/callbacks/xray_centre/ispyb_callback.py
  src/mx_bluesky/common/parameters/device_composites.py
  src/mx_bluesky/hyperion/experiment_plans/rotation_scan_plan.py
  src/mx_bluesky/hyperion/external_interaction/callbacks/snapshot_callback.py
  tests/conftest.py
  tests/system_tests/hyperion/external_interaction/test_load_centre_collect_full_plan.py
  tests/unit_tests/beamlines/i04/test_i04_grid_detect_then_xray_centre_plan.py
  tests/unit_tests/beamlines/i24/jungfrau_commissioning/test_rotation_scan.py
  tests/unit_tests/common/experiment_plans/test_common_flyscan_xray_centre_plan.py
  tests/unit_tests/common/experiment_plans/test_grid_detection_plan.py
  tests/unit_tests/common/experiment_plans/test_oav_snapshot_plan.py
  tests/unit_tests/common/experiment_plans/test_pin_tip_centring.py
  tests/unit_tests/hyperion/experiment_plans/test_load_centre_collect_full_plan.py
  tests/unit_tests/hyperion/experiment_plans/test_rotation_scan_plan.py
  uv.lock
Due: ruff, ruff-format, type-checking, import-contracts, uv-sync, local-install-dodal

Pin dodal
  pyproject.toml
Due: uv-sync, local-install-dodal

Remove omega from CombinedMove
  src/mx_bluesky/common/device_setup_plans/manipulate_sample.py
  src/mx_bluesky/common/device_setup_plans/robot_load_unload.py
  src/mx_bluesky/hyperion/experiment_plans/pin_centre_then_gridscan_plan.py
  tests/unit_tests/common/device_setup_plans/test_robot_load_unload.py
  tests/unit_tests/hyperion/device_setup_plans/test_manipulate_sample.py
  tests/unit_tests/hyperion/experiment_plans/test_pin_centre_then_xray_centre_plan.py
Due: ruff, ruff-format, type-checking, import-contracts

Pin dodal to branch dependency
  pyproject.toml
Due: uv-sync, local-install-dodal

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  type-checking: any of: \.py$
  import-contracts: any of: \.py$
  uv-sync: any of: ^(uv\.lock|pyproject\.toml)$
  local-install-dodal: any of: ^(uv\.lock|pyproject\.toml)$
