Repository DiamondLightSource/mx-bluesky: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, type-checking, import-contracts, uv-sync, local-install-dodal

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=500"]
        exclude: ^uv.lock
      - id: check-yaml
        args: ["--allow-multiple-documents"]
        exclude: ^helm/
      - id: check-merge-conflict
      - id: end-of-file-fixer

  - repo: local
    hooks:
      - id: ruff
        name: lint with ruff
        language: system
        entry: ruff check --force-exclude --fix
        types: [python]
        require_serial: true

      - id: ruff-format
        name: format with ruff
        language: system
        entry: ruff format --force-exclude
        types: [python]
        require_serial: true
      
      - id: type-checking
        name: type-checking with pyright
        language: system
        entry: tox -e type-checking
        types: [python]
        require_serial: true

      - id: import-contracts
        name: Ensure import directionality
        pass_filenames: false
        language: system
        entry: lint-imports
        types: [python]
        require_serial: false

      - id: lock dodal
        name: keep dodal up to date in lockfile
        pass_filenames: false
        language: system
        entry: uv lock --upgrade-package dls-dodal

      - id: uv-sync
        name: update uv.lock and venv
        pass_filenames: false
        language: system
        entry: uv sync
        files: ^(uv\.lock|pyproject\.toml)$

      - id: local-install-dodal
        name: editable install of dodal
        language: system
        pass_filenames: false
        entry: uv pip install -e ../dodal
        files: ^(uv\.lock|pyproject\.toml)$

  # Type checking
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.19.1
    hooks:
      - id: mypy
        files: 'src/.*\.py$'
        additional_dependencies: [types-requests, types-redis, pydantic]
        args: ["--ignore-missing-imports", "--no-strict-optional"]

  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.28.0
    hooks:
      - id: gitleaks

Start blueapi in a separate process group
  run_hyperion.sh
Due: none

Update uv.lock
  uv.lock
Due: uv-sync, local-install-dodal

Start all processes in separate process group
  run_hyperion.sh
Due: none

Change the process name for hyperion for better graylog output
  src/mx_bluesky/common/utils/log.py
  src/mx_bluesky/hyperion/__main__.py
  src/mx_bluesky/hyperion/external_interaction/callbacks/__main__.py
Due: ruff, ruff-format, type-checking, import-contracts

Remove accidentally added code
  src/mx_bluesky/common/device_setup_plans/gonio.py
  tests/unit_tests/common/device_setup_plans/test_gonio.py
Due: ruff, ruff-format, type-checking, import-contracts

Make ruff happy
  tests/unit_tests/beamlines/i02_1/test_setup_zebra.py
Due: ruff, ruff-format, type-checking, import-contracts

Fix renamed interlocks (#1743)
  pyproject.toml
  tests/unit_tests/beamlines/i24/conftest.py
  tests/unit_tests/beamlines/i24/jungfrau_commissioning/conftest.py
  tests/unit_tests/hyperion/experiment_plans/test_udc_default_state.py
  uv.lock
Due: ruff, ruff-format, type-checking, import-contracts, uv-sync, local-install-dodal

Rename composite as suggested
  src/mx_bluesky/beamlines/i02_1/i02_1_gridscan_plan.py
  tests/unit_tests/beamlines/i02_1/test_i02_1_gridscan_plan.py
Due: ruff, ruff-format, type-checking, import-contracts

Unpin dodal
  pyproject.toml
Due: uv-sync, local-install-dodal

Add todo
  src/mx_bluesky/common/parameters/gridscan.py
Due: ruff, ruff-format, type-checking, import-contracts

Add vmxm gridscan plan (#1636)
  pyproject.toml
  src/mx_bluesky/beamlines/i02_1/__init__.py
  src/mx_bluesky/beamlines/i02_1/device_setup_plans/__init__.py
  src/mx_bluesky/beamlines/i02_1/device_setup_plans/setup_zebra.py
  src/mx_bluesky/beamlines/i02_1/i02_1_gridscan_plan.py
  src/mx_bluesky/beamlines/i02_1/parameters/gridscan.py
  src/mx_bluesky/common/experiment_plans/common_flyscan_xray_centre_plan.py
  src/mx_bluesky/common/parameters/constants.py
  src/mx_bluesky/common/parameters/gridscan.py
  tests/unit_tests/beamlines/i02_1/__init__.py
  tests/unit_tests/beamlines/i02_1/test_i02_1_gridscan_plan.py
  tests/unit_tests/beamlines/i02_1/test_setup_zebra.py
  tests/unit_tests/common/parameters/test_gridscan.py
  uv.lock
Due: ruff, ruff-format, type-checking, import-contracts, uv-sync, local-install-dodal

Fixup use of typevars for the gonio
  src/mx_bluesky/beamlines/i02_1/i02_1_gridscan_plan.py
  tests/unit_tests/beamlines/i02_1/conftest.py
  tests/unit_tests/beamlines/i02_1/test_i02_1_gridscan_plan.py
Due: ruff, ruff-format, type-checking, import-contracts

Repin dodal
  pyproject.toml
Due: uv-sync, local-install-dodal

1998 fix smargon combined moves (#1692)
  src/mx_bluesky/common/device_setup_plans/manipulate_sample.py
  src/mx_bluesky/common/device_setup_plans/robot_load_unload.py
  src/mx_bluesky/hyperion/experiment_plans/pin_centre_then_gridscan_plan.py
  tests/unit_tests/common/device_setup_plans/test_robot_load_unload.py
  tests/unit_tests/hyperion/device_setup_plans/test_manipulate_sample.py
  tests/unit_tests/hyperion/experiment_plans/test_pin_centre_then_xray_centre_plan.py
  uv.lock
Due: ruff, ruff-format, type-checking, import-contracts, uv-sync, local-install-dodal

Fix unit tests
  tests/unit_tests/hyperion/test_main_system.py
Due: ruff, ruff-format, type-checking, import-contracts

Fix i04 bugs (#1713)
  src/mx_bluesky/beamlines/i04/experiment_plans/i04_grid_detect_then_xray_centre_plan.py
  src/mx_bluesky/beamlines/i04/oav_centering_plans/oav_imaging.py
  tests/conftest.py
  tests/unit_tests/beamlines/i04/test_i04_grid_detect_then_xray_centre_plan.py
  tests/unit_tests/beamlines/i04/test_oav_imaging.py
Due: ruff, ruff-format, type-checking, import-contracts

Override the default grid box size for Vmxm
  src/mx_bluesky/beamlines/i02_1/i02_1_gridscan_plan.py
Due: ruff, ruff-format, type-checking, import-contracts

unpin dodal
  pyproject.toml
Due: uv-sync, local-install-dodal

Fix i02-1 gridscan unit test
  tests/unit_tests/beamlines/i02_1/test_i02_1_gridscan_plan.py
Due: ruff, ruff-format, type-checking, import-contracts

Simplify config file params (#1699)
  conftest.py
  src/mx_bluesky/common/device_setup_plans/setup_panda.py
  src/mx_bluesky/common/parameters/components.py
  src/mx_bluesky/common/parameters/constants.py
  src/mx_bluesky/common/parameters/gridscan.py
  src/mx_bluesky/common/parameters/rotation.py
  src/mx_bluesky/hyperion/device_setup_plans/setup_panda.py
  src/mx_bluesky/hyperion/parameters/constants.py
  tests/test_data/hyperion_blueapi/test_load_centre_collect.json
  tests/test_data/parameter_json_files/good_test_grid_with_edge_detect_parameters.json
  tests/test_data/parameter_json_files/good_test_load_centre_collect_params.json
  tests/test_data/parameter_json_files/good_test_load_centre_collect_params_multi_rotation.json
  tests/test_data/parameter_json_files/good_test_multi_rotation_scan_parameters.json
  tests/test_data/parameter_json_files/good_test_one_multi_rotation_scan_parameters.json
  tests/test_data/parameter_json_files/good_test_one_multi_rotation_scan_parameters_nomove.json
  tests/test_data/parameter_json_files/good_test_pin_centre_then_xray_centre_parameters.json
  tests/test_data/parameter_json_files/good_test_robot_load_and_centre_params.json
  tests/test_data/parameter_json_files/good_test_robot_load_params.json
  tests/test_data/parameter_json_files/good_test_rotation_scan_parameters.json
  tests/test_data/parameter_json_files/good_test_specified_three_d_grid_params.json
  tests/test_data/parameter_json_files/ispyb_gridscan_system_test_parameters.json
  tests/test_data/parameter_json_files/test_gridscan_param_defaults.json
  tests/unit_tests/common/device_setup_plans/test_setup_panda.py
  tests/unit_tests/conftest.py
  tests/unit_tests/hyperion/experiment_plans/test_load_centre_collect_full_plan.py
  tests/unit_tests/hyperion/parameters/test_parameter_model.py
Due: ruff, ruff-format, type-checking, import-contracts

Fix system tests (#1686)
  pyproject.toml
  src/mx_bluesky/common/parameters/constants.py
  tests/conftest.py
  tests/system_tests/common/daq_config_server/test_daq_config_server.py
  tests/system_tests/conftest.py
  tests/system_tests/hyperion/external_interaction/conftest.py
  tests/system_tests/hyperion/external_interaction/test_baton_handler_soak.py
  tests/system_tests/hyperion/external_interaction/test_load_centre_collect_full_plan.py
  tests/system_tests/hyperion/external_interaction/test_nexgen.py
  tests/unit_tests/conftest.py
Due: ruff, ruff-format, type-checking, import-contracts, uv-sync, local-install-dodal

Fix system test breakage due to merge conflicts
  tests/system_tests/hyperion/external_interaction/conftest.py
  tests/test_data/parameter_json_files/example_load_centre_collect_params.json
Due: ruff, ruff-format, type-checking, import-contracts

Fixup jungfrau for updated ophyd_async
  src/mx_bluesky/beamlines/i24/jungfrau_commissioning/callbacks/metadata_writer.py
  src/mx_bluesky/beamlines/i24/jungfrau_commissioning/composites.py
  src/mx_bluesky/beamlines/i24/jungfrau_commissioning/experiment_plans/do_darks.py
  src/mx_bluesky/beamlines/i24/jungfrau_commissioning/experiment_plans/rotation_scan_plan.py
  src/mx_bluesky/beamlines/i24/jungfrau_commissioning/plan_stubs/do_external_acquisition.py
  src/mx_bluesky/beamlines/i24/jungfrau_commissioning/plan_stubs/do_internal_acquisition.py
  src/mx_bluesky/beamlines/i24/jungfrau_commissioning/plan_stubs/plan_utils.py
  tests/unit_tests/beamlines/i24/jungfrau_commissioning/callbacks/test_metadata_writer.py
  tests/unit_tests/beamlines/i24/jungfrau_commissioning/conftest.py
  tests/unit_tests/beamlines/i24/jungfrau_commissioning/experiment_plans/test_do_darks.py
  tests/unit_tests/beamlines/i24/jungfrau_commissioning/plan_stubs/test_do_external_acquisition.py
  tests/unit_tests/beamlines/i24/jungfrau_commissioning/plan_stubs/test_do_internal_acquisition.py
  tests/unit_tests/beamlines/i24/jungfrau_commissioning/plan_stubs/test_plan_utils.py
  tests/unit_tests/beamlines/i24/jungfrau_commissioning/test_do_darks.py
  tests/unit_tests/beamlines/i24/jungfrau_commissioning/test_rotation_scan.py
  tests/unit_tests/beamlines/i24/web_gui/test_jungfrau_plans.py
  tests/unit_tests/conftest.py
Due: ruff, ruff-format, type-checking, import-contracts
